<section id="productdescription" *ngIf="data">
    <div class="container-fluid">
        <div class="des-nav justify-content-between">
            <ul class="nav nav-pills mb-5" id="pills-tab" role="tablist">
                <li class="nav-item .list1">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                       role="tab" aria-controls="pills-home" aria-selected="true">Specification</a>
                </li>
                <li class="nav-item .list1"><a class="nav-link" id="pills-profile-tab" data-toggle="pill"
                                               href="#pills-profile" role="tab" aria-controls="pills-profile"
                                               aria-selected="true"><span class="semi">Reviews</span></a>
                </li>
                <li class="nav-item .list1"><a class="nav-link" id="pills-plan-tab" data-toggle="pill"
                                               href="#pills-planing" role="tab" aria-controls="pills-planing"
                                               aria-selected="true"><span
                        class="semi">Questions & Answers</span></a>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <!--description section-->
            <div class="tab-pane fade active show" id="pills-home" role="tabpanel"
                 aria-labelledby="pills-home-tab">
                <div class="row">
                    <div class="col-md-12">
                        <div class="des-detail">
                            <p [innerHTML]="data[2].product_details"></p>
                        </div>
                    </div>
                </div>
            </div>

            <!--Reviews Section-->
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-12 mb-4">
                        <div class="row">
                            <div class="col-md-5" style="margin: auto">
                                <span class="averageRating">{{productRatingDetail.averageRating}}</span>
                                <div style="margin-bottom: 13px">
                                    <ng-container>
                                        <img class="filled-star" src="./assets/images/star-filled.svg" alt="rating-icon">
                                    </ng-container>
                                </div>
                                <p class="totalRatings">{{productRatingDetail.totalNumberOfRatings}} Ratings</p>
                            </div>
                            <!--rating bars-->
                            <div class="col-md-7">
                                <div class="review-stars d-flex">
                                    <ul class="star d-flex mr-3">
                                        <li class="mr-1"><img src="./assets/images/star-filled.svg" alt="rating-icon"></li>
                                        <li class="mr-1"><img src="./assets/images/star-filled.svg" alt="rating-icon"></li>
                                        <li class="mr-1"><img src="./assets/images/star-filled.svg" alt="rating-icon"></li>
                                        <li class="mr-1"><img src="./assets/images/star-filled.svg" alt="rating-icon"></li>
                                        <li class="mr-1"><img src="./assets/images/star-filled.svg" alt="rating-icon"></li>
                                    </ul>
                                    <ul class="pogress d-flex">
                                        <li class="pogress-bar mt-2"></li>
                                        <li class="pogress-no">{{productRatingDetail.fiveStar}}</li>
                                    </ul>
                                </div>
                                <div class="review-stars d-flex">
                                    <ul class="star d-flex mr-3">
                                        <li class="mr-1"><img src="./assets/images/star-filled.svg" alt="rating-icon"></li>
                                        <li class="mr-1"><img src="./assets/images/star-filled.svg" alt="rating-icon"></li>
                                        <li class="mr-1"><img src="./assets/images/star-filled.svg" alt="rating-icon"></li>
                                        <li class="mr-1"><img src="./assets/images/star-filled.svg" alt="rating-icon"></li>
                                        <li class="mr-1"><img src="./assets/images/star-empty.svg" alt="rating-icon"></li>
                                    </ul>
                                    <ul class="pogress d-flex">
                                        <li class="pogress-bar1 mt-2"></li>
                                        <li class="pogress-no1">{{productRatingDetail.fourStar}}</li>
                                    </ul>
                                </div>
                                <div class="review-stars d-flex">
                                    <ul class="star d-flex mr-3">
                                        <li class="mr-1"><img src="./assets/images/star-filled.svg" alt="rating-icon"></li>
                                        <li class="mr-1"><img src="./assets/images/star-filled.svg" alt="rating-icon"></li>
                                        <li class="mr-1"><img src="./assets/images/star-filled.svg" alt="rating-icon"></li>
                                        <li class="mr-1"><img src="./assets/images/star-empty.svg" alt="rating-icon"></li>
                                        <li class="mr-1"><img src="./assets/images/star-empty.svg" alt="rating-icon"></li>
                                    </ul>
                                    <ul class="pogress d-flex">
                                        <li class="pogress-bar2 mt-2"></li>
                                        <li class="pogress-no2">{{productRatingDetail.threeStar}}</li>
                                    </ul>
                                </div>
                                <div class="review-stars d-flex">
                                    <ul class="star d-flex mr-3">
                                        <li class="mr-1"><img src="./assets/images/star-filled.svg" alt="rating-icon"></li>
                                        <li class="mr-1"><img src="./assets/images/star-filled.svg" alt="rating-icon"></li>
                                        <li class="mr-1"><img src="./assets/images/star-empty.svg" alt="rating-icon"></li>
                                        <li class="mr-1"><img src="./assets/images/star-empty.svg" alt="rating-icon"></li>
                                        <li class="mr-1"><img src="./assets/images/star-empty.svg" alt="rating-icon"></li>
                                    </ul>
                                    <ul class="pogress d-flex">
                                        <li class="pogress-bar3 mt-2"></li>
                                        <li class="pogress-no3">{{productRatingDetail.twoStar}}</li>
                                    </ul>
                                </div>
                                <div class="review-stars d-flex">
                                    <ul class="star d-flex mr-3">
                                        <li class="mr-1"><img src="./assets/images/star-filled.svg" alt="rating-icon"></li>
                                        <li class="mr-1"><img src="./assets/images/star-empty.svg" alt="rating-icon"></li>
                                        <li class="mr-1"><img src="./assets/images/star-empty.svg" alt="rating-icon"></li>
                                        <li class="mr-1"><img src="./assets/images/star-empty.svg" alt="rating-icon"></li>
                                        <li class="mr-1"><img src="./assets/images/star-empty.svg" alt="rating-icon"></li>
                                    </ul>
                                    <ul class="pogress d-flex">
                                        <li class="pogress-bar4 mt-2"></li>
                                        <li class="pogress-no4">{{productRatingDetail.oneStar}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12" *ngIf="reviewBox && reviewSection">
                        <form (ngSubmit)="onRatingAndReviewSubmit()" [formGroup]="ratingForm">
                                    <textarea class="form-control animated mb-4" cols="25" id="new-review"
                                              formControlName="review"
                                              placeholder="Write your review here... *" rows="5"
                                              [(ngModel)]="review">
                                    </textarea>

                            <mat-error
                                    *ngIf="ratingForm.controls.review.touched && ratingForm.controls.review.invalid">
                                <mat-error *ngIf="ratingForm.controls.review.errors.required"
                                           style="font-size: 15px">The Review is required
                                </mat-error>
                            </mat-error>

                            <div class="d-flex justify-content-between">
                                <h5>Give Your Rating</h5>
                                <div>
                                    <rating [max]="5" [customTemplate]="tt"
                                            formControlName="rating">
                                    </rating>
                                    <ng-template #tt let-i="index" let-v="value">
                                        <a class="btn btn-{{ i < v ? 'danger' : 'default' }}"
                                           [tooltip]="i + 1">
                                            {{ i < v ? "&#9733;" : "&#9734;" }}
                                        </a>
                                    </ng-template>

                                    <mat-error
                                            *ngIf="ratingForm.controls.rating.touched && ratingForm.controls.rating.invalid">
                                        <mat-error *ngIf="ratingForm.controls.rating.errors.required"
                                                   style="font-size: 15px">The rating is required
                                        </mat-error>
                                    </mat-error>

                                </div>
                            </div>
                            <button class="submitBTN" style="float: right" type="submit">Submit</button>
                        </form>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12" style="margin: auto; text-align: center"
                         *ngIf="reviewButton && reviewSection"
                         (click)="reviewButtonClicked()">
                        <button class="submitBTN" style="margin-top: 0">Write a review</button>
                    </div>
                </div>

                <!--user reviews list: filter section-->
                <div class="preview-head justify-content-between d-flex">
                    <div class="titel">
                        <h4>Product Reviews</h4>
                    </div>
                    <ul class="d-flex">
                        <li class="sort"><i class="fa fa-exchange"></i><span>Sort:</span>Relevence</li>
                        <li class="filter"><i class="fa fa-filter"></i><span>Filter:</span>All Star</li>
                    </ul>
                </div>

                <!--for loop: customer reviews list here-->
                <div *ngIf="data &&  data[1].length > 0; else noReview">
                    <div *ngFor="let rating of (data[1] | paginate: {id:'pagination_rating', itemsPerPage: 3, currentPage: p})">
                        <div class="review-comment">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="review-reply">
                                        <p>{{rating.first_name}} {{rating.last_name}}</p>
                                        <img src="./assets/images/verified%20purchase%20icon.jpg"
                                             alt="verified-icon">
                                        <span style="color: #FF0000">Verified Purchase</span><br>
                                        <button class="btn px-1 py-0 mt-2"
                                                style="background-color: #FF0000; color: white">{{rating.rating}} <i
                                                class="fa fa-star"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="review-reply-des">
                                        <p>{{rating.review}}</p>
                                        <div class="review-replybtm justify-content-between d-flex">
                                            <div class="titel">
                                                <span>{{rating.created_at}}</span>
                                            </div>
                                            <ul class="d-flex">
                                                <li class="sort mr-3"><span>Was this helpful?</span></li>
                                                <li class="mr-1"><i class="fa fa-thumbs-up"></i></li>
                                                <li class="mr-1">10</li>
                                                <li class="mr-1"><i class="fa fa-thumbs-down"></i></li>
                                                <li>1</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ng-template #noReview>
                    <h5 class="text-center py-5">NO Reviews and Ratings to show for this product</h5>
                </ng-template>

                <!--pagination starts-->
                <div class="text-center" *ngIf="data[1]?.length > 3">
                    <pagination-controls id="pagination_rating" (pageChange)="onPageChange($event)"
                                         maxSize="5" responsive="true"
                                         nextLabel="Next">
                    </pagination-controls>
                </div>
                <!--pagination ends-->
            </div>

            <!--Question and answer section-->
            <div class="tab-pane fade" id="pills-planing" role="tabpanel" aria-labelledby="pills-plan-tab">
                <!--question form-->
                <div class="my-3" *ngIf="questionBox">
                    <form (ngSubmit)="onQuestionSubmit()" [formGroup]="questionForm">

                                <textarea class="form-control animated mb-4" cols="50"
                                          formControlName="question"
                                          placeholder="Ask a Question" rows="5"
                                          [(ngModel)]="question">

                                </textarea>

                        <mat-error
                                *ngIf="questionForm.controls.question.touched && questionForm.controls.question.invalid">
                            <mat-error *ngIf="questionForm.controls.question.errors.required"
                                       style="font-size: 15px">Want to ask something......????
                            </mat-error>
                        </mat-error>
                        <button class="submitBTN" type="submit">Submit</button>
                    </form>
                </div>

                <div class="ques-head">
                    <p><span>Sort:</span>Newest</p>
                </div>

                <!--question button-->
                <div *ngIf="data && data[0].length > 0; else noQuestions">
                    <div class="row d-flex justify-content-between">
                        <div class="col-lg-8 col-md-8 col-6">
                            <div class="ques-title">
                                <h4>Questions Related to this product <span>({{data[0].length}})</span></h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-8 col-6">
                            <div class="pog-button text-right">
                                <a class="submitBTN"
                                   (click)="questionButtonClicked()"
                                >Ask a question
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr style="margin-top: 1.8rem">

                    <!--user questions list-->
                    <div *ngFor="let question of (data[0] | paginate: { id:'pagination_question', itemsPerPage: 3, currentPage: q})">
                        <div class="review-comment">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="review-reply">
                                        <ng-container>
                                            <b>{{question.first_name}} {{question.last_name}}</b><br>
                                        </ng-container>
                                        <img src="./assets/images/person.svg" alt="verified-icon">
                                        <span style="color: #828282">Anonder bazar Seller</span><br>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="review-reply-des">
                                        <b>
                                            <span style="color: #00A652">Question: </span>{{question.question}}
                                        </b><br>
                                        <span style="color: #828282">
                                        Answer: Contrary to popular belief, Lorem Ipsum is not simply random text
                                    </span>
                                        <div class="review-replybtm justify-content-between d-flex">
                                            <div class="titel">
                                                <span>{{question.created_at}}</span>
                                            </div>
                                            <ul class="d-flex">
                                                <li class="sort mr-3"><span>Was this helpful?</span></li>
                                                <li class="mr-1"><i class="fa fa-thumbs-up"></i></li>
                                                <li class="mr-1">10</li>
                                                <li class="mr-1"><i class="fa fa-thumbs-down"></i></li>
                                                <li>1</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ng-template #noQuestions>
                    <div style="text-align: center">
                        <h5 class="text-center mb-3">NO questions and Answers to show for this product</h5>
                        <a style="border: 1px solid #FF0000; padding: 10px 56px; color: #FF0000;" *ngIf="questionButton"
                           (click)="questionButtonClicked()">Ask a
                            question
                        </a>
                    </div>
                </ng-template>

                <!--pagination starts-->
                <div class="text-center" *ngIf="data[0]?.length > 3">
                    <pagination-controls id="pagination_question" (pageChange)="onQuestionPageChange($event)"
                                         maxSize="5" responsive="true"
                                         nextLabel="Next">
                    </pagination-controls>
                </div>
                <!--pagination ends-->
            </div>

            <div class="tab-pane fade" id="pills-eastpay" role="tabpanel" aria-labelledby="pills-eastpay-tab">
                <div class="row">
                    <div class="emi-details">
                        <ul class="emi-list1">
                            <li><span>•</span> The minimum order value to avail the EMI payment option is BDT
                                5,000.
                            </li>
                            <li><span>•</span> Select EMI option at the time of payment.</li>
                            <li><span>•</span> Final EMI is calculated on the total value of your order at the
                                time of payment.
                            </li>
                            <li><span>•</span> The Bank charges annual interest rates according to the reducing
                                monthly balance. In the monthly reducing cycle, the principal is reduced with
                                every EMI and the interest is calculated on the outstanding balance.
                            </li>
                            <li><span>•</span> While you will not be charged a processing fee for availing
                                PriyoShop's EMI option, the interest charged by the bank shall not be refunded
                                by PriyoShop.
                            </li>
                            <li><span>•</span> You may check with the respective bank/issuer on how a
                                cancellation, refund or pre-closure could affect the EMI terms, and what
                                interest charges would be levied on you for the same.
                            </li>
                        </ul>
                        <h5>EMI with Interest:</h5>
                        <ul class="emi-list2">
                            <li><span>•</span> 3 months 3%</li>
                            <li><span>•</span> 6 months 4.5%</li>
                            <li><span>•</span> 9 months 6.5%</li>
                            <li><span>•</span> 12 months 8.5%</li>
                            <li><span>•</span> 18 months 11.5%</li>
                            <li><span>•</span> 24 months 15.5%</li>
                            <li><span>•</span> 30 Months 16.5%</li>
                            <li><span>•</span> 36 Months 19.5%</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="delivery-option-details my-4">
            <div class="delivery-option-tag1" style="max-width: 500px; margin: auto">
                <div class="tag1">
                    <p>Delivery Options<a routerLink="/profile/address-tab">Change</a></p>
                    <p class="add">{{ address?.address }},{{ address?.division_id.name }},{{
                        address?.upazila_id.name
                        }},{{ address?.zila_id.name }}.</p>
                </div>
                <div class="tag2" style="display: none;">
                    <p class="justify-contant-between">Home Delivery<a href="#">৳56</a></p>
                    <small>3-5 Days</small>
                    <span>Cash On <small><a href="#">Delivery</a></small> Available</span>
                </div>
            </div>
            <div class="tag3" style="display: none;">
                <p class="justify-contant-between">Shipping & return</p>
                <span>60 Day buyer protection</span>
                <span>Money back guarantee</span>
            </div>
        </div>
        <hr>
    </div>
</section>
