<section id="flashdeal" *ngIf="topSellProducts && topSellProducts.length > 0" style="padding-bottom: 20px;">
    <div class="container-fluid">

        <div class="category-head cate-flash justify-content-between d-flex">
            <h4 class="section-title" style="">Top Selling Products</h4>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-6 mb-4" *ngFor="let product of (topSellProducts | paginate: { itemsPerPage: 12, currentPage: page, totalItems: totalProducts }) ; let i=index">
                <app-product-item [dataProduct]="product"></app-product-item>
            </div>
        </div>
        <div class="row text-center">
            <pagination-controls (pageChange)="onPageChange($event)" previousLabel="Previous" nextLabel="Next">
            </pagination-controls>
        </div>

    </div>
</section>
