<nz-card>
    <ng-template #title>
        নতুন শৈলী যুক্তকরন
    </ng-template>
    <ng-template #extra>
        <button routerLink="/dashboard/genre" nz-button [nzType]="'primary'" [nzSize]="'large'">
            <i class="anticon anticon-file-text"></i><span> List </span>
        </button>

    </ng-template>
    <ng-template #body>
        <form nz-form [formGroup]="validateForm" id="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-16">
                        <div nz-form-item nz-row>
                            <div nz-col [nzSpan]="16" nz-form-control nzHasFeedback>
                                <image-upload [max]="1" buttonCaption="Select picture"
                                dropBoxMessage="Drop Picture here"
                                clearButtonCaption="Clear" (removed)="onRemoved($event)" (uploadStateChanged)="onUploadStateChanged($event)"
                                    [beforeUpload]="onBeforeUpload"></image-upload>

                                <div nz-form-explain *ngIf="getFormControl('image').dirty && getFormControl('image').hasError('required')">
                                    দয়া করে এখানে Picture ড্রপ করুন !
                                </div>
                            </div>
                        </div>
                        <!--image-->
                    </div>
                </div>
                <!--Image-->
            </div>
            <div class="col-md-9">
                <div nz-form-item nz-row>
                    <!--name start-->
                    <div nz-form-label nz-col [nzSpan]="2">
                        <label> Name </label>
                    </div>
                    <div nz-col [nzSpan]="16" nz-form-control nzHasFeedback>
                        <nz-input formControlName="name" [nzType]="'text'" [nzPlaceHolder]="'Name লিখুন'" [nzSize]="'large'">
                        </nz-input>
                        <div nz-form-explain *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('required')">
                            দয়া করে Name লিখুন !
                        </div>
                        <div nz-form-explain *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('duplicated')">
                            Name already exists!
                        </div>
                        <div nz-form-explain *ngIf="getFormControl('name').dirty&&getFormControl('name').pending">
                            Verifying ...
                        </div>
                    </div>
                </div>
                <!--name -->

                <div nz-form-item nz-row>
                    <div nz-col [nzSpan]="2" nz-form-label>
                        <label> Code </label>
                    </div>
                    <div nz-col [nzSpan]="16" nz-form-control nzHasFeedback>
                        <nz-input formControlName="code" [nzType]="'text'" [nzPlaceHolder]="'Code লিখুন'" [nzSize]="'large'">
                        </nz-input>
                        <!-- <div nz-form-explain
                                 *ngIf="getFormControl('code').dirty&&getFormControl('code').hasError('required')">
                                দয়া করে Code লিখুন !
                            </div> -->
                    </div>
                </div>
                <!--code-->
                <div class="col-md-16">

                    <div nz-form-item nz-row>
                        <div nz-col [nzSpan]="2" nz-form-label>
                            <label> শৈলী Description </label>
                        </div>
                        <div nz-col [nzSpan]="15" nz-form-control nzHasFeedback>

                            <ckeditor formControlName="details" [config]="ckConfig" [readonly]="false" debounce="500">
                            </ckeditor>
                            <div nz-form-explain *ngIf="getFormControl('details').dirty&&getFormControl('details').hasError('required')">
                                Please write something here!
                            </div>
                        </div>
                    </div>
                    <!--product_details-->
                </div>



                <div nz-form-item nz-row>
                    <div nz-col [nzOffset]="2" [nzSpan]="16" nz-form-control>
                        <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!validateForm.valid">
                            Save
                        </button>
                        <button nz-button [nzSize]="'large'" (click)="resetForm($event)"> Reset </button>
                    </div>
                </div>
            </div>

        </form>
    </ng-template>
</nz-card>
