<div class="heading-section text-center margin-top-100">
  <h3 class="title margin-bottom-30">আমার সোনার বাংলা</h3>
</div>
<div class="section-last-test-blog margin-bottom-90">
  <div class="container">
    <div class="row lasttest-blog owl-carousel nav-center nav-style-1">
      <div class="col-md-4"  *ngFor="let slide of bottomblogList">
        <article class="item-blog">
          <div class="post-thumb">
            <a href="#" *ngIf="slide && slide.data_value">
              <img style="height: 220px" src="{{IMAGE_ENDPOINT + slide.data_value[0].image + IMAGE_EXT}}" class="img-responsive"   alt="{{slide?.data_value[0].title}}">
            </a>
          </div>
          <div class="blog-info">
            <h3 class="title" [innerHTML]="slide?.data_value[0].title">া</h3>
            <span class="subtitle" [innerHTML]="slide?.data_value[0].description"></span>
          </div>
          <div class="blog-buttom">
            <a href="#" class="button">বিস্তারিত</a>
          </div>
        </article>
      </div>

    </div>
  </div>
</div>
