<section>
    <!--role management card-->
    <nz-card class="card-height" nzTitle="Available User's Groups" [nzExtra]="group">
        <ng-template #group>
            <button *ngIf="'role-management-create'|accessControl" routerLink="/dashboard/role-management/create" nz-button
                    [nzType]="'primary'" [nzSize]="'large'">
                <i class="anticon anticon-download"></i><span>Add New</span>
            </button>
        </ng-template>
        <ng-container>
            <nz-spin [nzSpinning]="_isSpinning">
                <nz-table #nzTable
                          nzShowQuickJumper
                          nzShowSizeChanger
                          [nzFrontPagination]="false"
                          [nzData]="groupsData"
                          [nzLoading]="loading"
                          [nzTotal]="totalGroups"
                          [(nzPageIndex)]="groupsPage"
                          [(nzPageSize)]="groupsLimit"
                          (nzPageIndexChange)="getAllGroups()"
                          [nzScroll]="{ x:'1000px',y: '350px'  }"
                >
                    <thead>
                    <tr>
                        <th nz-th [nzWidth]="'100px'">
                            <span> ID </span>
                        </th>
                        <th nz-th [nzWidth]="'150px'">
                            <span> Category </span>
                        </th>
                        <th nz-th [nzWidth]="'150px'">
                            <span> Sub-Category </span>
                        </th>
                        <th nz-th [nzWidth]="'150px'">
                            <span> Sub-Sub-Category </span>
                        </th>
                        <th nz-th [nzWidth]="'200px'">
                            <span> Start Time </span>
                        </th>
                        <th nz-th [nzWidth]="'200px'">
                            <span> End Time </span>
                        </th>
                        <th nz-th [nzWidth]="'150px'">
                            <span> Discount Amount </span>
                        </th>
                        <th nz-th [nzWidth]="'150px'">
                            <span> Status </span>
                        </th>
                        <th nz-th [nzWidth]="'200px'">
                            <span>Force stopped</span>
                        </th>
                        <th nz-th [nzWidth]="'150px'">
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let datum of nzTable.data;let i=index">
                        <td>
                            <nz-tag>{{datum.id}}</nz-tag>
                        </td>

                        <td>
                            <nz-tag>{{datum.category_id.name}}</nz-tag>
                        </td>

                        <td>
                            <nz-tag *ngIf="datum.sub_category_id && datum.sub_category_id.name; else noSub">{{datum.sub_category_id.name}}</nz-tag>
                            <ng-template #noSub>
                                <p>Null</p>
                            </ng-template>
                        </td>

                        <td>
                            <nz-tag *ngIf="datum.sub_sub_category_id && datum.sub_sub_category_id.name; else noSubSub">{{datum.sub_sub_category_id.name}}</nz-tag>
                            <ng-template #noSubSub>
                                <p>Null</p>
                            </ng-template>
                        </td>

                        <td>
                            <nz-tag>{{datum.start_date | date : 'medium'}}</nz-tag>
                        </td>

                        <td>
                            <nz-tag>{{datum.end_date | date : 'medium'}}</nz-tag>
                        </td>

                        <td *ngIf="datum.calculation_type === 'percentage'">
                            <nz-tag>{{datum.discount_amount}} %</nz-tag>
                        </td>
                        <td *ngIf="datum.calculation_type === 'absolute'">
                            <nz-tag>{{datum.discount_amount}} tk</nz-tag>
                        </td>

                        <td>
                            <div *ngIf="datum.status; else inactive">
                                <nz-switch [ngModel]="true"
                                           (ngModelChange)="offerActiveStatusChange($event, datum.id)">
                                </nz-switch>
                            </div>
                            <ng-template #inactive>
                                <nz-switch [ngModel]="false"
                                           (ngModelChange)="offerActiveStatusChange($event, datum.id)">
                                </nz-switch>
                            </ng-template>
                        </td>

                        <td>
                            <div *ngIf="datum.force_stop; else running">
                                <nz-switch [ngModel]="true" nzCheckedChildren="forcefully stopped"
                                           nzUnCheckedChildren=""
                                           (ngModelChange)="offerForceStop($event, datum.id)">
                                </nz-switch>
                            </div>
                            <ng-template #running>
                                <nz-switch [ngModel]="false" nzCheckedChildren="forcefully stopped"
                                           nzUnCheckedChildren=""
                                           (ngModelChange)="offerForceStop($event, datum.id)">
                                </nz-switch>
                            </ng-template>
                        </td>

                        <td>
                            <nz-button-group>

                                <button nz-button [nzType]="'primary'" [nzSize]="'default'"
                                        (click)="editJhorOffer(i, datum.id)">
                                    <i class="anticon anticon-edit"></i>
                                </button>
                                <ng-container>
                                    <nz-popconfirm [nzTitle]="'Are you sure you want to delete?'"
                                                   [nzOkText]="'Delete'" [nzCancelText]="'Cancel'"
                                                   (nzOnConfirm)="deleteAnonderJhorOffer(i,datum.id)">
                                        <a nz-popconfirm>
                                            <button nz-button [nzType]="'danger'" [nzSize]="'default'">
                                                <i class="anticon anticon-delete "></i>
                                            </button>

                                        </a>
                                    </nz-popconfirm>
                                </ng-container>
                                <button nz-button [nzType]="'primary'" [nzSize]="'default'"
                                        (click)="generateOfferExcelById(datum.id)" title="Download order CSV file">
                                    <i class="anticon anticon-download"></i>
                                </button>
                            </nz-button-group>
                        </td>
                    </tr>
                    </tbody>
                </nz-table>
            </nz-spin>
        </ng-container>
    </nz-card>
</section>
