<div class="main-container no-sidebar">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 main-content">
                    <nav class="woocommerce-breadcrumb breadcrumbs">
                        <a routerLink="/" routerLinkActive="active">Home</a>
                        <a routerLink="/compare" routerLinkActive="active">Compare</a>
                    </nav>
                </div>

            </div>
            <div class="row" *ngIf="(compare$|async).length>0;else no_compareProductItems">
                <div class="col-sm-12 main-content">


                    <ng-template #popTemplate>

                        <button mat-raised-button color="warn" (click)="removeAllCompare()">Yes</button>
                        <button mat-raised-button color="basic" (click)="pop.hide()">No
                        </button>

                    </ng-template>

                    <div class="row"> 
                        <div class="col-md-12">

                            <div class="des-detail table-responsive">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td class="compare-label">
                                            <h5><strong> Compare Items</strong></h5>
                                            <a routerLink="/" class="back-button"><i class="fa fa-angle-left "></i> Back to previous page</a>
                                            <br>
                                            <button #pop="bs-popover" [popover]="popTemplate" popoverTitle="Do you want to remove it?" [outsideClick]="true">Remove all items</button>
                                        </td>
                                        
                                        <td [ngClass]="((compare$|async)?.length==3)?'col-md-4 compare-img':(((compare$|async)?.length==2)?'col-md-4 compare-img':'col-md-4 compare-img')" *ngFor="let p of compare$|async">
                                            <app-product-item-compare [dataProduct]="p"></app-product-item-compare>
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td class="compare-label">Rating</td>
                                        <td *ngFor="let p of compare$|async">
                                            <p>
                                            {{p.rating}}
                                            </p>
                                        </td>

                                    </tr> 
                                    <tr>
                                        <td class="compare-label">Description</td>
                                        <td *ngFor="let p of compare$|async">
                                            <p [innerHTML]="p.product_details"></p>
                                        </td>

                                    </tr> 
                                    <tr>
                                        <td class="compare-label">Avalibility</td>
                                        <td *ngFor="let p of compare$|async">
                                            <p *ngIf="p.quantity>0">Yes</p>
                                            <p *ngIf="p.quantity<=0">No</p>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="compare-label">Promotion</td>
                                        <td *ngFor="let p of compare$|async">
                                            <p *ngIf="p.promotion">Yes</p>
                                            <p *ngIf="!p.promotion">No</p>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="compare-label">Weight</td>
                                        <td *ngFor="let p of compare$|async">
                                            <p>{{p.weight}}</p>
                                        </td>

                                    </tr> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <table class="table-compare table-responsive">

                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>

            <ng-template #no_compareProductItems>
                <div class="text-center">
                    <h5>There is no product to compare</h5>
                </div>
            </ng-template>

        </div>
    </div>

</div>