<section>
    <nz-card class="card-height">
        <ng-template #title>
            Offer list
        </ng-template>
        <ng-template #extra>
            <button *ngIf="'offer-create'|accessControl" routerLink="/dashboard/offer/create" nz-button
                [nzType]="'primary'" [nzSize]="'large'">
                <i class="anticon anticon-download"></i><span>Add New</span>
            </button>
        </ng-template>
        <ng-template #body>
            <nz-spin [nzSpinning]="_isSpinning">
                <nz-tabset>
                    <nz-tab>
                        <ng-template #nzTabHeading>
                            Parent Offer
                        </ng-template>
                        <div>
                            <nz-table #nzTable [nzDataSource]="homeOfferData" [nzPageSize]="10" [nzIsPagination]="false"
                                [nzSize]="'default'" [nzShowTitle]="true">
                                <thead nz-thead>
                                    <tr>
                                        <th nz-th>
                                            <span> ID </span>
                                        </th>
                                        <th nz-th>
                                            <span> Title </span>
                                        </th>
                                        <th nz-th>
                                            <span> Description </span>
                                        </th>
                                        <th nz-th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody nz-tbody>
                                    <tr nz-tbody-tr *ngFor="let data of nzTable.data;let i=index">
                                        <td nz-td>{{data.id}}</td>
                                        <td nz-td>
                                            <nz-tag>{{data.data_value[0].title}}</nz-tag>
                                        </td>
                                        <td nz-td [innerHTML]="data.data_value[0].description"></td>
                                        <td>
                                            <nz-button-group>

                                                <button *ngIf="'offer-edit'|accessControl"
                                                    [routerLink]="['/dashboard/offer/edit', data.id]" nz-button
                                                    [nzType]="'primary'" [nzSize]="'default'">
                                                    <i class="anticon anticon-edit"></i>
                                                </button>
                                                <ng-container>
                                                    <nz-popconfirm [nzTitle]="'Are you sure you want to delete?'"
                                                        [nzOkText]="'Delete'" [nzCancelText]="'Cancel'"
                                                        (nzOnConfirm)="deleteOffer(i,data.id)">
                                                        <a nz-popconfirm>
                                                            <button nz-button [nzType]="'danger'" [nzSize]="'default'">
                                                                <i class="anticon anticon-delete "></i>
                                                            </button>

                                                        </a>
                                                    </nz-popconfirm>
                                                </ng-container>
                                                <nz-dropdown nzTrigger="click" *ngIf="'offer-read'|accessControl"
                                                    nzPlacement="topRight">
                                                    <button nz-button nz-dropdown>
                                                        <!-- <span> আরও </span> -->
                                                        <i class="anticon anticon-down"></i>
                                                    </button>
                                                    <ul nz-menu>
                                                        <li nz-menu-item>

                                                            <button style="width: 100%" nz-button [nzType]="'primary'"
                                                                (click)="showOfferModal(data)">
                                                                <span> Add Related Offer </span>
                                                            </button>
                                                        </li>
                                                        <li nz-menu-item>
                                                            <button nz-button style="width: 100%" [nzType]="'primary'"
                                                                (click)="showProductModal(data)">
                                                                <span> Add Related Product </span>
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </nz-dropdown>
                                            </nz-button-group>
                                        </td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>
                    </nz-tab>
                    <nz-tab>
                        <ng-template #nzTabHeading>
                            Child Offer
                        </ng-template>
                        <div>
                            <nz-table #nzTable1 [nzDataSource]="homeChildOfferData" [nzPageSize]="10"
                                [nzIsPagination]="false" [nzSize]="'default'" [nzShowTitle]="true">
                                <thead nz-thead>
                                    <tr>
                                        <th nz-th>
                                            <span> ID </span>
                                        </th>
                                        <th nz-th>
                                            <span> Title </span>
                                        </th>
                                        <th nz-th>
                                            <span> Description </span>
                                        </th>
                                        <th nz-th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody nz-tbody>
                                    <tr nz-tbody-tr *ngFor="let data1 of nzTable1.data;let i=index">
                                        <td nz-td>{{data1.id}}</td>
                                        <td nz-td>
                                            <nz-tag>{{data1.data_value[0].title}}</nz-tag>
                                        </td>
                                        <td nz-td [innerHTML]="data1.data_value[0].description"></td>
                                        <td>
                                            <nz-button-group>

                                                <button *ngIf="'offer-edit'|accessControl"
                                                    [routerLink]="['/dashboard/offer/edit', data1.id]" nz-button
                                                    [nzType]="'primary'" [nzSize]="'default'">
                                                    <i class="anticon anticon-edit"></i>
                                                </button>
                                                <ng-container>
                                                    <nz-popconfirm [nzTitle]="'Are you sure you want to delete?'"
                                                        [nzOkText]="'Delete'" [nzCancelText]="'Cancel'"
                                                        (nzOnConfirm)="deleteOffer(i,data1.id)">
                                                        <a nz-popconfirm>
                                                            <button nz-button [nzType]="'danger'" [nzSize]="'default'">
                                                                <i class="anticon anticon-delete "></i>
                                                            </button>

                                                        </a>
                                                    </nz-popconfirm>
                                                </ng-container>
                                                <nz-dropdown nzTrigger="click" *ngIf="'offer-read'|accessControl"
                                                    nzPlacement="topRight">
                                                    <button nz-button nz-dropdown>
                                                        <i class="anticon anticon-down"></i>
                                                    </button>
                                                    <ul nz-menu>
                                                        <li nz-menu-item>
                                                            <button nz-button style="width: 100%" [nzType]="'primary'"
                                                                (click)="showProductModal(data1)">
                                                                <span> Add Related Product </span>
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </nz-dropdown>
                                            </nz-button-group>
                                        </td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>
                    </nz-tab>
                </nz-tabset>

            </nz-spin>
        </ng-template>
    </nz-card>
</section>

<!--offer modal-->
<nz-modal [nzFooter]="null" nzWidth="70%" [nzVisible]="isOfferVisible" [nzTitle]="'Add Offer'" [nzContent]="modalOfferContent"
    (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
    <ng-template #modalOfferContent>

        <nz-table #nzTable2 [nzBordered]="true" [nzDataSource]="offers" [nzIsPagination]="false">
            <thead nz-thead>
                <tr>
                    <th nz-th>
                        <span> ID </span>
                    </th>
                    <th nz-th>
                        <span> Title </span>
                    </th>
                    <th nz-th>
                        <span> Description </span>
                    </th>
                    <th nz-th>

                    </th>
                </tr>
            </thead>
            <tbody nz-tbody>
                <tr nz-tbody-tr *ngFor="let data of nzTable2.data;let i=index;">
                    <td nz-td>{{data.id}}</td>
                    <td nz-td>
                        <nz-tag>{{data.data_value[0].title}}</nz-tag>
                    </td>
                    <td nz-td [innerHTML]="data.data_value[0].description"></td>
                    <td nz-td>
                        <ng-container>
                            <nz-popconfirm [nzTitle]="'Are you sure you want to delete?'" [nzOkText]="'Delete'"
                                [nzCancelText]="'Cancel'" (nzOnConfirm)="deleteConfirmOffer(i,data.id)">
                                <a nz-popconfirm>
                                    <button nz-button [nzType]="'danger'" [nzSize]="'default'">
                                        <i class="anticon anticon-delete "></i>
                                    </button>

                                </a>
                            </nz-popconfirm>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </nz-table>

        <button nz-button [nzType]="'info'" [nzSize]="'large'" (click)="addNew=!addNew;">
            <span *ngIf="!addNew"> Add New </span>
            <span *ngIf="addNew">Cancel</span>
        </button>

        <form *ngIf="addNew" nz-form [nzLayout]="'inline'" [formGroup]="validateFormOffer"
            (ngSubmit)="submitFormOffer($event,validateFormOffer.value)">

            <div nz-form-item>
                <nz-table #nzTable3 [nzBordered]="true" [nzDataSource]="alloffers" [nzIsPagination]="false">
                    <thead nz-thead>
                        <tr>
                            <th nz-th>

                            </th>
                            <th nz-th>
                                <span> Title </span>
                            </th>
                            <th nz-th>
                                <span> Description </span>
                            </th>

                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let data of nzTable3.data;let i=index;">
                            <td nz-td [nzCheckbox]="true">
                                <label nz-checkbox [(ngModel)]="data.checked" formControlName='offerChecked'
                                    (ngModelChange)="_refreshStatusOffer($event, data.id)">
                                </label>
                            </td>
                            <td nz-td>
                                <nz-tag>{{data.data_value[0].title}}</nz-tag>
                            </td>
                            <td nz-td [innerHTML]="data.data_value[0].description"></td>
                        </tr>
                    </tbody>
                </nz-table>
                <div nz-form-control>
                    <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'"
                        [disabled]="!validateFormOffer.valid">
                        Add Offer
                    </button>
                </div>
            </div>
        </form>
    </ng-template>
</nz-modal>



<!--product modal-->
<nz-modal [nzFooter]="null" nzWidth="70%" [nzVisible]="isProductVisible" [nzTitle]="'Add Product'" [nzContent]="modalProductContent"
    (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
    <ng-template #modalProductContent>

        <nz-table #nzTable [nzBordered]="true" [nzDataSource]="products" [nzIsPagination]="false">
            <thead nz-thead>
                <tr>
                    <th nz-th>
                        <span> Product Name </span>
                    </th>
                    <th nz-th>
                        <span> Brand </span>
                    </th>
                    <th nz-th>
                        <span> Category </span>
                    </th>
                    <th nz-th>
                        <span> Sub-Category </span>
                    </th>
                    <th nz-th>
                        <span> Sub-Sub-Category </span>
                    </th>
                    <th nz-th>
                        <span> Price </span>
                    </th>
                    <th nz-th>
                    </th>
                </tr>
            </thead>
            <tbody nz-tbody>
                <tr nz-tbody-tr *ngFor="let data of nzTable.data;let i=index;">
                    <td nz-td>{{data.name}}</td>
                    <td nz-td>{{data.brand_id?.name}}</td>
                    <td nz-td>{{data.type_id?.name}}</td>
                    <td nz-td>{{data.category_id?.name}}</td>
                    <td nz-td>{{data.subcategory_id?.name}}</td>
                    <td nz-td>{{data.price}}</td>
                    <td nz-td>
                        <ng-container>
                            <nz-popconfirm [nzTitle]="'Are you sure you want to delete?'" [nzOkText]="'Delete'"
                                [nzCancelText]="'Cancel'" (nzOnConfirm)="deleteConfirm(i,data.id)">
                                <a nz-popconfirm>
                                    <button nz-button [nzType]="'danger'" [nzSize]="'default'">
                                        <i class="anticon anticon-delete "></i>
                                    </button>

                                </a>
                            </nz-popconfirm>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </nz-table>

        <button nz-button [nzType]="'info'" [nzSize]="'large'" (click)="addNew=!addNew;">
            <span *ngIf="!addNew"> Add New </span>
            <span *ngIf="addNew">Cancel</span>
        </button>

        <form *ngIf="addNew" nz-form [nzLayout]="'inline'" [formGroup]="validateProductForm"
            (ngSubmit)="submitForm($event,validateProductForm.value)">
            <nz-table #nzTable [nzBordered]="true" [nzDataSource]="allProduct" [nzIsPagination]="false">
                <thead nz-thead>
                    <tr>
                        <th nz-th>
                        </th>
                        <th nz-th>
                            <span> Product Name </span>
                        </th>
                        <th nz-th>
                            <span> Brand </span>
                        </th>
                        <th nz-th>
                            <span> Category </span>
                        </th>
                        <th nz-th>
                            <span> Sub-Category </span>
                        </th>
                        <th nz-th>
                            <span> Sub-Sub-Category </span>
                        </th>
                        <th nz-th>
                            <span> Price </span>
                        </th>
                    </tr>
                </thead>
                <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let data of nzTable.data;let i=index;">
                        <td nz-td [nzCheckbox]="true">
                            <label nz-checkbox [(ngModel)]="data.checked" formControlName='productChecked'
                                (ngModelChange)="_refreshStatus($event, data.id)">
                            </label>
                        </td>
                        <td nz-td>{{data.name}}</td>
                        <td nz-td>{{data.brand_id?.name}}</td>
                        <td nz-td>{{data.type_id?.name}}</td>
                        <td nz-td>{{data.category_id?.name}}</td>
                        <td nz-td>{{data.subcategory_id?.name}}</td>
                        <td nz-td>{{data.price}}</td>
                    </tr>
                </tbody>
            </nz-table>
            <div>
                <nz-pagination (nzPageIndexClickChange)="changePage($event, allProductLimit)"
                               (nzPageSizeChange)="changePage(1,$event)"
                               nzShowTotal [nzPageIndex]="allProductPage"
                               [nzTotal]="allProductTotal"
                               [nzPageSize]="allProductLimit" nzShowSizeChanger>
                </nz-pagination>
            </div>
            <div nz-form-item>
                <div nz-form-control>
                    <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'"
                        [disabled]="!validateProductForm.valid">
                        Add Product
                    </button>
                </div>
            </div>
        </form>
    </ng-template>
</nz-modal>
