<section>
    <nz-card class="card-height" nzTitle="Regular Offer list" [nzExtra]="extra">
        <ng-template #extra>
            <button *ngIf="'offer-create'|accessControl" routerLink="/dashboard/offer/create" nz-button
                    [nzType]="'primary'" [nzSize]="'large'">
                <i class="anticon anticon-download"></i><span>Add New</span>
            </button>
        </ng-template>
        <ng-container>
            <nz-spin [nzSpinning]="_isSpinning">
                <nz-table #nzTable
                          nzShowQuickJumper
                          nzShowSizeChanger
                          [nzFrontPagination]="false"
                          [nzData]="regularOfferData"
                          [nzLoading]="loading"
                          [nzTotal]="regularOfferTotal"
                          [(nzPageIndex)]="homeOfferPage"
                          [(nzPageSize)]="homeOfferLimit"
                          (nzPageIndexChange)="getRegularOfferData()"
                >
                    <thead>
                    <tr>
                        <th>
                            <span> ID </span>
                        </th>
                        <th>
                            <span> Title </span>
                        </th>
                        <th>
                            <span> Discount </span>
                        </th>
                        <th>
                            <span> Selection Type </span>
                        </th>
                        <th>
                            <span> Offer duration </span>
                        </th>
                        <th>
                            <span> Frontend Position </span>
                        </th>
                        <th>
                            <span> Status </span>
                        </th>
<!--                        <th>
                            <span> Description </span>
                        </th>-->
                        <th>
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let datum of nzTable.data;let i=index">
                        <td>
                            <nz-tag>{{datum.id}}</nz-tag>
                        </td>

                        <td>
                            <nz-tag>{{datum.title}}</nz-tag>
                        </td>

                        <td *ngIf="datum.calculation_type === 'percentage'">
                            <nz-tag>{{datum.discount_amount}} %</nz-tag>
                        </td>
                        <td *ngIf="datum.calculation_type === 'absolute'">
                            <nz-tag>{{datum.discount_amount}} tk</nz-tag>
                        </td>

                        <td>
                            <nz-tag>{{datum.selection_type}}</nz-tag>
                        </td>

                        <td>
                            <nz-tag>{{datum.start_date | date : 'medium'}}
                                - {{datum.end_date | date : 'medium'}}</nz-tag>
                        </td>
                        <td>
                            <nz-tag>{{datum.frontend_position}}</nz-tag>
                        </td>
                        <td>
                            <div *ngIf="datum.offer_deactivation_time === null; else inactive">
                                <nz-switch [ngModel]="true"
                                           (ngModelChange)="activeStatusChange($event, datum.id, datum.end_date)"
                                >
                                </nz-switch>
                            </div>
                            <ng-template #inactive>
                                <nz-switch [ngModel]="false"
                                           (ngModelChange)="activeStatusChange($event, datum.id, datum.end_date)">
                                </nz-switch>
                            </ng-template>
                        </td>
                        <!--<td [innerHTML]="datum.description"></td>-->
                        <td>
                            <nz-button-group>

                                <button *ngIf="'offer-edit'|accessControl" (click)="canEdit(datum.id, datum.end_date)" nz-button
                                        [nzType]="'primary'" [nzSize]="'default'">
                                    <i class="anticon anticon-edit"></i>
                                </button>
                                <ng-container>
                                    <nz-popconfirm [nzTitle]="'Are you sure you want to delete?'"
                                                   [nzOkText]="'Delete'" [nzCancelText]="'Cancel'"
                                                   (nzOnConfirm)="deleteRegularOffer(i,datum.id)">
                                        <a nz-popconfirm>
                                            <button nz-button [nzType]="'danger'" [nzSize]="'default'">
                                                <i class="anticon anticon-delete "></i>
                                            </button>
                                        </a>
                                    </nz-popconfirm>
                                </ng-container>
                                <button nz-button [nzType]="'primary'" [nzSize]="'default'" (click)="generateRegularOfferExcelById(datum.id)" title="Download order CSV file">
                                    <i class="anticon anticon-download"></i>
                                </button>
                            </nz-button-group>
                        </td>
                    </tr>
                    </tbody>
                </nz-table>
            </nz-spin>
        </ng-container>
    </nz-card>
</section>
