<div class="reward-details" *ngIf="product" (mouseover)="isDisplay = true" (mouseleave)="isDisplay = false">
    <div class="product-overlay-img" (click)="clickToImage($event, product.id)">

        <div class="productimage-wrapper">
            <span *ngIf="product.promotion" class="product-discount-badge">-{{discountPercentage.toFixed(2)}}%</span>
            <img class="product-image" src="{{IMAGE_LIST_ENDPOINT + product.image}}" alt="Product Image">
        </div>
        <div class="productlist-icon" style="position: absolute; top: 5%; right: 8%;">
            <ul class="button1">
                <li class="btn3 mb-3">
                  <span *ngIf="!(favourites$ | async | isaddedtofavourite: product?.id)">
                      <a class="wishlist" title="wishlist" (click)="addToFavourite($event, product)"><img
                              src="assets/images/heart.svg" alt="heart"></a>
                  </span>
                    <span *ngIf="(favourites$ | async | isaddedtofavourite: product?.id)">
                      <a class="wishlist" title="Wishlisted"><img src="assets/images/heart-red.svg" alt="heart"></a>
                  </span>
                </li>
                <li class="btn3 mb-3">
                    <a class="button add_to_cart_button" title="add to cart"
                       (click)="addToCartClickHandler($event, product)">
                        <ng-container *ngIf="!(cart$ | async | isaddedtocart: product?.id); else addedInCart">
                            <img src="assets/images/cart.svg" alt="cart">
                        </ng-container>
                        <ng-template #addedInCart>
                            <img src="assets/images/cart-red.svg" alt="cart">
                        </ng-template>
                    </a>
                </li>
                <li class="btn3">
                <span *ngIf="!(compare$|async|isaddedtocompare:product)">
                  <a class="compare" *ngIf="(compare$|async).length<3" (click)=" addToCompare($event, product)"
                     title="compare"> <img src="assets/images/compare.svg" alt="compare">
                  </a>
                  <a class="compare" *ngIf="(compare$|async).length>=3" (click)=" erroralert()"
                     title="compare"> <img src="assets/images/compare.svg" alt="compare">  </a>
                </span>

                    <span *ngIf="(compare$|async|isaddedtocompare:product)">
                      <a class="compare" title="added in compare list" (click)="removeFromCompare($event, product)"><img
                              src="assets/images/compare-red.svg" alt="compare">
                      </a>
                  </span>
                </li>
            </ul>
        </div>
        <div class="productlist-overlay-icon" *ngIf="isDisplay">
            <ul class="button">
                <li class="btn1"><a (click)="buyNow($event, product)">Buy Now</a></li>
                <li class="btn2"><a routerLink="/product-details/{{product.id}}">Details</a></li>
            </ul>
            <ul class="button-icon" style="z-index: 99991;">
                <li class="btn3 mb-3">
                  <span *ngIf="!(favourites$ | async | isaddedtofavourite: product?.id)">
                      <a class="wishlist" title="wishlist" (click)="addToFavourite($event, product)"><img
                              src="assets/images/heart.svg" alt="heart"></a>
                  </span>
                    <span *ngIf="(favourites$ | async | isaddedtofavourite: product?.id) as fav">
                      <a class="wishlist" title="Wishlisted" (click)="removeFromFavourite($event, fav)"><img
                              src="assets/images/heart-red.svg" alt="heart"></a>
                  </span>
                </li>
                <li class="btn3 mb-3">
                    <a class="add_to_cart_button" title="add to cart" (click)="addToCartClickHandler($event, product)">
                        <ng-container *ngIf="!(cart$ | async | isaddedtocart: product?.id); else addedInCart">
                            <img src="assets/images/cart.svg" alt="cart">
                        </ng-container>
                        <ng-template #addedInCart>
                            <img src="assets/images/cart-red.svg" alt="cart">
                        </ng-template>
                    </a>
                </li>
                <li class="btn3">
                <span *ngIf="!(compare$|async|isaddedtocompare:product)">
                  <a class="compare" *ngIf="(compare$|async).length<3" (click)=" addToCompare($event, product)"
                     title="compare"> <img src="assets/images/compare.svg" alt="compare">
                  </a>
                  <a class="compare" *ngIf="(compare$|async).length>=3" (click)=" erroralert()"
                     title="compare"> <img src="assets/images/compare.svg" alt="compare">  </a>
                </span>

                    <span *ngIf="(compare$|async|isaddedtocompare:product)">
                      <a class="compare" title="added in compare list" (click)="removeFromCompare($event, product)"> <img
                              src="assets/images/compare-red.svg" alt="compare">
                      </a>
                  </span>
                </li>
            </ul>
        </div>
    </div>
    <p><a routerLink="/product-details/{{product.id}}">{{product.name}}</a></p>
    <!-- Rating view goes here -->
    <!-- <ul class="d-flex">
        <li class="mr-1 star-no">4.5</li>
        <li class="mr-1"><i class="fa fa-star"></i></li>
        <li class="mr-1"><i class="fa fa-star"></i></li>
        <li class="mr-1"><i class="fa fa-star"></i></li>
        <li class="mr-1"><i class="fa fa-star-half-o"></i></li>
        <li class="mr-1"><i class="fa fa-star-half-o"></i></li>
    </ul> -->
    <span *ngIf="!product.promotion">৳. {{product.price}}</span>
    <span *ngIf="product.promotion">৳. <del>{{product.price}}</del>
        {{product.promo_price}}</span>

</div>

