<div class="margin-top-60">
    <div class="container">
        <div class="row margin-0" style="overflow: hidden;">
            <div *ngFor="let carousel of cmsCarouselList" class="col-sm-12 col-md-4 padding-0" mat-ripple >
                <div class="block-banner-text">
                    <img src="{{IMAGE_ENDPOINT + carousel?.image + IMAGE_EXT}}" class="img-responsive" alt="{{carousel?.title}}">
                    <div class="content">
                        <h3 class="title">{{carousel?.title}}</h3>
                        <h4 class="subtitle"  [innerHTML]="carousel?.description"></h4>
                        <a class="link-more" href="#"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
