<div class="my-account-counter-2">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-4">
            <div class="counters1 counter text-center cursor-pointer" (click)="statusFilter='all'">
                <h4>{{dashboardData.pendingOrder + dashboardData.processingOrder + dashboardData.deliveredOrder + dashboardData.canceledOrder}}</h4>
                <span>All Orders</span>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-4">
            <div class="counters4 counter text-center cursor-pointer" (click)="statusFilter='1'">
                <h4>{{dashboardData.pendingOrder}}</h4>
                <span>Awaiting</span>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-4">
            <div class="counters5 counter text-center cursor-pointer" (click)="statusFilter='2'">
                <h4>{{dashboardData.processingOrder}}</h4>
                <span>Processing</span>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-4">
            <div class="counters2 counter text-center cursor-pointer" (click)="statusFilter='3'">
                <h4>{{dashboardData.deliveredOrder}}</h4>
                <span>Delivered</span>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-4">
            <div class="counters3 counter text-center cursor-pointer" (click)="statusFilter='4'">
                <h4>{{dashboardData.canceledOrder}}</h4>
                <span>Canceled</span>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
<div class="last-orders">
    <div class="category-head justify-content-between d-flex">
        <div class="titel">
            <h4>{{(statusFilter | orderstatus).label | titlecase}} orders</h4>
        </div>
    </div>
    <div class="order-list" *ngIf="orderList && orderList.length > 0">
        <ul class="justify-content-between"
            *ngFor="let item of (getFilteredOrderList() | paginate: { itemsPerPage: limit, currentPage: currentPage})">
            <li class="text-1 pr-2">{{item?.createdAt | date}}</li>
            <li class="text-2 pl-2 pr-2">
                <button color="accent" style="padding-left: 0px;" routerLink="/profile/orders/invoice/{{item.id}}">
                    ৳ {{item?.total_price}}
                </button>
            </li>
            <li class="text-2 pl-2  pr-2"
                *ngIf="remainingTimeInHourMinute && remainingTimeInHourMinute.length > 0 && item.isAllowedForPay">
                <button color="accent" style="padding-left: 0px;" routerLink="/profile/orders/invoice/{{item.id}}">
                    {{remainingTimeInHourMinute[item.id]}} remaining
                </button>
            </li>
            <li class="text-2 pl-2  pr-2" *ngIf="item.isAllowedForPay">
                <button color="accent" style="padding-left: 0px;" (click)="makePartialPayment(item)">
                    Make Payment
                </button>
            </li>
            <li class="button button-order-center" *ngIf="item.payment_status == 1">
                <a routerLink="/profile/orders/invoice/{{item.id}}">{{(item.payment_status | paymentstatus).label }} </a>
            </li>
            <li class="button button-order-center" *ngIf="item.payment_status == 2">
                <a routerLink="/profile/orders/invoice/{{item.id}}">{{(item.payment_status | paymentstatus).label }} </a>
            </li>
            <li class="button button-order-center" *ngIf="item.payment_status == 3 || item.payment_status == 4">
                <a routerLink="/profile/orders/invoice/{{item.id}}">{{(item.payment_status | paymentstatus).label }} </a>
            </li>
            <li class="list-1 button button-order-center" *ngIf="item.status == 1">
                <a routerLink="/profile/orders/invoice/{{item.id}}">{{(item.status | orderstatus).label }} </a>
            </li>
            <li class="list-2 button button-order-center" *ngIf="item.status == 2">
                <a routerLink="/profile/orders/invoice/{{item.id}}">{{(item.status | orderstatus).label }} </a>
            </li>
            <li class="list-3 button button-order-center" *ngIf="item.status == 11">
                <a routerLink="/profile/orders/invoice/{{item.id}}">{{(item.status | orderstatus).label }} </a>
            </li>
            <li class="list-4 button button-order-center" *ngIf="item.status == 12">
                <a routerLink="/profile/orders/invoice/{{item.id}}">{{(item.status | orderstatus).label }} </a>
            </li>
            <li class="icon">
                <button mat-mini-fab color="basic" (click)="cancelOrder(item.id)" *ngIf="item.status != 12">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
                <button mat-mini-fab color="basic" routerLink="/profile/orders/invoice/{{item.id}}">
                    <i class="fa fa-angle-right"></i>
                </button>
            </li>
        </ul>
        <div class="text-center">
            <pagination-controls (pageChange)="currentPage = $event" previousLabel="Previous"
                                 nextLabel="Next">
            </pagination-controls>
        </div>
    </div>
</div>
