.quantity{
  font-size: large;
}

.variant-key{
  color: #979494;
  font-size: 12px;
}

.variant-value{
  font-size: 12px;
  color: #000000;
  font-weight: 500;
  margin-left: 5px;
}
.popover-header{
  color: #000000;
}