<section>
    <nz-card class="card-height" nzTitle="Product Requisition List">
        <ng-container>
            <nz-spin [nzSpinning]="_isSpinning">
                <nz-table #nzTable
                          nzShowQuickJumper
                          nzShowSizeChanger
                          [nzFrontPagination]="false"
                          [nzData]="data"
                          [nzLoading]="loading"
                          [nzTotal]="total"
                          [(nzPageIndex)]="page"
                          [(nzPageSize)]="limit"
                          (nzPageIndexChange)="getPageData()"
                          [nzBordered]="true"
                >
                    <thead>
                    <tr>
                        <th>
                            <span> PR No </span>
                        </th>
                        <th>
                            <span> Date </span>
                        </th>
                        <th>
                            <span> Vendor Id </span>
                        </th>
                        <th>
                            <span> Vendor Name </span>
                        </th>
                        <th>
                            <span> Quantity </span>
                        </th>
                        <th>
                            <span> Total Price</span>
                        </th>
                        <th>
                            <span> Created by </span>
                        </th>
                        <th>
                            <span> Action </span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr #dataFor *ngFor="let item of nzTable.data;let i=index">
                        <td>{{item.id}}</td>
                        <td>{{item.date|date:'yyyy-MM-dd'}}</td>
                        <td>{{item.warehouse_id.id}}</td>
                        <td>{{item.warehouse_id.name}}</td>
                        <td>{{item.total_quantity}}</td>
                        <td>{{item.total_amount}}</td>
                        <td>{{item.created_by?.first_name}} {{item.created_by?.last_name}}</td>
                        <td>
                            <nz-button-group>
                                <button *ngIf="'suborder-read'|accessControl" (click)='downloadPDF(item.id)' nz-button
                                        [nzSize]="'default'">
                                    <i class="anticon anticon-download"> </i>
                                </button>
                            </nz-button-group>
                            <!--Details-->
                        </td>
                    </tr>
                    </tbody>
                </nz-table>
            </nz-spin>
            <div class="row">
                <div class="col-md-offset-5" style="margin-top: 10px">
                    <span class="pull-right col-md-6">
                        <button nz-button (click)="resetAllFilter()">Clear filter</button>
                    </span>
                </div>
            </div>
        </ng-container>
    </nz-card>
</section>
