<section>
    <nz-card class="card-height order-list-card" nzTitle="Order list" [nzExtra]="extra">
        <ng-template #extra>
            <button nz-button [nzType]="'primary'" (click)='showOrdersBalkModal()'>
                <i class="anticon anticon-download"></i><span> Download Orders as Bulk </span>
            </button>&nbsp;
            <button nz-button [nzType]="'primary'" (click)='showProductModal()'>
                <i class="anticon anticon-download"></i><span> Download </span>
            </button>&nbsp;
            <button nz-button (click)="resetAllFilter()">Clear filter</button>
        </ng-template>

        <nz-spin [nzSpinning]="_isSpinning">
            <nz-table
                #nzTable
                nzShowQuickJumper
                [nzTotal]="orderTotal"
                [nzData]="orderData"
                [nzShowSizeChanger]="true"
                [nzFrontPagination]="false"
                [nzPageSize]="orderLimit"
                [nzPageIndex]="orderPage"
                (nzPageIndexChange)="getData($event, false)"
                (nzPageSizeChange)="orderPage = 1; getData()"
                [nzHideOnSinglePage]="true"
                [nzScroll]="{ x:'1600px',y: '800px'  }"
                [nzBordered]="true"
            >
                <thead>
                <tr>
                    <th nz-th [nzWidth]="'100px'">
                        <span> Order </span>
                    </th>
                    <th nz-th [nzWidth]="'230px'">
                        <span> Date </span>
                    </th>
                    <th nz-th [nzWidth]="'230px'">
                        <span> Customer </span>
                    </th>
                    <th nz-th [nzWidth]="'100px'">
                        <span> Quantity </span>
                    </th>
                    <th nz-th [nzWidth]="'100px'">
                        <span>Total</span>
                    </th>
                    <th nz-th [nzWidth]="'230px'">
                        <span>Status</span>
                    </th>
                    <th nz-th [nzWidth]="'230px'">
                        <span>Order type </span>
                    </th>
                    <th nz-th [nzWidth]="'230px'">
                        <span>Payment type </span>
                    </th>
                    <th nz-th [nzWidth]="'230px'">
                        <span>Payment status </span>
                    </th>
                    <th nz-th [nzWidth]="'100px'">
                        <span>Status Changer</span>
                    </th>
                    <th nz-th [nzWidth]="'400px'">
                        <span>Transactions</span>
                    </th>
                    <th nz-th [nzWidth]="'300px'">
                        <span>shipping_address</span>
                    </th>
                    <th nz-th [nzWidth]="'200px'"><span>Actions</span></th>
                </tr>
                <tr>
                    <th>
                        <input nz-input [(ngModel)]="orderNumberFilter" placeholder="Order"
                               (input)=" orderPage = 1; getData(); ">
                    </th>
                    <th>
                        <nz-date-picker
                                nzShowTime
                                nzFormat="yyyy-MM-dd HH:mm:ss"
                                [(ngModel)]="searchStartDate"
                                nzPlaceHolder="Start"
                                (ngModelChange)="orderPage = 1; getData();">

                        </nz-date-picker>
                        <nz-date-picker
                                nzShowTime
                                nzFormat="yyyy-MM-dd HH:mm:ss"
                                [(ngModel)]="searchEndDate"
                                nzPlaceHolder="End"
                                (ngModelChange)="orderPage = 1; getData();">
                        </nz-date-picker>
                    </th>
                    <th>
                        <input nz-input [(ngModel)]="customerNameFilter"
                               placeholder="Customer Name" (input)=" orderPage = 1; getData(); ">
                    </th>
                    <th></th>
                    <th></th>
                    <th>
                        <nz-select style="width: 170px;" [(ngModel)]="statusSearchValue"
                                   nzAllowClear (ngModelChange)="orderPage = 1; getData();"
                                   [nzPlaceHolder]="'Select Status'"
                                   [nzNotFoundContent]="'Not found'">
                            <nz-option *ngFor="let option of options" [nzLabel]="option.label"
                                       [nzValue]="option.value">
                                <ng-template #nzOptionTemplate>
                                    <i class="anticon " [ngClass]="option.icon"></i>
                                    {{option.label}}
                                </ng-template>
                            </nz-option>
                        </nz-select>
                    </th>
                    <th>
                        <nz-select style="width: 170px;" [(ngModel)]="orderTypeSearchValue"
                                   nzAllowClear (ngModelChange)="orderPage = 1; getData();"
                                   [nzPlaceHolder]="'Select Order type'"
                                   [nzNotFoundContent]="'Not found'">
                            <nz-option *ngFor="let option of orderTypes" [nzLabel]="option.label"
                                       [nzValue]="option.value">
                            </nz-option>
                        </nz-select>
                    </th>
                    <th>
                        <nz-select style="width: 170px;" [(ngModel)]="paymentTypeSearchValue"
                                   nzAllowClear (ngModelChange)="orderPage = 1; getData();"
                                   [nzPlaceHolder]="'Select Payment type'"
                                   [nzNotFoundContent]="'Not found'">
                            <nz-option *ngFor="let option of paymentTypes" [nzLabel]="option"
                                       [nzValue]="option">
                            </nz-option>
                        </nz-select>
                    </th>
                    <th>
                        <nz-select style="width: 170px;" [(ngModel)]="paymentStatusSearchValue"
                                   nzAllowClear (ngModelChange)="orderPage = 1; getData();"
                                   [nzPlaceHolder]="'Select Payment Status'"
                                   [nzNotFoundContent]="'Not found'">
                            <nz-option *ngFor="let option of paymentOptions" [nzLabel]="option.label"
                                       [nzValue]="option.value">
                            </nz-option>
                        </nz-select>
                    </th>
                    <th></th>
                    <th></th>
                    <th>
                        <button nz-button (click)="resetAllFilter()">Clear filter</button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr #dataFor *ngFor="let data of nzTable.data;let i=index">
                    <td>{{data.id}}</td>
                    <td>{{data.createdAt|date: 'd/M/yyyy, h:mm a'}}</td>
                    <td>{{data.full_name}}</td>
                    <td>{{data.total_quantity}}</td>
                    <td>{{data.total_price}}</td>

                    <td *ngIf="'order-status-change'|accessControl">
                        <div *ngIf="data.total_price <= data.paid_amount || data.payment_type === PAYMENT_METHODS.CASH_PAYMENT_TYPE">
                            <span *ngIf="setStatus(i, data.status)"></span>
                            <nz-select style="width: 180px;" [(ngModel)]="data.status" [nzPlaceHolder]="'choose option'"
                                       (ngModelChange)="changeStatusConfirm($event,data.id,data.status)">
                                <nz-option *ngFor="let option of options" [nzLabel]="option.label"
                                           [nzValue]="option.value">
                                    <ng-template #nzOptionTemplate>
                                        <i class="anticon " [ngClass]="option.icon"></i>
                                        {{option.label}}
                                    </ng-template>
                                </nz-option>
                            </nz-select>
                        </div>
                        <div  *ngIf="data.total_price > data.paid_amount && data.payment_type !== PAYMENT_METHODS.CASH_PAYMENT_TYPE">
                            {{data.status | statustype}}
                        </div>
                    </td>
                    <td *ngIf="!('order-status-change'|accessControl)">{{data.status | statustype}}</td>

                    <td *ngIf="data.orderType == ORDER_TYPE.REGULAR_ORDER_TYPE">Regular order</td>
                    <td *ngIf="data.orderType == ORDER_TYPE.PARTIAL_ORDER_TYPE">Partial order</td>

                    <td>{{data.payment_type}}</td>

                    <td *ngIf="'order-payment-status-change'|accessControl">
                        <nz-select style="width: 180px;"
                                   *ngIf="data.payment_type == PAYMENT_METHODS.OFFLINE_PAYMENT_TYPE && data.orderType == ORDER_TYPE.REGULAR_ORDER_TYPE; else showOnlyPaymentStatus;"
                                   [(ngModel)]="data.paymentStatus" [nzPlaceHolder]="'choose option'"
                                   (ngModelChange)="changePaymentStatusConfirm($event,data.id,data.paymentStatus)">
                            <nz-option *ngFor="let paymentOption of changePaymentOptions" [nzLabel]="paymentOption.label"
                                       [nzValue]="paymentOption.value">
                            </nz-option>
                        </nz-select>
                        <ng-template #showOnlyPaymentStatus>
                            <p *ngIf="data.paymentStatus == paymentStatus.UNPAID_PAYMENT_STATUS">
                                Unpaid</p>
                            <p *ngIf="data.paymentStatus == paymentStatus.PARTIALLY_PAID_PAYMENT_STATUS">
                                Partially paid</p>
                            <p *ngIf="data.paymentStatus == paymentStatus.PAID_PAYMENT_STATUS || data.paymentStatus == paymentStatus.NOT_APPLICABLE_PAYMENT_STATUS">
                                Paid</p>
                        </ng-template>
                    </td>
                    <td *ngIf="!('order-payment-status-change'|accessControl)">
                        <p *ngIf="data.paymentStatus == paymentStatus.UNPAID_PAYMENT_STATUS">Unpaid</p>
                        <p *ngIf="data.paymentStatus == paymentStatus.PARTIALLY_PAID_PAYMENT_STATUS">Partially paid</p>
                        <p *ngIf="data.paymentStatus == paymentStatus.PAID_PAYMENT_STATUS || data.paymentStatus == paymentStatus.NOT_APPLICABLE_PAYMENT_STATUS">Paid</p>
                    </td>

                    <td>{{data.changedByName}}</td>
                    <td>
                        <div *ngFor="let transaction of data.transactions">
                            <p style="margin: 0px;">Amount: {{transaction.amount}}</p>
                            <p style="margin: 0px;">Payment Type: {{transaction.paymentType}}</p>
                            <p style="margin: 0px;" *ngIf="transaction.paymentType != PAYMENT_METHODS.CASH_PAYMENT_TYPE">Transaction Key: {{transaction.transactionKey}}</p>
                            <p style="margin-bottom: 15px;">Transaction Time: {{transaction.transactionTime}}</p>
                        </div>
                    </td>
                    <td>
                        <p>Postal Code: {{data.postal_code}}</p>
                        <p><span style="font-weight: 700">Address: </span> {{data.address}}</p>
                        <p>
                            <span style="font-weight: 700">Area: </span> {{data.upazila_name}}, {{data.zila_name}}, {{data.division_name}}
                        </p>
                    </td>
                    <td>
                        <nz-button-group>
                            <button *ngIf="'order-read'|accessControl"
                                    (click)="goToOrderRead(data.id)"
                                    nz-button [nzSize]="'default'">
                                <i class="anticon anticon-info-circle"> </i>
                            </button>
                        </nz-button-group>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </nz-spin>
    </nz-card>
</section>

<!--product modal-->
<nz-modal [nzFooter]="null"
          nzWidth="95%"
          [nzVisible]="isProductVisible"
          [nzTitle]="'Generate and Download CSV Document'"
          [nzContent]="modalProductContent"
          (nzOnCancel)="handleCancel($event)"
          (nzOnOk)="handleOk($event)"
>
    <ng-template #modalProductContent>
        <form nz-form [nzLayout]="'inline'" [formGroup]="validateProductForm"
              (ngSubmit)="submitForm($event, validateProductForm.value)">

            <nz-table #nzTableDownload [nzBordered]="true" [nzData]="csvOrders" [nzFrontPagination]="false"
                      nzShowQuickJumper
                      [nzLoading]="_isSpinning"
                      [(nzPageIndex)]="csvPage" [nzPageSize]="20" [nzHideOnSinglePage]="true"
                      [nzTotal]="orderCsvTotal"
                      (nzPageIndexChange)="getData($event, true)"
                      (nzPageSizeChange)="csvPage = 1; getData(null, true)"
            >
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="order_check_all_pr" #csvSelectAll
                               (change)="selectAllCsv($event)">
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of nzTableDownload.data;let i=index;">
                    <td>
                        <input type="checkbox" id="{{'order_checked_pr' + data.id}}"
                               (change)="_refreshStatus($event, data)" [checked]="data.checked"/>
                    </td>
                    <td>{{data.id}}</td>
                    <td>{{data.createdAt|date: 'd/M/yyyy, h:mm a'}}</td>
                    <td>
                        <nz-tag>{{data.full_name}}</nz-tag>
                    </td>
                    <td>{{data.total_quantity}}</td>
                    <td>{{data.total_price}}</td>
                    <td>{{getStatusLabel(data.status)}}</td>
                    <td>{{data.changedByName}}</td>
                    <td>{{data.postal_code}}</td>
                    <td>{{data.upazila_name}}</td>
                    <td>{{data.zila_name}}</td>
                    <td>{{data.division_name}}</td>
                    <td>{{data.address}}</td>
                </tr>
                </tbody>
            </nz-table>
            <div>
                <div>
                    <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'"
                            [disabled]="!validateProductForm.valid || submitting">
                        Create CSV
                    </button>
                </div>
            </div>
        </form>
    </ng-template>
</nz-modal>

<!-- Download as bulk -->
<nz-modal [nzFooter]="null"
          nzWidth="60%"
          [nzVisible]="isOrdersBulkVisible"
          [nzTitle]="'Download orders as bulk'"
          [nzContent]="modalOrdersBulkContent"
          (nzOnCancel)="handleCancel($event)"
          (nzOnOk)="handleOk($event)"
>
    <ng-template #modalOrdersBulkContent>
        <div    nz-row>
            <div    nz-col [nzSpan]="3">
                <label> Enter Date </label>
            </div>
            <div nz-col [nzSpan]="15">
                <nz-date-picker
                        nzShowTime
                        nzFormat="yyyy-MM-dd  00:00:00"
                        [(ngModel)]="searchStartDateOrdersBulk"
                        nzPlaceHolder="Start date">
                </nz-date-picker>&nbsp;
                <nz-date-picker
                        nzShowTime
                        nzFormat="yyyy-MM-dd  23:59:59"
                        [(ngModel)]="searchEndDateOrdersBulk"
                        nzPlaceHolder="End date">
                </nz-date-picker>
            </div>
            <div nz-col [nzSpan]="1">
                <button nz-col nz-button [nzType]="'primary'" [disabled]="!searchStartDateOrdersBulk || !searchEndDateOrdersBulk" (click)="onSubmitOrdersBulkDownload()">Download Bulk</button>
            </div>
        </div>
    </ng-template>
</nz-modal>
