<section>
    <nz-card class="card-height">
        <ng-template #title>
            Order list
        </ng-template>
        <ng-template #extra>
            <button nz-button [nzType]="'primary'"
                    [nzSize]="'large'" (click)='showProductModal()'>
                <i class="anticon anticon-download"></i><span> Download </span>
            </button>
        </ng-template>

        [nzLoading]="_isSpinning" [nzShowSizeChanger]="true"
        [(nzPageIndex)]="csvPage" [nzPageSize]="20" [nzHideOnSinglePage]="true"
        [nzTotal]="orderCsvTotal"
        (nzPageIndexChange)="getData(true)"
        (nzPageSizeChange)="csvPage = 1; getData(true)"
        <ng-template #body>

                <nz-table #nzTable [nzTotal]="orderTotal" [nzData]="orderData" [nzShowSizeChanger]="true"  [nzLoading]="_isSpinning"
                          [nzFrontPagination]="false" [nzPageSize]="orderLimit"  [(nzPageIndex)]="orderPage" [nzHideOnSinglePage]="true"
                          [nzSize]="'default'"  (nzPageIndexChange)="getData()" (nzPageSizeChange)="csvPage = 1; getData()"
                >
                    <thead>
                    <tr>
                        <th>
                            <span> Order </span>
                        </th>
                        <th style="width: 160px">
                            <span> Date </span>
                        </th>
                        <th>
                            <span> Customer </span>
                        </th>
                        <th>
                            <span> Quantity </span>
                        </th>
                        <th>
                            <span>Total Amount</span>
                        </th>
                        <th>
                            <span>Order Status</span>
                        </th>
                        <th>
                            <span>Status Changed By</span>
                        </th>
                        <th><span>Actions</span></th>
                    </tr>
                    </thead>
                    <thead>
                    <tr>
                        <th>
                            <input nz-input style="width: 80px;" [(ngModel)]="orderNumberFilter" placeholder="Order"
                                   (input)=" orderPage = 1; getData(); ">
                        </th>
                        <th>
                        </th>
                        <th>
                            <input nz-input style="width: 140px;" [(ngModel)]="customerNameFilter"
                                   placeholder="Customer Name" (input)=" orderPage = 1; getData(); ">
                        </th>
                        <th></th>
                        <th></th>
                        <th>
                            <nz-select style="width: 180px;" [(ngModel)]="statusSearchValue"
                                       nzAllowClear (ngModelChange)="orderPage = 1; getData();"
                                       [nzPlaceHolder]="'Select Status'"
                                       [nzNotFoundContent]="'Not found'">
                                <nz-option *ngFor="let option of options" [nzLabel]="option.label"
                                           [nzValue]="option.value">
                                    <ng-template #nzOptionTemplate>
                                        <i class="anticon " [ngClass]="option.icon"></i>
                                        {{option.label}}
                                    </ng-template>
                                </nz-option>
                            </nz-select>
                        </th>
                        <th></th>
                        <th>
                            <button nz-button (click)="resetAllFilter()">Clear filter</button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr #dataFor *ngFor="let data of nzTable.data;let i=index">
                        <td>{{data.id}}</td>
                        <td>{{data.createdAt|date: 'd/M/yyyy, h:mm a'}}</td>
                        <td>{{data.full_name}}</td>
                        <td>{{data.total_quantity}}</td>
                        <td>{{data.total_price}}</td>
                        <td>
                            <span *ngIf="setStatus(i, data.status)"></span>
                            <nz-select style="width: 180px;" [(ngModel)]="data.status" [nzPlaceHolder]="'choose option'"
                                       (ngModelChange)="changeStatusConfirm($event,data.id,data.status)">
                                <nz-option *ngFor="let option of options" [nzLabel]="option.label"
                                           [nzValue]="option.value">
                                    <ng-template #nzOptionTemplate>
                                        <i class="anticon " [ngClass]="option.icon"></i>
                                        {{option.label}}
                                    </ng-template>
                                </nz-option>
                            </nz-select>
                        </td>
                        <td>{{data.changedByName}}</td>
                        <td>
                            <nz-button-group>
                                <button *ngIf="'order-read'|accessControl"
                                        [routerLink]="['/dashboard/order/details/', data.id]"
                                        nz-button   [nzSize]="'default'">
                                    <i class="anticon anticon-info-circle"> </i>
                                </button>
                            </nz-button-group>
                        </td>
                    </tr>
                    </tbody>
                </nz-table>

            <div class="row">
                <div class="col-md-offset-5" style="margin-top: 10px">
                    <span class="pull-right col-md-6">
                        <button nz-button (click)="resetAllFilter()">Clear filter</button>
                    </span>
                </div>
            </div>
        </ng-template>
    </nz-card>
</section>

<!--product modal-->
<nz-modal [nzFooter]="null"
          nzWidth="70%"
          [nzVisible]="isProductVisible"
          [nzTitle]="'Generate Document'"
          [nzContent]="modalProductContent"
          (nzOnCancel)="handleCancel($event)"
          (nzOnOk)="handleOk($event)"
>
    <ng-template #modalProductContent>
        <form nz-form [nzLayout]="'inline'" [formGroup]="validateProductForm"
              (ngSubmit)="submitForm($event, validateProductForm.value)">

            <nz-table #nzTable [nzBordered]="true" [nzData]="allOders" [nzFrontPagination]="false"
                      [nzLoading]="_isSpinning" [nzShowSizeChanger]="true"
                      [(nzPageIndex)]="csvPage" [nzPageSize]="20" [nzHideOnSinglePage]="true"
                      [nzTotal]="orderCsvTotal"
                      (nzPageIndexChange)="getData(true)"
                      (nzPageSizeChange)="csvPage = 1; getData(true)"
            >
                <thead>
                <tr>
                    <th>
                        <input style="margin-left: 15px;" type="checkbox" id="order_check_all_pr"
                               (change)="selectAllCsv($event)">
                    </th>
                    <th>
                        <span> Order number </span>
                    </th>
                    <th>
                        <span> Date </span>
                    </th>
                    <th>
                        <span> Customer </span>
                    </th>
                    <th>
                        <span> Qunatity </span>
                    </th>
                    <th>
                        <span> Total Amount </span>
                    </th>
                    <th>
                        <span> Order Status </span>
                    </th>
                    <th>
                        <span> Status Changed By </span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of nzTable.data;let i=index;">
                    <td [nzShowCheckbox]="true">
                        <input type="checkbox" id="{{'order_checked_pr' + data.id}}"
                               (change)="_refreshStatus($event, data)" [checked]="data.checked"/>
                    </td>
                    <td>{{data.id}}</td>
                    <td>{{data.createdAt|date: 'd/M/yyyy, h:mm a'}}</td>
                    <td>
                        <nz-tag>{{data.full_name}}</nz-tag>
                    </td>
                    <td>{{data.total_quantity}}</td>
                    <td>{{data.total_price}}</td>
                    <td>{{getStatusLabel(data.status)}}</td>
                    <td>{{data.changedByName}}</td>
                </tr>
                </tbody>
            </nz-table>
            <div>
                <div>
                    <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'"
                            [disabled]="!validateProductForm.valid || submitting">
                        Create CSV
                    </button>
                </div>
            </div>
        </form>
    </ng-template>
</nz-modal>
