<div class="subscribe-setion ">
  <div class="row margin-0">
    <div class="col-sm-6 padding-0">
      <div class="block-social"> 
        <div class="social">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 padding-0">
      <div class="block-newsletter">
        <div class="inner">
          <h2 class="title">নিউজলেটার</h2>
          <p class="subtitle">নতুন পণ্য এবং প্রচারণা সম্পর্কে জানতে সাবস্ক্রাইব করুন।</p>
          <form>
            <input type="text" placeholder="আপনার ইমেইল টি লিখুন" class="text-input">
            <button class="button"><i class="fa fa-envelope-o"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
