<!--Update Carousel Modal-->
<nz-modal [nzFooter]="null"
          class="create-modal-2"
          [nzVisible]="isEditModalVisible"
          [nzTitle]="'Edit Carousel'"
          [nzContent]="editmodalContent"
          (nzOnCancel)="handleModalCancel($event)"
          (nzOnOk)="handleModalOk($event)">
    <ng-template #editmodalContent>
        <div class="spinning">
            <nz-spin [nzSpinning]="_isSpinning">
                <form nz-form [formGroup]="editValidateForm" id="editValidateForm"
                      (ngSubmit)="submitEditForm($event,editValidateForm.value)">

                    <div nz-row>
                        <!--title start-->
                        <div nz-col [nzSpan]="7">
                            <label>Title</label>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <input nz-input formControlName="title" [placeholder]="'Enter Title'"
                                   [nzSize]="'large'">

                            <div *ngIf="getEditFormControl('title').dirty&&getEditFormControl('title').hasError('required')">
                                Please input title !
                            </div>
                            <div *ngIf="getEditFormControl('title').dirty&&getEditFormControl('title').hasError('duplicated')">
                                Name already exists!
                            </div>
                            <div *ngIf="getEditFormControl('title').dirty&&getEditFormControl('title').pending">
                                Verifying ...
                            </div>
                        </div>
                    </div>
                    <br>
                    <!--Title -->


                    <div nz-row>
                        <div nz-col [nzSpan]="7">
                            <label>Picture</label>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <image-upload [max]="1" (removed)="onRemoved($event)" buttonCaption="Select picture"
                                          dropBoxMessage="Drop Picture here" clearButtonCaption="Clear"
                                          (uploadStateChanged)="onUploadStateChanged($event)"
                                          [beforeUpload]="onBeforeUpload"></image-upload>
                            <div *ngIf="!ImageFile">
                                Please upload an image here!
                            </div>
                        </div>
                    </div>
                    <br>
                    <!--image-->
                    <div nz-row>
                        <div nz-col [nzSpan]="7">
                            <label>Details</label>
                        </div>
                        <div nz-col [nzSpan]="12">

                            <ckeditor [editor]="Editor" formControlName="description"></ckeditor>

                            <div *ngIf="getEditFormControl('description').dirty&&getEditFormControl('description').hasError('required')">
                                Please input description !
                            </div>-->
                        </div>
                    </div>
                    <br>
                    <!--description-->

                    <div nz-row>
                        <div nz-col [nzOffset]="7" [nzSpan]="12">
                            <nz-button-group>
                                <button nz-button [nzType]="'primary'" [nzSize]="'large'"
                                        [disabled]="!editValidateForm.valid">
                                    Save
                                </button>&nbsp;
                                <button nz-button [nzSize]="'large'" (click)="resetForm($event)">Reset</button>&nbsp;
                                <button nz-button [nzSize]="'large'" (click)="handleModalCancel($event)">Cancel</button>
                            </nz-button-group>
                        </div>
                    </div>
                </form>
            </nz-spin>
        </div>
    </ng-template>
</nz-modal>


<section>
    <nz-card class="card-height" >
        <nz-table #nzTable
                  nzShowQuickJumper
                  [nzData]="cmsPostData"
                  [nzLoading]="_isSpinning"
                  nzShowQuickJumper
        >
            <thead>
                <tr>
                    <th nzWidth="10%">
                        <span> Image </span>
                    </th>
                    <th nzWidth="20%">
                        <span> Title </span>
                    </th>
                    <th nzWidth="50%">
                        <span>Details</span>
                    </th>
                    <th nzWidth="20%">
                        <span>Action</span>
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="cmsPostData && cmsPostData.length > 0">
            <tr *ngFor="let post of nzTable.data; let i = index">
                <td style="text-align: center; width: 75px">
                    <ng-container *ngIf="post.data_value[0].image; else noImage">
                        <nz-avatar [nzShape]="'square'"
                                   [nzSrc]="IMAGE_ENDPOINT + post.data_value[0].image" [nzSize]="'large'"
                                   [nzIcon]="'question-circle'"  style="background-color:#1e241c;"></nz-avatar>
                    </ng-container>
                    <ng-template #noImage>
                        <nz-tag>No Image</nz-tag>
                    </ng-template>
                </td>
                <td>
                    {{post.data_value[0].title}}
                </td>
                <td>
                    <div [innerHTML]="post.data_value[0].description" style=" overflow: hidden; max-height: 125px; text-overflow: ellipsis;"></div>
                </td>
                <td style="text-align: center">
                    <nz-button-group>
                        <button [routerLink]="['/dashboard/usercms/post-read/', post.id]"
                                nz-button [nzSize]="'default'">
                            <i class="anticon anticon-info-circle"></i>
                        </button>
                        <button (click)="showEditModal(post.id,i)"
                                nz-button [nzSize]="'default'">
                            <i class="anticon anticon-edit"></i>
                        </button>
                        <ng-container>
                            <div class="pull-right">
                                <nz-popconfirm [nzTitle]="'Are you sure you want to delete?'" [nzOkText]="'Delete'"
                                               [nzCancelText]="'Cancel'" (nzOnConfirm)="deleteConfirm(i,post.id)">
                                    <a nz-popconfirm>
                                        <button nz-button [nzType]="'danger'" [nzSize]="'default'">
                                            <i class="anticon anticon-delete ">
                                            </i>
                                        </button>
                                    </a>
                                </nz-popconfirm>
                            </div>
                        </ng-container>
                    </nz-button-group>
                </td>
            </tr>
            </tbody>
        </nz-table>
    </nz-card>
</section>

