
<div>
    <div class=" container">
        <div class="copyright text-center">
            <p class="small pull-left">
                <span>Copyright &copy; 2020 </span>
                <span class="copy-color">Ananda Bazaar</span>.
                <span> </span>
            </p>
            <p class="no-margin pull-right copy2">
                <span class="copy-color">Developed by Bitspeck Solutions</span>
            </p>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
