<div class="alert alert-success text-center" role="alert" *ngIf="addToCartSuccessProduct">
    Product Successfully Added To cart: {{addToCartSuccessProduct.name}} -
    ৳{{(unitPrice + variantCalculatedTotalPrice) * product_quantity}}
</div>
<div class="alert alert-success text-center" role="alert" *ngIf="addToWhishlistSuccessProduct">
    Product Successfully Added To Whishlist: {{addToWhishlistSuccessProduct.name}} -
    ৳{{addToWhishlistSuccessProduct.price}}
</div>

<div id="breadcrumb" *ngIf="data">
    <div class="container-fluid">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Home</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a routerLink="/products" routerLinkActive="active">
                        OUR PRODUCTS</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page" *ngIf="data.type_id?.id"
                        style="text-transform: uppercase;">
                        <a routerLink="/products/category/{{data.type_id?.id}}"> {{data.type_id?.name}}</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page" *ngIf="data.category_id?.id"
                        style="text-transform: uppercase;">
                        <a routerLink="/products/category/{{data.type_id?.id}}"
                           [queryParams]="{category: data.type_id?.id, sub: data.category_id?.id}">{{data.category_id?.name}}
                        </a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page" *ngIf="data.subcategory_id?.id"
                        style="text-transform: uppercase;">
                        <a routerLink="/products/category/{{data.type_id?.id}}"
                           [queryParams]="{category: data.type_id?.id, sub: data.category_id?.id, subsub: data.subcategory_id?.id}">
                            {{data.subcategory_id?.name}}
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page" style="text-transform: uppercase;">
                        <a style="color: red" routerLink="/product-details/{{data.id}}">{{ data.name }}</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!--<section id="coupon-product-banner-section" class="d-none d-sm-block"
         *ngIf="data && data.is_coupon_product && data.coupon_banner_image && data.coupon_banner_image.banner_images && data.coupon_banner_image.banner_images.length > 0">
    <coupon-product-banners [bannerImages]="data.coupon_banner_image.banner_images"
                            style="width: 100%;">
    </coupon-product-banners>
</section>-->
<section id="productdetail-section" *ngIf="data" style="margin: 0;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4">
                <div class="row">
                    <div class="col-md-12 col-12">
                        <div class="productdetail-img">
                            <div class="productdetail-inner-img">
                                <span *ngIf="data.promotion"
                                      class="product-discount-badge">-{{discountPercentage.toFixed(2)}}%</span>
                                <img style="object-fit: contain; height: auto; width: auto" src="{{primaryPicture}}" alt="Product Image"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12" id="universal">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 mb-4">
                        <div class="productdetail">
                            <p class="pro-de-1">{{data.brand_id?.name}}</p>
                            <h6 class="pro-de-2">{{data.name}}</h6>
                            <h6 class="pro-de-3" style="color: red">৳
                                <del *ngIf="data.promotion">{{ data.price }}</del>
                                {{ finalprice }}</h6>
                            <div class="sku">
                                <ul class="d-flex">
                                    <li class="first pl-0">Code:{{data.code}}</li>
                                    <li class="secend">Reward point: {{data.warehouse_id.award_points}}</li>
                                </ul>
                            </div>
                            <ng-template #tt let-i="index" let-v="value">
                                <button class="btn btn-{{ i < v ? 'danger' : 'default' }}" [tooltip]="i + 1">
                                    {{ i < v ? "&#9733;" : "&#9734;" }}
                                </button>
                            </ng-template>
                            <div class="row stock out-of-stock">
                                <div class="col-md-3"><label>Availability</label></div>
                                <div class="col-md-9">
                            <span *ngIf="data.quantity > 0; else out_of_stock">
                              <i class="fa fa-check"></i> Stock Available
                            </span>
                                    <ng-template #out_of_stock>
                                        <span style="color:red">Out of stock</span>
                                    </ng-template>
                                </div>
                            </div>
                            <ng-container *ngFor="let v of productVariants; let i = index">
                                <ng-container *ngIf="v.variant.name == 'COLOR'">
                                    <p class="pro-de-5">{{v.variant.name}}</p>
                                    <ul class="d-flex pro-de-6">
                                        <ng-container *ngFor="let variant of v.warehouse_variants;">
                                            <li class="c1 mr-2"
                                                [ngStyle]="{'border-color': checkSelected(variant) ? 'red' : 'black'}"
                                                (click)="onVariantChange(variant)">
                                                <div class="div" [style.background-color]="variant.name"></div>
                                            </li>
                                        </ng-container>
                                    </ul>
                                </ng-container>

                                <ng-container *ngIf="v.variant.name !== 'COLOR'">
                                    <h6 class="pro-de-7">{{v.variant.name}}</h6>
                                    <ul class="pro-de-8">
                                        <ng-container *ngFor="let variant of v.warehouse_variants;">
                                            <li class="mr-2"
                                                [ngStyle]="{'border-color': checkSelected(variant) ? 'red' : 'black'}"
                                                (click)="onVariantChange(variant)"><a>{{variant.name}}</a></li>
                                        </ng-container>
                                    </ul>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                    <div class="add-carts-detail" *ngIf="data.quantity > 0">
                        <div class="add-cart d-flex">
                            <ul class="d-flex mt-1">
                                <li class="cursor-pointer"><a (click)="decreaseProduct_quantity()">-</a></li>
                                <li class="num"><a>{{product_quantity}}</a></li>
                                <li class="mr-0 cursor-pointer"><a (click)="increaseProduct_quantity()">+</a></li>
                            </ul>
                            <div class="add-wishlist" *ngIf="!(favourites$ | async | isaddedtofavourite: data?.id)">
                                <a class="wishlist mt-1"
                                   (click)="addToFavourite(data)">
                                    <i class="fa fa-heart-o"></i>Add to Wishlist</a>
                            </div>
                            <div class="add-wishlist"
                                 *ngIf="(favourites$ | async | isaddedtofavourite: data?.id) as fav">
                                <a class="wishlist mt-1" style="color: red" (click)="removeFromFavourite(fav)">
                                    <i class="fa fa-heart-o"></i>Wishlisted</a>
                            </div>
                        </div>
                        <div class="add-cartbtn" id="add-cartbtn">
                            <a class="addto1" (click)="data.quantity > 0 ? addProductToCart(data): false">
                                Add to cart
                            </a>
                            <a class="addto2"
                               (click)="data.quantity > 0 ? buyNow(data, couponProductModalTemplate): false"
                               [class.empty] = "data.quantity <= 0">
                                <span *ngIf="!data.is_coupon_product">Buy Now</span>
                                <span *ngIf="data.is_coupon_product">Buy Coupon</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-product-description [data]="data" (onRatingChange)="ratingChange($event)"></app-product-description>
<app-similar-item [products]="similarProducts"></app-similar-item>
<app-recently-viewes [dataProductList]="recentlyViewedProducts"></app-recently-viewes>

<ng-template #couponProductModalTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Terms & Conditions</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="couponProductModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="term-condition-coupon" style=" margin-bottom: 40px; margin-top: 20px; color: black; ">
            <ul>
                <li>1. "আনন্দের বাজার" নতুন গ্রাহকদের জন্য নিয়ে এলো "স্বাধীনতা ৫০", গিফট ভাউচার ডিল।</li>
                <li>2. এই অফারে ৫০/- টাকায় পাচ্ছেন iPhone 12 Pro Max, Samsung Galaxy S21 Ultra, One Plus 8 ও কিছু সিলেক্টিভ
                    ব্রান্ড এর স্মার্টফোন।
                </li>
                <li>3. এই অফারে যারা অর্ডার করবেন তাদের সবার অর্ডার নাম্বার দিয়ে ডিজিটাল পদ্ধতিতে আবেদনের প্রেক্ষিতে ৫০ বা
                    ৫০ এর
                    অধিক বিজয়ী নির্বাচন করা হবে।
                </li>
                <li>4. আপনি বিজয়ী হলে পেয়ে যাবেন মাত্র 50/- টাকায় iPhone 12 Pro Max, Samsung Galaxy S21 Ultra, One Plus 8
                    ও
                    কিছু সিলেক্টিভ ব্রান্ড এর স্মার্টফোন।। এছাড়াও অফারে অংশগ্রহকারী সবাই তাদের পেমেন্টকৃত টাকার
                    সমমূল্যের গিফট
                    ভাউচার ব্যালেন্স র সাথে Anonder bazar 20% Reward Points যুক্ত করে (50+10=60taka) গিফট ভাউচার পেয়েছেন
                    বলে
                    গণ্য হবে।
                </li>
                <li>5. অর্থাৎ বিজয়ী না হলেও আপনারা এক টাকাও লস নেই।</li>
                <li>6. একজন কাস্টমার এই কেম্পেইন অন্তভূক্ত প্রতিটি পন্যের যত খুশি ততবার অর্ডার করতে পারবেন।</li>
                <li>7. লাইভ অনুষ্ঠানের মাধ্যমে বিজয়ীদের বেছে নেয়া হবে, এবং অনুষ্ঠানের মাধ্যমে বিজয়ীদের পুরষ্কৃত করা হবে।</li>
            </ul>
            <div style="margin-bottom: 20px; margin-top: 20px;">
                <h5>শর্ত সমূহ:</h5>
                <ul>
                    <li>1. “স্বাধীনতা ৫০”এর অধীনে থাকা পন্যের অর্ডারের সময় অব্যশই পণ্যের মূল্য পরিশোধ করতে হবে। পেমেন্ট করা যাবে বিকাশ, নগদ, রকেট, ডেবিট কার্ড, ক্রেডিট কার্ড সহ যে কোন পেমেন্ট গেটওয়ে দিয়ে।</li>
                    <li>2. প্রতিযোগিতায় অংশগ্রহনকারী ৭২ ঘন্টার মধ্যে পেমেন্ট না করলে অর্ডার স্বয়ংক্রিয়ভাবে বাতিল হয়ে যাবে।</li>
                    <li>3. শুধু মাত্র নতুন পেমেন্টের ক্ষেত্রে এই অফার প্রযোজ্য। পূর্বের ওয়ালেট ব্যালেন্স/ভাউচার বা ক্যাশ অন ডেলিভারিতে অর্ডার গ্রহণ করা হবে না।</li>
                    <li>4. বিজয়ী না হতে পারলে নগদ টাকা বা বিকাশে ব্যাক নেয়ার কোন সুযোগ নেই, পেইড পেমেন্টের বিপরীতে গিফট ভাউচার ব্যালেন্স এর সাথে Anonder bazar 20% Reward Point যুক্ত করে (50+10=60taka) ক্যাশ/গিফট ভাউচার পেয়েছেন বলে গণ্য হবে।</li>
                    <li>5. অফার শেষ হওয়ার ২ দিনের মধ্যে গিফট/ক্যাশ ভাউচার ব্যালেন্স সবার "আনন্দের বাজার" একাউন্টে জমা হয়ে যাবে এবং এই ব্যালেন্সের মেয়াদ থাকবে আজীবন।</li>
                    <li>6. এই অফারে অংশগ্রহন করার পরে অর্ডার ক্যান্সেল করা যাবে না।</li>
                    <li>7. এই অফার চলবে ১০/০২/২০২১ইং তারিখ হইতে ২৫/০৩/২০২১ইং তারিখ রাত ১১.০০ টা ৫৯ মি. পর্যন্ত।</li>
                    <li>8. এই অফারের ফলাফল ঘোষনা করা হবে ২৬/০৩/২০২১ইং তারিখ সন্ধা ৭.০০ টায় “ফেসবুক লাইভ এ” ও ২৭/০৩/২০২১ ইং তারিখে বর্নাঢ্য আয়োজনের মাধ্যমে বিজয়ীদের হাতে পুরষ্কার তুলে দেয়া হবে।</li>
                    <li>9. এই অফারের সব আপডেট পেতে অবশ্যই আমাদের ফেসবুক পেজে লাইক দিবেন এবং আমাদের ফেসবুক গ্রুপে “আনন্দের বাজার Support & Review” পেইজ এ জয়েন করবেন।</li>
                    <li>10. আমাদের ফেসবুক পেজের লিংকঃ <a href="https://www.facebook.com/anonderbazar.com.bd" target="_blank">https://www.facebook.com/anonderbazar.com.bd</a></li>
                    <li>11. অনিবার্য কারনবশতঃ ক্যাম্পেইনে যেকোন পরিবর্তন, পরিবর্ধন বা পরিমার্জেনের সম্পূর্ণ অধিকার কর্তৃপক্ষ সংরক্ষণ করে।</li>
                </ul>
            </div>
        </div>
        <p class="add-cartbtn" style="text-align: center;">
            <button type="button" class="addto2" (click)="buyCouponProduct(data)">I Accept</button>
        </p>
    </div>
</ng-template>
