<nz-card>
    <ng-template #title>
        নকশার ধরনেরEdit
    </ng-template>
    <ng-template #extra>
        <button routerLink="/dashboard/designcategory" nz-button [nzType]="'primary'" [nzSize]="'large'">
            <i class="anticon anticon-file-text"></i>
            <span> List </span>
        </button>
    </ng-template>
    <ng-template #body *ngIf="data">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
            <div class="col-md-3">
                <div nz-form-item nz-row>
                    <div nz-col [nzSpan]="16" nz-form-control nzHasFeedback>
                        <image-upload [max]="1" (removed)="onRemoved($event)" [uploadedFiles]="ImageFileEdit" [beforeUpload]="onBeforeUpload">
                        </image-upload>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="2">
                        <label nz-form-item-required> Name </label>
                    </div>
                    <div nz-col [nzSpan]="16" nz-form-control nzHasFeedback>
                        <nz-input formControlName="name" [nzType]="'text'" [nzPlaceHolder]="'Enter Name'" [nzSize]="'large'">
                        </nz-input>
                        <div nz-form-explain *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('required')">
                            দয়া করে Name লিখুন !
                        </div>
                        <div nz-form-explain *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('duplicated')">
                            Name already exists!
                        </div>
                        <div nz-form-explain *ngIf="getFormControl('name').dirty&&getFormControl('name').pending">
                            Verifying ...
                        </div>
                    </div>
                </div>
                <!--Name-->

                <div nz-form-item nz-row>
                    <div nz-col [nzSpan]="2" nz-form-label>
                        <label nz-form-item-required> Code </label>
                    </div>
                    <div nz-col [nzSpan]="16" nz-form-control nzHasFeedback>
                        <nz-input formControlName="code" [nzType]="'text'" [nzPlaceHolder]="'Enter Code '" [nzSize]="'large'">
                        </nz-input>
                    </div>
                </div>
                <!--parent_id-->

                <div nz-form-item nz-row>
                    <div nz-col [nzSpan]="2" nz-form-label>
                        <label> নকশার ধরন </label>
                    </div>
                    <div nz-col [nzSpan]="16" nz-form-control nzHasFeedback>
                        <nz-select formControlName="parent_id" nzAllowClear [nzPlaceHolder]="'নকশার ধরন নির্বাচন করুন'"
                            [nzFilter]="true" [nzNotFoundContent]="'Not found'" nzShowSearch>
                            <div *ngFor="let option of categorySearchOptions">
                                <div *ngIf="data.id != option.id">
                                    <nz-option [nzLabel]="option.name" [nzValue]="option.id">
                                    </nz-option>
                                </div>
                            </div>
                        </nz-select>


                        <div nz-form-explain *ngIf="getFormControl('parent_id').dirty&&getFormControl('parent_id').hasError('required')">
                            দয়া করে নকশার ধরন নির্বাচন করুন !
                        </div>
                    </div>
                </div>
                <!--parent_id-->



                <div nz-form-item nz-row>
                    <div nz-col [nzOffset]="2" [nzSpan]="16" nz-form-control>
                        <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!validateForm.valid">
                            Save
                        </button>
                        <button nz-button [nzSize]="'large'" (click)="resetForm($event)"> Reset</button>
                    </div>
                </div>
            </div>

        </form>
    </ng-template>
</nz-card>
