<section>
    <nz-card class="card-height" nzTitle="Vendor Order list" [nzExtra]="extra">
        <ng-template #extra>
            <nz-button-group>
                <button nz-button
                        (click)='showCsvModal()' *ngIf="currentUser.group_id === 'admin'">
                    <i class="anticon anticon-download"></i><span> Download CSV </span>
                </button>
                <button nz-button
                        (click)='showPRModal()' *ngIf="currentUser.group_id === 'admin'">
                    <i class="anticon anticon-download"></i><span> Download PR</span>
                </button>
                <button nz-button (click)="resetAllFilter()">Clear filter</button>
            </nz-button-group>
        </ng-template>

        <nz-table #nzTable
                  nzShowQuickJumper
                  nzShowSizeChanger
                  [nzShowPagination]="true"
                  [nzFrontPagination]="false"
                  [nzData]="data"
                  [nzLoading]="_isSpinning"
                  [nzTotal]="total"
                  [(nzPageIndex)]="page"
                  [(nzPageSize)]="limit"
                  (nzPageIndexChange)="getSubOrderData($event)"
                  (nzPageSizeChange)="page = 1; getSubOrderData()"
                  [nzHideOnSinglePage]="true"
                  [nzScroll]="{ x:'1600px',y: '800px'  }"
                  [nzBordered]="true"

        >

            <thead (nzSortChange)="sort($event)" nzSingleSort>
            <tr>
                <th nzWidth="130px">
                    <span> Order </span>
                </th>
                <th nzWidth="130px">
                    <span> Suborder </span>
                </th>
                <th nzShowSort nzSortKey="order_date" nzWidth="265px">
                    <span> Order Date </span>
                </th>
                <th nzWidth="100px">
                    Vendor Id
                </th>
                <th nzWidth="180px">
                    <span> Vendor Name </span>
                </th>
                <th nzWidth="130px">
                    <span> Quantity </span>
                </th>
                <th nzWidth="130px">
                    <span> Total </span>
                </th>
                <th nzWidth="200px">
                    <span> Status </span>
                </th>
                <th nzWidth="180px">
                    <span> Status Changer </span>
                </th>
                <th>
                    <span> Actions </span>
                </th>
            </tr>
            <tr>
                <th style="text-align: center" nzWidth="130px">
                    <input nz-input placeholder="Order" [(ngModel)]="orderNumberSearchValue"
                           (ngModelChange)="page=1; getSubOrderData()" [ngStyle]="{'width': '100px'}">
                </th>
                <th style="text-align: center" nzWidth="130px">
                    <input nz-input placeholder="Suborder" [(ngModel)]="suborderNumberSearchValue"
                           (ngModelChange)="page=1; getSubOrderData()" [ngStyle]="{'width': '100px'}">
                </th>
                <th class="suborder-daterange" style="text-align: center" nzWidth="265px">
                    <nz-range-picker [nzPlaceHolder]="['Start', 'End']" [(ngModel)]="dateRangeModel"
                                     (ngModelChange)="onDateRangeChange($event)"
                                     nzFormat="dd/MM/yyyy" [nzDisabledDate]="disabledDate"></nz-range-picker>
                </th>
                <th nzWidth="100px">

                </th>
                <th nzWidth="180px">
                    <input nz-input placeholder="Vendor" [(ngModel)]="vendorNameValue"
                           *ngIf="currentUser.group_id=='admin'"
                           (ngModelChange)="page=1; getSubOrderData()" [ngStyle]="{'width': '160px'}">
                </th>
                <th nzWidth="130px">
                    <input nz-input placeholder="Quantity" [(ngModel)]="quantitySearchValue"
                           (ngModelChange)="page=1; getSubOrderData()" [ngStyle]="{'width': '100px'}">
                </th>
                <th nzWidth="130px">
                    <input nz-input placeholder="Total Price" [(ngModel)]="totalPriceSearchValue"
                           (ngModelChange)="page=1;getSubOrderData()" [ngStyle]="{'width': '100px'}">
                </th>
                <th nzWidth="200px">
                    <nz-select style="width: 180px;" [(ngModel)]="statusSearchValue"
                               nzAllowClear (ngModelChange)="page=1; getSubOrderData()"
                               nzPlaceHolder="Select Status"
                               [nzNotFoundContent]="'Not found'">
                        <nz-option *ngFor="let option of options" [nzLabel]="option.label"
                                   [nzValue]="option.value">
                            <ng-template #nzOptionTemplate>
                                <i class="anticon " [ngClass]="option.icon"></i>
                                {{option.label}}
                            </ng-template>
                        </nz-option>
                    </nz-select>
                </th>
                <th nzWidth="180px">
                </th>
                <th>

                </th>
            </tr>
            </thead>
            <tbody>
            <tr #dataFor *ngFor="let data of nzTable.data;let i=index">
                <td>{{data.product_order_id}}</td>
                <td>{{data.id}}</td>
                <td>{{data.created_at|date:'yyyy-MM-dd hh:mm a'}}</td>
                <td>{{data.warehouse_id}}</td>
                <td>{{data.warehouse_name}}</td>
                <td>{{data.total_quantity}}</td>
                <td>{{data.total_price}}</td>
                <td>
                    <div *ngIf="currentUser.group_id === 'admin' && isAllowedToUpdateSubOrderStatus; else loggedOut">
                        <span *ngIf="setStatus(i, data.status)"></span>
                        <nz-select style="width: 180px;" [(ngModel)]="data.status"
                                   nzPlaceHolder="choose option"
                                   (ngModelChange)="changeStatusConfirm($event,data.id,data.status)">
                            <nz-option *ngFor="let option of options" [nzLabel]="option.label"
                                       [nzValue]="option.value">
                                <ng-template #nzOptionTemplate>
                                    <i class="anticon " [ngClass]="option.icon"></i>
                                    {{option.label}}
                                </ng-template>
                            </nz-option>
                        </nz-select>
                    </div>

                    <ng-template #loggedOut>
                        {{getStatusLabel(data.status)}}
                    </ng-template>

                </td>
                <td>{{data.changedBy}}</td>
                <td>
                    <nz-button-group>
                        <button [routerLink]="['/dashboard/suborder/invoice/', data.id]" nz-button

                                [nzSize]="'default'">
                            <i class="anticon anticon-file-text"> </i>
                        </button>
                    </nz-button-group>
                    <ng-container *ngIf="'suborder-delete'|accessControl">
                        <nz-popconfirm [nzTitle]="'Are you sure you want to delete?'" [nzOkText]="'Delete'"
                                       [nzCancelText]="'Cancel'" (nzOnConfirm)="deleteConfirm(data.id)">
                            <a nz-popconfirm>
                                <button nz-button [nzSize]="'default'">
                                    <i class="anticon anticon-delete"> </i>
                                </button>
                            </a>
                        </nz-popconfirm>
                    </ng-container>
                </td>
            </tr>
            </tbody>
        </nz-table>
    </nz-card>
</section>
<nz-modal [nzFooter]="null" nzWidth="70%" [nzVisible]="isProductVisible" [nzTitle]="'Generate CSV Document'"
          [nzContent]="modalProductContent"
          (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
    <ng-template #modalProductContent>
        <form nz-form [nzLayout]="'inline'" [formGroup]="validateProductForm">
            <nz-spin [nzSpinning]="_isSpinningCsv">
                <nz-table #nzTableCsv [nzBordered]="true" [nzData]="subOrdersForCsv"
                          nzShowQuickJumper
                          [nzFrontPagination]="false"
                          [nzLoading]="_isSpinningCsv"
                          [nzTotal]="totalCsv"
                          [(nzPageIndex)]="pageCsv"
                          [(nzPageSize)]="limitCsv"
                          (nzPageIndexChange)="changePageCsv($event)"
                          [nzHideOnSinglePage]="true"
                >
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="order_check_all_csv" (change)="selectAllCsv($event)"
                                   [checked]="pageAllCheckedStatusCsv[pageCsv]">
                        </th>
                        <th>
                            <span> Order number </span>
                        </th>
                        <th>
                            <span> Order Date </span>
                        </th>
                        <th>
                            <span> Vendor Name </span>
                        </th>
                        <th>
                            <span> Quantity </span>
                        </th>
                        <th>
                            <span> Total Price</span>
                        </th>
                        <th>
                            <span> Status </span>
                        </th>
                        <th>
                            <span> Status changed by </span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let datum of nzTableCsv.data;let i=index;">
                        <td>
                            <input type="checkbox" id="{{'order_'+datum.id}}"
                                   (change)="onCsvSelectionChange(i, datum.id)"
                                   [checked]="datum.checked">
                        </td>
                        <td>{{datum.product_order_id}} / {{datum.id}}</td>
                        <td>{{datum.created_at|date:'yyyy-MM-dd hh:mm a'}}</td>
                        <td>{{datum.warehouse_name}}</td>
                        <td>{{datum.total_quantity}}</td>
                        <td>{{datum.total_price}}</td>
                        <td>{{getStatusLabel(datum.status)}}</td>
                        <td>{{datum.changedBy}}</td>
                    </tr>
                    </tbody>
                </nz-table>
            </nz-spin>
            <div>
                <div>
                    <button nz-button class="login-form-button" [nzSize]="'large'"
                            [disabled]="!validateProductForm.valid"
                            type="button" (click)="submitFormCSV($event,validateProductForm.value)">
                        Create CSV
                    </button>
                </div>
            </div>
        </form>
    </ng-template>
</nz-modal>


<nz-modal [nzFooter]="null" nzWidth="70%" [nzVisible]="isProductVisiblePR" [nzTitle]="'Generate PR Document'"
          [nzContent]="modalProductContentPR"
          (nzOnCancel)="handleCancelPR($event)" (nzOnOk)="handleOkPR($event)">
    <ng-template #modalProductContentPR>
        <form nz-form [nzLayout]="'inline'" [formGroup]="validateFormPR"
              (ngSubmit)="submitFormPR($event,validateFormPR.value)">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <label> Total Orders </label>
                        </div>
                        <div class="col-md-5">
                            <input nz-input formControlName="total_order"
                                   placeholder="Please enter total order"
                                   [nzSize]="'large'">

                            <div
                                    *ngIf="getFormControl('total_order').dirty&&getFormControl('total_order').hasError('required')">
                                Please enter total order!
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label> Seller Name </label>
                        </div>
                        <div class="col-md-5">
                            <input nz-input formControlName="seller_name"
                                   placeholder="Please enter seller name"
                                   [nzSize]="'large'">

                            <div
                                    *ngIf="getFormControl('seller_name').dirty&&getFormControl('seller_name').hasError('required')">
                                Please enter seller name!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label> Seller Phone </label>
                        </div>
                        <div class="col-md-5">
                            <input nz-input formControlName="seller_phone"
                                   placeholder="Please enter seller phone"
                                   [nzSize]="'large'">

                            <div
                                    *ngIf="getFormControl('seller_phone').dirty&&getFormControl('seller_phone').hasError('required')">
                                Please enter seller phone!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label> Seller Address </label>
                        </div>
                        <div class="col-md-5">
                            <input nz-input formControlName="seller_address"
                                   placeholder="Please enter seller address"
                                   [nzSize]="'large'">

                            <div
                                    *ngIf="getFormControl('seller_address').dirty&&getFormControl('seller_address').hasError('required')">
                                Please enter seller address!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label> KAM </label>
                        </div>
                        <div class="col-md-5">
                            <input nz-input formControlName="k_a_m" placeholder="Please enter KAM" [nzSize]="'large'">
                            <div
                                    *ngIf="getFormControl('k_a_m').dirty&&getFormControl('k_a_m').hasError('required')">
                                Please enter KAM!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="row">
                        <div class="col-md-4">
                            <label> Pickup Carrier Name </label>
                        </div>
                        <div class="col-md-5">
                            <input nz-input formControlName="pickup_carrier_name"
                                   placeholder="Please enter pickup carrier name"
                                   [nzSize]="'large'">

                            <div
                                    *ngIf="getFormControl('pickup_carrier_name').dirty&&getFormControl('pickup_carrier_name').hasError('required')">
                                Please enter pickup carrier name!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label> Payment Method </label>
                        </div>
                        <div class="col-md-5">
                            <input nz-input formControlName="payment_method"
                                   placeholder="Please enter payment method"
                                   [nzSize]="'large'">

                            <div
                                    *ngIf="getFormControl('payment_method').dirty&&getFormControl('payment_method').hasError('required')">
                                Please enter payment method!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label> Pickup Slot </label>
                        </div>
                        <div class="col-md-5">
                            <input nz-input formControlName="pickup_slot"
                                   placeholder="Please enter pickup slot"
                                   [nzSize]="'large'">

                            <div
                                    *ngIf="getFormControl('pickup_slot').dirty&&getFormControl('pickup_slot').hasError('required')">
                                Please enter pickup slot!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label> Pickup Rider Name </label>
                        </div>
                        <div class="col-md-5">
                            <input nz-input formControlName="pickup_rider_name"
                                   placeholder="Please enter pickup rider name"
                                   [nzSize]="'large'">

                            <div
                                    *ngIf="getFormControl('pickup_rider_name').dirty&&getFormControl('pickup_rider_name').hasError('required')">
                                Please enter pickup rider name!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label> Pickup Rider Contact Number </label>
                        </div>
                        <div class="col-md-5">
                            <input nz-input formControlName="pickup_rider_contact_number"
                                   placeholder="Please enter pickup rider contact number"
                                   [nzSize]="'large'">

                            <div
                                    *ngIf="getFormControl('pickup_rider_contact_number').dirty&&getFormControl('pickup_rider_contact_number').hasError('required')">
                                Please enter pickup rider contact number!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nz-spin [nzSpinning]="_isSpinningPr">
                <nz-table #nzTablePR
                          [nzBordered]="true"
                          [nzFrontPagination]="false"
                          [nzData]="dataPR"
                          [nzLoading]="_isSpinningPr"
                          [nzTotal]="totalPr"
                          [(nzPageIndex)]="pagePr"
                          [(nzPageSize)]="limitPr"
                          (nzPageIndexChange)="changePagePr($event)"
                >
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="order_check_all_pr" (change)="selectAllPr($event)"
                                   [checked]="pageAllCheckedStatusPr[pagePr]">
                        </th>
                        <th>
                            <span> Order number </span>
                        </th>
                        <th>
                            <span> Date </span>
                        </th>
                        <th>
                            <span> Vendor Name </span>
                        </th>
                        <th>
                            <span> Quantity </span>
                        </th>
                        <th>
                            <span> Total Price</span>
                        </th>
                        <th>
                            <span> Date of delivery </span>
                        </th>
                        <th>
                            <span> Status </span>
                        </th>
                        <th>
                            <span> Status changed by </span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data1 of nzTablePR.data;let i=index;">
                        <td>
                            <input type="checkbox" id="{{'order_checked_pr' + data1.id}}"
                                   (change)="onPrSelectionChange($event, data1)" [checked]="data1.checked"/>
                        </td>
                        <td>{{data1.product_order_id}} / {{data1.id}}</td>
                        <td>{{data1.created_at|date:'yyyy-MM-dd hh:mm a'}}</td>
                        <td>{{data1.warehouse_name}}</td>
                        <td>{{data1.total_quantity}}</td>
                        <td>{{data1.total_price}}</td>
                        <td>{{data1.delivery_date|date:'yyyy-MM-dd'}}</td>
                        <td>{{getStatusLabel(data1.status)}}</td>
                        <td>{{data1.changedBy}}</td>
                    </tr>
                    </tbody>
                </nz-table>
            </nz-spin>
            <div>
                <div>
                    <button nz-button class="login-form-button" [nzSize]="'large'"
                            [disabled]="!validateFormPR.valid || _isSpinningPr">
                        Create PR PDF
                    </button>
                </div>
            </div>
        </form>
    </ng-template>
</nz-modal>
