<section>
    <nz-card class="card-height" nzTitle="Vendor Order list" [nzExtra]="extra">
        <ng-template #extra>
            <nz-button-group>
                <button nz-button
                        [nzSize]="'large'" (click)='showProductModal()' *ngIf="currentUser.group_id==='admin'">
                    <i class="anticon anticon-download"></i><span> Download CSV </span>
                </button>
                <button nz-button
                        [nzSize]="'large'" (click)='showPRModal()' *ngIf="currentUser.group_id==='admin'">
                    <i class="anticon anticon-download"></i><span> Download PR</span>
                </button>
                <button nz-button (click)="resetAllFilter()">Clear filter</button>
            </nz-button-group>
        </ng-template>

        <nz-spin [nzSpinning]="_isSpinning">
            <nz-table #nzTable
                      nzShowSizeChanger
                      [nzFrontPagination]="false"
                      [nzData]="data"
                      [nzLoading]="loading"
                      [nzTotal]="total"
                      [(nzPageIndex)]="page"
                      [(nzPageSize)]="limit"
                      (nzPageIndexChange)="getPageData($event)"
                      [nzHideOnSinglePage]="true"
                      (nzPageSizeChange)="page = 1; getPageData()"
            >

                <thead>
                <tr>
                    <th>
                        <span> Order number </span>
                    </th>
                    <th>
                        <span> Order Date </span>
                    </th>
                    <th>
                        <span> Vendor Id </span>
                    </th>
                    <th>
                        <span> Vendor Name </span>
                    </th>
                    <th>
                        <span> Quantity </span>
                    </th>
                    <th>
                        <span> Total Price</span>
                    </th>
                    <th>
                        <span> Status </span>
                    </th>
                    <th>
                        <span> Status changed by </span>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th>
                        <input nz-input placeholder="Order number" [(ngModel)]="suborderNumberSearchValue"
                               (ngModelChange)="page=1; getPageData()" [ngStyle]="{'width': '100px'}">
                    </th>
                    <th class="suborder-daterange">

                        <!--   <input class="form-control" placeholder="Select Order Date" type="text"-->
                        <!--   mwlFlatpickr [(ngModel)]="dateSearchValue" (ngModelChange)="daterangeChange()"-->
                        <!--         [altInput]="true" [convertModelValue]="true" mode="range"> -->
                    </th>
                    <th>

                    </th>
                    <th>
                        <input nz-input placeholder="Vendor Name" [(ngModel)]="suborderIdValue"
                               *ngIf="currentUser.group_id=='admin'"
                               (ngModelChange)="page=1; getPageData()">

                    </th>
                    <th>
                        <input nz-input placeholder="Quantity" [(ngModel)]="quantitySearchValue"
                               (ngModelChange)="page=1;getPageData()">
                    </th>
                    <th>
                        <input nz-input placeholder="Total Price" [(ngModel)]="totalPriceSearchValue"
                               (ngModelChange)="page=1;getPageData()">
                    </th>


                    <th>

                        <nz-select style="width: 180px;" [(ngModel)]="statusSearchValue"
                                   nzAllowClear (ngModelChange)="page=1; getPageData()"
                                   nzPlaceHolder="Select Status"
                                   [nzNotFoundContent]="'Not found'">
                            <nz-option *ngFor="let option of options" [nzLabel]="option.label"
                                       [nzValue]="option.value">
                                <ng-template #nzOptionTemplate>
                                    <i class="anticon " [ngClass]="option.icon"></i>
                                    {{option.label}}
                                </ng-template>
                            </nz-option>
                        </nz-select>
                    </th>
                    <th>
                    </th>
                    <th>

                    </th>
                </tr>
                </thead>
                <tbody>
                <tr #dataFor *ngFor="let data of nzTable.data;let i=index">
                    <td>{{data.product_order_id}} / {{data.id}}</td>
                    <td>{{data.created_at|date:'yyyy-MM-dd'}}</td>
                    <td>{{data.warehouse_id}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.total_quantity}}</td>
                    <td>{{data.total_price}}</td>
                    <td>
                        <div *ngIf="currentUser.group_id === 'admin'; else loggedOut">
                            <span *ngIf="setStatus(i, data.status)"></span>
                            <nz-select style="width: 180px;" [(ngModel)]="data.status"
                                       nzPlaceHolder="choose option"
                                       (ngModelChange)="changeStatusConfirm($event,data.id,data.status)">
                                <nz-option *ngFor="let option of options" [nzLabel]="option.label"
                                           [nzValue]="option.value">
                                    <ng-template #nzOptionTemplate>
                                        <i class="anticon " [ngClass]="option.icon"></i>
                                        {{option.label}}
                                    </ng-template>
                                </nz-option>
                            </nz-select>
                        </div>

                        <ng-template #loggedOut>
                            {{getStatusLabel(data.status)}}
                        </ng-template>

                    </td>
                    <td>{{data.changedBy}}</td>
                    <td>
                        <nz-button-group>
                            <!--Invoice-->
                            <button [routerLink]="['/dashboard/suborder/invoice/', data.id]" nz-button

                                    [nzSize]="'default'">
                                <i class="anticon anticon-file-text"> </i>
                            </button>
                        </nz-button-group>
                        <!--Details-->
                        <!--Delete-->
                        <ng-container *ngIf="'suborder-delete'|accessControl">
                            <nz-popconfirm [nzTitle]="'Are you sure you want to delete?'" [nzOkText]="'Delete'"
                                           [nzCancelText]="'Cancel'" (nzOnConfirm)="deleteConfirm(data.id)">
                                <a nz-popconfirm>
                                    <button nz-button [nzSize]="'default'">
                                        <i class="anticon anticon-delete"> </i>
                                    </button>
                                </a>
                            </nz-popconfirm>
                        </ng-container>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </nz-spin>
    </nz-card>
</section>
<nz-modal [nzFooter]="null" nzWidth="70%" [nzVisible]="isProductVisible" [nzTitle]="'Generate Document'"
          [nzContent]="modalProductContent"
          (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
    <ng-template #modalProductContent>
        <form nz-form [nzLayout]="'inline'" [formGroup]="validateProductForm"
              (ngSubmit)="submitForm($event,validateProductForm.value)">
            <nz-spin [nzSpinning]="_isSpinningCsv">
                <nz-table #nzTable [nzBordered]="true" [nzData]="allOders" [nzShowPagination]="false">
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="order_check_all_csv" (change)="selectAllCsv($event)"
                                   [checked]="pageAllCheckedStatusCsv[pageCsv]">
                        </th>
                        <th>
                            <span> Order number </span>
                        </th>
                        <th>
                            <span> Order Date </span>
                        </th>
                        <th>
                            <span> Vendor Name </span>
                        </th>
                        <th>
                            <span> Quantity </span>
                        </th>
                        <th>
                            <span> Total Price</span>
                        </th>
                        <th>
                            <span> Status </span>
                        </th>
                        <th>
                            <span> Status changed by </span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of nzTable.data;let i=index;">
                        <td>
                            <input type="checkbox" id="{{'order_'+data.id}}" (change)="_refreshStatus($event, data)"
                                   [checked]="data.checked">
                        </td>
                        <td>{{data.product_order_id}} / {{data.id}}</td>
                        <td>{{data.created_at|date}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.total_quantity}}</td>
                        <td>{{data.total_price}}</td>
                        <td>{{getStatusLabel(data.status)}}</td>
                        <td>{{data.changedBy}}</td>
                    </tr>
                    </tbody>
                </nz-table>
            </nz-spin>
            <div class="row">
                <div class="col-md-offset-5" style="margin-top: 10px">
                    <span nz-table-title class="col-md-6">
                        <nz-pagination (nzPageIndexClickChange)="changePageCsv($event, limitCsv)"
                                       (nzPageSizeChange)="changePageCsv(1, $event)"
                                       nzShowTotal [nzPageIndex]="pageCsv" [nzTotal]="totalCsv" nzShowSizeChanger
                                       [nzPageSize]="limitCsv">
                        </nz-pagination>
                    </span>
                </div>
            </div>
            <div>
                <div>
                    <button nz-button class="login-form-button" [nzSize]="'large'"
                            [disabled]="!validateProductForm.valid">
                        Create CSV
                    </button>
                </div>
            </div>
        </form>
    </ng-template>
</nz-modal>


<nz-modal [nzFooter]="null" nzWidth="70%" [nzVisible]="isProductVisiblePR" [nzTitle]="'Generate Document'"
          [nzContent]="modalProductContentPR"
          (nzOnCancel)="handleCancelPR($event)" (nzOnOk)="handleOkPR($event)">
    <ng-template #modalProductContentPR>
        <form nz-form [nzLayout]="'inline'" [formGroup]="validateFormPR"
              (ngSubmit)="submitFormPR($event,validateFormPR.value)">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <label> Total Orders </label>
                        </div>
                        <div class="col-md-5">
                            <input nz-input formControlName="total_order"
                                   placeholder="Please enter total order"
                                   [nzSize]="'large'">

                            <div
                                    *ngIf="getFormControl('total_order').dirty&&getFormControl('total_order').hasError('required')">
                                Please enter total order!
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label> Seller Name </label>
                        </div>
                        <div class="col-md-5">
                            <input nz-input formControlName="seller_name"
                                   placeholder="Please enter seller name"
                                   [nzSize]="'large'">

                            <div
                                    *ngIf="getFormControl('seller_name').dirty&&getFormControl('seller_name').hasError('required')">
                                Please enter seller name!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label> Seller Phone </label>
                        </div>
                        <div class="col-md-5">
                            <input nz-input formControlName="seller_phone"
                                   placeholder="Please enter seller phone"
                                   [nzSize]="'large'">

                            <div
                                    *ngIf="getFormControl('seller_phone').dirty&&getFormControl('seller_phone').hasError('required')">
                                Please enter seller phone!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label> Seller Address </label>
                        </div>
                        <div class="col-md-5">
                            <input nz-input formControlName="seller_address"
                                   placeholder="Please enter seller address"
                                   [nzSize]="'large'">

                            <div
                                    *ngIf="getFormControl('seller_address').dirty&&getFormControl('seller_address').hasError('required')">
                                Please enter seller address!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label> KAM </label>
                        </div>
                        <div class="col-md-5">
                            <input nz-input formControlName="k_a_m" placeholder="Please enter KAM" [nzSize]="'large'">
                            <div
                                    *ngIf="getFormControl('k_a_m').dirty&&getFormControl('k_a_m').hasError('required')">
                                Please enter KAM!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="row">
                        <div class="col-md-4">
                            <label> Pickup Carrier Name </label>
                        </div>
                        <div class="col-md-5">
                            <input nz-input formControlName="pickup_carrier_name"
                                   placeholder="Please enter pickup carrier name"
                                   [nzSize]="'large'">

                            <div
                                    *ngIf="getFormControl('pickup_carrier_name').dirty&&getFormControl('pickup_carrier_name').hasError('required')">
                                Please enter pickup carrier name!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label> Payment Method </label>
                        </div>
                        <div class="col-md-5">
                            <input nz-input formControlName="payment_method"
                                   placeholder="Please enter payment method"
                                   [nzSize]="'large'">

                            <div
                                    *ngIf="getFormControl('payment_method').dirty&&getFormControl('payment_method').hasError('required')">
                                Please enter payment method!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label> Pickup Slot </label>
                        </div>
                        <div class="col-md-5">
                            <input nz-input formControlName="pickup_slot"
                                   placeholder="Please enter pickup slot"
                                   [nzSize]="'large'">

                            <div
                                    *ngIf="getFormControl('pickup_slot').dirty&&getFormControl('pickup_slot').hasError('required')">
                                Please enter pickup slot!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label> Pickup Rider Name </label>
                        </div>
                        <div class="col-md-5">
                            <input nz-input formControlName="pickup_rider_name"
                                   placeholder="Please enter pickup rider name"
                                   [nzSize]="'large'">

                            <div
                                    *ngIf="getFormControl('pickup_rider_name').dirty&&getFormControl('pickup_rider_name').hasError('required')">
                                Please enter pickup rider name!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label> Pickup Rider Contact Number </label>
                        </div>
                        <div class="col-md-5">
                            <input nz-input formControlName="pickup_rider_contact_number"
                                   placeholder="Please enter pickup rider contact number"
                                   [nzSize]="'large'">

                            <div
                                    *ngIf="getFormControl('pickup_rider_contact_number').dirty&&getFormControl('pickup_rider_contact_number').hasError('required')">
                                Please enter pickup rider contact number!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nz-spin [nzSpinning]="_isSpinningPr">
                <nz-table #nzTable
                          [nzBordered]="true"
                          nzShowSizeChanger
                          [nzFrontPagination]="false"
                          [nzData]="dataPR"
                          [nzLoading]="loading"
                          [nzTotal]="total"
                          [(nzPageIndex)]="page"
                          [(nzPageSize)]="limit"
                          (nzPageIndexChange)="getPageData()"
                >
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="order_check_all_pr" (change)="selectAllPr($event)"
                                   [checked]="pageAllCheckedStatusPr[pagePr]">
                        </th>
                        <th>
                            <span> Order number </span>
                        </th>
                        <th>
                            <span> Date </span>
                        </th>
                        <th>
                            <span> Vendor Name </span>
                        </th>
                        <th>
                            <span> Quantity </span>
                        </th>
                        <th>
                            <span> Total Price</span>
                        </th>
                        <th>
                            <span> Date of delivery </span>
                        </th>
                        <th>
                            <span> Status </span>
                        </th>
                        <th>
                            <span> Status changed by </span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data1 of nzTable.data;let i=index;">
                        <td>
                            <input type="checkbox" id="{{'order_checked_pr' + data1.id}}"
                                   (change)="_refreshStatusPR($event, data1)" [checked]="data1.checked"/>
                        </td>
                        <td>{{data1.product_order_id}} / {{data1.id}}</td>
                        <td>{{data1.created_at|date}}</td>
                        <td>{{data1.name}}</td>
                        <td>{{data1.total_quantity}}</td>
                        <td>{{data1.total_price}}</td>
                        <td>{{data1.delivery_date|date:'yyyy-MM-dd'}}</td>
                        <td>{{getStatusLabel(data1.status)}}</td>
                        <td>{{data1.changedBy}}</td>

                    </tr>
                    </tbody>
                </nz-table>
            </nz-spin>
            <div>
                <div>
                    <button nz-button class="login-form-button" [nzSize]="'large'"
                            [disabled]="!validateFormPR.valid || _isSpinningPr">
                        Create PR PDF
                    </button>
                </div>
            </div>
        </form>
    </ng-template>
</nz-modal>
