<div>
    <form action="" [formGroup]="changePasswordForm"
          (ngSubmit)="submitChangePasswordForm($event, changePasswordForm.value)">
        <div class="form-group">
            <label for="oldPassword" class="col-lg-12 control-label">
                Old Password<span class="required">*</span>
            </label>
            <div class="col-lg-12">
                <input placeholder="Input your old password" class="form-control"
                       id="oldPassword"
                       formControlName="oldPassword" type="password" required>
                <mat-error
                        *ngIf="changePasswordForm.get('oldPassword').dirty && changePasswordForm.get('oldPassword').errors">
                    <mat-error *ngIf="changePasswordForm.controls.oldPassword.errors.required"
                               style="font-size: 15px">Old password is required
                    </mat-error>
                </mat-error>
            </div>
        </div>
        <div class="form-group">
            <label for="newPassword"
                   class="col-lg-12 control-label">New Password <span
                    class="required">*</span>
            </label>
            <div class="col-lg-12">
                <input placeholder="Input your new password" class="form-control"
                       id="newPassword"
                       formControlName="newPassword" type="password" required
                       ngModel
                       (ngModelChange)="updateConfirmValidator()">
                <mat-error
                        *ngIf="changePasswordForm.get('newPassword').dirty && changePasswordForm.get('newPassword').errors">
                    <mat-error *ngIf="changePasswordForm.controls.newPassword.errors.required"
                               style="font-size: 15px">New password is required
                    </mat-error>
                    <mat-error
                            *ngIf="changePasswordForm.get('newPassword').dirty && !changePasswordForm.get('newPassword').hasError('required') && changePasswordForm.get('newPassword').hasError('password')"
                            style="font-size: 15px">Should be at least 8 characters long,containing at least 1 uppercase, 1
                        lowercase & a number
                    </mat-error>
                </mat-error>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword" class="col-lg-12 control-label">Confirm
                Password <span class="required">*</span></label>
            <div class="col-lg-12">
                <input placeholder="Input your new password again"
                       id="confirmPassword"
                       class="form-control" formControlName="confirmPassword"
                       type="password" required>
                <mat-error
                        *ngIf="changePasswordForm.get('confirmPassword').dirty && changePasswordForm.get('confirmPassword').errors">
                    <mat-error *ngIf="changePasswordForm.controls.confirmPassword.errors.required"
                               style="font-size: 15px">New password is required
                    </mat-error>
                    <mat-error
                            *ngIf="changePasswordForm.get('confirmPassword').hasError('confirm') ? 'Incorrect Password' : 'Input password again'"
                            style="font-size: 15px">Password didn't match
                    </mat-error>
                </mat-error>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-flat float-right" style="background-color: darkgray"
                    data-loading-text="Please wait">
                Update
            </button>
        </div>
    </form>
</div>
