<nz-modal [nzFooter]="null" [nzVisible]="isEditModalVisible" [nzTitle]="'Edit Header'" [nzContent]="editmodalContent" (nzOnCancel)="handleModalCancel($event)"
    (nzOnOk)="handleModalOk($event)">
    <ng-template #editmodalContent>
        <div class="spinning">
            <nz-spin [nzSpinning]="_isSpinning">
                <form nz-form [formGroup]="editValidateForm" id="editValidateForm" (ngSubmit)="submitEditForm($event,editValidateForm.value)" enctype="multipart/form-data">
                    <div    nz-row>
                        <!--title start-->
                        <div    nz-col [nzSpan]="7">
                            <label>Title</label>
                        </div>
                        <div nz-col [nzSpan]="12"      >
                               <input nz-input  formControlName="title"  [placeholder]="'insert title'" [nzSize]="'large'">

                            <div    *ngIf="getEditFormControl('title').dirty&&getEditFormControl('title').hasError('required')">
                                Please input title !
                            </div>
                            <div    *ngIf="getEditFormControl('title').dirty&&getEditFormControl('title').hasError('duplicated')">
                                Name already exists!
                            </div>
                            <div    *ngIf="getEditFormControl('title').dirty&&getEditFormControl('title').pending">
                                Validating...
                            </div>
                        </div>
                    </div>
                    <!--Title -->

                    <div    nz-row>
                        <div nz-col [nzSpan]="7"   >
                            <label>Description</label>
                        </div>
                        <div nz-col [nzSpan]="12"      >
                            <textarea  nz-input  formControlName="description"   [placeholder]="'insert description'" [nzSize]="'large'"></textarea>

                            <div    *ngIf="getEditFormControl('description').dirty&&getEditFormControl('description').hasError('required')">
                                Please input description !
                            </div>
                        </div>
                    </div>
                    <!--description-->


                    <div    nz-row>
                        <div nz-col [nzSpan]="7"   >
                            <label>Image</label>
                        </div>
                        <div nz-col [nzSpan]="12"      >
                            <image-upload [max]="1" (removed)="onRemoved($event)" (uploadStateChanged)="onUploadStateChanged($event)" [beforeUpload]="onBeforeUpload"></image-upload>
                            <div    *ngIf="!ImageFile">
                                Please upload an image here!
                            </div>
                        </div>
                    </div>
                    <!--image-->


                    <div    nz-row>
                        <div nz-col [nzOffset]="7" [nzSpan]="12"   >
                            <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!ImageFile">

                                Submit
                            </button>
                            <button nz-button [nzSize]="'large'" (click)="resetForm($event)">Reset</button>
                        </div>
                    </div>
                </form>
            </nz-spin>
        </div>
    </ng-template>
</nz-modal>



<div class="row">
    <div class="col-md-6" *ngFor="let header of cmsHeaderData; let i = index" [attr.data-index]="i">
        <nz-card [nzTitle]="title" [nzExtra]="extra">
            <ng-template #title>
                Title: {{header.title}}
            </ng-template>
            <ng-template #extra>
                <div style="text-align: right">
                    <button nz-button [nzType]="'primary'" (click)="showEditModal(i)">
                        <span>
                            <i class="anticon anticon-edit"></i>Edit
                        </span>
                    </button>
                </div>
            </ng-template>

            <ng-container>
                <div class="col-md-6"> Description: {{header.description}} </div>
                <div class="col-md-6">
                    <img class="img img-responsive " alt="{{header.image}}" src="{{ IMAGE_ENDPOINT + header.image}}" />
                </div>
            </ng-container>
        </nz-card>
    </div>
</div>
