<div class="feedback-details profeedback-details2" *ngIf="newItem" (mouseover)="isDisplay = true"
     (mouseleave)="isDisplay = false" (click)="clickToImage($event, newItem.id)">
    <div class="product-overlay-img">
        <div class="productimage-wrapper">
            <span *ngIf="newItem.promotion" class="product-discount-badge">-{{discountPercentage.toFixed(2)}}%</span>
            <img class="product-image" src="{{IMAGE_LIST_ENDPOINT + newItem.image}}" alt="product-image">
        </div>
        <div class="productlist-icon" style="position: absolute; top: 5%; right: 8%;">
            <ul class="button1">
                <li class="btn3 mb-3">
                  <span *ngIf="!(favourites$ | async | isaddedtofavourite: newItem?.id)">
                      <a class="wishlist" title="wishlist" (click)="addToFavourite($event, newItem)">
                          <img src="assets/images/heart.svg" alt="heart">
                      </a>
                  </span>
                    <span *ngIf="(favourites$ | async | isaddedtofavourite: newItem?.id)">
                      <a class="wishlist" title="Wishlisted"><img src="assets/images/heart-red.svg" alt="heart"></a>
                  </span>
                </li>
                <li class="btn3 mb-3">
                    <a class="button add_to_cart_button" title="add to cart"
                       (click)="addToCartClickHandler($event, newItem)">
                        <ng-container *ngIf="!(cart$ | async | isaddedtocart: newItem?.id); else addedInCart">
                            <img src="assets/images/cart.svg" alt="cart">
                        </ng-container>
                        <ng-template #addedInCart>
                            <img src="assets/images/cart-red.svg" alt="cart">
                        </ng-template>
                    </a>
                </li>
                <li class="btn3">
                <span *ngIf="!(compare$|async|isaddedtocompare:newItem)">
                  <a class="compare" *ngIf="(compare$|async).length<3" (click)=" addToCompare($event, newItem)"
                     title="compare"> <img src="assets/images/compare.svg" alt="compare">
                  </a>
                  <a class="compare" *ngIf="(compare$|async).length>=3" (click)=" erroralert()"
                     title="compare"> <img src="assets/images/compare.svg" alt="compare">  </a>
                </span>

                    <span *ngIf="(compare$|async|isaddedtocompare:newItem)">
                      <a class="compare" title="added in compare list" (click)="removeFromCompare($event, newItem)"> <img
                              src="assets/images/compare-red.svg" alt="compare">
                      </a>
                  </span>
                </li>
            </ul>
        </div>
        <div class="productlist-overlay-icon" *ngIf="isDisplay">
            <ul class="button">
                <li class="btn1"><a (click)="buyNow($event, newItem)">Buy Now</a></li>
                <li class="btn2"><a routerLink="/product-details/{{newItem.id}}">Details</a></li>
            </ul>
            <ul class="button-icon" style="z-index: 99991;">
                <li class="btn3 mb-3">
                  <span *ngIf="!(favourites$ | async | isaddedtofavourite: newItem?.id)">
                      <a class="wishlist" title="wishlist" (click)="addToFavourite($event, newItem)"><img
                              src="assets/images/heart.svg" alt="heart"></a>
                  </span>
                    <span *ngIf="(favourites$ | async | isaddedtofavourite: newItem?.id) as fav">
                      <a class="wishlist" title="Wishlisted" (click)="removeFromFavourite($event, fav)"><img
                              src="assets/images/heart-red.svg" alt="heart"></a>
                  </span>
                </li>
                <li class="btn3 mb-3">
                    <a class="add_to_cart_button" title="add to cart" (click)="addToCartClickHandler($event, newItem)">
                        <ng-container *ngIf="!(cart$ | async | isaddedtocart: newItem?.id); else addedInCart">
                            <img src="assets/images/cart.svg" alt="cart">
                        </ng-container>
                        <ng-template #addedInCart>
                            <img src="assets/images/cart-red.svg" alt="cart">
                        </ng-template>
                    </a>
                </li>
                <li class="btn3">
            <span *ngIf="!(compare$|async|isaddedtocompare:newItem)">
                  <a class="compare" *ngIf="(compare$|async).length<3" (click)=" addToCompare($event, newItem)"
                     title="compare"> <img src="assets/images/compare.svg" alt="compare">
                  </a>
                  <a class="compare" *ngIf="(compare$|async).length>=3" (click)=" erroralert()"
                     title="compare"> <img src="assets/images/compare.svg" alt="compare">  </a>
                </span>
                    <span *ngIf="(compare$|async|isaddedtocompare:newItem)">
                      <a class="compare" title="added in compare list" (click)="removeFromCompare($event, newItem)"> <img
                              src="assets/images/compare-red.svg" alt="compare">
                      </a>
                  </span>
                </li>
            </ul>
        </div>
    </div>
    <p><a routerLink="/product-details/{{newItem.id}}">{{newItem?.name}}</a></p>
    <small>This week</small>
    <span *ngIf="!newItem.promotion">৳. {{newItem.price}}</span>
    <span *ngIf="newItem.promotion">৳. <del>{{newItem.price}}</del>
        {{newItem.promo_price}}</span>
</div>

