<section id="reward-section" *ngIf="dataProductList">
    <div class="container-fluid">
        <div class="category-head justify-content-between d-flex">
            <div class="titel">
                <h4>Shop By Rewards Points</h4>
            </div>
            <button class=""><a routerLink= '/products'>See All<i class="fa fa-angle-right text-center"></i></a></button>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-4"  *ngFor="let product of (dataProductList|async)">
                <app-product-item-rewardpoint [dataProductRewardPoint]="product"></app-product-item-rewardpoint> 
            </div>
        </div>
    </div>
</section>