<section id="productfeedback" style="padding-top: 20px; padding-bottom: 0;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-12">
                <div class="category-head justify-content-between d-flex" style="border-bottom: 2px solid #F83831;">
                    <div class="titel ">
                        <h4 class="section-title" >Top selling product</h4>
                    </div>
                    <button style="align-self: flex-end;">
                        <a  style="text-decoration: none;" [routerLink]="['/topSell']" [queryParams]="{filter:'rating'}" >View All</a>
                    </button>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-6 mb-4" *ngFor="let product of topSellProducts">
                        <app-product-item-feedback [dataProductFeedback]="product"></app-product-item-feedback>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12">
                <div class="category-head justify-content-between d-flex" style="border-bottom: 2px solid #F83831;">
                    <div class="titel">
                        <h4 class="section-title">New Arrival Products</h4>
                    </div>
                    <button  style="align-self: flex-end;">
                        <a style="text-decoration: none;" [routerLink]="['/products']" [queryParams]="{filter:'newArrival'}">View All
                        </a>
                    </button>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-6 mb-4" *ngFor="let newItem of newProducts">
                        <app-product-item-newarrival [dataProductNewArrival]="newItem"></app-product-item-newarrival>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
