.section-title {
  background-color: #FF0000;
  padding: 10px 20px;
  color: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-bottom: 0px;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
}

.section-daily-deal {
  background-color: #00a388;
  padding: 60px 0;
}

.section-services {
   padding: 132px 0 0 0;
  background-size: cover;
  background-image: url('/assets/images/7.jpg') ;
  margin-top: 60px;
 }

.box-icon {
  text-align: center;
  position: relative;
}

.box-icon .service-box h3 {
  font-size: 14px;
  color: #222222;
}

.box-icon .service-box {
  background-color: #fff;
  padding-top: 112px;
  padding-bottom: 55px;
  color: #aaaaaa;
  font-size: 14px;
  text-align: center;
  margin-bottom: 25%;
}

.box-icon .icon {
  width: 140px;
  height: 140px;
  text-align: center;
  line-height: 140px;
  background-color: #555555;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: -52px;
  left: 50%;
  color: #fff;
  font-size: 38px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
}

.box-icon .icon .icon-font {
  display: inline-block;
}

.box-icon:hover .icon .icon-font {
  -webkit-animation: zoomIn 0.5s;
  -moz-animation: zoomIn 0.5s;
}

.box-icon:hover:hover .icon {
  background-color: #eec15b;
}

@media screen and (max-width: 425px) {
  .section-title {
    font-size: 15px;
    padding: 6px 10px;
  }
}
