<nz-spin [nzTip]="'Loading...'" [nzSpinning]="_isSpinning">
    <nz-card>
        <ng-template #title>
            নতুন {{event_type==1?' মেলা ':(event_type==2)?'প্রশিক্ষণ ':' ইভেন্ট '}} যুক্ত করুন
        </ng-template>
        <ng-template #extra>
            <button *ngIf="'event-list'|accessControl" routerLink="/dashboard/event" [queryParams]="{status: event_type}"
                nz-button [nzType]="'primary'" [nzSize]="'large'">
                <i class="anticon anticon-file-text"></i><span> List </span>
            </button>
        </ng-template>
        <ng-template #body>
            <form nz-form [formGroup]="validateForm" id="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">

                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div nz-form-item nz-row>
                                <div nz-col [nzSpan]="16" nz-form-control nzHasFeedback class="event-create-img">
                                    <image-upload #Image [max]="1" (removed)="onRemoved($event)" buttonCaption="Select picture"
                                        dropBoxMessage="Drop Picture here" clearButtonCaption="remove it?"
                                        [uploadedFiles]="ImageFile" [beforeUpload]="onBeforeUpload"></image-upload>
                                    <div nz-form-explain *ngIf="getFormControl('image').dirty && getFormControl('image').hasError('required')">
                                        দয়া করে Drop Picture here
                                    </div>
                                </div>
                            </div>
                            <!--image-->
                        </div>
                    </div>
                    <!--Image-->
                </div>
                <div class="col-md-9">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="4">
                            <label> Name </label>
                        </div>
                        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                            <nz-input formControlName="name" [nzType]="'text'" [nzPlaceHolder]="'Enter Name'"
                                [nzSize]="'large'">
                            </nz-input>
                            <div nz-form-explain *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('required')">
                                Name is required!
                            </div>
                            <div nz-form-explain *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('duplicated')">
                                Name already exists!
                            </div>
                            <div nz-form-explain *ngIf="getFormControl('name').dirty&&getFormControl('name').pending">
                                Verifying ...
                            </div>
                        </div>
                    </div>
                    <!--name -->
                    <div nz-form-item nz-row>
                        <div nz-col [nzSpan]="4" nz-form-label>
                            <label>{{event_type==1?' মেলার ':(event_type==2)?'প্রশিক্ষণের ':' ইভেন্টের '}} পরিচালনাকারীর Email </label>
                        </div>
                        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                            <nz-input formControlName="admin_email" [nzType]="'text'" [nzPlaceHolder]="'Email লিপিবদ্ধ করুন'"
                                [nzSize]="'large'">
                            </nz-input>
                            <div nz-form-explain *ngIf="getFormControl('admin_email').dirty&&getFormControl('admin_email').hasError('required')">
                                Email is required!
                            </div>

                            <div nz-form-explain *ngIf="getFormControl('admin_email').dirty&&getFormControl('admin_email').hasError('taken')">
                                "{{getFormControl('admin_email').value}}" Already used!
                            </div>
                            <div nz-form-explain *ngIf="getFormControl('admin_email').dirty&&getFormControl('admin_email').pending">
                                Verifying ...
                            </div>
                        </div>
                    </div>
                    <!--adminemail-->
                    <div nz-form-item nz-row>
                        <div nz-col [nzSpan]="4" nz-form-label>
                            <label> {{event_type==1?' মেলার ':(event_type==2)?'প্রশিক্ষণের ':' ইভেন্টের '}} পরিচালনাকারীর Phone Number </label>
                        </div>
                        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                            <nz-input formControlName="admin_phone" [nzType]="'text'" [nzPlaceHolder]="'Phone Number লিপিবদ্ধ করুন'"
                                [nzSize]="'large'">
                            </nz-input>
                            <div nz-form-explain *ngIf="getFormControl('admin_phone').dirty&&getFormControl('admin_phone').hasError('required')">
                                বৈধ Phone Number লিপিবদ্ধ করুন (Ex: +8801*********)!
                            </div>

                            <div nz-form-explain *ngIf="getFormControl('admin_phone').dirty&&getFormControl('admin_phone').hasError('taken')">
                                "{{getFormControl('admin_phone').value}}" Already used!
                            </div>
                            <div nz-form-explain *ngIf="getFormControl('admin_phone').dirty&&getFormControl('admin_phone').pending">
                                Verifying ...
                            </div>
                        </div>
                    </div>
                    <!--adminphone-->
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="4">
                            <label>{{event_type==1?' মেলার ':(event_type==2)?'প্রশিক্ষণের ':' ইভেন্টের '}} স্থান
                            </label>
                        </div>
                        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                            <textarea nz-input formControlName="event_place" [nzSize]="'large'" placeholder="{{event_type==1?' মেলার ':(event_type==2)?'প্রশিক্ষণের ':' ইভেন্টের '}} স্থান লিপিবদ্ধ করুন">
                                    </textarea>
                            <div nz-form-explain *ngIf="getFormControl('event_place').dirty&&getFormControl('event_place').hasError('required')">
                                দয়া করে স্থান লিপিবদ্ধ করুন!
                            </div>
                        </div>
                    </div>
                    <!--name -->
                    <div nz-form-item nz-row>
                        <div nz-col [nzSpan]="4" nz-form-label>
                            <label> {{event_type==1?' মেলার ':(event_type==2)?'প্রশিক্ষণের ':' ইভেন্টের '}} তারিখ
                            </label>
                        </div>
                        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                            <nz-datepicker formControlName="event_startdate" nzFormat='YYYY-MM-DD' [nzSize]="'large'"
                                [nzPlaceHolder]="event_type==1?' মেলা শুরুর তারিখ নির্বাচন করুন':(event_type==2)?'প্রশিক্ষণ শুরুর তারিখ নির্বাচন করুন':' ইভেন্ট শুরুর তারিখ নির্বাচন করুন' "></nz-datepicker>
                            থেকে <nz-datepicker formControlName="event_enddate" nzFormat='YYYY-MM-DD' [nzSize]="'large'"
                                [nzPlaceHolder]="event_type==1?' মেলা শেষ তারিখ নির্বাচন করুন':(event_type==2)?'প্রশিক্ষণ শেষ তারিখ নির্বাচন করুন':' ইভেন্ট শেষ তারিখ নির্বাচন করুন' "></nz-datepicker>
                            পর্যন্ত
                        </div>
                    </div>
                    
                    <!-- event end date -->
                    <div nz-form-item nz-row>
                        <div nz-col [nzSpan]="4" nz-form-label>
                            <label> {{event_type==1?' মেলার ':(event_type==2)?'প্রশিক্ষণের ':' তারিখ '}} সময়
                            </label>
                        </div>
                        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                            <nz-timepicker formControlName="event_starttime" [nzPlaceHolder]="event_type==1?' শুরুর সময়':(event_type==2)?'শুরুর সময়':' শুরুর সময়' "
                                [nzFormat]="'HH:mm'"></nz-timepicker>
                            থেকে <nz-timepicker formControlName="event_endtime" [nzPlaceHolder]="event_type==1?' শেষ সময়':(event_type==2)?'শেষ সময়':' শেষ সময়' "
                                [nzFormat]="'HH:mm'"></nz-timepicker> পর্যন্ত
                        </div>
                    </div>

                    <div nz-form-item nz-row>
                        <div nz-col [nzSpan]="4" nz-form-label>
                            <label> {{event_type==1?' মেলা ':(event_type==2)?'প্রশিক্ষণ ':' ইভেন্ট '}} নিবন্ধনের শেষ
                                তারিখ </label>
                        </div>
                        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                            <nz-datepicker formControlName="registration_lastdate" nzFormat='YYYY-MM-DD' [nzSize]="'large'"
                                style="width: 100%" [nzPlaceHolder]="event_type==1?' মেলা নিবন্ধনের শেষ তারিখ নির্বাচন করুন':(event_type==2)?'প্রশিক্ষণ নিবন্ধনের শেষ তারিখ নির্বাচন করুন':' ইভেন্ট নিবন্ধনের শেষ তারিখ নির্বাচন করুন' "></nz-datepicker>
                            <div nz-form-explain *ngIf="getFormControl('registration_lastdate').dirty&&getFormControl('registration_lastdate').hasError('required')">
                                দয়া করে তারিখ নির্বাচন করুন !
                            </div>
                        </div>
                    </div>
                    <!--registration end date-->
                    <div nz-form-item nz-row *ngIf="event_type===1 || event_type===2">
                        <div nz-col [nzSpan]="4" nz-form-label>
                            <label> {{event_type==1?' মেলার ':(event_type==2)?'প্রশিক্ষণের ':' ইভেন্টের '}} Price
                                List
                            </label>
                        </div>
                        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                            <nz-select formControlName="event_price_ids" (ngModelChange)="priceChange($event)"
                                nzMaxMultipleCount="3" style="width: 100%" nzMode="multiple" nzPlaceHolder="{{event_type==1?' মেলার ':(event_type==2)?'প্রশিক্ষণের ':' ইভেন্টের '}} Price List নির্বাচন করুন">
                                <nz-option *ngFor="let price of listOfPrice" [nzLabel]="price.name" [nzValue]="price.id"></nz-option>
                            </nz-select>
                            <div nz-form-explain *ngIf="getFormControl('description').dirty&&getFormControl('description').hasError('required')">
                                Please select !
                            </div>
                        </div>
                    </div>
                    <!--price-->
                    <div nz-form-item nz-row *ngIf="addedPrices && (event_type===1 || event_type===2)" >
                        <div nz-col [nzSpan]="4" nz-form-label>
                        </div>
                        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>

                            <nz-table #basicTable [nzIsPagination]="false" [nzSize]="'small'" [nzDataSource]="addedPrices">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Price</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of basicTable.data">
                                        <td>{{data.name}}</td>
                                        <td>{{data.price}}</td>
                                        <td>{{data.remarks}}</td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>
                    </div>
                    <!-- price table -->
                    <div nz-form-item nz-row>
                        <div nz-col [nzSpan]="4" nz-form-label>
                            <label> {{event_type==1?' মেলার ':(event_type==2)?'প্রশিক্ষণের ':' ইভেন্টের '}} Description
                            </label>
                        </div>
                        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                            <ckeditor formControlName="description" [config]="ckConfig" [readonly]="false" debounce="500">
                            </ckeditor>
                            <div nz-form-explain *ngIf="getFormControl('description').dirty&&getFormControl('description').hasError('required')">
                                required!
                            </div>
                        </div>
                    </div>
                    <!--description-->
                    <div nz-form-item nz-row>
                        <div nz-col [nzOffset]="2" [nzSpan]="16" nz-form-control>
                            <nz-button-group>
                                <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!validateForm.valid">
                                    Save
                                </button>
                                <button nz-button [nzSize]="'large'" (click)="resetForm($event)"> Reset</button>
                            </nz-button-group>
                        </div>
                    </div>
                </div>
            </form>
        </ng-template>
    </nz-card>
</nz-spin>
