<nz-card nzTitle="Bulk Edit" [nzExtra]="extra">
    <ng-template #extra>
        <button routerLink="/dashboard/product" nz-button [nzType]="'primary'" [nzSize]="'large'">
            <i class="anticon anticon-file-text"></i>
            <span> List </span>
        </button>
    </ng-template>
    <ng-container>
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">

            <div nz-row>
                <div nz-col [nzSpan]="7">
                    <label> Type_id </label>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-select formControlName="type_id" nzAllowClear [(ngModel)]="type_id"
                               (ngModelChange)="typeIdChange($event)"
                               nzPlaceHolder="Select Type Id"
                               [nzNotFoundContent]="'Not found'"
                               nzShowSearch>
                        <nz-option *ngFor="let option of productsType" [nzLabel]="option.name"
                                   [nzValue]="option.id">
                        </nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-row>
                <div nz-col [nzSpan]="7">
                    <label> Product category </label>
                </div>
                <div nz-col [nzSpan]="12">

                    <nz-select formControlName="category" nzAllowClear [(ngModel)]="category_id"
                               (ngModelChange)="onCategoryChange($event)"
                               nzPlaceHolder="Select Product Category"
                                [nzNotFoundContent]="'Not found'"
                               nzShowSearch>
                        <nz-option *ngFor="let option of productCategories" [nzLabel]="option.name"
                                   [nzValue]="option.id">
                        </nz-option>
                    </nz-select>
                </div>
            </div>


            <div nz-row *ngIf="parentChecked">
                <div nz-col [nzSpan]="7">
                    <label> Product Sub category </label>
                </div>
                <div nz-col [nzSpan]="12">

                    <nz-select formControlName="subcategory" nzAllowClear [(ngModel)]="subcategoryId"
                               nzPlaceHolder="Select Sub Category"
                               [nzNotFoundContent]="'Not found'"
                               nzShowSearch>
                        <nz-option *ngFor="let option of productSubCategory" [nzLabel]="option.name"
                                   [nzValue]="option.id">
                        </nz-option>
                    </nz-select>
                </div>
            </div>


            <div nz-row>
                <div nz-col [nzOffset]="7" [nzSpan]="12">
                    <button nz-button [nzType]="'primary'" [nzSize]="'large'"> Download Excel File
                    </button>&nbsp;
                </div>
            </div>
        </form>
        <div class="card-height" nz-row style="margin-top: 50px;">
            <div class="form-group" nz-col [nzSpan]="7">
                <label for="upload_bulk_import">Upload Excel File</label>
                <input #uploadFileInputField  type="file" id="upload_bulk_import" (change)="onFileChange($event)"/>
            </div>
            <div nz-col [nzSpan]="12">
                <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="saveImportedProducts()">
                    Save
                </button>
            </div>
        </div>
    </ng-container>
</nz-card>
