<nz-card nzTitle="Add New Product Type" [nzExtra]="extra">
    <ng-template #extra>
        <button *ngIf="'producttype-read'|accessControl" routerLink="/dashboard/category/type" nz-button
                [nzSize]="'large'">
            <i class="anticon anticon-file-text"></i><span> List </span>
        </button>
    </ng-template>
    <form nz-form [formGroup]="validateForm" id="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
        <div class="col-md-3">
            <div nz-row>
                <div nz-col [nzSpan]="16">
                    <image-upload [max]="1" (removed)="onRemoved($event)" buttonCaption="Select picture"
                                  dropBoxMessage="Drop Picture here"
                                  clearButtonCaption="remove it?" [beforeUpload]="onBeforeUpload"></image-upload>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div nz-row>
                <div nz-col [nzSpan]="2">
                    <label> Name </label>
                </div>
                <div nz-col [nzSpan]="16">
                    <input nz-input formControlName="name" placeholder="Enter Name" [nzSize]="'large'">
                    <div
                            *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('required')">
                        Name is required!
                    </div>
                    <div
                            *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('duplicated')">
                        Name already exists!
                    </div>
                    <div *ngIf="getFormControl('name').dirty&&getFormControl('name').pending">
                        Verifying ...
                    </div>
                </div>
            </div>


            <div nz-row>
                <div nz-col [nzSpan]="2">
                    <label> Code </label>
                </div>
                <div nz-col [nzSpan]="16">
                    <input nz-input formControlName="code" placeholder="Enter Code " [nzSize]="'large'">
                </div>
            </div>


            <div nz-row>
                <div nz-col [nzOffset]="2" [nzSpan]="16">
                    <button nz-button [nzSize]="'large'" [disabled]="!validateForm.valid">Save
                    </button>
                    <button nz-button [nzSize]="'large'" (click)="resetForm($event)"> Reset</button>
                </div>
            </div>
        </div>

    </form>
</nz-card>
