<section>
    <nz-card class="card-height">
        <ng-template #title>
            Courier List
        </ng-template>
        <ng-template #extra>
            <button (click)="showModal()" *ngIf="'courier-list'|accessControl" [nzSize]="'large'" nz-button>
                <i class="anticon anticon-download"></i>
                <span> Add New </span>
            </button>
        </ng-template>
        <ng-template #body>
            <nz-spin [nzSpinning]="_isSpinning">
                <div class="table-operations">
                </div>
                <nz-table #nzTable
                          (nzPageIndexChange)="getCourierSettingsData()"
                          [(nzPageIndex)]="page"
                          [(nzPageSize)]="limit"
                          [nzData]="data"
                          [nzFrontPagination]="false"
                          [nzLoading]="loading"
                          [nzTotal]="total"
                          nzShowSizeChanger
                >
                    <thead>
                    <tr>
                        <th>
                            <span> Order number </span>
                        </th>
                        <th>
                            <span>Courier</span>
                        </th>
                        <th>
                            <span>Weight</span>
                        </th>
                        <th>
                            <span>Price</span>
                        </th>
                        <th>
                            <span>Delivery Place</span>
                        </th>
                        <th>
                            <span>Pickup Date</span>
                        </th>
                        <th>
                            <span>Delivery Date</span>
                        </th>
                        <th>
                            <span> Status </span>
                        </th>
                        <th>
                            <span>Actions</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody nz-tbody>
                    <tr #dataFor *ngFor="let data of nzTable.data;let i=index" nz-tbody-tr>
                        <td>
                            {{data.suborder_id?.product_order_id}} / {{data.suborder_id?.id}}
                        </td>
                        <td>
                            {{data.courier_id?.name}}
                        </td>
                        <td>
                            {{data.courier_price_id?.weight}}
                        </td>
                        <td>
                            {{data.courier_price_id?.price}}
                        </td>
                        <td>
                            <nz-tag>{{data.destination}}</nz-tag>
                        </td>
                        <td>
                            <nz-tag>{{data.shipping_date | date}}</nz-tag>
                        </td>
                        <td>
                            <nz-tag>{{data.arrival_date | date}}</nz-tag>
                        </td>
                        <!--trying-->
                        <td *ngIf='data.courier_id.origin_type==1'>

                            <span *ngIf="setStatus(i, data.status)"></span>
                            <nz-select
                                    (ngModelChange)="changeStatusConfirm($event,data.id,data.status,data.suborder_id?.product_order_id)"
                                    [(ngModel)]="selectedOption[i]"
                                    nzPlaceHolder="Select Status" style="width: 180px;">
                                <nz-option *ngFor="let option of options1" [nzLabel]="option.label"
                                           [nzValue]="option.value">
                                    <ng-template #nzOptionTemplate>
                                        <i [ngClass]="option.icon" class="anticon "></i>
                                        {{option.label}}
                                    </ng-template>
                                </nz-option>
                            </nz-select>
                        </td>
                        <td *ngIf='data.courier_id.origin_type==2'>

                            <span *ngIf="setStatus(i, data.status)"></span>
                            <nz-select
                                    (ngModelChange)="changeStatusConfirm($event,data.id,data.status, data.suborder_id?.product_order_id)"
                                    [(ngModel)]="selectedOption[i]"
                                    nzPlaceHolder="Select Status" style="width: 180px;">
                                <nz-option *ngFor="let option of options2" [nzLabel]="option.label"
                                           [nzValue]="option.value">
                                    <ng-template #nzOptionTemplate>
                                        <i [ngClass]="option.icon" class="anticon "></i>
                                        {{option.label}}
                                    </ng-template>
                                </nz-option>
                            </nz-select>
                        </td>
                        <!--trying -->
                        <td>
                            <nz-button-group>
                                <button (click)="showEditModal(data.id)" *ngIf="'courier-edit'|accessControl"
                                        [nzSize]="'default'" nz-button>
                                    <i class="anticon anticon-edit"></i>
                                </button>
                            </nz-button-group>
                            <ng-container *ngIf="'courier-delete'|accessControl">
                                <nz-popconfirm
                                        (nzOnConfirm)="deleteConfirm(data.id)" [nzCancelText]="'Cancel'"
                                        [nzOkText]="'Delete'"
                                        [nzTitle]="'Are you sure you want to delete?'">
                                    <a nz-popconfirm>
                                        <button [nzSize]="'default'" nz-button>
                                            <i class="anticon anticon-delete"> </i>
                                        </button>
                                    </a>
                                </nz-popconfirm>
                            </ng-container>
                        </td>
                    </tr>
                    </tbody>
                </nz-table>
            </nz-spin>
            <div class="row">
                <div class="col-md-offset-5" style="margin-top: 10px">
<!--                    <span class="col-md-6" nz-table-title>
                        <nz-pagination (nzPageIndexClickChange)="changePage($event,limit)"
                                       (nzPageSizeChange)="changePage(1,$event)"
                                       [nzPageIndex]="page" [nzPageSize]="limit" [nzTotal]="total" nzShowSizeChanger
                                       nzShowTotal>
                        </nz-pagination>
                    </span>-->
                    <span class="pull-right col-md-6">
                        <button (click)="resetAllFilter()" nz-button>Clear filter</button>
                    </span>
                </div>
            </div>
        </ng-template>
    </nz-card>
</section>

<nz-modal (nzOnCancel)="handleCancel($event)" [nzContent]="modalContent" [nzFooter]="null" [nzTitle]="modalTitle"
          [nzVisible]="isVisible">
    <ng-template #modalTitle>
        Courier Order Add
    </ng-template>
    <ng-template #modalContent>
        <div class="row">
            <form (ngSubmit)="submitForm($event,validateForm.value)" [formGroup]="validateForm" id="validateForm"
                  nz-form>
                <div class="col-md-12">
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label>
                                Order number
                            </label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <nz-select (ngModelChange)="subOrderChange($event)" formControlName="suborder_id"
                                       nzMaxMultipleCount="3"
                                       nzPlaceHolder="Select order"
                                       style="width: 100%">
                                <nz-option *ngFor="let option of listOfSubOrder"
                                           [nzLabel]="option.product_order_id[0].id+'/'+option.id"
                                           [nzValue]="option.id"></nz-option>
                            </nz-select>
                            <div *ngIf="getFormControl('suborder_id').dirty&&getFormControl('suborder_id').hasError('required')"
                            >
                                Please select !
                            </div>
                        </div>
                    </div>
                    <!--order-->
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label>
                                Courier
                            </label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <nz-select (ngModelChange)="courierChange($event)" formControlName="courier_id"
                                       nzMaxMultipleCount="3" nzPlaceHolder="Select courier" style="width: 100%">
                                <nz-option *ngFor="let courier of listOfCourier" [nzLabel]="courier.name"
                                           [nzValue]="courier.id"></nz-option>
                            </nz-select>
                            <div *ngIf="getFormControl('courier_id').dirty&&getFormControl('courier_id').hasError('required')"
                            >
                                Please select !
                            </div>
                        </div>
                    </div>
                    <!--courier-->
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label>
                                Weight
                            </label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <nz-select (ngModelChange)="courierPriceChange($event)" formControlName="courier_price_id"
                                       nzMaxMultipleCount="3"
                                       nzPlaceHolder="Select courier price" style="width: 100%">
                                <nz-option *ngFor="let courierprice of listOfCourierPrice"
                                           [nzLabel]="courierprice.weight"
                                           [nzValue]="courierprice.id"></nz-option>
                            </nz-select>
                            <div *ngIf="getFormControl('courier_price_id').dirty&&getFormControl('courier_price_id').hasError('required')"
                            >
                                Please select !
                            </div>
                        </div>
                    </div>
                    <!--courier weight-->
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label> Price </label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <input [disabled]="true" [nzSize]="'large'" formControlName="price" nz-input
                                   placeholder="Please enter price">
                            <div *ngIf="getFormControl('price').dirty&&getFormControl('price').hasError('required')"
                            >
                                Please enter price!
                            </div>
                        </div>
                    </div>
                    <!-- destination -->
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label> Delivery Place </label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <input [nzSize]="'large'" formControlName="destination" nz-input
                                   placeholder="Please enter deliver Place">
                            <div *ngIf="getFormControl('destination').dirty&&getFormControl('destination').hasError('required')"
                            >
                                Please enter deliver Place!
                            </div>
                        </div>
                    </div>
                    <!-- destination -->
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label> Pickup Date</label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <nz-date-picker [nzSize]="'large'" formControlName="shipping_date" nzFormat='YYYY-MM-DD'
                                            [nzPlaceHolder]="'Select shiping date'"
                                            style="width: 100%"></nz-date-picker>
                            <div *ngIf="getFormControl('shipping_date').dirty&&getFormControl('shipping_date').hasError('required')"
                            >
                                Select a date !
                            </div>
                        </div>
                    </div>
                    <!-- shipping date -->
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label> Delivery Date</label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <nz-date-picker [nzSize]="'large'" formControlName="arrival_date" nzFormat='YYYY-MM-DD'
                                            [nzPlaceHolder]="'Please enter Delivery Date'"
                                            style="width: 100%"></nz-date-picker>
                            <div *ngIf="getFormControl('arrival_date').dirty&&getFormControl('arrival_date').hasError('required')"
                            >
                                Please enter Delivery Date!
                            </div>
                        </div>
                    </div>
                    <!-- arrival date -->
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <nz-button-group>
                                <button (click)="handleCancel($event)" [nzSize]="'large'" nz-button type="button">
                                    Cancel
                                </button>
                                <button [nzLoading]="isConfirmLoading" [nzSize]="'large'" nz-button>
                                    Save
                                </button>
                            </nz-button-group>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </ng-template>
</nz-modal>

<nz-modal (nzOnCancel)="handleEditCancel($event)" [nzContent]="modalContentEdit" [nzFooter]="null"
          [nzTitle]="modalTitleEdit"
          [nzVisible]="isEditVisible">
    <ng-template #modalTitleEdit>
        Courier Order Edit
    </ng-template>
    <ng-template #modalContentEdit>
        <div class="row">
            <form (ngSubmit)="submitEditForm($event,validateEditForm.value)" [formGroup]="validateEditForm"
                  id="validateEditForm"
                  nz-form>
                <div class="col-md-12">
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label>
                                Order number
                            </label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <nz-select formControlName="suborder_id" nzPlaceHolder="Select order" style="width: 100%">
                                <nz-option *ngFor="let option of listOfSubOrder"
                                           [nzLabel]="option.product_order_id[0].id+'/'+option.id"
                                           [nzValue]="option.id"></nz-option>
                            </nz-select>
                            <div *ngIf="getFormControl('suborder_id').dirty&&getFormControl('suborder_id').hasError('required')"
                            >
                                Please select !
                            </div>
                        </div>
                    </div>
                    <!--order-->
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label>
                                Courier
                            </label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <nz-select (ngModelChange)="courierChange($event)" formControlName="courier_id"
                                       nzMaxMultipleCount="3" nzPlaceHolder="Select courier" style="width: 100%">
                                <nz-option *ngFor="let courier of listOfCourier" [nzLabel]="courier.name"
                                           [nzValue]="courier.id"></nz-option>
                            </nz-select>
                            <div *ngIf="getFormControl('courier_id').dirty&&getFormControl('courier_id').hasError('required')"
                            >
                                Please select !
                            </div>
                        </div>
                    </div>
                    <!--courier-->
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label>
                                Weight
                            </label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <nz-select (ngModelChange)="courierPriceEditChange($event)"
                                       formControlName="courier_price_id"
                                       nzPlaceHolder="Please select Weight" style="width: 100%">
                                <nz-option *ngFor="let courierprice of listOfCourierPrice"
                                           [nzLabel]="courierprice.weight"
                                           [nzValue]="courierprice.id"></nz-option>
                            </nz-select>
                            <div *ngIf="getFormControl('courier_price_id').dirty&&getFormControl('courier_price_id').hasError('required')"
                            >
                                Please select !
                            </div>
                        </div>
                    </div>
                    <!--courier weight-->
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label> Price </label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <input [disabled]="true" [nzSize]="'large'" formControlName="price" nz-input
                                   placeholder="Please enter price">
                            <div *ngIf="getFormControl('price').dirty&&getFormControl('price').hasError('required')"
                            >
                                Please enter price!
                            </div>
                        </div>
                    </div>
                    <!-- destination -->
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label> Delivery Place </label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <input [nzSize]="'large'" formControlName="destination" nz-input
                                   placeholder="Please Enter delivery Place">
                            <div *ngIf="getFormControl('destination').dirty&&getFormControl('destination').hasError('required')"
                            >
                                Please Enter delivery Place!
                            </div>
                        </div>
                    </div>
                    <!-- destination -->
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label> Pickup Date</label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <nz-date-picker [nzSize]="'large'" formControlName="shipping_date" nzFormat='YYYY-MM-DD'
                                            [nzPlaceHolder]="'Please enter pickup date'"
                                            style="width: 100%"></nz-date-picker>
                            <div *ngIf="getFormControl('shipping_date').dirty&&getFormControl('shipping_date').hasError('required')"
                            >
                                Please enter pickup date !
                            </div>
                        </div>
                    </div>
                    <!-- shipping date -->
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label> Delivery Date</label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <nz-date-picker [nzSize]="'large'" formControlName="arrival_date" nzFormat='YYYY-MM-DD'
                                            [nzPlaceHolder]="'Please enter Delivery Date'"
                                            style="width: 100%"></nz-date-picker>
                            <div *ngIf="getFormControl('arrival_date').dirty&&getFormControl('arrival_date').hasError('required')"
                            >
                                Please enter Delivery Date !
                            </div>
                        </div>
                    </div>
                    <!-- arrival date -->
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <nz-button-group>
                                <button (click)="handleEditCancel($event)" [nzSize]="'large'" nz-button type="button">
                                    Cancel
                                </button>
                                <button [nzLoading]="isConfirmLoading" [nzSize]="'large'" nz-button>
                                    Save
                                </button>
                            </nz-button-group>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>
</nz-modal>
