<section id="banner-section">
    <div class="row" style="">
        <div class="col-12" style="">

            <ngx-carousel [inputs]="carouselBanner" style="">
                <ngx-item NgxCarouselItem class="bannerStyle" *ngFor="let slide of carouselBannerItems" style="">
                    <a href="{{slide.description.link}}" title="{{slide.description.linktext}}" style="">
                        <img [src]="IMAGE_ENDPOINT + slide?.image + IMAGE_EXT" alt="Anonder Bazar Banner Image"
                             style=" width: 100%;"/>
                    </a>
                </ngx-item>

                <button NgxCarouselPrev class='leftRs'>&lt;</button>
                <button NgxCarouselNext class='rightRs'>&gt;</button>
            </ngx-carousel>

        </div>
        <!--<div class="col-0 carousel-side-section">
            <div class="d-flex flex-column" style="height: 100%; justify-content: space-around;  padding-right: 15px !important;">
                <div class="d-flex flex-column side-box">
                    <i class="fa fa-usd" style="color: red;"></i>
                    <p style="" class="box-title">Become an Investor</p>
                    <p style="color: #70707a; font-size: 17px;">Short Description</p>
                    <div class="row learn-more">
                        <button class="lear-more-title">Learn more
                            <i class="fa fa-arrow-circle-o-right learn-more-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="d-flex flex-column side-box">
                    <i class="fa fa-usd" style="color: red;"></i>
                    <p style="" class="box-title">Become an Affiliate</p>
                    <p style="color: #70707a; font-size: 17px;">Short Description</p>
                    <div class="row learn-more">
                        <button class="lear-more-title">Learn more
                            <i class="fa fa-arrow-circle-o-right learn-more-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="d-flex flex-column side-box">
                    <i class="fa fa-usd" style="color: red;"></i>
                    <p style="" class="box-title">24/7 Help Center</p>
                    <p style="color: #70707a; font-size: 17px;">Round the clock assistance for a smooth
                    shopping experience.</p>
                </div>
            </div>
        </div>-->
    </div>
</section>
