.fablinkdiv{
    z-index: 5;
    /* position: fixed; */
    /* display: flex; */
    align-self: flex-end;
    bottom: 10%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.my-account-order{
    padding: 72px 50px 50px 50px;
    background-color: #f6f6f6;
}
.my-account-section {
    padding: 0px 0px 100px;
}
.order-list ul {
    padding: 20px 20px;
    background-color: #ffffff;
    margin-bottom: 10px;
}
.my-account-profile{
    padding: 60px 20px 0px 20px;
}
.shipping-add .shiptag p a {
    font-size: 12px;
    text-decoration: underline;
    color: #FF0000;
    margin-left: 170px;
}
.shipping-contact .conttag p a {
    font-size: 12px;
    text-decoration: underline;
    color: #FF0000;
    margin-left: 250px;
}
.counters1 {
    background: #ffffff;
    padding: 10px 30px;
}
.counters2 {
    background: #ffffff;
    padding: 10px 30px;
}
.counters3 {
    background: #ffffff;
    padding: 10px 30px;
}
.counters4 {
    background: #ffffff;
    padding: 10px 30px;
}
.my-account-section {
    padding: 0px 0px 0px;
}
.order-list .list-1 .button {
    background: rgba(255,185,99,0.4);
    padding: 10px 20px 5px 20px;
}
.order-list ul .text-1{
    padding-top: 10px;
}
.text-2 button{
    padding-top: 10px;
    background: transparent;
}
.btn-profile{
    background: #f6f6f6;
}
