<div class="lottery">
    <div class="container-fluid">
        <div class="col-12 mt-4 couponShow" *ngIf="couponShow">
            <h1 style="text-align: center;">
                Anonder Bazar Live Lottery
            </h1>
            <h3 *ngIf="suggestion && isAuthorized" style="text-align: center;">
                "Click" on Live Lottery button to start
            </h3>
            <div class="couponContainer mt-5" *ngIf="data.data && data.data.length > 0">
                <span class="couponDigitBox" >
                    <p [@myAnimation] class="digit" *ngIf="animateDigit1"  >{{digit1}}</p>
                </span>
                <span class="couponDigitBox" >
                    <p [@myAnimation] class="digit" *ngIf="animateDigit2"  >{{digit2}}</p>
                </span>
                <span class="couponDigitBox" >
                    <p [@myAnimation] class="digit" *ngIf="animateDigit3" >{{digit3}}</p>
                </span>
                <span class="couponDigitBox" >
                    <p [@myAnimation] class="digit" *ngIf="animateDigit4" >{{digit4}}</p>
                </span>
                <span class="couponDigitBox" >
                    <p [@myAnimation] class="digit" *ngIf="animateDigit5" >{{digit5}}</p>
                </span>
                <span class="couponDigitBox" >
                    <p [@myAnimation] class="digit" *ngIf="animateDigit6" >{{digit6}}</p>
                </span>
                <span class="couponDigitBox" >
                    <p [@myAnimation] class="digit" *ngIf="animateDigit7" >{{digit7}}</p>
                </span>
            </div>
            <div class="row mt-5 buttonSection">
                <button class="btn mr-1 btnDraw" (click)="makeDraw()" *ngIf="isAuthorized">
                    Live Lottery
                </button>
                <button class="btn ml-1 btnWinnerList" (click)="getWinners()">
                    <i class="fa fa-trophy btnWinnerIcon" style=""></i>
                    Winner List
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-12" *ngIf="winnerListShow">
                <div class="row mt-5 buttonSection">
                    <button class="btn mr-1 btnWinnerList" (click)="makeDraw()" style="  padding-left: 35px; padding-right: 35px;">
                        Live Lottery
                    </button>
                    <button class="btn ml-1  btnDraw" style="  padding-left: 20px; padding-right: 20px;" (click)="getWinners()">
                        <i class="fa fa-trophy btnWinnerIcon" style="color: white !important;"></i>
                        Winner List
                    </button>
                </div>
                <div class="winnerListTable">
                    <h2 class="mt-4 pl-5 pt-2 pb-2 winnerListTitle">Winner List</h2>
                    <table class="table table-striped text-center">
                        <tr class="winnerTableHeader">
                            <th scope="col" class="head">Winner No</th>
                            <th scope="col" class="head">Coupon Code</th>
                            <th scope="col" class="head">Name</th>
                            <th scope="col">Prize</th>
                        </tr>
                        <tr *ngFor="let winner of (data.data  | paginate: { itemsPerPage: 10, currentPage: p })" >
                            <td scope="row">{{winner.coupon_lottery_prize_id.place}}</td>
                            <td>{{winner.product_purchased_coupon_code_id}}</td>
                            <td>{{winner.user_id.first_name}} {{winner.user_id.last_name}}</td>
                            <td>{{winner.coupon_lottery_prize_id.name}}</td>
                        </tr>
                    </table>
                </div>
                <div class="text-center" *ngIf="data.data?.length > 10">
                    <pagination-controls (pageChange)="onPageChange($event)" previousLabel="Previous"
                                         maxSize="5" responsive="true"
                                         nextLabel="Next">
                    </pagination-controls>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-12 mt-5"  *ngIf="notStarted">
            <h1 style="text-align: center;">
                The lottery has not started!!
            </h1>
            <div class="row mt-5 buttonSection">
                <button class="btn mr-1 btnDraw" (click)="makeDraw()">
                    Live Lottery
                </button>
                <p style="text-align: center; color: black; font-size: 20px;" class="mt-3">{{data.message}}</p>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-12 mt-5" *ngIf="completed">
            <h1 style="text-align: center;">
                The lottery has been Completed!!
            </h1>
            <div class="row mt-5 buttonSection">
                <button class="btn ml-1 btnWinnerList" (click)="getWinners()">
                    <i class="fa fa-trophy btnWinnerIcon" style=""></i>
                    Winner List
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-12 mb-3 mt-0 mx-0 winnerShow" *ngIf="winnerShow">
        <div class="place-container mt-2">
            <img width="150" height="150" src="assets/images/place.png" alt="place">
            <p class="place">
                {{currentWinner.coupon_lottery_prize_id.place}}
            </p>
        </div>
        <p class="winnerName">{{currentWinner.user_id.first_name}} {{currentWinner.user_id.last_name}}</p>
        <p class="prizeName">{{currentWinner.coupon_lottery_prize_id.name}}</p>
        <div class="image-container">
            <img src="assets/images/prizeHolder.png" class="prizeHolder" alt="prizeHolder">
            <img src="{{currentWinner.coupon_lottery_prize_id.image}}" alt="{{currentWinner.coupon_lottery_prize_id.name}}" class="prizeImage">
        </div>
    </div>
</div>
