<div class="lottery">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-12 mb-4">
                <button class="btn btn-primary" (click)="takeDraw()">
                    Live Lottery
                </button>
            </div>
            <div class="col-md-6 col-sm-6 col-12 mb-4">
                <table>
                    <tr>
                        <th>Place</th>
                        <th>Winner</th>
                        <th>Coupon</th>
                        <th>Prize</th>
                    </tr>
                    <tr *ngFor="let data of winners" >
                        <td>{{data.id}}</td>
                        <td>{{data.winner_id.first_name}} {{data.winner_id.last_name}}</td>
                        <td>{{data.coupon_id}}</td>
                        <td>{{data.name}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
