<div class="lottery">
    <div class="container-fluid">
        <div>
            <div class="col-md-12 col-sm-12 col-12 mt-4 couponShow" *ngIf="couponShow" style="">
                <h1 style="text-align: center;">
                    Anonder Bazar Live Lottery
                </h1>
                <div class="couponContainer mt-5">
                    <span *ngFor="let digit of currentCoupon" class="couponDigits" [@couponChange]="currentCoupon">
                        {{digit}}
                    </span>
                </div>
                <div class="row mt-5">
                    <button class="btn btn-primary" (click)="makeDraw()" style="display: block; margin: auto;">
                        Live Lottery
                    </button>
                    <button class="btn btn-primary" (click)="getWinners()" style="display: block; margin: auto;">
                        Winner List
                    </button>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12" *ngIf="winnerListShow">
                <div class="row">
                    <button class="btn btn-primary mt-3" (click)="makeDraw()" style="display: block; margin: auto;">
                        Live Lottery
                    </button>
                    <button class="btn btn-primary mt-3" style="display: block; margin: auto;">
                        Winner List
                    </button>
                </div>
                <h2 style="text-align: center" class="mt-4">Winner List</h2>
                <table class="table table-striped mt-2 w-80 text-center" style="margin: auto;">
                    <tr>
                        <th scope="col">Place</th>
                        <th scope="col">Winner</th>
                        <th scope="col">Coupon</th>
                        <th scope="col">Prize</th>
                    </tr>
                    <tr *ngFor="let data of winners.winners" >
                        <td scope="row">{{data.id}}</td>
                        <td>{{data.winner_id.first_name}} {{data.winner_id.last_name}}</td>
                        <td>{{data.coupon_id}}</td>
                        <td>{{data.name}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
