.couponShow{
  width: 70%;
  margin: auto;
}

.couponContainer{
  display: flex;
  justify-content: space-around;
  font-size: 140px;
}

.couponDigitBox{
  margin: 0px;
  font-family: fantasy;
  padding: 0px 30px;
  background: rgb(187,4,4);
  background: linear-gradient(0deg, rgba(187,4,4,1) 0%, rgb(187,4,4) 54%, rgb(249,70,70) 56%, rgba(243,65,67,1) 60%, rgba(223,128,128,1) 73%, rgba(230,140,140,1) 78%, rgba(243,65,67,1) 92%, rgba(243,65,67,1) 100%);
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient( to bottom, rgb(187,4,4), hsla(0,29%,83%,0.86) );
  border-image-slice: 1;
}

.winnerShow{
  background-image: url("../../../../../assets/images/winnerBackground.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

.digit{
  color: white;
  line-height: initial;
}

.place-container{
  position: relative;
}

.place{
  position: absolute;
  top: 31%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  background: -webkit-linear-gradient(#ece1ca, #d2a80b,  #725d03, #d6b205);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: initial;
}

.place-container{
  position: relative;
}

.winnerName{
  color: black;
}

.prizeName{
  color: red;
  font-size: 30px;
}

.prizeImage{
  margin-bottom: 55px;
}
