<section id="offer-section" style="padding-top: 20px; padding-bottom: 20px;">
    <div class="container-fluid">
        <div class="titel mb-4">
            <h4>Offers</h4>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-4"
                 *ngIf="homeOfferData && homeOfferData.data_value && (( homeOfferData.data_value[0].alloffers && homeOfferData.data_value[0].alloffers.length > 0) || (homeOfferData.data_value[0].allproducts && homeOfferData.data_value[0].allproducts.length > 0))">
                <div class="offer-details"
                     *ngIf='homeOfferData.data_value[0].alloffers && homeOfferData.data_value[0].alloffers.length > 0'>
                    <div class="offer-img">
                        <div class="row">
                            <div class="col-md- col-8" id="img-1">
                                <div class="mr-1">
                                    <img class="offer-mainimg"
                                         src="{{IMAGE_LIST_ENDPOINT + homeOfferData.data_value[0].alloffers[0]?.image + IMAGE_EXT}}"
                                         alt="offered product image">
                                </div>
                            </div>
                            <div class="col-md-4 col-4 pr-0" id="">
                                <div class="row" id="img-2">
                                    <div class="col-md-12 pl-0 mb-1">
                                        <img class="offerimg2"
                                             src="{{IMAGE_LIST_ENDPOINT + homeOfferData.data_value[0].alloffers[1]?.image + IMAGE_EXT}}"
                                             alt="offered product image">
                                    </div>
                                    <div class="col-md-12 pl-0 mb-1">
                                        <img class="offerimg2"
                                             src="{{IMAGE_LIST_ENDPOINT + homeOfferData.data_value[0].alloffers[2]?.image + IMAGE_EXT}}"
                                             alt="offered product image">
                                    </div>
                                    <div class="col-md-12 pl-0 mb-1">
                                        <img class="offerimg2"
                                             src="{{IMAGE_LIST_ENDPOINT + homeOfferData.data_value[0].alloffers[3]?.image + IMAGE_EXT}}"
                                             alt="offered product image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="offer-contant">
                        <h6>{{homeOfferData.data_value[0]?.title}}</h6>
                        <p [innerHTML]='homeOfferData.data_value[0].description'></p>
                        <a routerLink="/cms/cms-details/{{homeOfferData.id}}">View All Offer<i
                                class="fa fa-angle-right text-center"></i></a>
                    </div>
                </div>

                <div class="offer-details"
                     *ngIf='homeOfferData.data_value[0].allproducts && homeOfferData.data_value[0].allproducts?.length > 0'>
                    <div class="offer-img">
                        <!--<a routerLink="/cms/cms-details/{{homeOfferData.id}}">
                            <div class="row">
                                <div class="col-md-8 col-8 pr-0">
                                    <div class="mr-1">
                                        <img class="offer-mainimg"
                                             src="{{IMAGE_LIST_ENDPOINT + homeOfferData.data_value[0].allproducts[0]?.image + IMAGE_EXT}}"
                                             alt="offered product image">
                                    </div>
                                </div>
                                <div class="col-md-4 col-4 pr-0">
                                    <div class="row">
                                        <div class="col-md-12 pl-0 mb-0">
                                            <img class="offerimg2"
                                                 src="{{IMAGE_LIST_ENDPOINT + homeOfferData.data_value[0].allproducts[1]?.image + IMAGE_EXT}}"
                                                 alt="offered product image">
                                        </div>
                                        <div class="col-md-12 pl-0 mb-1 mt-1">
                                            <img class="offerimg2"
                                                 src="{{IMAGE_LIST_ENDPOINT + homeOfferData.data_value[0].allproducts[2]?.image + IMAGE_EXT}}"
                                                 alt="offered product image">
                                        </div>
                                        <div class="col-md-12 pl-0 mb-0">
                                            <img class="offerimg2"
                                                 src="{{IMAGE_LIST_ENDPOINT + homeOfferData.data_value[0].allproducts[3]?.image + IMAGE_EXT}}"
                                                 alt="offered product image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>-->
                        <a routerLink="/cms/cms-details/{{homeOfferData.id}}">
                            <img src="{{IMAGE_LIST_ENDPOINT + homeOfferData.data_value[0].image + IMAGE_EXT}}"
                                 alt="offered product image">
                        </a>
                    </div>
                    <div class="offer-contant">
                        <h6>{{homeOfferData.data_value[0].title}}</h6>
                        <p [innerHTML]='homeOfferData.data_value[0].description'></p>
                        <a routerLink="/cms/cms-details/{{homeOfferData.id}}">View All Offer<i
                                class="fa fa-angle-right text-center"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
