<section id="offer-section" style="padding-top: 50px; padding-bottom: 20px;">
    <div class="container-fluid">
        <div class="category-head cate-flash justify-content-between d-flex"  style="border-bottom: 2px solid #FF0000;">
            <h4 class="section-title">Offers</h4>
            <button style="align-self: flex-end;">
                <a style="text-decoration: none;" [routerLink]="['/offers']">View All</a>
            </button>
        </div>
        <div class="row">
            <ng-container *ngFor="let offer of allOffers">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-4 offer-container" *ngIf="offer">
                    <div class="offer-details">
                        <div class="offer-img">
                            <a routerLink="/offers/offered-products-brands/{{offer.id}}">
                                <img src="{{IMAGE_LIST_ENDPOINT + offer.image.image + IMAGE_EXT}}"
                                     alt="offered product image">
                            </a>
                        </div>
                        <div class="offer-contant">
                            <h6>{{offer.title}}</h6>
                            <p [innerHTML]='offer.description'></p>
                            <a routerLink="/offers/offered-products-brands/{{offer.id}}">View Offer details<i
                                    class="fa fa-angle-right text-center"></i></a>
                        </div>
                    </div>

                </div>
            </ng-container>
        </div>
    </div>
</section>
