.brand-details {
  padding: 10px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .15);
  border-radius: 5px;
}

.brand-image {
  height: 300px;
  display: table-cell;
  vertical-align: middle;
}

/** timer */
#timer {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #999;
  letter-spacing: -1px;
}
#timer span {
  font-size: 60px;
  color: #333;
  margin: 0 3px 0 15px;
}
#timer span:first-child {
  margin-left: 0;
}

.digit {
  display: inline-block;
  border: 1px solid whitesmoke;
  background: linear-gradient(0deg, black, red);
  padding: 4px 5px;
  border-radius: 5px;
  font-weight: 600;
}

.digit:nth-child(2n+1) {
  margin-left: 5px;
}

.digit:nth-child(2n) {
  margin-left: -5px;
}

@media screen and (max-width: 2560px) {
  .brand-container {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1440px) {
  .brand-image {
    height: 150px;
  }
}

@media screen and (max-width: 1024px) {
  .brand-container {
    margin-bottom: 30px;
  }
  .brand-image {
    height: 110px;
  }
}

@media screen and (max-width: 425px) {
  .brand-container {
    margin-bottom: 30px;
    width: 50%;
  }
  .section-title {
    font-size: 15px;
    padding: 10px;
  }
}

@media screen and (max-width: 375px) {
  .brand-container {
    margin-bottom: 28px;
  }
}
