<div class="main-container right-sidebar" *ngIf="offeredProductsBrands && regularOfferInfo"
     style="margin-bottom: 20px">
    <div class="container-fluid">
        <nav class="woocommerce-breadcrumb breadcrumbs" style="margin: 15px">
            <a routerLink="/" routerLinkActive="active">Home /</a>
            <a routerLink="/offers" routerLinkActive="active">Offer /</a>
            <a>{{regularOfferInfo.title}}</a>
        </nav>
        <div class="row">
            <div class="col-sm-6 col-md-12 main-content">
                <div class="blog-single">
                    <div class="post-item">
                        <div class="banner-image" style="overflow: hidden; margin-bottom: 25px">
                            <div class="post-thumb" *ngIf="regularOfferInfo.image.banner_image; else image">
                                <img width="100%" src="{{  IMAGE_ENDPOINT + regularOfferInfo.image.banner_image}}"
                                     alt="{{regularOfferInfo.title}}">
                            </div>
                            <ng-template #image>
                                <div class="post-thumb" *ngIf="regularOfferInfo.image">
                                    <img width="100%" src="{{  IMAGE_ENDPOINT + regularOfferInfo.image.image}}"
                                         alt="{{regularOfferInfo.title}}">
                                </div>
                            </ng-template>
                        </div>

                        <h2>{{regularOfferInfo.title}}</h2>
                        <div style="margin-top:40px" class="blog-content"
                             [innerHTML]="regularOfferInfo.description">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12" style="margin-bottom: 10px; text-align: center"
                 *ngIf="offerRemainingTimeToEndInDigit && offerRemainingTimeToEndInDigit">
                <h5 style="color: red; font-weight: 800; margin-bottom: 10px">Remaining Time</h5>
                <h2 *ngIf="offerStartTime && offerStartTime < presentTime && offerEndTime > presentTime"
                    style="color: white; font-size: 25px" >
                    <ng-template ngFor let-time
                                 [ngForOf]="offerRemainingTimeToEndInDigit">
                        <span class="digit">{{time}}</span>
                    </ng-template>
                </h2>
                <h6 class="my-2" style=" font-size: 15px; top: 20px">
                    <span style="margin-left: 15px">Days</span><span style="margin-left: 28px">Hrs</span>
                    <span style="margin-left: 26px">Mins</span><span style="margin-left: 30px">Secs</span>
                </h6>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 brand-container"
                 *ngFor="let brand of offeredProductsBrands">
                <div class="brand-details">
                    <div class="brand-image" style="text-align: center">
                        <a routerLink="/offers/offered-products-brands/{{regularOfferInfo.id}}/{{brand.id}}">
                            <img src="{{IMAGE_ENDPOINT + brand.image}}"
                                 alt="brand logo" style="max-height: 100%;">
                        </a>
                    </div>
                    <p style="font-size: 16px; margin-top: 10px; text-align: center;">{{brand.name}}</p>
                    <h3 style="color: red; text-align: center">{{brand.number_of_products}} Product</h3>
                </div>
            </div>
        </div>
    </div>
</div>
