<nz-card nzTitle="Add Regular Offer" [nzExtra]="extra">
    <ng-template #extra>
        <button routerLink="/dashboard/offer" nz-button [nzType]="'primary'"
                [nzSize]="'large'">
            <i class="anticon anticon-file-text"></i><span> Offer List </span>
        </button>
    </ng-template>

    <div class="spinning">
        <nz-spin [nzSpinning]="_isSpinning">
            <form nz-form [formGroup]="validateForm" id="validateForm"
                  (ngSubmit)="submitForm($event,validateForm.value)">

                <div nz-row style="margin-bottom: 10px">
                    <div nz-col [nzSpan]="7">
                        <label> Title </label>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <input nz-input formControlName="title" [placeholder]="'Enter title'"
                               [nzSize]="'large'">

                        <div *ngIf="getFormControl('title').dirty&&getFormControl('title').hasError('required')"
                             style="color: red">
                            Title is required!
                        </div>
                    </div>
                </div>

                <div nz-row style="margin-bottom: 10px"><!--name start-->
                    <div nz-col [nzSpan]="7">
                        <label> Frontend Position </label>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <input nz-input type="number" formControlName="frontend_position"
                               [placeholder]="'Enter order number'"
                               [nzSize]="'large'">

                    </div>
                </div>

                <!--offer main image-->
                <div nz-row>
                    <div nz-col [nzSpan]="7">
                        <label>Offer Main Image</label>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <image-upload [max]="1" (removed)="onRemoved($event)"
                                      [uploadedFiles]='ImageFilePath'
                                      [beforeUpload]="onBeforeUpload">
                        </image-upload>
                        <div *ngIf="!ImageFile">
                            Please upload an image here!
                        </div>
                    </div>
                </div>

                <!-- Offer Image Beside Carousel: smallOfferImage -->
                <div nz-row>
                    <div nz-col [nzSpan]="7">
                        <label>Offer Image Beside Carousel</label>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <image-upload [max]="1" (removed)="onRemoveSmallOfferImage($event)"
                                      [uploadedFiles]='SmallOfferImageFilePath'
                                      [beforeUpload]="onBeforeUploadImage"></image-upload>
                        <div *ngIf="!ImageFile">
                            Please upload an image here!
                        </div>
                    </div>
                </div>
                <!--want to show in carousel-->
                <div nz-row style="margin: 15px 0 15px 0">
                    <div nz-col [nzOffset]="7" [nzSpan]="12">
                        <input formControlName="showCarousel" type="checkbox" [checked]="isShowCarousel" (change)="changeShowCarousel()">
                        Show in Carousel
                    </div>
                </div>

                <!-- carousel frontend_position-->
                <div nz-row style="margin-bottom: 10px">
                    <div nz-col [nzSpan]="7">
                        <label>Carousel Position </label>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <input nz-input type="number" formControlName="carousel_position"
                               [placeholder]="'Enter carousel order number'"
                               [nzSize]="'large'">
                    </div>
                </div>

                <!--Banner Image in offer detail page-->
                <div nz-row>
                    <div nz-col [nzSpan]="7">
                        <label>Offer Banner Image</label>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <image-upload [max]="1" (removed)="onBannerRemoved($event)"
                                      [uploadedFiles]='BannerImageFilePath'
                                      [beforeUpload]="onBeforeBannerUpload"></image-upload>
                        <div *ngIf="!ImageFile">
                            Please upload a banner image here!
                        </div>
                    </div>
                </div>

                <!--Add Products to the Offer list-->
                <div nz-row>
                    <div nz-col [nzSpan]="7">
                        <label>Selection Type</label>
                    </div>
                    <div nz-col [nzSpan]="12">

                        <nz-select formControlName="selectionType" [nzPlaceHolder]=" 'Selection Type'" nzAllowClear
                                   nzShowSearch
                                   [(ngModel)]="selectionType" style="margin: 10px 0;"
                                   (ngModelChange)="onSelectionTypeSelect($event)">
                            <nz-option
                                    *ngFor="let option of ['Vendor wise', 'Brand wise', 'Category wise', 'Product wise', 'individual_product']"
                                    [nzLabel]="option"
                                    [nzValue]="option">
                            </nz-option>
                        </nz-select>
                        <div *ngIf="getFormControl('selectionType').dirty&&getFormControl('selectionType').hasError('required')"
                             style="color: red">
                            Please select to add products to this offer
                        </div>

                        <nz-select *ngIf="offerSelectionType === 'Vendor wise'" formControlName="vendorId"
                                   nzPlaceHolder="Select Vendor"
                                   [(ngModel)]="vendorId" style="margin: 10px 0;"
                                   nzShowSearch nzAllowClear
                                   (ngModelChange)="finalSelectionType(true, false, false, false, false, $event)">
                            <nz-option *ngFor="let option of allOptions" [nzLabel]="option.name"
                                       [nzValue]="option.id">
                            </nz-option>
                        </nz-select>

                        <nz-select *ngIf="offerSelectionType === 'Brand wise'" formControlName="brandId"
                                   [nzPlaceHolder]=" 'Select Brand'"
                                   [(ngModel)]="brandId" style="margin: 10px 0;"
                                   nzShowSearch nzAllowClear
                                   (ngModelChange)="finalSelectionType(false, true, false, false, false, $event)">
                            <nz-option *ngFor="let option of allOptions" [nzLabel]="option.name"
                                       [nzValue]="option.id">
                            </nz-option>
                        </nz-select>

                        <nz-select *ngIf="offerSelectionType === 'Category wise'" formControlName="categoryId"
                                   nzAllowClear
                                   nzShowSearch
                                   [nzPlaceHolder]=" 'Select Category'"
                                   [(ngModel)]="categoryId" style="margin: 10px 0;"
                                   (ngModelChange)="finalSelectionType(false, false, true, false, false, $event);">
                            <nz-option *ngFor="let option of allOptions" [nzLabel]="option.name"
                                       [nzValue]="option.id">
                            </nz-option>
                        </nz-select>

                        <!--Select Sub-Category-->
                        <nz-select
                                *ngIf="offerSelectionType === 'Category wise' && categoryId !== null && categoryId !== undefined "
                                formControlName="subCategoryId" nzAllowClear nzShowSearch
                                [nzPlaceHolder]=" 'Select Sub-Category'"
                                [(ngModel)]="subCategoryId" style="margin: 10px 0;"
                                (ngModelChange)="getAllOptions('', '', $event)">
                            <nz-option *ngFor="let option of subcategoryIDS" [nzLabel]="option.name"
                                       [nzValue]="option.id">
                            </nz-option>
                        </nz-select>

                        <!--Select Sub-Sub-Category-->
                        <nz-select
                                *ngIf="offerSelectionType === 'Category wise' && subCategoryId !== null && subCategoryId !== undefined "
                                formControlName="subSubCategoryId" nzAllowClear nzShowSearch
                                [nzPlaceHolder]=" 'Select Sub-Sub-Category'"
                                [(ngModel)]="subSubCategoryId" style="margin: 10px 0;">
                            <nz-option *ngFor="let option of subSubCategoryIDS" [nzLabel]="option.name"
                                       [nzValue]="option.id">
                            </nz-option>
                        </nz-select>

                        <div *ngIf="offerSelectionType === 'Product wise'">
                            <a nz-button style="margin-bottom: 10px" [nzType]="'primary'"
                               (click)="showModal('product'); finalSelectionType(false, false, false, true,false,  $event)">
                                <span>Add Offer Products</span>
                            </a><br>
                            <small *ngIf="selectedProductIds && selectedProductIds.length > 0"
                                   style="margin: 5px 10px 0 0">
                                {{selectedProductIds.length}}
                                products added in the offer list
                            </small>
                        </div>

                        <!--select individual_product-->
                        <div *ngIf="offerSelectionType === 'individual_product'">
                            <nz-select formControlName="uploadType"
                                       [nzPlaceHolder]=" 'Select the product selection way'"
                                       [(ngModel)]="uploadType" nzAllowClear nzShowSearch
                                       (ngModelChange)="showCSVModal($event)">
                                <nz-option nzLabel="From Modal" nzValue="modal"></nz-option>
                                <nz-option nzLabel="From CSV" nzValue="csv"></nz-option>
                            </nz-select>

                            <ng-container *ngIf="uploadType && uploadType === 'modal'">
                                <a nz-button style="margin: 10px 10px 0 0" [nzType]="'primary'"
                                   (click)="showModal('individual'); finalSelectionType(false, false, false, false,true, $event)">
                                    <span>Add Individual Products</span>
                                </a><br>
                                <small *ngIf="selectedProductIds && selectedProductIds.length > 0"
                                       style="margin: 5px 10px 0 0">
                                    {{selectedProductIds.length}}
                                    products added in the individual product offer list
                                </small>
                            </ng-container>

                            <ng-container *ngIf="uploadType && uploadType === 'csv'">
                                <a nz-button [nzSize]="'large'" [nzType]="'primary'" (click)="isUpload = true"
                                   style="margin: 10px 10px 0 0">
                                    Show CSV Modal
                                </a>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div *ngIf="offerSelectionType !== 'individual_product'" nz-row style="margin-top: 20px">
                    <div nz-col [nzSpan]="7">
                        <label> Calculation Type </label>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <nz-select formControlName="calculationType" [nzPlaceHolder]=" 'Select Calculation Type'"
                                   [(ngModel)]="Calc_type" nzAllowClear nzShowSearch>
                            <nz-option nzLabel="percentage" nzValue="percentage"></nz-option>
                            <nz-option nzLabel="absolute amount" nzValue="absolute"></nz-option>
                        </nz-select>

                        <input nz-input formControlName="discountAmount" [placeholder]="'Insert Discount Amount'"
                               [nzSize]="'large'" style="margin: 10px 0" type="number">
                    </div>
                </div>


                <!-- Payment type selection for offer products -->
                <div>
                    <!-- Select Payment Gateway -->
                    <div nz-row style="margin: 15px 15px 0 0">
                        <div nz-col [nzOffset]="7" [nzSpan]="12">
                            <input formControlName="pay_by_sslcommerz" type="checkbox" [checked]="isActiveSslCommerz"
                                   (change)="changeSslCommerzActivation()">
                            Pay by SslCommerz
                        </div>
                    </div>
                    <div nz-row style="margin: 15px 15px 0 0">
                        <div nz-col [nzOffset]="7" [nzSpan]="12">
                            <input formControlName="pay_by_bKash" type="checkbox" [checked]="isActiveBkash"
                                   (change)="changeBkashActivation()">
                            Pay by bKash
                        </div>
                    </div>
                    <div nz-row style="margin: 15px 15px 0 0">
                        <div nz-col [nzOffset]="7" [nzSpan]="12">
                            <input formControlName="pay_by_offline" type="checkbox" [checked]="isActiveOffline"
                                   (change)="changeOfflineActivation()">
                            Pay by Offline
                        </div>
                    </div>
                    <div nz-row style="margin: 15px 15px 0 0">
                        <div nz-col [nzOffset]="7" [nzSpan]="12">
                            <input formControlName="pay_by_cashOnDelivery" type="checkbox" [checked]="isActiveCashOnDelivery"
                                   (change)="changeCashOnDeliveryActivation()">
                            Pay by Cash On Delivery
                        </div>
                    </div>
                    <div nz-row style="margin: 15px 15px 0 0">
                        <div nz-col [nzOffset]="7" [nzSpan]="12">
                            <input formControlName="pay_by_nagad" type="checkbox" [checked]="isActiveNagad"
                                   (change)="changeNagadActivation()">
                            Pay by Nagad
                        </div>
                    </div>
                    <!-- Select Payment Gateway. END -->
                </div>
                <!-- Payment type selection for offer products. END -->


                <!--Offer Duration-->
                <div nz-row style="margin: 20px 0;">
                    <div nz-col [nzSpan]="7">
                        <label>Offer Duration</label>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <nz-date-picker
                                nzShowTime
                                nzFormat="yyyy-MM-dd HH:mm:ss"
                                formControlName="offerStartDate"
                                nzPlaceHolder="Start Date">
                        </nz-date-picker>
                        <div *ngIf="getFormControl('offerStartDate').dirty&&getFormControl('offerStartDate').hasError('required')"
                             style="color: red">
                            Please set offer start date & time
                        </div>
                        <nz-date-picker
                                nzShowTime
                                nzFormat="yyyy-MM-dd HH:mm:ss"
                                formControlName="offerEndDate"
                                nzPlaceHolder="End Date">
                        </nz-date-picker>
                        <div *ngIf="getFormControl('offerEndDate').dirty&&getFormControl('offerEndDate').hasError('required')"
                             style="color: red">
                            Please set offer start date & time
                        </div>
                    </div>
                </div>


                <div nz-row>
                    <div nz-col [nzOffset]="7" [nzSpan]="12">
                        <input formControlName="showHome" type="checkbox" [checked]="isShowHomepage"
                               (change)="changeShowHomepage()">
                        Show in Homepage
                    </div>
                </div>

                <div nz-row>
                    <div nz-col [nzOffset]="7" [nzSpan]="12" style="margin-top: 20px">
                        <button nz-button [nzType]="'primary'" [nzSize]="'large'"
                                [disabled]="!validateForm.valid || submitting">Save
                        </button>
                        <button nz-button [nzSize]="'large'" (click)="resetForm($event)" style="margin-left: 10px">
                            Reset
                        </button>
                    </div>
                </div>
            </form>
        </nz-spin>
    </div>
</nz-card>

<!--product modal-->
<nz-modal [nzFooter]="null" [(nzVisible)]="isVisible" nzTitle="Add Products to the offer" (nzOnCancel)="handleCancel()"
          nzWidth="90%">
    <nz-spin [nzSpinning]="_isSpinning">

        <!--selected products table-->
        <nz-table #nzTableSelected
                  nzShowSizeChanger
                  nzShowQuickJumper
                  [nzFrontPagination]="false"
                  [nzData]="selectedData"
                  [nzLoading]="_isSpinning"
                  [nzTotal]="allProductTotal"
                  [(nzPageIndex)]="allProductPage"
                  [(nzPageSize)]="allProductLimit"
        >
            <thead>
            <tr>
                <!--<th>
                    <label nz-checkbox [(ngModel)]="allProductSelectAll[allProductPage - 1]"
                           (ngModelChange)="selectAllProducts($event)"></label>
                </th>-->
                <th>
                    <span> Product Code </span>
                </th>
                <th>
                    <span> Product Name </span>
                </th>
                <th>
                    <span> Price </span>
                </th>
            </tr>
            <!--<tr>
                <th>
                </th>
                <th>
                    <input nz-input placeholder="Code" [(ngModel)]="allProductCodeSearch"
                           (ngModelChange)="allProductCodeChangeHandler($event)">
                </th>
                <th>
                    <input nz-input placeholder="Name" [(ngModel)]="allProductNameSearch"
                           (ngModelChange)="allProductNameChangeHandler($event)">
                </th>
                <th>
                    <nz-select nzPlaceHolder="Vendor"
                               [(ngModel)]="allVendorSearch" style="width: 130px;"
                               nzShowSearch nzAllowClear
                               (ngModelChange)="allProductShopOwnerChangeHandler($event)">
                        <nz-option *ngFor="let option of allModalVendors" [nzLabel]="option.name"
                                   [nzValue]="option.name">
                        </nz-option>
                    </nz-select>
                </th>
                <th>
                    <nz-select nzPlaceHolder="Brand"
                               [(ngModel)]="allBrandSearch" style="width: 130px;"
                               nzShowSearch nzAllowClear
                               (ngModelChange)="allProductBrandChangeHandler($event)">
                        <nz-option *ngFor="let option of allModalBrands" [nzLabel]="option.name"
                                   [nzValue]="option.name">
                        </nz-option>
                    </nz-select>
                </th>
                <th>
                    <nz-select nzPlaceHolder="Category"
                               [(ngModel)]="allCategorySearch" style="width: 130px;"
                               nzShowSearch nzAllowClear
                               (ngModelChange)="allProductCategoryChangeHandler($event)">
                        <nz-option *ngFor="let option of allModalCategories" [nzLabel]="option.name"
                                   [nzValue]="option.name">
                        </nz-option>
                    </nz-select>
                </th>
                <th>
                    <nz-select nzPlaceHolder="Sub Category"
                               [(ngModel)]="allSubCategorySearch" style="width: 130px;"
                               nzShowSearch nzAllowClear
                               (ngModelChange)="allProductSubCategoryChangeHandler($event)">
                        <nz-option *ngFor="let option of allModalSubCategories" [nzLabel]="option.name"
                                   [nzValue]="option.name">
                        </nz-option>
                    </nz-select>
                </th>
                <th>

                </th>
                &lt;!&ndash;<th>
                </th>&ndash;&gt;
            </tr>-->
            </thead>
            <tbody>
            <tr *ngFor="let datum of nzTableSelected.data;let i=index;">
                <!--<td>
                    <label nz-checkbox [(ngModel)]="datum.checked"
                           (ngModelChange)="_refreshStatus($event, datum.id)">
                    </label>
                </td>-->
                <td>{{datum.code}}</td>
                <td>{{datum.name}}</td>
                <td>{{datum.price}}</td>
            </tr>
            </tbody>
        </nz-table>

        <!--products to select table-->
        <nz-table #nzTableProd1
                  nzShowSizeChanger
                  nzShowQuickJumper
                  [nzFrontPagination]="false"
                  [nzData]="allProducts"
                  [nzLoading]="_isSpinning"
                  [nzTotal]="allProductTotal"
                  [(nzPageIndex)]="allProductPage"
                  [(nzPageSize)]="allProductLimit"
                  (nzPageIndexChange)="getAllProducts($event)"
        >
            <thead>
            <tr>
                <th>
                    <label nz-checkbox [(ngModel)]="allProductSelectAll[allProductPage - 1]"
                           (ngModelChange)="selectAllProducts($event)"></label>
                </th>
                <th>
                    <span> Product Code </span>
                </th>
                <th>
                    <span> Product Name </span>
                </th>
                <th>
                    <span> Shop Owner </span>
                </th>
                <th>
                    <span> Brand </span>
                </th>
                <th>
                    <span> Category </span>
                </th>
                <th>
                    <span> Sub-Category </span>
                </th>
                <!--<th>
                    <span> Sub-Sub-Category </span>
                </th>-->
                <th>
                    <span> Price </span>
                </th>
            </tr>
            <tr>
                <th>
                </th>
                <th>
                    <input nz-input placeholder="Code" [(ngModel)]="allProductCodeSearch"
                           (ngModelChange)="allProductCodeChangeHandler($event)">
                </th>
                <th>
                    <input nz-input placeholder="Name" [(ngModel)]="allProductNameSearch"
                           (ngModelChange)="allProductNameChangeHandler($event)">
                </th>
                <th>
                    <nz-select nzPlaceHolder="Vendor"
                               [(ngModel)]="allVendorSearch" style="width: 130px;"
                               nzShowSearch nzAllowClear
                               (ngModelChange)="allProductShopOwnerChangeHandler($event)">
                        <nz-option *ngFor="let option of allModalVendors" [nzLabel]="option.name"
                                   [nzValue]="option.name">
                        </nz-option>
                    </nz-select>
                </th>
                <th>
                    <nz-select nzPlaceHolder="Brand"
                               [(ngModel)]="allBrandSearch" style="width: 130px;"
                               nzShowSearch nzAllowClear
                               (ngModelChange)="allProductBrandChangeHandler($event)">
                        <nz-option *ngFor="let option of allModalBrands" [nzLabel]="option.name"
                                   [nzValue]="option.name">
                        </nz-option>
                    </nz-select>
                </th>
                <th>
                    <nz-select nzPlaceHolder="Category"
                               [(ngModel)]="allCategorySearch" style="width: 130px;"
                               nzShowSearch nzAllowClear
                               (ngModelChange)="allProductCategoryChangeHandler($event)">
                        <nz-option *ngFor="let option of allModalCategories" [nzLabel]="option.name"
                                   [nzValue]="option.name">
                        </nz-option>
                    </nz-select>
                </th>
                <th>
                    <nz-select nzPlaceHolder="Sub Category"
                               [(ngModel)]="allSubCategorySearch" style="width: 130px;"
                               nzShowSearch nzAllowClear
                               (ngModelChange)="allProductSubCategoryChangeHandler($event)">
                        <nz-option *ngFor="let option of allModalSubCategories" [nzLabel]="option.name"
                                   [nzValue]="option.name">
                        </nz-option>
                    </nz-select>
                </th>
                <th>

                </th>
                <!--<th>
                </th>-->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let datum of nzTableProd1.data;let i=index;">
                <td>
                    <label nz-checkbox [(ngModel)]="datum.checked"
                           (ngModelChange)="_refreshStatus($event, datum.id)">
                    </label>
                </td>
                <td>{{datum.code}}</td>
                <td>{{datum.name}}</td>
                <td>{{datum.warehouse_name}}</td>
                <td>{{datum.brand_name}}</td>
                <td>{{datum.type_name}}</td>
                <td>{{datum.category_name}}</td>
                <td>{{datum.price}}</td>
            </tr>
            </tbody>
        </nz-table>
        <div>
            <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'"
                    (click)="submitModalForm()">
                <span>Add Product(s)</span>
            </button>
            <button nz-button class="login-form-button" [nzType]="'primary'"
                    (click)="handleCancel()" style="float: right; display: inline-block">
                <span>Cancel</span>
            </button>
        </div>
    </nz-spin>
</nz-modal>

<!--individual product modal-->
<nz-modal [nzFooter]="null" [(nzVisible)]="isIndividualVisible" nzTitle="Add Individual Products to the offer"
          (nzOnCancel)="handleCancel()"
          nzWidth="90%">
    <nz-spin [nzSpinning]="_isSpinning">
        <!--Individually added products table-->
        <nz-table #nzTableIndividuallySelected
                  [nzData]="individuallySelectedData"
                  [nzLoading]="_isSpinning"
        >
            <thead>
            <tr>
                <th>
                    <span> Product Code </span>
                </th>
                <th>
                    <span> Product Name </span>
                </th>
                <th>
                    <span> Calculation Type </span>
                </th>
                <th>
                    <span> Discount Amount </span>
                </th>
                <th>
                    <span> Remove Product </span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let datum of nzTableIndividuallySelected.data;let i=index;">
                <td>{{datum.code}}</td>
                <td>{{datum.name}}</td>
                <td>{{datum.calculation_type}}</td>
                <td>{{datum.discount_amount}}</td>
                <td>
                    <button nz-button [nzType]="'danger'" [nzSize]="'default'"
                            (click)="removeIndividualProduct(datum.id)">
                        <i class="anticon anticon-delete "></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </nz-table>

        <!--product to add individually-->
        <nz-table #nzTableIndividualProduct
                  nzShowSizeChanger
                  nzShowQuickJumper
                  [nzFrontPagination]="false"
                  [nzData]="allProducts"
                  [nzLoading]="_isSpinning"
                  [nzTotal]="allProductTotal"
                  [(nzPageIndex)]="allProductPage"
                  [(nzPageSize)]="allProductLimit"
                  (nzPageIndexChange)="getAllProducts($event)"
        >
            <thead>
            <tr>
                <th>
                    <span> Product Code </span>
                </th>
                <th>
                    <span> Product Name </span>
                </th>
                <th>
                    <span> Shop Owner </span>
                </th>
                <th>
                    <span> Original Price </span>
                </th>
                <th>
                    <span> Offer Info </span>
                </th>
            </tr>
            <tr>
                <th style="text-align: center;" colspan="5">
                    <span style="color: red">N. B. Search and Add product
                    Individually, not multiple product at a time </span>
                </th>
            </tr>
            <tr>
                <th>
                    <input nz-input placeholder="Code" [(ngModel)]="allProductCodeSearch"
                           (ngModelChange)="allProductCodeChangeHandler($event)">
                </th>
                <th>
                    <input nz-input placeholder="Name" [(ngModel)]="allProductNameSearch"
                           (ngModelChange)="allProductNameChangeHandler($event)">
                </th>
                <th>
                    <nz-select nzPlaceHolder="Vendor"
                               [(ngModel)]="allVendorSearch" style="width: 130px;"
                               nzShowSearch nzAllowClear
                               (ngModelChange)="allProductShopOwnerChangeHandler($event)">
                        <nz-option *ngFor="let option of allModalVendors" [nzLabel]="option.name"
                                   [nzValue]="option.name">
                        </nz-option>
                    </nz-select>
                </th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let datum of nzTableIndividualProduct.data;let i=index;">
                <td>{{datum.code}}</td>
                <td>{{datum.name}}</td>
                <td>{{datum.warehouse_name}}</td>
                <td>{{datum.price}}</td>
                <td>
                    <form nz-form [formGroup]="individualProductFrom"
                          (ngSubmit)="addIndividualProduct($event,individualProductFrom.value, datum.id, datum.code, datum.name)">

                        <nz-select [nzPlaceHolder]=" 'Calculation Type'" formControlName="Calculation_type"
                                   [(ngModel)]="Calculation_type" nzAllowClear nzShowSearch
                                   style="margin-bottom: 4px">
                            <nz-option nzLabel="percentage" nzValue="percentage"></nz-option>
                            <nz-option nzLabel="absolute amount" nzValue="absolute"></nz-option>
                        </nz-select>

                        <input nz-input [placeholder]="'Discount Amount'" [nzSize]="'large'" type="number"
                               formControlName="discount_amount" style="margin-bottom: 4px">

                        <button nz-button title="Add to Offer"
                                [nzType]="'primary'" [nzSize]="'default'"
                                [disabled]="!individualProductFrom.valid || submitting"
                                style="margin: 0 3px 3px 4px">Add
                            <i class="anticon anticon-plus"></i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </nz-table>
        <div>
            <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'"
                    (click)="doneAddingIndividualProduct()">
                <span>Done</span>
            </button>
            <button nz-button class="login-form-button" [nzType]="'primary'"
                    (click)="handleCancel()" style="float: right; display: inline-block">
                <span>Cancel</span>
            </button>
        </div>
    </nz-spin>
</nz-modal>


<!--CSV upload modal-->
<nz-modal [nzFooter]="null" [(nzVisible)]="isUpload" nzTitle="Add Products to the offer"
          (nzOnCancel)="handleCancelUpload()"
          nzWidth="70%">
    <nz-spin [nzSpinning]="_isSpinning">
        <div>
            <section>
                <div class="row" style="display: flex; justify-content: center;">
                    <nz-card class="card-height" style="width: 70%;margin-bottom: 20px" [nzTitle]="title">
                        <ng-template #title>
                            Upload Individual Offered Products
                        </ng-template>
                        <ng-container #body>
                            <div class="form-group">
                                <button [disabled]="isLoading" type="button" id="download_bulk_excel"
                                        (click)="generateExcel()">
                                    <span>Download Sample Excel</span>
                                </button>
                            </div>
                            <div class="form-group">
                                <label for="upload_bulk_import">Upload Excel File</label>
                                <input type="file" id="upload_bulk_import"
                                       (change)="onCSVUpload($event)"/>
                            </div>
                            <p *ngIf="total > 0" style="color: forestgreen">{{total}} products has been added</p>
                        </ng-container>
                    </nz-card>

                </div>
            </section>
            <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'"
                    (click)="doneUploadingCSV()" [disabled]="!continue">
                <span>Add Product(s)</span>
            </button>
            <button nz-button class="login-form-button" [nzType]="'primary'"
                    (click)="handleCancelUpload()" style="float: right; display: inline-block">
                <span>Cancel</span>
            </button>
        </div>

        <div style="margin-top: 20px" *ngIf="wrongCodes && wrongCodes.length > 0">
            <h4 style="margin-bottom: 20px; color: red">Invalid product codes found, Please fix and upload them again</h4>
            <ng-container *ngFor="let code of wrongCodes; let i=index">
                <b style="margin-left: 30px">{{i+1}} : {{code}}</b><br>
            </ng-container>
        </div>

    </nz-spin>
</nz-modal>
