.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  overflow-x: hidden;
}

.aside { 
  top: 0;
  bottom: 0; 
  width: 200px;
  background-color: #fff;
  transition: width 0.2s cubic-bezier(0.25, 0, 0.15, 1),
    translate 0.2s cubic-bezier(0.25, 0, 0.15, 1);
  z-index: 14;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
}

.main-content { 
  top:0px !important; 
}

:host ::ng-deep .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color 0.3s;
  color: #ffffff;
}

:host ::ng-deep .trigger:hover {
  color: #ffffff;
}
