<nz-card>
  <ng-template #title>
    কারিগরেরEdit
  </ng-template>
  <ng-template #extra>
    <button routerLink="/dashboard/craftsman" nz-button [nzType]="'primary'" [nzSize]="'large'">
      <i class="anticon anticon-file-text"></i><span> List </span>
    </button>

  </ng-template>
  <ng-template #body>
    <form nz-form [formGroup]="validateForm" id="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-16">
            <div    nz-row>
              <div nz-col [nzSpan]="16">
                <image-upload [max]="1" buttonCaption="Select picture"
                dropBoxMessage="Drop Picture here"
                clearButtonCaption="Clear" (removed)="onRemoved($event)" [uploadedFiles]="ImageFileEdit" [beforeUpload]="onBeforeUpload"></image-upload>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div    nz-row>
          <!--name start-->
          <div    nz-col [nzSpan]="2">
            <label> UserName </label>
          </div>
          <div nz-col [nzSpan]="16"      >
              <input nz-input  formControlName="username"  [nzDisabled]="'true'" [nzSize]="'large'">

            <div    *ngIf="getFormControl('username').dirty&&getFormControl('username').hasError('required')">
              Name is required!
            </div>
            <div    *ngIf="getFormControl('username').dirty&&getFormControl('username').hasError('duplicated')">
              The username is redundant!
            </div>
            <div    *ngIf="getFormControl('username').dirty&&getFormControl('username').pending">
              Verifying ...
            </div>
          </div>
        </div>
        <!--username -->

        <div    nz-row>
          <div nz-col [nzSpan]="2"   >
            <label> Email </label>
          </div>
          <div nz-col [nzSpan]="16"      >
              <input nz-input  formControlName="email"  [nzDisabled]="'true'" [nzSize]="'large'">

            <div    *ngIf="getFormControl('email').dirty&&getFormControl('email').hasError('email')">
              দয়া করে Name Email করুন!
            </div>
          </div>
        </div>
        <!--email-->

        <div    nz-row>
          <div nz-col [nzSpan]="2"   >
            <label>First name</label>
          </div>
          <div nz-col [nzSpan]="16"      >
               <input nz-input  formControlName="first_name"  [placeholder]="'নামের প্রথম অংশ লিখুন'" [nzSize]="'large'">

            <div    *ngIf="getFormControl('first_name').dirty&&getFormControl('first_name').hasError('required')">
              দয়া করেFirst nameলিখুন !
            </div>
          </div>
        </div>
        <!--first_name-->

        <div    nz-row>
          <div nz-col [nzSpan]="2"   >
            <label>Last name</label>
          </div>
          <div nz-col [nzSpan]="16"      >
               <input nz-input  formControlName="last_name"  [placeholder]="'নামের দ্বিতীয় অংশ লিখুন'"
              [nzSize]="'large'">

            <div    *ngIf="getFormControl('last_name').dirty&&getFormControl('last_name').hasError('required')">
              দয়া করেLast nameলিখুন !
            </div>
          </div>
        </div>
        <!--last_name-->
        <div    nz-row>
          <div nz-col [nzSpan]="2"   >
            <label> Phone Number </label>
          </div>
          <div nz-col [nzSpan]="16"      >
               <input nz-input  formControlName="phone"  [placeholder]="'Phone Number লিখুন'" [nzSize]="'large'">

            <div    *ngIf="getFormControl('phone').dirty&&getFormControl('phone').hasError('required')">
              দয়া করে Phone Number লিখুন !
            </div>
          </div>
        </div>
        <!--phone-->

        <div    nz-row>
          <div nz-col [nzSpan]="2"   >
            <label> Gender </label>
          </div>
          <div nz-col [nzSpan]="16"      >
            <nz-select formControlName="gender" nzAllowClear [nzPlaceHolder]="'Select gender'" [nzFilter]="true"
              [nzNotFoundContent]="'Not found'" nzShowSearch>
              <nz-option *ngFor="let option of genderSearchOptions" [nzLabel]="option.label" [nzValue]="option.value">
              </nz-option>
            </nz-select>
            <div    *ngIf="getFormControl('gender').dirty&&getFormControl('gender').hasError('required')">
              দয়া করে Select gender !
            </div>
          </div>
        </div>
        <!--gender-->

        <div    nz-row>
          <div nz-col [nzSpan]="2"   >
            <label> division </label>
          </div>
          <div nz-col [nzSpan]="16"      >
            <nz-select formControlName="division_id" nzAllowClear [nzPlaceHolder]="'select division'" [nzFilter]="true"
              (ngModelChange)="divisionChange($event)" (nzSearchChange)="divisionSearchChange($event)"
              [nzNotFoundContent]="'Not found'" nzShowSearch>
              <nz-option *ngFor="let option of divisionSearchOptions" [nzLabel]="option.name" [nzValue]="option.id">
              </nz-option>
            </nz-select>

            <div    *ngIf="getFormControl('division_id').dirty&&getFormControl('division_id').hasError('required')">
              দয়া করে select division!
            </div>
          </div>
        </div>
        <!--division_id-->

        <div    nz-row [style.display]="validateForm.controls.division_id.value ? 'block' : 'none'">
          <div nz-col [nzSpan]="2"   >
            <label> District </label>
          </div>
          <div nz-col [nzSpan]="16"      >
            <nz-select formControlName="zila_id" nzAllowClear [nzPlaceHolder]="'select division!'" [nzFilter]="true"
              (ngModelChange)="zilaChange($event)" (nzSearchChange)="zilaSearchChange($event)" [nzNotFoundContent]="'Not found'"
              nzShowSearch>
              <nz-option *ngFor="let option of zilaSearchOptions" [nzLabel]="option.name" [nzValue]="option.id">
              </nz-option>
            </nz-select>
            <div    *ngIf="getFormControl('zila_id').dirty&&getFormControl('zila_id').hasError('required')">
              দয়া করে select division!
            </div>
          </div>
        </div>
        <!--district_id-->

        <div    nz-row [style.display]="validateForm.controls.zila_id.value ? 'block' : 'none'">
          <div nz-col [nzSpan]="2"   >
            <label> Upazila </label>
          </div>
          <div nz-col [nzSpan]="16"      >
            <nz-select formControlName="upazila_id" nzAllowClear [nzPlaceHolder]="'select division!'" [nzFilter]="true"
              (nzSearch)="upazilaSearchChange($event)" (nzSearchChange)="upazilaSearchChange($event)"
              [nzNotFoundContent]="'Not found'" nzShowSearch>
              <nz-option *ngFor="let option of upazilaSearchOptions" [nzLabel]="option.name" [nzValue]="option.id">
              </nz-option>
            </nz-select>

            <div    *ngIf="getFormControl('upazila_id').dirty&&getFormControl('upazila_id').hasError('required')">
              দয়া করে select division!
            </div>
          </div>
        </div>
        <!--upazila_id-->
        <div    nz-row>
          <div nz-col [nzOffset]="2" [nzSpan]="16"   >
            <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!validateForm.valid">Save
            </button>
            <button nz-button [nzSize]="'large'" (click)="resetForm($event)"> Reset </button>
          </div>
        </div>
      </div>





    </form>
  </ng-template>
</nz-card>
