<div style="margin:0px;padding:0px;color:rgb(32,32,32);font-size:14px;font-weight:normal;font-family:Helvetica,Arial,sans-serif!important">


  <table align="center" border="0" cellpadding="0" cellspacing="0" lang="wrapper" style="width:100%;background:#ffffff" width="100%">
      <tbody>
      <tr>
          <td align="center" style="width:100%" valign="top" width="100%">




              <div style="display:none">
              Your account is registered!
          </div>



              <table align="center" border="0" cellpadding="0" cellspacing="0" class="" lang="container" style="max-width:700px" width="100%">
                  <tbody>
                  <tr>
                      <td valign="top" width="100%">
                          <table style="width:100%;min-width:100%" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                              <tbody><tr>
                                  <td align="center" valign="bottom">
                                      <table style="width:100%;min-width:100%;background-color:#ffffff" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                          <tbody><tr>
                                              <td align="center" valign="bottom">
                                                  <table style="width:100%;min-width:10%" width="100%" cellspacing="0" cellpadding="0" border="0" align="left" valign="bottom">
                                                      <tbody><tr>
                                                          <td style="padding:20px" align="center" valign="bottom">
                                                              <a href="<%= commonUrl %>" alt="" title="" target="_blank">
                                                                  <img src="<%= commonUrl %>/assets/images/logo.png" style="text-align:center;display:block;width:150px;display:block" width="150" height="auto" class="CToWUd">
                                                              </a>
                                                          </td>
                                                      </tr>
                                                  </tbody></table>
                                                  <table style="width:100%">
                                                      <tbody><tr>
                                                          <td>
                                                              <hr style="border-top:0;border-color:#ccc;width:70%;margin:0px auto 3px auto">
                                                          </td>
                                                      </tr>
                                                  </tbody></table>
                                              </td>
                                          </tr>
                                      </tbody></table>
                                  </td>
                              </tr>
                          </tbody></table>
                      </td>
                  </tr>

                  <tr>
                      <td valign="top" width="100%">
                          <table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
                              <tbody>
                              <tr>
                                  <td class="" style="width:20px" width="20">
                                      <div lang="space40">
                                      </div>
                                  </td>
                                  <td valign="top">
                                      <div class="" style="font-size:30px;line-height:30px;height:32px">
                                      </div>

                                      <p style="margin:0;padding:0;font-size:25px;color:#202020;font-family:Helvetica,Arial,sans-serif;line-height:normal;font-weight:normal;text-align:center;font-size:1.5em;font-weight:600">
                                          Your Account is Registered!
                                      </p>

                                      <div class="" style="font-size:30px;line-height:30px;height:10px">
                                      </div>
                                  </td>
                                  <td class="" style="width:20px" width="20">
                                      <div lang="space40">
                                      </div>
                                  </td>
                              </tr>
                              </tbody>
                          </table>
                      </td>
                  </tr>

                  <tr>
                      <td bgcolor="#fff" style="background:#fff" valign="top" width="100%">
                          <table border="0" cellpadding="0" cellspacing="0" lang="main_content" style="width:100%" width="100%">
                              <tbody>
                              <tr>
                                  <td valign="top" width="100%">
                                      <table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
                                          <tbody>
                                          <tr>
                                              <td class="" style="width:20px" width="20">
                                                  <div lang="space40">
                                                  </div>
                                              </td>
                                              <td valign="top">
                                                  <p style="margin:0;padding:0;font-size:14px;color:#202020;font-family:Helvetica,Arial,sans-serif;line-height:21px!important;text-align:center">
                                                      One small step for you, but one giant leap ahead for your shoppping
                                                      experience.</p>
                                                  <p style="margin:0;padding:0;font-size:14px;color:#202020;font-family:Helvetica,Arial,sans-serif;line-height:21px!important;text-align:center">
                                                      Please click <a href="<%= commonUrl %>">here</a> to login.</p>

                                                  <div class="" style="font-size:10px;line-height:10px;height:37px">
                                                  </div>

                                                  <div class="" style="font-size:20px;line-height:20px;height:17px">
                                                  </div>

                                                  <h2 style="height:25px;line-height:normal;text-align:center">Need Help?</h2>
                                                  <p style="margin-bottom:20px;line-height:21px!important;text-align:center">Happy to assist you. Our representatives are available from
                                                      <br> 9:30am to 9:30pm, 7 days a week.</p>

                                                  <div style="text-align:center"><a href="<%= commonUrl %>/contact_us" style="display:inline-block;background:#ED1C24;color:#ffffff;font-size:14px;text-transform:uppercase;text-align:center;padding:10px 45px;font-family:Helvetica,Arial,sans-serif!important;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://bit.ly/2Uh2sCt&amp;source=gmail&amp;ust=1606292384087000&amp;usg=AFQjCNFXE9zaKSZ4hF0oPJeSCa1RPNL6_A">CONTACT
                                                          US</a>
                                                  </div>
                                              </td>
                                              <td class="" style="width:20px" width="20">
                                                  <div lang="space40">
                                                  </div>
                                              </td>
                                          </tr>
                                          </tbody>
                                      </table>
                                  </td>
                              </tr>
                              </tbody>
                          </table>
                      </td>
                  </tr>

                  <tr>
                      <td>
                          <table>
                              <tbody>
                              <tr>
                                  <td valign="top" width="100%">
                                      <div class="m_6848041405418792955spacer" style="font-size:50px;line-height:50px;height:36px">
                                      </div>
                                  </td>
                              </tr>
                              </tbody>
                          </table>
                      </td>
                  </tr>
                  </tbody>
              </table>
          </td>
      </tr>
      </tbody>
  </table>
  <img alt="" src="https://ci4.googleusercontent.com/proxy/bKawV7mE2en_8mAUkT2mofctfFpwSeL11z8LYWuK1GIK8529EzXWmDFjcNoHRuJXwYRALpRADr1w-aHZyZbdXQM5oEAQxMOUZKOvdTn8Rkwf88HAquwpsIt47qE1bGhWmn6_nNLB24NETizgBQmqWDJ0EGNobUIOs7ETRYShbDs5HtBiyWFKnIzYvaocMdn3QWvJO3lJwAwPqIXr6bRwlC8sO55GHKW9EOz1IVzVhcpYl87TNX-B0INUTaFOiEYRAwzDfhnmpxoR__MOumXN3w=s0-d-e1-ft#https://sg.mmstat.com/lzdmailer.letter.open?subscriber_id=e6d9fc87214f6fa5098785c208edfc6b&amp;mail_id=ddf5901c-8a14-4e1b-9ef3-29382485ea5c&amp;email_type=BOB_ACC_RegConf&amp;_rnd=742180&amp;venture_id=bd" class="CToWUd"><div class="yj6qo"></div><div class="adL">
  </div></div>
