<div class="menu-sticky" id="anonder-bazar-sticky-menu">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg px-0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="responsive-menu">
                    <li class="has-child c-1">
                        <span class="mr-1 burger_menu"><i class="fa fa-bars"></i></span>
                        <ul class="dropdown-menu_burger_menu">
                            <li *ngFor="let category of categoryList" (click)="categoryClickEvent(category)">
                                {{category.name}}
                            </li>
                        </ul>
                    </li>
                    <li class="has-child c-1">
                        <a routerLink="/">HOME</a>
                    </li>
                    <li *ngFor="let category of categoryList" class="has-child c-2"
                        (mouseover)="isDisplay = true" (mouseleave)="isDisplay = false"
                        (mouseenter)="categoryHover(category)" [ngClass]="category.id==selectedCategoryId? 'active':''">
                        <a (click)="categoryClickEvent(category)" [ngClass]="category.id==selectedCategoryId? 'mainMenu':'mainMenu'">{{category.name}}</a>
                        <div class="dropdown-menu w-100" *ngIf='subCategoryList && subCategoryList.length>0 && isDisplay '>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-3 submenu" *ngFor='let sub of subCategoryList'>
                                            <ul class="mb-3" *ngIf='sub'>
                                                <li class="text-th"
                                                    (click)="navigateBySubCategory($event,category,sub)">
                                                    <a>{{sub.name}}</a>
                                                </li>
                                                <ng-container *ngFor='let subC of sub.subCategory'>
                                                    <li class="text-ot" (click)="navigateBySubSubCategory($event,category,sub,subC)">
                                                        <a>{{subC.name}}</a>
                                                    </li>
                                                </ng-container>
                                            </ul>
                                        </div>
                                        <div class="col-md-3 submenu">
                                            <ul class="mb-3 text-th">
                                                <li class="text-th">SHOP BY BRAND</li>
                                                <li class="text-ot" *ngFor='let brand of brandList'>
                                                    <a (click)="navigateByBrand($event, category, brand)">{{brand.name}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="category.offer_id">
                                    <div class="row">
<!--                                        <a href="#" (click)="isDisplay=false" routerLink="/cms-details/{{category.offer_id.id}}">-->
                                        <a href="#" (click)="navigateToCms($event,  category.offer_id.id)" >
                                        <div class="col-md-12 mb-3">
                                            <div class="dropdown-img text-center">
                                                <img src="{{IMAGE_ENDPOINT + category.offer_id.data_value[0].image}}" alt="">
                                                <p>{{category.offer_id.data_value[0].title}}</p>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
</div>
    <!-- mobile menu start -->
<div class="mobile-menu">
    <nav>
        <div class="con">
            <div class="mobile-nav"></div>
            <input id="responsive-menu" type="checkbox">
            <label for="responsive-menu">
                <a routerLink="/" href="">
                    <img class="img-1" src="assets/images/logo-white.png" alt="">
                    <img class="img-2" src="assets/images/logo.png" alt="">
                </a>
                <span id="menu-icon"></span></label>
            <div class="widget-cart">
                <a routerLink="/profile/favourites">
                    <img src="assets/images/heart-black.svg" alt="heart">
                    <span class='badge badge-warning countLabel'> {{(favourites$|async)?.length}} </span>
                </a>

                <a routerLink="/compare" title="compare">
                    <img src="assets/images/compare-black.svg" alt="compare">
                    <span class='badge badge-warning countLabel'> {{(compare$|async)?.length}} </span>
                </a>

                <!-- Button trigger modal -->
                <button type="button" (click)="showShoppingCartModal()" class="btn" data-toggle="modal">
                    <a class="cart" >
                        <img src="assets/images/cart-black.svg" alt="cart">
                        <span class='badge badge-warning countLabel' *ngIf="(cart$|async)?.data.total_quantity"> {{(cart$|async)?.data.total_quantity}} </span>
                        <span class='badge badge-warning countLabel' *ngIf="!(cart$|async)?.data.total_quantity"> 0 </span>
                    </a>
                </button>
            </div>
            <ul>
                <li>
                    <a href="#">
                        HOME
                    </a>
                </li>
                <li *ngFor="let category of categoryList"
                    (mouseenter)="categoryHover(category)"
                    (click)="categoryClickEvent(category)">
                    <a href="#" [routerLink]="['/products/category/',category.id]">{{category.name}}</a>

                </li>
            </ul>
        </div>
    </nav>
</div>


