<div class="menu-sticky">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg px-0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="responsive-menu">
                    <li class="has-child c-1">
                        <span class="mr-1 burger_menu"><i class="fa fa-bars"></i></span>
                        <ul class="dropdown-menu_burger_menu">
                            <li *ngFor="let category of categoryList" (click)="categoryClickEvent(category)"
                                style="text-transform: capitalize;">
                                {{category.name}}
                            </li>
                        </ul>
                    </li>
                    <li *ngFor="let category of categoryList" class="has-child c-2"
                        (mouseover)="isDisplay = true"
                        (mouseenter)="categoryHover(category)"
                        [ngClass]="category.id == selectedCategoryId? 'active':''">
                        <a (click)="categoryClickEvent(category)" style="text-transform: capitalize;"
                           [ngClass]="category.id == selectedCategoryId? 'mainMenu':'mainMenu'">{{category.name}}</a>
                    </li>
                    <div class="dropdown-menu" style="height: 400px; width: 100%;" (mouseleave)="isDisplay = false"
                         *ngIf='subCategoryList && subCategoryList.length > 0 && isDisplay'>
                        <div class-="row" style="height: 400px;">
                            <div class="col-md-8 d-inline-flex flex-column flex-wrap" style="min-width: 100%; height: 400px;" >
                                <div class="submenu" *ngFor='let sub of subCategoryList' style="width: fit-content;">
                                    <ul class="mb-3" *ngIf='sub'>
                                        <li class="text-th">
                                            <a style="text-transform: capitalize;"
                                               (click)="navigateBySubCategory($event,desktopCurrentCategory,sub)">{{sub.name}}</a>
                                        </li>
                                        <ng-container *ngFor='let subC of sub.subCategory'>
                                            <li class="text-ot"
                                                (click)="navigateBySubSubCategory($event,desktopCurrentCategory,sub,subC)">
                                                <a style="text-transform: capitalize;">{{subC.name}}</a>
                                            </li>
                                        </ng-container>
                                    </ul>
                                </div>
                                <div class="submenu">
                                    <ul class="mb-3">
                                        <li class="text-th" style="text-transform: capitalize;">Shop By Brand</li>
                                        <li class="text-ot" *ngFor='let brand of brandList'>
                                            <a *ngIf="brand" style="text-transform: capitalize;"
                                               (click)="navigateByBrand($event, desktopCurrentCategory, brand)">{{brand.name}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="desktopCurrentCategory && desktopCurrentCategory.offer_id" style="display: none;">
                                <div class="row">
                                    <a href="#" (click)="navigateToCms($event,  desktopCurrentCategory.offer_id.id)">
                                        <div class="col-md-12 mb-3">
                                            <div class="dropdown-img text-center">
                                                <img src="{{IMAGE_ENDPOINT + desktopCurrentCategory.offer_id.data_value[0].image + IMAGE_EXT}}"
                                                     alt="Offer">
                                                <p>{{desktopCurrentCategory.offer_id.data_value[0].title}}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- mobile menu start -->
<div class="mobile-menu">
    <nav style="border-top: 0;">
        <!--<div class="con">
            <div class="mobile-nav"></div>
            <input id="responsive-menu" type="checkbox">
            <label for="responsive-menu">
                <a routerLink="/" href="">
                    <img class="img-1" src="assets/images/logo-white.png" alt="Logo">
                    <img class="img-2" src="assets/images/logo.png" alt="Logo">
                </a>
                <span id="menu-icon" (click)="showHideMobileMenu()"></span>
            </label>
            <div class="widget-cart">
                <a routerLink="/profile/favourites">
                    <img src="assets/images/heart-black.svg" alt="heart">
                    <span class='badge badge-warning countLabel'> {{(favourites$|async)?.length}} </span>
                </a>

                <a routerLink="/compare" title="compare">
                    <img src="assets/images/compare-black.svg" alt="compare">
                    <span class='badge badge-warning countLabel'> {{(compare$|async)?.length}} </span>
                </a>

                &lt;!&ndash; Button trigger modal &ndash;&gt;
                <button type="button" (click)="showShoppingCartModal()" class="btn" data-toggle="modal">
                    <a class="cart">
                        <img src="assets/images/cart-black.svg" alt="cart">
                        <span class='badge badge-warning countLabel'
                              *ngIf="(cart$|async)?.data.total_quantity"> {{(cart$|async)?.data.total_quantity}} </span>
                        <span class='badge badge-warning countLabel'
                              *ngIf="!(cart$|async)?.data.total_quantity"> 0 </span>
                    </a>
                </button>
                    <span *ngIf="(currentUser$|async); else log_in">
                        <a routerLink="/profile/orders">
                        My Account
                        </a>
                    </span>
                    <ng-template #log_in>
                            <a type="button" (click)="showLoginModal()">
                            <i class="" id="user-icon"></i>
                                Sign in
                            </a>
                    </ng-template>
            </div>
            <ul>
                <li>
                    <a href="#"> Home </a>
                </li>
                <li *ngFor="let category of categoryList"
                    (mouseenter)="categoryHover(category)"
                    (click)="categoryClickEvent(category)">
                    <a href="#" [routerLink]="['/products/category/',category.id]" style="text-transform: capitalize;">{{category.name}}</a>
                </li>
            </ul>
        </div>-->
        <div class="Category" style="display: flex; flex-direction: row; overflow-x: scroll; background-color: black;"
             *ngIf="categoryList">
            <div *ngFor='let category of categoryList' style="white-space: nowrap; padding: 5px;"
                 (click)="mobileCategoryClickEvent(category)">
                <p style="font-weight: bold; color: white !important;"> {{category.name}} </p>
            </div>
        </div>
        <div *ngIf="mobileSubCategoryList" style="width: 100%; z-index: 1000">
            <div *ngFor='let subCategory of mobileSubCategoryList'
                 style="width: 100%; background-color: #ac1313; padding: 5px;">
                <p style="background: none; border: none; width: 100%; text-align: left; color: white; font-weight: bold;"
                   (click)="subCategoryClickEvent(subCategory)">
                    {{subCategory.name}}
                    <i class="fa fa-chevron-down" aria-hidden="true" style="float: right;"></i>
                </p>

                <div *ngIf="mobileSubCategoryList && showSubSubCategoryList[subCategory.id]">
                    <div *ngFor="let subSubCategory of subSubCategoryList"
                         (click)="navigateFromMobile($event,subCategory,subSubCategory)">
                        <a class="dropdown-item" href="#" [routerLink]="['/products/category/',subSubCategory.id]"
                           style="margin-left: 10px; text-align: left; color: white;">
                            {{subSubCategory.name}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="mobile-bottom">
        <div class="row mobile-menu-container">
            <div (click)="showShoppingCartModal()" class="mobile-cart icon-style" style="">
                <a>
                    <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 20px;"></i>
                    <p>Cart</p>
                </a>
            </div>
            <div class="mobile-category icon-style" style="">
                <a routerLink="/categories">
                    <i class="fa fa-list" aria-hidden="true" style="font-size: 20px;"></i>
                    <p>Category</p>
                </a>
            </div>
            <div class="mobile-logo"
                 style="display: flex; flex-direction: column; text-align: center; margin-top: -35px;">
                <a href="#" routerLink="/">
                    <img src="favicon.ico" alt="logo" class="logo-icon" style=" ">
                </a>
            </div>
            <div class="mobile-offers icon-style" style="">
                <a routerLink="/cms" style="outline: 0;">
                    <i class="fa fa-bullhorn" aria-hidden="true" style="font-size: 20px;"></i>
                    <p>Offers</p>
                </a>
            </div>
            <div class="mobile-account icon-style" style="">
                <a routerLink="/profile/orders" style="outline: 0;">
                    <i class="fa fa-user" aria-hidden="true" style="font-size: 20px;"></i>
                    <p>Account</p>
                </a>
            </div>
        </div>
    </div>
</div>
