<div class="alert alert-success text-center" role="alert" *ngIf="addToCartSuccessProduct">
    Product Successfully Added To cart: {{addToCartSuccessProduct.name}} -
    ৳{{(unitPrice + variantCalculatedTotalPrice) * product_quantity}}
</div>
<div class="alert alert-success text-center" role="alert" *ngIf="addToWhishlistSuccessProduct">
    Product Successfully Added To Whishlist: {{addToWhishlistSuccessProduct.name}} -
    ৳{{addToWhishlistSuccessProduct.price}}
</div>

<div id="breadcrumb" *ngIf="data">
    <div class="container-fluid">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Home</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a routerLink="/products" routerLinkActive="active">
                        OUR PRODUCTS</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page" *ngIf="data.type_id?.id"
                        style="text-transform: uppercase;">
                        <a routerLink="/products/category/{{data.type_id?.id}}"> {{data.type_id?.name}}</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page" *ngIf="data.category_id?.id"
                        style="text-transform: uppercase;">
                        <a routerLink="/products/category/{{data.type_id?.id}}"
                           [queryParams]="{category: data.type_id?.id, sub: data.category_id?.id}">{{data.category_id?.name}}
                        </a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page" *ngIf="data.subcategory_id?.id"
                        style="text-transform: uppercase;">
                        <a routerLink="/products/category/{{data.type_id?.id}}"
                           [queryParams]="{category: data.type_id?.id, sub: data.category_id?.id, subsub: data.subcategory_id?.id}">
                            {{data.subcategory_id?.name}}
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page" style="text-transform: uppercase;">
                        <a style="color: red" routerLink="/product-details/{{data.id}}">{{ data.name }}</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!--<section id="coupon-product-banner-section" class="d-none d-sm-block"
         *ngIf="data && data.is_coupon_product && data.coupon_banner_image && data.coupon_banner_image.banner_images && data.coupon_banner_image.banner_images.length > 0">
    <coupon-product-banners [bannerImages]="data.coupon_banner_image.banner_images"
                            style="width: 100%;">
    </coupon-product-banners>
</section>-->
<section id="productdetail-section" *ngIf="data" style="margin: 0;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4">
                <div class="row">
                    <div class="col-md-12 col-12">
                        <div class="productdetail-img">
                            <div class="productdetail-inner-img">
                                <span *ngIf="data.offerPrice"
                                      class="product-discount-badge">-{{data.offerPrice.toFixed(2)}}%</span>
                                <ng-container *ngIf="data.offerPrice">
                                    <span *ngIf="data.calculationType === 'absolute'; else percentage"
                                          class="product-discount-badge">
                                        -{{data.discountAmount}} tk
                                    </span>
                                    <ng-template #percentage>
                                        <span class="product-discount-badge">
                                            -{{data.discountAmount.toFixed(2)}}%
                                        </span>
                                    </ng-template>
                                </ng-container>
                                <img style="object-fit: contain; height: auto; width: auto" src="{{primaryPicture}}"
                                     alt="Product Image"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12"
                         *ngIf="data?.product_images && data?.product_images.length > 1 && data.id != 6016">
                        <div class="productdetailsub-img">
                            <ng-container *ngFor="let image of data?.product_images; let i = index">
                                <img style="cursor: pointer; height: 70px; width: 70px;"
                                     src="{{RESIZED_IMAGE_ENDPOINT + image.image_path + IMAGE_EXT}}"
                                     (click)="primaryPicture = RESIZED_IMAGE_ENDPOINT + image.image_path + IMAGE_EXT"
                                     alt="Product Image">
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12" id="universal">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 mb-4">
                        <div class="productdetail">
                            <p class="pro-de-1">{{data.brand_id?.name}}</p>
                            <h6 class="pro-de-2">{{data.name}}</h6>
                            <h6 class="pro-de-3" style="color: red">
                                ৳<del *ngIf="data.offerPrice">{{ data.price }}</del>
                                {{ finalprice }}
                            </h6>
                            <div class="sku">
                                <ul class="d-flex">
                                    <li class="first pl-0">Code: {{data.code}}</li>
                                    <li class="secend">Reward point: {{data.warehouse_id.award_points}}</li>
                                </ul>
                            </div>
                            <ng-template #tt let-i="index" let-v="value">
                                <button class="btn btn-{{ i < v ? 'danger' : 'default' }}" [tooltip]="i + 1">
                                    {{ i < v ? "&#9733;" : "&#9734;" }}
                                </button>
                            </ng-template>
                            <div class="row stock out-of-stock">
                                <div class="col-md-3"><label>Availability</label></div>
                                <div class="col-md-9">
                            <span *ngIf="data.quantity > 0; else out_of_stock">
                              <i class="fa fa-check"></i> Stock Available
                            </span>
                                    <ng-template #out_of_stock>
                                        <span style="color:red">Out of stock</span>
                                    </ng-template>
                                </div>
                            </div>
                            <ng-container *ngFor="let v of productVariants; let i = index">
                                <ng-container *ngIf="v.variant.name == 'COLOR'">
                                    <p class="pro-de-5">{{v.variant.name}}</p>
                                    <ul class="d-flex pro-de-6">
                                        <ng-container *ngFor="let variant of v.warehouse_variants;">
                                            <li class="c1 mr-2"
                                                [ngStyle]="{'border-color': checkSelected(variant) ? 'red' : 'black'}"
                                                (click)="onVariantChange(variant)">
                                                <div class="div" [style.background-color]="variant.name"></div>
                                            </li>
                                        </ng-container>
                                    </ul>
                                </ng-container>

                                <ng-container *ngIf="v.variant.name !== 'COLOR'">
                                    <h6 class="pro-de-7">{{v.variant.name}}</h6>
                                    <ul class="pro-de-8">
                                        <ng-container *ngFor="let variant of v.warehouse_variants;">
                                            <li class="mr-2"
                                                [ngStyle]="{'border-color': checkSelected(variant) ? 'red' : 'black'}"
                                                (click)="onVariantChange(variant)"><a>{{variant.name}}</a></li>
                                        </ng-container>
                                    </ul>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                    <div class="add-carts-detail" *ngIf="data.quantity > 0">
                        <div class="add-cart d-flex">
                            <ul class="d-flex mt-1 coupon-qty-block"
                                *ngIf="data.is_coupon_product; else productQtyBlock">
                                <li class="cursor-pointer"><a class="minus-qty"
                                                              (click)="decreaseProduct_quantity()">-</a></li>
                                <li class="num">
                                    <input class="form-control qty-input" style="width: 80px;"
                                           [(ngModel)]="product_quantity" type="number" #productQuantity>
                                </li>
                                <li class="mr-0 cursor-pointer"><a class="plus-qty"
                                                                   (click)="increaseProduct_quantity()">+</a></li>
                            </ul>
                            <ng-template #productQtyBlock>
                                <ul class="d-flex mt-1">
                                    <li class="cursor-pointer"><a (click)="decreaseProduct_quantity()">-</a></li>
                                    <li class="num"><a>{{product_quantity}}</a></li>
                                    <li class="mr-0 cursor-pointer"><a (click)="increaseProduct_quantity()">+</a></li>
                                </ul>
                            </ng-template>
                            <div class="add-wishlist" *ngIf="!(favourites$ | async | isaddedtofavourite: data?.id)">
                                <a class="wishlist mt-1" (click)="addToFavourite(data)">
                                    <i class="fa fa-heart-o"></i>Add to Wishlist
                                </a>
                            </div>
                            <div class="add-wishlist"
                                 *ngIf="(favourites$ | async | isaddedtofavourite: data?.id) as fav">
                                <a class="wishlist mt-1" style="color: red" (click)="removeFromFavourite(fav)">
                                    <i class="fa fa-heart-o"></i>Wishlisted</a>
                            </div>
                        </div>
                        <div class="add-cartbtn" id="add-cartbtn">
                            <a class="addto1" (click)="data.quantity > 0 ? addProductToCart(data): false">
                                Add to cart
                            </a>
                            <a class="addto2"
                               (click)="data.quantity > 0 ? buyNow(data): false"
                               [class.empty]="data.quantity <= 0">
                                <span *ngIf="!data.is_coupon_product">Buy Now</span>
                                <span *ngIf="data.is_coupon_product">Buy Coupon</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-product-description *ngIf="productDescriptionData"
                         [productDescriptionData]="productDescriptionData"
                         [productId]="id" [currentUserId]="currentUserId"></app-product-description>
<app-related-product *ngIf="similarProducts" [products]="similarProducts"></app-related-product>

