.buttonSection{
  display: block;
  text-align: center;
}

.btnWinnerList{
  box-shadow: none;
  color: #dd1a1a;
  border: 1px solid #dd1a1a;
  padding-left: 20px;
  padding-right: 20px;
}

.btnWinnerWinner{
  padding-left: 35px;
  padding-right: 35px;
}

.btnDrawWinner{
  padding-left: 20px;
  padding-right: 20px;
}

.btnWinnerIcon{
  color: #dd1a1a;
  padding-right: 5px;
}

.btnDraw{
  background-color: #dd1a1a;
  color: white;
  box-shadow: none;
  border: 1px solid #dd1a1a;
  padding-left: 35px;
  padding-right: 35px;
}

.couponShow{
  width: 90%;
  margin: auto;
}

.couponContainer{
  display: flex;
  justify-content: space-around;
  font-size: 140px;
}

.couponDigitBox{
  margin: 0px;
  font-family: fantasy;
  text-align: center;
  width: 130px;
  background: rgb(187,4,4);
  background: linear-gradient(0deg, rgba(187,4,4,1) 0%, rgb(187, 4, 4) 54%, rgb(249,70,70) 56%, rgba(243,65,67,1) 60%, rgba(223,128,128,1) 73%, rgba(230,140,140,1) 78%, rgba(243,65,67,1) 92%, rgba(243,65,67,1) 100%);
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient( to bottom, rgb(187,4,4), hsla(0,29%,83%,0.86) );
  border-image-slice: 1;
}

.winnerShow{
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

.digit{
  color: white;
  line-height: initial;
  margin-bottom: 0px;
}

.winnerTableHeader{
  background: rgb(47,249,243);
  background: linear-gradient(0deg, rgba(47,249,243,1) 0%, rgba(249,249,249,1) 100%);
}

.head{
  border-right: 1px solid #c8bdbd;
}

.winnerListTitle{
  border: 1px solid #c8bdbd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: black;
  margin-bottom: 0px;
}

.winnerListTable{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.place-container{
  position: relative;
}

.place{
  position: absolute;
  top: 31%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  background: -webkit-linear-gradient(#ece1ca, #d2a80b,  #725d03, #d6b205);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: initial;
}

.place-container{
  position: relative;
}

.winnerName{
  color: black;
  font-size: 20px;
  margin-bottom: 5px;
}

.prizeName{
  color: red;
  font-size: 17px;
  display: block;
}

.image-container{
  position: relative;
  margin-top: 10%;
}

.prizeHolder{
  position: relative;
  top: 0;
  left: 0;
  width: 30%;
}

.prizeImage{
  position: absolute;
  top: -15%;
  left: 50%;
  width: 15%;
  max-height: 90%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 320px) {
  .btnWinnerList{
    padding-left: 10px;
    padding-right: 10px;
  }
  .btnDraw{
    padding-left: 25px;
    padding-right: 25px;
  }
  .table-content{
    padding: 2px !important;
  }
  .btnWinnerWinner{
    padding-left: 20px;
    padding-right: 20px;
  }
  .btnDrawWinner{
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 375px) {
  .couponContainer{
    font-size: 55px !important;
  }
  .btnDraw{
    margin-right: 0px !important;
  }
  .couponDigitBox{
    width: 42px !important;
    min-width: 42px !important;
  }
}
@media screen and (max-width: 425px) {
  .couponContainer{
    font-size: 80px;
  }
  .lottery-title{
    font-size: 25px ;
  }
  .couponDigitBox{
    width: 54px;
    min-width: 54px;
    margin: 2px !important;
  }
  .winnerListTable{
    width: 100%;
  }
  .winnerListTitle{
    padding-left: 0px !important;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .couponShow{
    width: 100%;
  }
  .image-container{
    margin-top: 18%;
  }
  .prizeHolder{
    width: 60%;
  }
  .prizeImage{
    width: 31%;
  }
}
@media screen and (max-width: 1024px) {
  .couponDigitBox{
    margin: 2px !important;
  }
}
//@media screen and (min-width: 768px) {
//  .image-container{
//    margin-bottom: 58px;
//  }
//}
//@media screen and (min-width: 1024px) {
//  .image-container{
//    margin-bottom: 71px;
//  }
//}
//@media screen and (min-width: 1300px) {
//  .image-container{
//    margin-bottom: 100px;
//    width: 200px;
//  }
//}
//@media screen and (min-width: 1440px) {
//  .image-container{
//    width: 210px;
//    margin-bottom: 100px;
//  }
//}
@media screen and (min-width: 2560px) {
  .winnerName{
    margin-top: 15px;
    font-size: 30px;
  }
  .prizeName{
    font-size: 30px;
  }
}














