<div class="shop-page-bar">
    <div class="container-fluid">
        <nav class="woocommerce-breadcrumb breadcrumbs">
            <a routerLink="/" routerLinkActive="active">Home</a>
            <a routerLink="/products" routerLinkActive="active">Our Products</a>
            <a *ngIf="isNotEmptyObject(categoryB)" style="text-transform: capitalize;"
               routerLink="/products/category/{{categoryB?.id}}" [queryParams]="{category: categoryB?.id}"
               routerLinkActive="active"> {{categoryB.name}}
            </a>
            <a *ngIf="isNotEmptyObject(categoryB) && isNotEmptyObject(subcategoryB)" style="text-transform: uppercase;"
               routerLink="/products/category/{{categoryB?.id}}"
               [queryParams]="{category: categoryB?.id, sub: subcategoryB?.id}"
               routerLinkActive="active">{{subcategoryB?.name}}
            </a>
            <a *ngIf="isNotEmptyObject(categoryB) && isNotEmptyObject(subcategoryB) && isNotEmptyObject(subsubcategoryB)"
               style="text-transform: uppercase;"
               routerLink="/products/category/{{categoryB?.id}}"
               [queryParams]="{category: categoryB?.id, sub: subcategoryB?.id, subsub: subsubcategoryB?.id}">{{subsubcategoryB?.name}}
            </a>
        </nav>
        <div class="page-bar-right"></div>
    </div>
</div>
<div class="product-lists">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-12" style="display: none;">

                <div class="search_label ">
                    <strong> Search </strong><span class="btn pull-right"></span>
                    <div class="search_type">
                        <input type="text" placeholder="Search here" style="border:1px solid #7D9A9D;"
                               class="form-control"
                               (change)="filter_result($event, 'search', '')" value="{{ searchTerm }}"/>
                    </div>
                </div>

                <div class="search_type">
                    <div class="search_label">
                        <strong> Price </strong>
                    </div>
                    <ng5-slider [(value)]="minPrice" [(highValue)]="maxPrice" [options]="options"
                                (click)="filter_result($event, 'price', '')"></ng5-slider>
                    <br/>
                    <div class="row rang-row">
                        <div class="col-sm-12 col-12 col-md-5 number_text">
                            <input type="number" step="any" class="form-control text-center" [(ngModel)]="minPrice"
                                   (change)="filter_result($event, 'price', '')"/>
                        </div>

                        <div class="col-sm-12 col-12 col-md-2 number-to">to</div>
                        <div class="col-sm-12 col-12 col-md-5 number_text">
                            <input type="number" step="any" class="form-control text-center" [(ngModel)]="maxPrice"
                                   (change)="filter_result($event, 'price', '')"/>
                        </div>
                    </div>
                </div>
                <div id="accordion3" class="filter-acco">
                    <div (click)="isCollapsed_class = !isCollapsed_class" class="search_label ">
                        <strong style="font-style: normal;font-weight: normal;font-size: 20px;line-height: 138.2%;">
                            Category </strong>
                        <span class="btn pull-right">
                            <i class="fa fa-minus" *ngIf='isCollapsed_class == true'></i>
                            <i class="fa fa-plus" *ngIf='isCollapsed_class == false'></i>
                        </span>
                    </div>
                    <div *ngIf="isCollapsed_class" id="collapseFour" class="collapse show" aria-labelledby="headingfour"
                         data-parent="#accordion">
                        <div class="check-box-1">
                            <div class="checkbox" *ngFor="let category of allCategory">
                                <input type="checkbox" value="{{ category.id }}"
                                       id="category_{{ category.id }}"
                                       [attr.checked]="categoryList_ids.includes(''+category.id) ? 'checked' : null"
                                       name="category" (click)="filter_result($event, 'category', category.name)"/>
                                <label for="category_{{ category.id }}">{{
                                    category.name
                                    }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="accordion21" class="filter-acco" *ngIf="allsubCategory">
                    <div (click)="isCollapsed_subclass = !isCollapsed_subclass" class="search_label ">
                        <strong style="font-style: normal; font-weight: normal; font-size: 20px; line-height: 138.2%;">
                            Subcategory </strong>
                        <span class="btn pull-right">
                            <i class="fa fa-minus" *ngIf='isCollapsed_subclass == true'></i>
                            <i class="fa fa-plus" *ngIf='isCollapsed_subclass == false'></i>
                        </span>
                    </div>
                    <div *ngIf='isCollapsed_subclass' id="collapseThree" class="collapse show"
                         aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="check-box-1">
                            <div class="checkbox" *ngFor="let category of allsubCategory">
                                <input type="checkbox" value="{{ category.id }}" id="category_sub_{{ category.id }}"
                                       (click)="filter_result($event, 'sub_category', category.name)"
                                       [attr.checked]="subCategory_ids.includes(''+category.id) ? 'checked' : null"/>
                                <label for="category_sub_{{ category.id }}">{{category.name}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="accordion22" class="filter-acco" *ngIf="allSubSubCategory">
                    <div (click)="isCollapsed_subsubclass = !isCollapsed_subsubclass" class="search_label ">
                        <strong style="font-style: normal; font-weight: normal; font-size: 20px; line-height: 138.2%;">
                            Sub-Subcategory </strong>
                        <span class="btn pull-right">
                            <i class="fa fa-minus" *ngIf='isCollapsed_subsubclass == true'></i>
                            <i class="fa fa-plus" *ngIf='isCollapsed_subsubclass == false'></i>
                        </span>
                    </div>
                    <div *ngIf='isCollapsed_subsubclass' id="collapseThree2" class="collapse show"
                         aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="check-box-1">
                            <div class="checkbox" *ngFor="let category of allSubSubCategory">
                                <input type="checkbox" value="{{ category.id }}" id="category_sub_sub_{{ category.id }}"
                                       (click)="filter_result($event, 'sub_sub_category', category.name)"
                                       [attr.checked]="subsubCategory_ids.includes(''+category.id) ? 'checked' : null"
                                />
                                <label for="category_sub_sub_{{ category.id }}">{{category.name}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="accordion23" class="filter-acco" *ngIf="allBrand">
                    <div (click)="isCollapsed_brand = !isCollapsed_brand" class="search_label ">
                        <strong style="font-style: normal;font-weight: normal;font-size: 20px;line-height: 138.2%;">
                            Brand </strong>
                        <span class="btn pull-right">
                            <i class="fa fa-minus" *ngIf='isCollapsed_brand == true'></i>
                            <i class="fa fa-plus" *ngIf='isCollapsed_brand == false'></i>
                        </span>
                    </div>
                    <div *ngIf='isCollapsed_brand' id="collapseFive" class="collapse show"
                         aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="check-box-1">
                            <div class="checkbox" *ngFor="let brand of allBrand">
                                <input type="checkbox" value="{{ brand.id }}" id="brand_{{ brand.id }}"
                                       (click)="filter_result($event, 'brand', brand.name)"
                                       [attr.checked]="brand_ids.includes(brand.id + '') ? 'checked' : null"/>
                                <label for="brand_{{ brand.id }}">{{brand.name}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="filter-clear-btn" (click)="clearAllFilter()">Clear filters</button>
            </div>
            <div class="col-lg-12 col-md-12" *ngIf="isLoading; else showNotLoadingTemplate">
                <div class="d-flex justify-content-center" style="margin-top: 10%;">
                    <mat-spinner></mat-spinner>
                </div>
            </div>
            <ng-template #showNotLoadingTemplate>
                <div class="col-lg-12 col-md-12">
                    <div class="row" *ngIf="extractCategoryMainImage()">
                        <div class="col-md-12">
                            <div class="category-img-wrapper">
                                <img class="img img-responsive" [src]="extractCategoryMainImage()" alt="subsubcategoryB?.name"/>
                            </div>
                        </div>
                    </div>
                    <div class="des-nav justify-content-between">
                        <ul class="nav nav-pills mb-5">
                            <li class="list1 sort-by">Sort by:</li>
                            <li class="list1 sort-by">
                                <a class="" [ngClass]="{'active': changeStatusP === true}" (click)="showPopular($event)">Popular</a>
                            </li>
                            <li class="list1 sort-by">
                                <a class="" [ngClass]="{'active': changeStatusR === true}" (click)="showRating($event)">Ratings</a>
                            </li>
                            <li class="list1 sort-by">
                                <a class="" [ngClass]="{'active': changeStatusN === true}" (click)="showNewest($event)">Newest</a>
                            </li>
                            <li class="list1 sort-by">
                                <a class="" [ngClass]="{'active': changeStatusPr === true}" (click)="showPrice($event)">Prices</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade active show" id="pills-home" role="tabpanel"
                             aria-labelledby="pills-home-tab">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4"
                                     *ngFor="let product of (allProductsByCategory | paginate: { itemsPerPage: 24, currentPage: page })">
                                    <app-product-item [dataProduct]="product"></app-product-item>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-4 ml-3 text-center"
                                     style="font-style: normal;font-weight: normal;font-size: 20px;line-height: 138.2%;"
                                     *ngIf="allProductsByCategory?.length <= 0">
                                    <img class="img-fluid" src="../../../../assets/images/No_Product_Found.png"
                                         alt="No Product is available.">
                                </div>
                            </div>
                            <div class="text-center" *ngIf="allProductsByCategory && allProductsByCategory.length > 24">
                                <pagination-controls (pageChange)="onPageChange($event)" previousLabel="Previous"
                                                     maxSize="5" responsive="true"
                                                     nextLabel="Next">
                                </pagination-controls>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                             aria-labelledby="pills-profile-tab">
                            <div class="row">

                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-planing" role="tabpanel" aria-labelledby="pills-plan-tab">
                            <div class="row">

                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-Prices" role="tabpanel" aria-labelledby="pills-plan-tab">
                            <div class="row">

                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
