.main-container {
  padding: 25px 0px 90px;
  overflow: hidden;
}
.breadcrumbs a {
  color: rgb(102, 102, 102);
  display: inline-block;
  padding: 8px 0px;
}

.breadcrumbs a::after {
  content: "/";
  display: inline-block;
  padding: 0px 5px;
}
.search_panel {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 5px #959595 !important;
  padding-left: 10px;
  padding-right: 10px;
}
.search_label {
  padding-top: 10px;
  padding-bottom: 10px;
}
.search_type {
  border-top: 1px solid #ddd;
  margin-top: 5px;
  padding-top: 10px;
}

.number_text {
  padding: 10px;
}

.filter_text {
  border: 1px solid #959595;
  padding: 5px;
}

.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
  font-weight: normal !important;
}

.form-group label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #00a188;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 7px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 8px;
  height: 14px;
  border: solid #442169;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}
.category-img-wrapper {
  width: 100%;
  margin-bottom: 15px;
}
