<nz-card nzTitle="Add Product" [nzExtra]="extra">
    <ng-template #extra>
        <button routerLink="/dashboard/product" [queryParams]="{status: queryStatus}" nz-button [nzType]="'primary'"
                [nzSize]="'large'">
            <i class="anticon anticon-file-text"></i>
            <span> List </span>
        </button>
    </ng-template>
    <nz-tabset [nzSelectedIndex]="status">
        <nz-tab nzTitle="Fixed Product">
            <app-fixed-product-create></app-fixed-product-create>
        </nz-tab>
        <nz-tab nzTitle="Variable Product">
            <app-custom-product-create></app-custom-product-create>
        </nz-tab>
    </nz-tabset>
</nz-card>
