<nz-modal [nzFooter]="null" [nzVisible]="isEditModalVisible" [nzTitle]="'Edit Offer'" [nzContent]="editmodalContent"
    (nzOnCancel)="handleModalCancel($event)" (nzOnOk)="handleModalOk($event)">
    <ng-template #editmodalContent>
        <div class="spinning">
            <nz-spin [nzSpinning]="_isSpinning">
                <form nz-form [formGroup]="editValidateForm" id="editValidateForm" (ngSubmit)="submitEditForm($event,editValidateForm.value)">
                    <div nz-form-item nz-row *ngIf="sectionoptionsData">
                        <!--title start-->
                        <div nz-form-label nz-col [nzSpan]="7">
                            <label>Section</label>
                        </div>


                        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>



                            <nz-select formControlName="section" [nzPlaceHolder]=""
                                (ngModelChange)="sectionChange($event)">
                                <nz-option *ngFor="let option of sectionoptionsData" [nzLabel]="option.section" [nzValue]="option.section">

                                </nz-option>
                            </nz-select>

                        </div>
                    </div>
                    <div nz-form-item nz-row *ngIf="subsectionOptions">
                        <!--title start-->
                        <div nz-form-label nz-col [nzSpan]="7">
                            <label>SubSection</label>
                        </div>

                        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>


                            <nz-select formControlName="sub_section" 
                                [nzPlaceHolder]=" 'input search text'">

                                <nz-option *ngFor="let option of subsectionOptions" [nzLabel]="option" [nzValue]="option">
                                </nz-option>
                            </nz-select>

                        </div>
                    </div>
                    <div nz-form-item nz-row *ngIf="subsectionOptions">
                        <!--title start-->
                        <div nz-form-label nz-col [nzSpan]="7">
                            <label>Category</label>
                        </div>

                        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>


                            <nz-select formControlName="category_id" [nzPlaceHolder]=" 'input search text'">

                                <nz-option *ngFor="let option of allcategories" [nzLabel]="option.name" [nzValue]="option.id">
                                </nz-option>
                            </nz-select>

                        </div>
                    </div>
                    <div nz-form-item nz-row>
                        <!--title start-->
                        <div nz-form-label nz-col [nzSpan]="7">
                            <label>Lower Limit</label>
                        </div>


                        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>

                            <nz-input formControlName="lowerlimit" [nzType]=" 'text'" [nzPlaceHolder]=" 'insert lower price'" [nzSize]=" 'large'">
                            </nz-input> 
                            <div nz-form-explain *ngIf="getEditFormControl( 'lowerlimit').dirty&&getEditFormControl('lowerlimit').pending">
                                Validating...
                            </div>
                        </div>
                    </div>
                    <div nz-form-item nz-row>
                        <!--title start-->
                        <div nz-form-label nz-col [nzSpan]="7">
                            <label>Upper Limit</label>
                        </div> 
                        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>

                            <nz-input formControlName="upperlimit" [nzType]=" 'text'" [nzPlaceHolder]=" 'insert upper price'" [nzSize]=" 'large'">
                            </nz-input> 
                            <div nz-form-explain *ngIf="getEditFormControl( 'upperlimit').dirty&&getEditFormControl('upperlimit').pending">
                                Validating...
                            </div>
                        </div>
                    </div>
                    <div nz-form-item nz-row>
                        <!--title start-->
                        <div nz-form-label nz-col [nzSpan]="7">
                            <label>Title</label>
                        </div>
                        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                            <nz-input formControlName="title" [nzType]="'text'" [nzPlaceHolder]="'insert title'" [nzSize]="'large'">
                            </nz-input>
                            <div nz-form-explain *ngIf="getEditFormControl('title').dirty&&getEditFormControl('title').hasError('required')">
                                Please input title !
                            </div>
                            <div nz-form-explain *ngIf="getEditFormControl('title').dirty&&getEditFormControl('title').hasError('duplicated')">
                                Name already exists!
                            </div>
                            <div nz-form-explain *ngIf="getEditFormControl('title').dirty&&getEditFormControl('title').pending">
                                Validating...
                            </div>
                        </div>
                    </div>
                    <!--Title --> 
                    <!--image-->

                    <div nz-form-item nz-row>
                        <div nz-col [nzSpan]="7" nz-form-label>
                            <label>Description</label>
                        </div>
                        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback> 
                            <ckeditor formControlName="description" [config]="ckConfig" [readonly]="false " debounce="500 ">

                            </ckeditor>
                            <div nz-form-explain *ngIf="getEditFormControl('description').dirty&&getEditFormControl('description').hasError('required')">
                                Please input description !
                            </div>
                        </div>
                    </div>
                    <!--description-->


                    <div nz-form-item nz-row>
                        <div nz-col [nzOffset]="7" [nzSpan]="12" nz-form-control>
                            <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!editValidateForm.valid"> 
                                Submit
                            </button>
                            <button nz-button [nzSize]="'large'" (click)="resetForm($event)">Reset</button>
                        </div>
                    </div>
                </form>
            </nz-spin>
        </div>
    </ng-template>
</nz-modal>

<section id="product-section"  *ngIf="cmsFeatureData">
    <div class="container-fluid">
          <div class="row">
            <div class="col-lg-7 col-md-12 mb-4">  
                <nz-card style="margin-bottom: 5px;">
                    <ng-template #title>
                        <h4>
                            Title: {{cmsFeatureData[0].data_value[0].title}}
                        </h4>
                    </ng-template>
                    <ng-template #extra>
                        <div class="pull-right">
                            <button nz-button [nzType]="'primary'" (click)="showEditModal(cmsFeatureData[0].id,0)">
                                <span>
                                    <i class="anticon anticon-edit">Edit </i>
                                </span>
                            </button>
                            <nz-popconfirm [nzTitle]="'Are you sure you want to delete?'" [nzOkText]="'Delete'"
                                [nzCancelText]="'Cancel'" (nzOnConfirm)="deleteConfirm(0,cmsFeatureData[0].id)">
                                <a nz-popconfirm>
                                    <button nz-button [nzType]="'danger'" [nzSize]="'default'">
                                        <i class="anticon anticon-delete "> Delete </i>
                                    </button>
                                </a>
                            </nz-popconfirm>
                        </div>
                    </ng-template>
                    <ng-template #body>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-6 col-pro" style="padding-right: 0px;height: 547px;">
                                    <div class="product-details">
                                        <h2 class="proh1first">{{cmsFeatureData[0]?.data_value[0].category_id.name}}</h2>
                                    <h2 class="proh12nd">{{(cmsFeatureData[0]?.data_value[0].lowerlimit == 0)? 'Under': cmsFeatureData[0]?.data_value[0].lowerlimit}} - ৳{{cmsFeatureData[0]?.data_value[0].upperlimit}}</h2> 
                                    </div>
                                </div> 
                                <div class="col-lg-6 col-md-6 col-6" style="padding-left: 0px;">
                                    <div class="product-img">
                                        <img src="{{IMAGE_ENDPOINT + cmsFeatureData[0]?.data_value[0].category_id.image}}" alt="">
                                    </div>
                                </div>
                            </div> 
                    </ng-template>
                </nz-card>
            </div>
                
              <div class="col-lg-5 col-md-12">
                  <div class="row">
                      <div class="col-md-12 mb-3"> 
                        <nz-card style="margin-bottom: 5px;">
                            <ng-template #title>
                                <h4>
                                    Title: {{cmsFeatureData[0].data_value[0].title}}
                                </h4>
                            </ng-template>
                            <ng-template #extra>
                                <div class="pull-right">
                                    <button nz-button [nzType]="'primary'" (click)="showEditModal(cmsFeatureData[1].id,1)">
                                        <span>
                                            <i class="anticon anticon-edit">Edit </i>
                                        </span>
                                    </button>
                                    <nz-popconfirm [nzTitle]="'Are you sure you want to delete?'" [nzOkText]="'Delete'"
                                        [nzCancelText]="'Cancel'" (nzOnConfirm)="deleteConfirm(1,cmsFeatureData[1].id)">
                                        <a nz-popconfirm>
                                            <button nz-button [nzType]="'danger'" [nzSize]="'default'">
                                                <i class="anticon anticon-delete "> Delete </i>
                                            </button>
                                        </a>
                                    </nz-popconfirm>
                                </div>
                            </ng-template>
                            <ng-template #body>
                                <div class="row">
                                    <div class="col-md-6 col-6 col-pro pr-0"  style="padding-right: 0px;height: 266px;">
                                        <div class="productsub-details">
                                            <h4 class="proh1first">{{cmsFeatureData[1]?.data_value[0].category_id.name}}</h4>
                                       <h4 class="proh12nd">{{(cmsFeatureData[1]?.data_value[0].lowerlimit == 0)? 'Under': cmsFeatureData[1]?.data_value[0].lowerlimit}} - ৳{{cmsFeatureData[1]?.data_value[0].upperlimit}}</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6 pl-0"  style="padding-left:0px">
                                        <div class="productsub-img">
                                            <img src="{{IMAGE_ENDPOINT + cmsFeatureData[1]?.data_value[0].category_id.image}}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </nz-card>
                          
                      </div>
                      <div class="col-md-12">
                        <nz-card style="margin-bottom: 5px;">
                            <ng-template #title>
                                <h4>
                                    Title: {{cmsFeatureData[0].data_value[0].title}}
                                </h4>
                            </ng-template>
                            <ng-template #extra>
                                <div class="pull-right">
                                    <button nz-button [nzType]="'primary'" (click)="showEditModal(cmsFeatureData[2].id,2)">
                                        <span>
                                            <i class="anticon anticon-edit">Edit </i>
                                        </span>
                                    </button>
                                    <nz-popconfirm [nzTitle]="'Are you sure you want to delete?'" [nzOkText]="'Delete'"
                                        [nzCancelText]="'Cancel'" (nzOnConfirm)="deleteConfirm(2,cmsFeatureData[2].id)">
                                        <a nz-popconfirm>
                                            <button nz-button [nzType]="'danger'" [nzSize]="'default'">
                                                <i class="anticon anticon-delete "> Delete </i>
                                            </button>
                                        </a>
                                    </nz-popconfirm>
                                </div>
                            </ng-template>
                            <ng-template #body>
                                <div class="row">
                                    <div class="col-md-6 col-6 col-pro pr-0"  style="padding-right: 0px;height: 266px;">
                                        <div class="productsub-details">
                                            <h4 class="proh1first">{{cmsFeatureData[2]?.data_value[0].category_id.name}}</h4>
                                       <h4 class="proh12nd">{{(cmsFeatureData[2]?.data_value[0].lowerlimit == 0)? 'Under': cmsFeatureData[2]?.data_value[0].lowerlimit}} - ৳{{cmsFeatureData[2]?.data_value[0].upperlimit}}</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6 pl-0"  style="padding-left: 0px;">
                                        <div class="productsub-img">
                                            <img src="{{IMAGE_ENDPOINT + cmsFeatureData[2]?.data_value[0].category_id.image}}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </nz-card>
                          
                      </div>
                  </div>
              </div>
          </div>
    </div>
</section> 
