<div class="container">
    <div class="row watch-sell">
        <div class="">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="watch-sell-para">
                    <h3>Product প্রদর্শন এবং Product বিক্রি</h3>
                    <br>
                    <p>বাংলাদেশ (এই শব্দ সম্পর্কে শুনুন (সাহায্য·তথ্য)) দক্ষিণ এশিয়ার একটি জনবহুল রাষ্ট্র। বাংলাদেশের
                        সাংবিধানিক Name গণপ্রজাতন্ত্রী বাংলাদেশ। ভূ-রাজনৈতিক ভাবে বাংলাদেশের পশ্চিম, উত্তর ও পূর্ব
                        সীমান্তে ভারত, দক্ষিণ-পূর্ব সীমান্তে মায়ানমার ও দক্ষিণ উপকূলের দিকে বঙ্গোপসাগর অবস্থিত।[৭]
                        বাংলাদেশের ভূখণ্ড ভৌগোলিকভাবে একটি উর্বর ব-দ্বীপের অংশ বিশেষ। পার্শ্ববর্তী দেশের রাজ্য
                        পশ্চিমবঙ্গ ও ত্রিপুরা-সহ বাংলাদেশ একটি ভৌগোলিকভাবে জাতিগত ও ভাষাগত "বঙ্গ" অঞ্চলটির মানে পূর্ণ
                        করে। "বঙ্গ" ভূখণ্ডের পূর্বাংশ পূর্ব বাংলা নামে পরিচিত ছিল, যা ১৯৭১ খ্রিস্টাব্দে বাংলাদেশ নামে
                        স্বাধীন ও সার্বভৌম দেশ হিসেবে প্রতিষ্ঠা লাভ করে। পৃথিবীতে যে ক'টি রাষ্ট্র জাতিরাষ্ট্র হিসেবে
                        মর্যাদা পায় তার মধ্যে বাংলাদেশ অন্যতম।</p>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-6 col-sm-12 col-xs-12">
                <div class="icon-controls">
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-up"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-circle-o"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-times"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
