<div class="row">
    <div class="col-md-12">
        <div class="online-orders col-md-12">
            <div class="col-md-12">
                <div class="online-header-left col-md-6" style="padding-left: 0px">
                    <h2 class="header-text">ইভেন্টের List</h2>
                </div> 
            </div>
            <div class="col-md-12">
                <nz-table #nzTable [nzPageSize]="5" [nzDataSource]="data">
                    <thead nz-thead>
                        <tr>
                            <th nz-th><span> Picture </span></th>
                            <th nz-th><span> Name </span></th>
                            <th nz-th><span> ইভেন্টের ধরণ </span></th>
                            <th nz-th *ngIf="currentUser.warehouse">
                                <span> রেজিস্ট্রেশন Status </span>
                            </th>
                            <th nz-th></th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <ng-template ngFor let-data let-i="index" [ngForOf]="nzTable.data">
                            <tr nz-tbody-tr>
                                <td nz-td>
                                    <nz-avatar [nzShape]="'square'" [nzSrc]="IMAGE_ENDPOINT + data.image"
                                        [nzSize]="'large'" [nzIcon]="'user'"></nz-avatar>
                                </td>
                                <td nz-td>
                                    <nz-tag>{{ data.name }}</nz-tag>
                                </td>
                                <td nz-td>
                                    <nz-tag>{{
                    data.event_type == 1
                      ? " মেলা "
                      : data.event_type == 2
                      ? "প্রশিক্ষণ "
                      : " ইভেন্ট
                                        "
                  }}</nz-tag>
                                </td>
                                <td nz-td *ngIf="currentUser.warehouse">
                                    <nz-tag [nzColor]="data.registered_event[0] ? '#0D322B' : '#f50'">{{
                      data.registered_event[0]
                        ? " নিবন্ধিত "
                        : "অনিবন্ধিত
                                        "
                    }}</nz-tag>
                                </td>
                                <td>
                                    <nz-button-group>
                                        <button *ngIf="('event-read' | accessControl)" [routerLink]="[
                        '/dashboard/event/details/',
                        data.id,
                        { status: data.event_type }
                      ]" nz-button [nzType]="'info'" [nzSize]="'default'">
                                            <i class="anticon anticon-info-circle"></i>
                                        </button>
                                        <button *ngIf="('event-edit' | accessControl)" [routerLink]="[
                        '/dashboard/event/edit',
                        data.id,
                        { status: data.event_type }
                      ]" nz-button [nzType]="'primary'" [nzSize]="'default'">
                                            <i class="anticon anticon-edit"></i>
                                        </button>

                                        <ng-container *ngIf="('event-delete' | accessControl)">
                                            <nz-popconfirm [nzTitle]="'Are you sure you want to delete?'"
                                                [nzOkText]="'Delete'" [nzCancelText]="'Cancel'"
                                                (nzOnConfirm)="deleteConfirm(i, data.id)">
                                                <a nz-popconfirm>
                                                    <button nz-button [nzType]="'danger'" [nzSize]="'default'">
                                                        <i class="anticon anticon-delete "></i>
                                                    </button>
                                                </a>
                                            </nz-popconfirm>
                                        </ng-container>
                                        <button *ngIf="
                        (currentUser.warehouse && 'event-read' | accessControl)
                      " nz-button [nzType]="'primary'" (click)="showModalOnline(data.event_type, data.id)"
                                            [nzSize]="'default'" [disabled]="data.registered_event[0]">
                                            রেজিস্ট্রেশন
                                        </button>
                                    </nz-button-group>
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</div>
<nz-modal [nzFooter]="null" [nzVisible]="isVisibleResitrationForm" [nzStyle]="{ top: '5px' }" nzWidth="90%" [nzTitle]="modalTitle" (nzOnCancel)="handleCancel($event)">
    <ng-template #modalTitle>
        {{ eventTitle }}
    </ng-template>
    <ng-template #modalContent>
        <div class="row">
            <form nz-form [formGroup]="validateForm" id="validateForm"
                (ngSubmit)="submitForm($event, validateForm.value)">
                <div class="col-md-12">
                    <!-- <nz-steps [(nzCurrent)]="current">
                        <nz-step [nzTitle]="'রেজিস্ট্রেশনের তথ্য'"></nz-step>
                        <nz-step [nzTitle]="'Address'"></nz-step>
                        <nz-step [nzTitle]="'দোকানের তথ্য'"></nz-step>
                    </nz-steps> -->

                    <div class="steps-content">
                        <div *ngIf="index === 'first'" class="step">
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col [nzSpan]="7">
                                    <label> আবেদনকারীর Name </label>
                                </div>
                                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                                    <nz-input formControlName="name" [nzType]="'text'"
                                        [nzPlaceHolder]="'আবেদনকারীর Enter Name'" [nzSize]="'large'"
                                        [nzDisabled]="true">
                                    </nz-input>
                                    <div nz-form-explain *ngIf="
                      getFormControl('name').dirty &&
                      getFormControl('name').hasError('required')
                    ">
                                        Name is required!
                                    </div>
                                    <div nz-form-explain *ngIf="
                      getFormControl('name').dirty &&
                      getFormControl('name').hasError('duplicated')
                    ">
                                        আবেদনকারীর Name already exists!
                                    </div>
                                    <div nz-form-explain *ngIf="
                      getFormControl('name').dirty &&
                      getFormControl('name').pending
                    ">
                                        Verifying ...
                                    </div>
                                </div>
                            </div>
                            <!--applicant name -->
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col [nzSpan]="7">
                                    <label> পিতার Name </label>
                                </div>
                                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                                    <nz-input formControlName="father_name" [nzType]="'text'"
                                        [nzPlaceHolder]="'পিতার Enter Name'" [nzSize]="'large'"
                                        [nzDisabled]="true">
                                    </nz-input>
                                    <div nz-form-explain *ngIf="
                      getFormControl('father_name').dirty &&
                      getFormControl('father_name').hasError('required')
                    ">
                                        Name is required!
                                    </div>
                                    <div nz-form-explain *ngIf="
                      getFormControl('father_name').dirty &&
                      getFormControl('father_name').hasError('duplicated')
                    ">
                                        পিতার Name already exists!
                                    </div>
                                    <div nz-form-explain *ngIf="
                      getFormControl('father_name').dirty &&
                      getFormControl('father_name').pending
                    ">
                                        Verifying ...
                                    </div>
                                </div>
                            </div>
                            <!--father name -->
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col [nzSpan]="7">
                                    <label> মাতার Name </label>
                                </div>
                                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                                    <nz-input formControlName="mother_name" [nzType]="'text'"
                                        [nzPlaceHolder]="'মাতার Enter Name'" [nzSize]="'large'"
                                        [nzDisabled]="true">
                                    </nz-input>
                                    <div nz-form-explain *ngIf="
                      getFormControl('mother_name').dirty &&
                      getFormControl('mother_name').hasError('required')
                    ">
                                        Name is required!
                                    </div>
                                    <div nz-form-explain *ngIf="
                      getFormControl('mother_name').dirty &&
                      getFormControl('mother_name').hasError('duplicated')
                    ">
                                        মাতার Name already exists!
                                    </div>
                                    <div nz-form-explain *ngIf="
                      getFormControl('mother_name').dirty &&
                      getFormControl('mother_name').pending
                    ">
                                        Verifying ...
                                    </div>
                                </div>
                            </div>
                            <!--mother name -->
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col [nzSpan]="7">
                                    <label> কর্মস্থল </label>
                                </div>
                                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                                    <nz-input formControlName="workplace" [nzType]="'text'"
                                        [nzPlaceHolder]="'কর্মস্থল লিপিবদ্ধ করুন'" [nzSize]="'large'"
                                        [nzDisabled]="true">
                                    </nz-input>
                                    <div nz-form-explain *ngIf="
                      getFormControl('workplace').dirty &&
                      getFormControl('workplace').hasError('required')
                    ">
                                        দয়া করে কর্মস্থল লিপিবদ্ধ করুন!
                                    </div>
                                </div>
                            </div>
                            <!--workplace -->
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col [nzSpan]="7">
                                    <label> পদবি </label>
                                </div>
                                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                                    <nz-input formControlName="designation" [nzType]="'text'"
                                        [nzPlaceHolder]="'পদবি লিপিবদ্ধ করুন'" [nzSize]="'large'" [nzDisabled]="true">
                                    </nz-input>
                                    <div nz-form-explain *ngIf="
                      getFormControl('designation').dirty &&
                      getFormControl('designation').hasError('required')
                    ">
                                        দয়া করে পদবি লিপিবদ্ধ করুন!
                                    </div>
                                </div>
                            </div>
                            <!--designation -->
                            <div nz-form-item nz-row>
                                <div nz-col [nzSpan]="7" nz-form-label>
                                    <label> Email </label>
                                </div>
                                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                                    <nz-input formControlName="email" [nzType]="'text'"
                                        [nzPlaceHolder]="'Email লিপিবদ্ধ করুন'" [nzSize]="'large'" [nzDisabled]="true">
                                    </nz-input>
                                    <div nz-form-explain *ngIf="
                      getFormControl('email').dirty &&
                      getFormControl('email').hasError('email')
                    ">
                                        Email is required!
                                    </div>

                                    <div nz-form-explain *ngIf="
                      getFormControl('email').dirty &&
                      getFormControl('email').hasError('taken')
                    ">
                                        "{{ getFormControl("email").value }}" ইতিমধ্যে ব্যবহার করা
                                        হয়েছে!
                                    </div>
                                    <div nz-form-explain *ngIf="
                      getFormControl('email').dirty &&
                      getFormControl('email').pending
                    ">
                                        Verifying ...
                                    </div>
                                </div>
                            </div>
                            <!--email-->
                            <div nz-form-item nz-row>
                                <div nz-col [nzSpan]="7" nz-form-label>
                                    <label> Phone Number </label>
                                </div>
                                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                                    <nz-input formControlName="phone" [nzType]="'text'"
                                        [nzPlaceHolder]="'Phone Number লিপিবদ্ধ করুন'" [nzSize]="'large'"
                                        [nzDisabled]="true">
                                    </nz-input>
                                    <div nz-form-explain *ngIf="
                      getFormControl('phone').dirty &&
                      getFormControl('phone').hasError('phone')
                    ">
                                        বৈধ Phone Number লিপিবদ্ধ করুন (Ex: +8801*********)!
                                    </div>

                                    <div nz-form-explain *ngIf="
                      getFormControl('phone').dirty &&
                      getFormControl('phone').hasError('taken')
                    ">
                                        "{{ getFormControl("phone").value }}" ইতিমধ্যে ব্যবহার করা
                                        হয়েছে!
                                    </div>
                                    <div nz-form-explain *ngIf="
                      getFormControl('phone').dirty &&
                      getFormControl('phone').pending
                    ">
                                        Verifying ...
                                    </div>
                                </div>
                            </div>
                            <!--phone-->
                            <div nz-form-item nz-row>
                                <div nz-col [nzSpan]="7" nz-form-label>
                                    <label>National Identity Card No.</label>
                                </div>
                                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                                    <nz-input formControlName="national_id" [nzType]="'number'" nzMin="'0'"
                                        [nzPlaceHolder]="'National Identity Card No. লিপিবদ্ধ করুন'" [nzSize]="'large'"
                                        [nzDisabled]="true">
                                    </nz-input>
                                    <div nz-form-explain *ngIf="
                      getFormControl('national_id').dirty &&
                      getFormControl('national_id').hasError('required')
                    ">
                                        National Identity Card No. is required!
                                    </div>
                                </div>
                            </div>
                            <!--National id-->
                        </div>
                        <div *ngIf="index === 'second'" class="step-extra">
                            <div nz-form-item nz-row>
                                <div nz-col [nzSpan]="7" nz-form-label>
                                    <label>স্থায়ী Address</label>
                                </div>
                                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                                    <textarea nz-input formControlName="address"
                                        placeholder="স্থায়ী Address লিপিবদ্ধ করুন" [nzSize]="'large'"
                                        [nzDisabled]="true">
                  </textarea>
                                    <div nz-form-explain *ngIf="
                      getFormControl('address').dirty &&
                      getFormControl('address').hasError('required')
                    ">
                                        required!
                                    </div>
                                </div>
                            </div>
                            <!--address-->

                            <div nz-form-item nz-row>
                                <div nz-col [nzSpan]="7" nz-form-label>
                                    <label> division </label>
                                </div>
                                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                                    <nz-select formControlName="division_id" nzAllowClear
                                        [nzPlaceHolder]="'select division'" [nzFilter]="true"
                                        (ngModelChange)="divisionChange($event)"
                                        (nzSearchChange)="divisionSearchChange($event)"
                                        [nzNotFoundContent]="'Not found'" nzShowSearch>
                                        <nz-option *ngFor="let option of divisionSearchOptions" [nzLabel]="option.name"
                                            [nzValue]="option.id">
                                        </nz-option>
                                    </nz-select>

                                    <div nz-form-explain *ngIf="
                      getFormControl('division_id').dirty &&
                      getFormControl('division_id').hasError('required')
                    ">
                                        Please select !
                                    </div>
                                </div>
                            </div>
                            <!--division-->
                            <div nz-form-item nz-row>
                                <div nz-col [nzSpan]="7" nz-form-label>
                                    <label> District </label>
                                </div>
                                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                                    <nz-select formControlName="zila_id" nzAllowClear
                                        [nzPlaceHolder]="'Select District'" [nzFilter]="true"
                                        (ngModelChange)="zilaChange($event)" (nzSearchChange)="zilaSearchChange($event)"
                                        [nzNotFoundContent]="'Not found'" nzShowSearch>
                                        <nz-option *ngFor="let option of zilaSearchOptions" [nzLabel]="option.name"
                                            [nzValue]="option.id">
                                        </nz-option>
                                    </nz-select>
                                    <div nz-form-explain *ngIf="
                      getFormControl('zila_id').dirty &&
                      getFormControl('zila_id').hasError('required')
                    ">
                                        Please select !
                                    </div>
                                </div>
                            </div>
                            <!--zila-->

                            <div nz-form-item nz-row>
                                <div nz-col [nzSpan]="7" nz-form-label>
                                    <label> Upazila </label>
                                </div>
                                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                                    <nz-select formControlName="upazila_id" nzAllowClear
                                        [nzPlaceHolder]="'Select Upazila'" [nzFilter]="true"
                                        (nzSearch)="upazilaSearchChange($event)"
                                        (nzSearchChange)="upazilaSearchChange($event)"
                                        [nzNotFoundContent]="'Not found'" nzShowSearch>
                                        <nz-option *ngFor="let option of upazilaSearchOptions" [nzLabel]="option.name"
                                            [nzValue]="option.id">
                                        </nz-option>
                                    </nz-select>
                                    <div nz-form-explain *ngIf="
                      getFormControl('upazila_id').dirty &&
                      getFormControl('upazila_id').hasError('required')
                    ">
                                        Please select !
                                    </div>
                                </div>
                            </div>
                            <!--upazila-->
                            <div nz-form-item nz-row>
                                <div nz-col [nzSpan]="7" nz-form-label>
                                    <label>বর্তমান Address</label>
                                </div>
                                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                                    <textarea nz-input formControlName="permanent_address"
                                        placeholder="বর্তমান Address লিপিবদ্ধ করুন" [nzSize]="'large'"
                                        [nzDisabled]="true">
                  </textarea>
                                    <div nz-form-explain *ngIf="
                      getFormControl('permanent_address').dirty &&
                      getFormControl('permanent_address').hasError('required')
                    ">
                                        required!
                                    </div>
                                </div>
                            </div>
                            <!--address-->
                            <div nz-form-item nz-row>
                                <div nz-col [nzSpan]="7" nz-form-label>
                                    <label> division </label>
                                </div>
                                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                                    <nz-select formControlName="permanent_division_id" nzAllowClear
                                        [nzPlaceHolder]="'select division'" [nzFilter]="true"
                                        (ngModelChange)="permanent_divisionChange($event)"
                                        (nzSearchChange)="permanent_divisionSearchChange($event)"
                                        [nzNotFoundContent]="'Not found'" nzShowSearch>
                                        <nz-option *ngFor="let option of permanent_divisionSearchOptions"
                                            [nzLabel]="option.name" [nzValue]="option.id">
                                        </nz-option>
                                    </nz-select>

                                    <div nz-form-explain *ngIf="
                      getFormControl('permanent_division_id').dirty &&
                      getFormControl('permanent_division_id').hasError(
                        'required'
                      )
                    ">
                                        Please select !
                                    </div>
                                </div>
                            </div>
                            <!--division-->

                            <div nz-form-item nz-row>
                                <div nz-col [nzSpan]="7" nz-form-label>
                                    <label> District </label>
                                </div>
                                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                                    <nz-select formControlName="permanent_zila_id" nzAllowClear
                                        [nzPlaceHolder]="'Select District'" [nzFilter]="true"
                                        (ngModelChange)="permanent_zilaChange($event)"
                                        (nzSearchChange)="permanent_zilaSearchChange($event)"
                                        [nzNotFoundContent]="'Not found'" nzShowSearch>
                                        <nz-option *ngFor="let option of permanent_zilaSearchOptions"
                                            [nzLabel]="option.name" [nzValue]="option.id">
                                        </nz-option>
                                    </nz-select>
                                    <div nz-form-explain *ngIf="
                      getFormControl('permanent_zila_id').dirty &&
                      getFormControl('permanent_zila_id').hasError('required')
                    ">
                                        Please select !
                                    </div>
                                </div>
                            </div>
                            <!--zila-->

                            <div nz-form-item nz-row>
                                <div nz-col [nzSpan]="7" nz-form-label>
                                    <label> Upazila </label>
                                </div>
                                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                                    <nz-select formControlName="permanent_upazila_id" nzAllowClear
                                        [nzPlaceHolder]="'Select Upazila'" [nzFilter]="true"
                                        (nzSearch)="permanent_upazilaSearchChange($event)"
                                        (nzSearchChange)="permanent_upazilaSearchChange($event)"
                                        [nzNotFoundContent]="'Not found'" nzShowSearch>
                                        <nz-option *ngFor="let option of permanent_upazilaSearchOptions"
                                            [nzLabel]="option.name" [nzValue]="option.id">
                                        </nz-option>
                                    </nz-select>
                                    <div nz-form-explain *ngIf="
                      getFormControl('permanent_upazila_id').dirty &&
                      getFormControl('permanent_upazila_id').hasError(
                        'required'
                      )
                    ">
                                        Please select !
                                    </div>
                                </div>
                            </div>
                            <!--upazila-->
                        </div>
                        <div *ngIf="index === 'third'" class="step-extra">
                            <div nz-form-item nz-row>
                                <div nz-col [nzSpan]="7" nz-form-label>
                                    <label>মেলার পরিচালনাকারীর Email </label>
                                </div>
                                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                                    <nz-input formControlName="admin_email" [nzType]="'text'"
                                        [nzPlaceHolder]="'Email লিপিবদ্ধ করুন'" [nzSize]="'large'" [nzDisabled]="true">
                                    </nz-input>
                                    <div nz-form-explain *ngIf="
                      getFormControl('admin_email').dirty &&
                      getFormControl('admin_email').hasError('required')
                    ">
                                        Email is required!
                                    </div>

                                    <div nz-form-explain *ngIf="
                      getFormControl('admin_email').dirty &&
                      getFormControl('admin_email').hasError('taken')
                    ">
                                        "{{ getFormControl("admin_email").value }}" ইতিমধ্যে ব্যবহার
                                        করা হয়েছে!
                                    </div>
                                    <div nz-form-explain *ngIf="
                      getFormControl('admin_email').dirty &&
                      getFormControl('admin_email').pending
                    ">
                                        Verifying ...
                                    </div>
                                </div>
                            </div>
                            <!--adminemail-->
                            <div nz-form-item nz-row>
                                <div nz-col [nzSpan]="7" nz-form-label>
                                    <label> মেলার পরিচালনাকারীর Phone Number </label>
                                </div>
                                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                                    <nz-input formControlName="admin_phone" [nzType]="'text'"
                                        [nzPlaceHolder]="'Phone Number লিপিবদ্ধ করুন'" [nzSize]="'large'"
                                        [nzDisabled]="true">
                                    </nz-input>
                                    <div nz-form-explain *ngIf="
                      getFormControl('admin_phone').dirty &&
                      getFormControl('admin_phone').hasError('required')
                    ">
                                        বৈধ Phone Number লিপিবদ্ধ করুন (Ex: +8801*********)!
                                    </div>

                                    <div nz-form-explain *ngIf="
                      getFormControl('admin_phone').dirty &&
                      getFormControl('admin_phone').hasError('taken')
                    ">
                                        "{{ getFormControl("admin_phone").value }}" ইতিমধ্যে ব্যবহার
                                        করা হয়েছে!
                                    </div>
                                    <div nz-form-explain *ngIf="
                      getFormControl('admin_phone').dirty &&
                      getFormControl('admin_phone').pending
                    ">
                                        Verifying ...
                                    </div>
                                </div>
                            </div>
                            <!--adminphone-->
                            <div nz-form-item nz-row>
                                <div nz-col [nzSpan]="7" nz-form-label>
                                    <label>
                                        জেডিপিসিতে উদ্যোক্তা হিসেবে List ভূক্তির Number
                                    </label>
                                </div>
                                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                                    <nz-input formControlName="entry_number" [nzType]="'text'"
                                        [nzPlaceHolder]="'Number লিপিবদ্ধ করুন'" [nzSize]="'large'">
                                    </nz-input>
                                    <div nz-form-explain *ngIf="
                      getFormControl('entry_number').dirty &&
                      getFormControl('entry_number').hasError('required')
                    ">
                                        required!
                                    </div>
                                </div>
                            </div>
                            <!--entry number-->
                            <div nz-form-item nz-row>
                                <div nz-col [nzSpan]="7" nz-form-label>
                                    <label> বহুমুখী পাটপণ্যের Name (স্টলে প্রদর্শনের জন্য) </label>
                                </div>
                                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                                    <nz-select style="width: 100%" formControlName="exhibition_products"
                                        [nzSize]="'DEFAULT'" nzMode="tags" nzPlaceHolder="Enter Name">
                                        <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label"
                                            [nzValue]="option.value"></nz-option>
                                    </nz-select>
                                    <div nz-form-explain *ngIf="
                      getFormControl('exhibition_products').dirty &&
                      getFormControl('exhibition_products').hasError('required')
                    ">
                                        required!
                                    </div>
                                </div>
                            </div>
                            <!--exhibition products-->
                            <div nz-form-item nz-row *ngIf="addedPrices">
                                <div nz-col [nzSpan]="7" nz-form-label></div>
                                <div nz-col [nzSpan]="12" nz-form-control>
                                    <nz-table #basicTable [nzIsPagination]="false" [nzSize]="'small'"
                                        [nzDataSource]="addedPrices">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-2">Title</th>
                                                <th class="col-sm-1">Price</th>
                                                <th class="col-sm-1">
                                                    {{
                            dataModel.event_type == 1
                              ? " দোকানের সংখ্যা
                                                    "
                              : dataModel.event_type == 2
                              ? "জন "
                              : "
                                                    "
                          }}
                                                </th>
                                                <th class="col-sm-1">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of basicTable.data">
                                                <td class="col-sm-2">{{ data.name }}</td>
                                                <td class="col-sm-1">{{ data.price }}</td>
                                                <td class="col-sm-1">
                                                    <nz-input formControlName="value" (input)="
                              setValue($event.target.value, data.id, data.price)
                            " [nzType]="'number'" [nzPlaceHolder]="
                              dataModel.event_type == 1
                                ? 'সংখ্যা লিপিবদ্ধ করুন'
                                : dataModel.event_type == 2
                                ? 'জন লিপিবদ্ধ করুন'
                                : ''
                            " ref-price [nzSize]="'large'">
                                                    </nz-input>
                                                </td>
                                                <td class="col-sm-1">{{ data.totalprice }}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot *ngIf="dataModel.event_type == 1 || dataModel.event_type == 2">
                                            <tr>
                                                <td class="col-sm-2"></td>
                                                <td class="col-sm-1">সর্বমোট</td>
                                                <td class="col-sm-1">{{ totalOfValue }}{{dataModel.event_type == 1? "টি": dataModel.event_type == 2? " জন": ""}}
                                                </td>
                                                <td class="col-sm-1">{{ totalofPrice }}</td>
                                            </tr>
                                        </tfoot>
                                    </nz-table>
                                </div>
                            </div>
                            <!-- price table -->
                        </div>
                    </div>
                    <div class="steps-action">
                        <nz-button-group>
                            <button nz-button nzType="default" type="button" (click)="pre()" *ngIf="current > 0">
                                <span>Previous</span>
                            </button>
                            <button nz-button nzType="default" type="button" (click)="next()" *ngIf="current < 2">
                                <span>Next</span>
                            </button>
                            <button nz-button [nzType]="'primary'" *ngIf="current === 2"
                                [disabled]="!validateForm.valid">
                                Save
                            </button>
                            <button nz-button *ngIf="current === 2" (click)="resetForm($event)">
                                Reset
                            </button>
                        </nz-button-group>
                    </div>
                </div>

                <!-- <div class="col-md-12">
                    <div class="col-md-6">
                        
                    </div>

                    <div class="col-md-6">
                        
                    </div>
                </div> -->
            </form>
        </div>
    </ng-template>
    <!-- <ng-template #modalFooter>
        <nz-button-group>
            <button nz-button type="button" [nzSize]="'large'" (click)="handleCancel($event)">
                Cancel
            </button>
            <button nz-button [nzType]="'primary'" [nzSize]="'large'" [nzLoading]="isConfirmLoading">
                Save
            </button>
        </nz-button-group>
    </ng-template> -->
</nz-modal>
