<section>
    <nz-card class="card-height" nzTitle="Investor List">
        <nz-table #nzTable
                  nzShowQuickJumper
                  (nzPageIndexChange)="getPageData($event)"
                  [(nzPageIndex)]="page"
                  [(nzPageSize)]="limit"
                  [nzData]="investors"
                  [nzFrontPagination]="false"
                  [nzLoading]="_isSpinning"
                  [nzTotal]="total"
                  [nzShowSizeChanger] = "true"
                  [nzBordered] = "true"
        >
            <thead>
                <tr>
                    <th>
                        <span> Name </span>
                    </th>
                    <th>
                        <span> Email </span>
                    </th>
                    <th>
                        <span>Phone</span>
                    </th>
                    <th>
                        <span>Status</span>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>
                        <nz-select style="width: 170px;" [(ngModel)]="statusSearchValue"
                                   nzAllowClear (ngModelChange)="page = 1; getPageData();"
                                   [nzPlaceHolder]="'Select Status'"
                                   [nzNotFoundContent]="'Not found'">
                            <nz-option *ngFor="let option of options" [nzLabel]="option.label"
                                       [nzValue]="option.value">
                            </nz-option>
                        </nz-select>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of nzTable.data">
                    <td>
                        {{data.first_name}} {{data.last_name}}
                    </td>
                    <td>
                        <nz-tag>{{data.email}}</nz-tag>
                    </td>
                    <td>
                        {{data.phone}}
                    </td>
                    <td>
                        <nz-select style="width: 170px;" [(ngModel)]="data.status"
                                   nzAllowClear (ngModelChange)="updateStatus($event, data.id, data.status);"
                                   [nzPlaceHolder]="'Select Status'"
                                   [nzNotFoundContent]="'Not found'">
                            <nz-option *ngFor="let option of options" [nzLabel]="option.label"
                                       [nzValue]="option.value">
                            </nz-option>
                        </nz-select>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </nz-card>
</section>
