<section id="flashdeal" *ngIf="productList && productList.length > 0" style="padding-bottom: 20px;">
    <div class="container-fluid">


        <div class="category-head cate-flash justify-content-between d-flex" style="border-bottom: 2px solid #F83831;">
            <h4 class="section-title" style="">Featured Products</h4>
            <button style="align-self: flex-end;">
                <a style="text-decoration: none;" [routerLink]="['/featured-product']">View All</a>
            </button>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-6 mb-4" *ngFor="let product of productList">
                <app-product-item-flash-deals [dataProduct]="product"></app-product-item-flash-deals>
            </div>
        </div>
    </div>
</section>
