<section id="flashdeal" *ngIf="productList && productList.length > 0" style="padding-bottom: 20px;">
    <div class="container-fluid">
        <div class="category-head cate-flash justify-content-between d-flex">
            <h4>Featured Products</h4>
            <button class="">
                <a [routerLink]="['/featured-product']">View All<i class="fa fa-angle-right text-center"></i></a>
            </button>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-6 mb-4" *ngFor="let product of productList">
                <app-product-item-flash-deals [dataProduct]="product"></app-product-item-flash-deals>
            </div>
        </div>
    </div>
</section>
