<div *ngIf="isModalShown$|async" [config]="{ show: true,animated:false }" (onHidden)="onHidden()" bsModal
     #autoShownModal="bs-modal" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header custom-header">
                <h5 class="modal-title" style="margin-left: auto; text-align: center;">Make partial payment</h5>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                    <i class="fa  fa-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class=" container form-background" style="height: auto">
                    <ng-container>
                        <form [formGroup]="partialPaymentForm">
                            <div class="payment-method-details1">
                                <p class="font-weight-bold">Payment Method</p>
                                <mat-radio-group formControlName="payment_method">
                                    <div class="radio2" *ngIf="!isAllowedOfferPaymentGateway">
                                        <mat-radio-button
                                                *ngIf="enabledPaymentMethods[CASHBACK_PAYMENT_TYPE] && couponCashbackAmount > 0"
                                                (click)="showOfflineForm(false)" value="CashBack" style="color: black;">
                                            <i class="fa fa-money"></i>By Using Cashback
                                        </mat-radio-button>
                                        <mat-radio-button
                                                *ngIf="enabledPaymentMethods[OFFLINE_PAYMENT_TYPE] && isOfflinePayable"
                                                value="OfflinePay" (click)="showOfflineForm(true)">
                                            <div class="payment-icon-container">
                                                <img src="../../../../../assets/images/payByBank.png"
                                                     style="height: auto; width: 80%;"
                                                     alt="SSLcommerce"/>
                                            </div>
                                        </mat-radio-button>

                                        <!-- Show Offline payment form. START -->
                                        <div *ngIf="isShowOfflineForm" class="mb-5">
                                            <mat-radio-group class="payment-method-radio-btn"
                                                             formControlName="offlinePaymentMethods" style="display: flex">
                                                <mat-radio-button value="cashInAdvance"
                                                                  (click)="showOfflinePaymentMethods(true, false, false, false)">
                                                    <p class="defaultParagraph">Cash In Advance</p>
                                                </mat-radio-button>
                                                <mat-radio-button value="bankTransfer"
                                                                  (click)="showOfflinePaymentMethods(false, true, false, false)">
                                                    <p class="defaultParagraph">Bank transfer</p>
                                                </mat-radio-button>
                                                <mat-radio-button value="bankDeposit"
                                                                  (click)="showOfflinePaymentMethods(false, false, true, false)">
                                                    <p class="defaultParagraph">Bank deposit</p>
                                                </mat-radio-button>
                                                <mat-radio-button value="mobileTransfer"
                                                                  (click)="showOfflinePaymentMethods(false, false, false, true)">
                                                    <p class="defaultParagraph">Direct Mobile Transfer</p>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                            <div class="validation-feedback">
                                    <span *ngIf="isShowOfflineForm && isSubmittedOfflinePaymentForm && !(getPartialPaymentFormControl('offlinePaymentMethods').dirty)">
                                      <i class='fa fa-exclamation-circle mr-2 warning-icon'></i>You have to select a offline payment method must!
                                    </span>
                                            </div>
                                            <div *ngIf="isShowCashInAdvanceForm">
                                                <image-upload [max]="1" (removed)="onRemoved($event)"
                                                              [beforeUpload]="onBeforeUpload" buttonCaption="Select image"
                                                              dropBoxMessage="Drop picture of cash memo provided by Anonder Bazar authority!"
                                                              clearButtonCaption="clear">
                                                </image-upload>
                                                <div class="validation-feedback">
                                        <span *ngIf="isSubmittedCashInAdvanceImage  && !ImageFile">
                                          <i class='fa fa-exclamation-circle mr-2 warning-icon'></i>Upload cash memo image first!
                                        </span>
                                                </div>
                                            </div>
                                            <div *ngIf="isShowBankTransferForm">
                                                <label>Transaction number</label>
                                                <input class="form-control" formControlName="transactionIdForBank"
                                                       placeholder="Enter bank transaction number">
                                                <div class="validation-feedback">
                                        <span *ngIf="isSubmittedBankTransferForm && !getPartialPaymentFormControl('transactionIdForBank').value">
                                          <i class='fa fa-exclamation-circle mr-2 warning-icon'></i>Bank transaction number is required!
                                        </span>
                                                </div>
                                                <label>Bank name</label>
                                                <input class="form-control" formControlName="bankName"
                                                       placeholder="Enter Bank Name">
                                                <div class="validation-feedback">
                                        <span *ngIf="isSubmittedBankTransferForm && !getPartialPaymentFormControl('bankName').value">
                                          <i class='fa fa-exclamation-circle mr-2 warning-icon'></i>Bank name is required!
                                        </span>
                                                </div>
                                                <label>Branch name</label>
                                                <input class="form-control" formControlName="branchName"
                                                       placeholder="Enter Branch name">
                                                <div class="validation-feedback">
                                        <span *ngIf="isSubmittedBankTransferForm && !getPartialPaymentFormControl('branchName').value">
                                          <i class='fa fa-exclamation-circle mr-2 warning-icon'></i>Bank branch name is required!
                                        </span>
                                                </div>
                                                <label>Account Number</label>
                                                <input type="number" class="form-control" formControlName="accountNumberForBank"
                                                       placeholder="Enter Account Number">
                                                <div class="validation-feedback">
                                        <span *ngIf="isSubmittedBankTransferForm && !getPartialPaymentFormControl('accountNumberForBank').value">
                                          <i class='fa fa-exclamation-circle mr-2 warning-icon'></i>Account number is required!
                                        </span>
                                                </div>
                                            </div>
                                            <div *ngIf="isBankDeposit">
                                                <image-upload [max]="1" (removed)="onRemovedBankDepositSlip($event)"
                                                              [beforeUpload]="onBeforeUploadBankaDepositSlip"
                                                              buttonCaption="Select image"
                                                              dropBoxMessage="Drop picture of bank deposit slip"
                                                              clearButtonCaption="clear">
                                                </image-upload>
                                                <div class="validation-feedback">
                                    <span *ngIf="isSubmittedBankDepositForm && !BankDepositImageFile">
                                      <i class='fa fa-exclamation-circle mr-2 warning-icon'></i>Upload bank deposit slip image first!
                                    </span>
                                                </div>
                                            </div>

                                            <div *ngIf="isMobileTransfer">
                                                <image-upload [max]="1" (removed)="onRemovedMobileTransferSS($event)"
                                                              [beforeUpload]="onBeforeUploadMobileTransferSS"
                                                              buttonCaption="Select image"
                                                              dropBoxMessage="Drop screenshot of payment page"
                                                              clearButtonCaption="clear">
                                                </image-upload>
                                                <div class="validation-feedback">
                                    <span *ngIf="isSubmittedMobileTransferForm && !mobileTransferImageFile">
                                      <i class='fa fa-exclamation-circle mr-2 warning-icon'></i>Upload screenshot of payment first!
                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Show Offline payment form. END -->

                                        <mat-radio-button *ngIf="enabledPaymentMethods[SSL_COMMERZ_PAYMENT_TYPE]"
                                                          value="SSLCommerce"
                                                          (click)="showOfflineForm(false)">
                                            <div class="payment-icon-container">
                                                <img src="../../../../../assets/images/final_sslcommerz.webp"
                                                     style="height: auto; width: 80%;"
                                                     alt="SSLcommerce"/>
                                            </div>
                                        </mat-radio-button>
                                        <mat-radio-button
                                                *ngIf="enabledPaymentMethods[BKASH_PAYMENT_TYPE] && showBkashPayment"
                                                value="bKash"
                                                (click)="showOfflineForm(false)">
                                            <div class="payment-icon-container">
                                                <img src="../../../../../assets/images/bkash.gif"
                                                     style="height: auto; width: 70%;"
                                                     alt="bKash"/>
                                            </div>
                                        </mat-radio-button>
                                        <!--<mat-radio-button *ngIf="enabledPaymentMethods[NAGAD_PAYMENT_TYPE]"
                                                          value="Nagad"
                                                          (click)="showOfflineForm(false)">
                                            <div class="payment-icon-container">
                                                <img src="../../../../../assets/images/nagad.png"
                                                     style="height: auto; width: 70%;"
                                                     alt="nagad"/>
                                            </div>
                                        </mat-radio-button>-->
                                    </div>
                                    <div class="radio2" *ngIf="isAllowedOfferPaymentGateway">
                                        <mat-radio-button
                                                *ngIf="enabledPaymentMethods[OFFLINE_PAYMENT_TYPE] && isAllowedOfflineInOfferedProductPurchase"
                                                value="OfflinePay" (click)="showOfflineForm(true)">
                                            <div class="payment-icon-container">
                                                <img src="../../../../../assets/images/payByBank.png"
                                                     style="height: auto; width: 80%;"
                                                     alt="SSLcommerce"/>
                                            </div>
                                        </mat-radio-button>

                                        <!-- Show Offline payment form. START -->
                                        <div *ngIf="isShowOfflineForm" class="mb-5">
                                            <mat-radio-group class="payment-method-radio-btn"
                                                             formControlName="offlinePaymentMethods" style="display: flex">
                                                <mat-radio-button value="cashInAdvance"
                                                                  (click)="showOfflinePaymentMethods(true, false, false, false)">
                                                    <p class="defaultParagraph">Cash In Advance</p>
                                                </mat-radio-button>
                                                <mat-radio-button value="bankTransfer"
                                                                  (click)="showOfflinePaymentMethods(false, true, false, false)">
                                                    <p class="defaultParagraph">Bank transfer</p>
                                                </mat-radio-button>
                                                <mat-radio-button value="bankDeposit"
                                                                  (click)="showOfflinePaymentMethods(false, false, true, false)">
                                                    <p class="defaultParagraph">Bank deposit</p>
                                                </mat-radio-button>
                                                <mat-radio-button value="mobileTransfer"
                                                                  (click)="showOfflinePaymentMethods(false, false, false, true)">
                                                    <p class="defaultParagraph">Direct Mobile Transfer</p>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                            <div class="validation-feedback">
                                    <span *ngIf="isShowOfflineForm && isSubmittedOfflinePaymentForm && !(getPartialPaymentFormControl('offlinePaymentMethods').dirty)">
                                      <i class='fa fa-exclamation-circle mr-2 warning-icon'></i>You have to select a offline payment method must!
                                    </span>
                                            </div>
                                            <div *ngIf="isShowCashInAdvanceForm">
                                                <image-upload [max]="1" (removed)="onRemoved($event)"
                                                              [beforeUpload]="onBeforeUpload" buttonCaption="Select image"
                                                              dropBoxMessage="Drop picture of cash memo provided by Anonder Bazar authority!"
                                                              clearButtonCaption="clear">
                                                </image-upload>
                                                <div class="validation-feedback">
                                        <span *ngIf="isSubmittedCashInAdvanceImage  && !ImageFile">
                                          <i class='fa fa-exclamation-circle mr-2 warning-icon'></i>Upload cash memo image first!
                                        </span>
                                                </div>
                                            </div>
                                            <div *ngIf="isShowBankTransferForm">
                                                <label>Transaction number</label>
                                                <input class="form-control" formControlName="transactionIdForBank"
                                                       placeholder="Enter bank transaction number">
                                                <div class="validation-feedback">
                                        <span *ngIf="isSubmittedBankTransferForm && !getPartialPaymentFormControl('transactionIdForBank').value">
                                          <i class='fa fa-exclamation-circle mr-2 warning-icon'></i>Bank transaction number is required!
                                        </span>
                                                </div>
                                                <label>Bank name</label>
                                                <input class="form-control" formControlName="bankName"
                                                       placeholder="Enter Bank Name">
                                                <div class="validation-feedback">
                                        <span *ngIf="isSubmittedBankTransferForm && !getPartialPaymentFormControl('bankName').value">
                                          <i class='fa fa-exclamation-circle mr-2 warning-icon'></i>Bank name is required!
                                        </span>
                                                </div>
                                                <label>Branch name</label>
                                                <input class="form-control" formControlName="branchName"
                                                       placeholder="Enter Branch name">
                                                <div class="validation-feedback">
                                        <span *ngIf="isSubmittedBankTransferForm && !getPartialPaymentFormControl('branchName').value">
                                          <i class='fa fa-exclamation-circle mr-2 warning-icon'></i>Bank branch name is required!
                                        </span>
                                                </div>
                                                <label>Account Number</label>
                                                <input type="number" class="form-control" formControlName="accountNumberForBank"
                                                       placeholder="Enter Account Number">
                                                <div class="validation-feedback">
                                        <span *ngIf="isSubmittedBankTransferForm && !getPartialPaymentFormControl('accountNumberForBank').value">
                                          <i class='fa fa-exclamation-circle mr-2 warning-icon'></i>Account number is required!
                                        </span>
                                                </div>
                                            </div>
                                            <div *ngIf="isBankDeposit">
                                                <image-upload [max]="1" (removed)="onRemovedBankDepositSlip($event)"
                                                              [beforeUpload]="onBeforeUploadBankaDepositSlip"
                                                              buttonCaption="Select image"
                                                              dropBoxMessage="Drop picture of bank deposit slip"
                                                              clearButtonCaption="clear">
                                                </image-upload>
                                                <div class="validation-feedback">
                                    <span *ngIf="isSubmittedBankDepositForm && !BankDepositImageFile">
                                      <i class='fa fa-exclamation-circle mr-2 warning-icon'></i>Upload bank deposit slip image first!
                                    </span>
                                                </div>
                                            </div>

                                            <div *ngIf="isMobileTransfer">
                                                <image-upload [max]="1" (removed)="onRemovedMobileTransferSS($event)"
                                                              [beforeUpload]="onBeforeUploadMobileTransferSS"
                                                              buttonCaption="Select image"
                                                              dropBoxMessage="Drop screenshot of payment page"
                                                              clearButtonCaption="clear">
                                                </image-upload>
                                                <div class="validation-feedback">
                                    <span *ngIf="isSubmittedMobileTransferForm && !mobileTransferImageFile">
                                      <i class='fa fa-exclamation-circle mr-2 warning-icon'></i>Upload screenshot of payment first!
                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Show Offline payment form. END -->

                                        <mat-radio-button *ngIf="enabledPaymentMethods[SSL_COMMERZ_PAYMENT_TYPE]
                                                                && isAllowedSslCommerzInOfferedProductPurchase"
                                                          value="SSLCommerce"
                                                          (click)="showOfflineForm(false)">
                                            <div class="payment-icon-container">
                                                <img src="../../../../../assets/images/final_sslcommerz.webp"
                                                     style="height: auto; width: 80%;"
                                                     alt="SSLcommerce"/>
                                            </div>
                                        </mat-radio-button>
                                        <mat-radio-button
                                                *ngIf="enabledPaymentMethods[BKASH_PAYMENT_TYPE] && showBkashPayment
                                                        && isAllowedBkashInOfferedProductPurchase"
                                                value="bKash"
                                                (click)="showOfflineForm(false)">
                                            <div class="payment-icon-container">
                                                <img src="../../../../../assets/images/bkash.gif"
                                                     style="height: auto; width: 70%;"
                                                     alt="bKash"/>
                                            </div>
                                        </mat-radio-button>
                                        <!--<mat-radio-button *ngIf="enabledPaymentMethods[NAGAD_PAYMENT_TYPE]"
                                                          value="Nagad"
                                                          (click)="showOfflineForm(false)">
                                            <div class="payment-icon-container">
                                                <img src="../../../../../assets/images/nagad.png"
                                                     style="height: auto; width: 70%;"
                                                     alt="nagad"/>
                                            </div>
                                        </mat-radio-button>-->
                                    </div>
                                </mat-radio-group>
                            </div>

                            <div class="form-group">
                                <div class="row amount-to-pay-btn">
                                    <p class="font-weight-bold">Amount to pay</p>
                                    <input type="number" placeholder={{amountToPay}} id="paymentAmount"
                                           class="form-control" formControlName="amount_to_pay"
                                           [(ngModel)]="paymentAmount">
                                </div>
                            </div>
                            <div class="send-btn1">
                                <button type="submit" class="Summarybtn"
                                        (click)="makePartialPayment(partialPaymentForm.value, bKashWalletModalTemplate)"
                                        style="display: block; margin: auto;">
                                    <a>Confirm payment</a>
                                </button>
                            </div>
                        </form>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #bKashWalletModalTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">My bKash Wallets</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bKashWalletModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="color: #444444;">
        <ul class="list-group" *ngIf="authUserWallets && authUserWallets.length > 0; else noWalletTemplate">
            <li class="list-group-item" *ngFor="let authUserWallet of authUserWallets; let i = index">
                <span>{{authUserWallet.wallet_no}}</span>
                <a class="btn btn-primary btn-sm" style="margin-left: 50px;"
                   (click)="proceedWithBkash($event, partialPaymentForm.value, authUserWallet)">Proceed with bKash</a>
            </li>
        </ul>
        <ng-template #noWalletTemplate>
            <p class="alert alert-info">
                You don't have any bKash Wallet added. Please first add a bKash Wallet from <a
                    routerLink="/profile/bkash-accounts"> Here </a> and then proceed with checkout.
            </p>
        </ng-template>
    </div>
    <div class="modal-footer">
        <div class="btn-group pull-right" role="group" aria-label="First group">
            <button type="button" class="btn btn-default" (click)="bKashWalletModalRef.hide()">Cancel</button>
        </div>
    </div>
</ng-template>
