.defaultParagraph {
  margin: 0px !important;
  white-space: nowrap !important;
}

.validation-feedback {
  color: red;
}

@media (max-width: 767.98px) {
  .amount-to-pay-btn {
    margin: 0;
  }

  .payment-method-radio-btn {
    flex-direction: column;
    padding-left: 3.125rem;
  }
}
