<section>
    <nz-card class="card-height" nzTitle="Courier Company List" [nzExtra]="extra">
        <ng-template #extra>
            <button (click)="showModal()" *ngIf="'courier-list'|accessControl" [nzSize]="'large'" nz-button>
                <i class="anticon anticon-download"><span> Add New </span></i>
            </button>
        </ng-template>
        <ng-container>
            <nz-spin [nzSpinning]="_isSpinning">
                <div class="table-operations">
                </div>
                <nz-table #nzTable
                          (nzPageIndexChange)="getPageData()"
                          [(nzPageIndex)]="page"
                          [(nzPageSize)]="limit"
                          [nzData]="data"
                          [nzFrontPagination]="false"
                          [nzLoading]="loading"
                          [nzTotal]="total"
                          nzShowSizeChanger
                >
                    <thead>
                    <tr>
                        <th>
                            <span>Courier</span>
                        </th>
                        <th>
                            <span>Origin Type</span>
                        </th>
                        <th>
                            <span>Action</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr #dataFor *ngFor="let data of nzTable.data;let i=index">
                        <td>
                            {{data.name}}
                        </td>
                        <td>
                            {{origins[data.origin_type - 1]}}
                        </td>
                        <!--trying-->
                        <td>
                            <nz-button-group>
                                <button (click)="showEditModal(data.id)" *ngIf="'courier-edit'|accessControl"
                                        [nzSize]="'default'" nz-button>
                                    <i class="anticon anticon-edit"></i>
                                </button>
                            </nz-button-group>
                            <ng-container *ngIf="'courier-delete'|accessControl">
                                <nz-popconfirm
                                        (nzOnConfirm)="deleteConfirm(data.id)" [nzCancelText]="'Cancel'"
                                        [nzOkText]="'Delete'"
                                        [nzTitle]="'Are you sure you want to delete?'">
                                    <a nz-popconfirm>
                                        <button [nzSize]="'default'" nz-button>
                                            <i class="anticon anticon-delete"> </i>
                                        </button>
                                    </a>
                                </nz-popconfirm>
                            </ng-container>
                        </td>
                    </tr>
                    </tbody>
                </nz-table>
            </nz-spin>
        </ng-container>
    </nz-card>
</section>

<nz-modal (nzOnCancel)="handleCancel($event)" [nzContent]="modalContent" [nzFooter]="null" [nzTitle]="modalTitle"
          [nzVisible]="isVisible">
    <ng-template #modalTitle>
        Courier Company Add
    </ng-template>
    <ng-template #modalContent>
        <div class="row">
            <form (ngSubmit)="submitForm($event,validateForm.value)" [formGroup]="validateForm" id="validateForm"
                  nz-form>
                <div class="col-md-12">
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label> Courier Name </label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <input [nzSize]="'large'" formControlName="name" nz-input placeholder="Courier Enter Name">
                            <div *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('required')"
                            >
                                Name is required!
                            </div>
                        </div>
                    </div>
                    <!-- courier name -->
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label>
                                Origin Type
                            </label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <nz-select (ngModelChange)="courierOriginChange($event)" formControlName="origin_type"
                                       nzMaxMultipleCount="3" nzPlaceHolder="Select Origin Type" style="width: 100%">
                                <nz-option *ngFor="let courier of options" [nzLabel]="courier.label"
                                           [nzValue]="courier.value"></nz-option>
                            </nz-select>
                            <div *ngIf="getFormControl('origin_type').dirty&&getFormControl('origin_type').hasError('required')"
                            >
                                Please select !
                            </div>
                        </div>
                    </div>
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <nz-button-group>
                                <button (click)="handleCancel($event)" [nzSize]="'large'" nz-button type="button">
                                    Cancel
                                </button>
                                <button [nzLoading]="isConfirmLoading" [nzSize]="'large'" nz-button>
                                    Save
                                </button>
                            </nz-button-group>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </ng-template>
</nz-modal>

<nz-modal (nzOnCancel)="handleEditCancel($event)" [nzContent]="modalContentEdit" [nzFooter]="null"
          [nzTitle]="modalTitleEdit"
          [nzVisible]="isEditVisible">
    <ng-template #modalTitleEdit>
        Courier Company Edit
    </ng-template>
    <ng-template #modalContentEdit>
        <div class="row">
            <form (ngSubmit)="submitEditForm($event,validateEditForm.value)" [formGroup]="validateEditForm"
                  id="validateEditForm"
                  nz-form>
                <div class="col-md-12">
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label> Courier Name </label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <input [nzSize]="'large'" formControlName="name" nz-input placeholder="Courier Enter Name">
                            <div *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('required')"
                            >
                                Name is required!
                            </div>
                        </div>
                    </div>
                    <!-- courier name -->
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label>
                                Origin Type
                            </label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <nz-select (ngModelChange)="courierOriginChange($event)" formControlName="origin_type"
                                       nzMaxMultipleCount="3" nzPlaceHolder="Select Origin Type" style="width: 100%">
                                <nz-option *ngFor="let courier of options" [nzLabel]="courier.label"
                                           [nzValue]="courier.value"></nz-option>
                            </nz-select>
                            <div *ngIf="getFormControl('origin_type').dirty&&getFormControl('origin_type').hasError('required')"
                            >
                                Please select !
                            </div>
                        </div>
                    </div>
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <nz-button-group>
                                <button (click)="handleEditCancel($event)" [nzSize]="'large'" nz-button type="button">
                                    Cancel
                                </button>
                                <button [nzLoading]="isConfirmLoading" [nzSize]="'large'" nz-button>
                                    Save
                                </button>
                            </nz-button-group>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>
</nz-modal>
