<div class="row" style="height: 100%;">
    <div class="col-md-6">
        <nz-card style="height: 100%;">
            <ng-template #title>
                অংশ এবং নকশা সংযোজন
            </ng-template>
            <ng-template #extra>
                <button nz-button (click)="showModal()" [nzType]="'primary'" [nzSize]="'large'">
                    <i class="anticon anticon-plus"></i>
                    <span> Add New </span>
                </button>
            </ng-template>
            <ng-template #body>
                <nz-table #nzTable [nzAjaxData]="productDesignData" class="table table-responsive">
                    <thead nz-thead>
                        <tr>
                            <th nz-th>
                                <span>অংশ</span>
                            </th>
                            <th nz-th>
                                <span>নকশা</span>
                            </th>
                            <th nz-th>
                                <span>Price</span>
                            </th>
                            <th nz-th>
                                <span>মন্তব্য</span>
                            </th>
                            <th nz-th *ngIf="'productPartDesign-edit'|accessControl">
                                <span> Action </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <ng-template ngFor let-data let-i="index" [ngForOf]="nzTable.data">

                            <tr nz-tbody-tr>
                                <!--Part-->
                                <td>
                                    <span *ngIf="editRow!==i">
                                        {{data.part_id?.name}}
                                    </span>
                                </td>
                                <!--Design-->
                                <td>
                                    <div>
                                        <span *ngIf="editRow!==i">
                                            {{data.design_id?.name || 'n/a'}}
                                        </span>
                                    </div>
                                </td>

                                <!--Price-->
                                <td>
                                    <span *ngIf="editRow!==i">{{data?.price}}</span>
                                </td>
                                <!--Comment-->
                                <td>
                                    <span *ngIf="editRow!==i">{{data?.comment}}</span>
                                </td>

                                <!--procedure-->
                                <td *ngIf="'productPartDesign-edit'|accessControl">


                                    <span *ngIf="editRow!==i">


                                        <button nz-button (click)="editThisRow(i,data)" [nzType]="'primary'" [nzSize]="'default'">
                                            <i class="anticon anticon-edit "> </i>
                                        </button>
                                    </span>
                                    <span *ngIf="editRow===i">
                                        <button nz-button (click)="saveThisRow(i,data)" [nzType]="'primary'" [nzSize]="'default'">
                                            <i class="anticon anticon-save "> </i>
                                        </button>
                                    </span>


                                    <nz-popconfirm *ngIf="'productPartDesign-delete'|accessControl" [nzTitle]="'Are you sure you want to delete?'"
                                        [nzOkText]="'Delete'" [nzCancelText]="'Cancel'" (nzOnConfirm)="deleteConfirm(i,data)">
                                        <a nz-popconfirm>
                                            <button nz-button [nzType]="'danger'" [nzSize]="'default'">
                                                <i class="anticon anticon-delete "> </i>
                                            </button>
                                        </a>
                                    </nz-popconfirm>
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                </nz-table>
            </ng-template>
        </nz-card>
    </div>
    <div class="col-md-6">
        <div class="row">
            <nz-card *ngIf="designCombinationData" style="height: 100%;">
                <ng-template #title>
                    নকশা Picture সংযোজন
                </ng-template>
                <ng-template #extra>
                    <button (click)="closeAddDesign()" nz-button [nzType]="'primary'" [nzSize]="'large'">
                        <i class="anticon anticon-close"></i>
                        <span> </span>
                    </button>
                </ng-template>
                <ng-template #body>
                    <app-design-combination [productData]="currentProductForAddPart" [designCombinationData]="designCombinationData">
                    </app-design-combination>
                </ng-template>
            </nz-card>
        </div>
        <div class="row">

        </div>
    </div>
</div>

<nz-modal [nzFooter]="null" [nzVisible]="isPartDesignVisible" nzOkText="Save" nzCancelText="Cancel" nzWidth="70%" [nzTitle]="'অংশ এবং নকশা যুক্তকরন'"
    [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
    <ng-template #modalContent>
        <div class="row" style="margin: 0 20px 0px 20px;">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <table style="width: 100%" class="desingCreateTable">
                            <thead>
                                <th style="text-align: center;">শৈলী</th>
                                <th style="text-align: center;">ধরন</th>
                                <th style="text-align: center;">Subcategory</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <nz-select [(ngModel)]="tempEditObject.genre_id" style="width: 90%;"
                                            nzAllowClear (ngModelChange)="genreSearchChange($event)" [nzPlaceHolder]="'শৈলী নির্বাচন করুন'"
                                            [nzFilter]="true" (nzSearch)="genreSearchChange($event)" (nzSearchChange)="genreSearchChange($event)"
                                            [nzNotFoundContent]="'Not found'" nzShowSearch>
                                            <nz-option *ngFor="let option of genreSearchOptions" [nzLabel]="option.name"
                                                [nzValue]="option.id">
                                            </nz-option>
                                        </nz-select>
                                    </td>
                                    <td>
                                        <nz-select style="width: 90%;" nzAllowClear [(ngModel)]="tempEditObject.design_category_id"
                                            (ngModelChange)="designCategorySearchChange($event)" [nzPlaceHolder]="'ধরন নির্বাচন করুন'"
                                            [nzFilter]="true" (nzSearch)="designCategorySearchChange($event)"
                                            (nzSearchChange)="designCategorySearchChange($event)" [nzNotFoundContent]="'Not found'"
                                            nzShowSearch>
                                            <nz-option *ngFor="let option of designCategorySearchOptions" [nzLabel]="option.name"
                                                [nzValue]="option.id">
                                            </nz-option>
                                        </nz-select>
                                    </td>
                                    <td>
                                        <nz-select style="width: 90%;" nzAllowClear [(ngModel)]="tempEditObject.design_subcategory_id"
                                            [nzPlaceHolder]="'Select Product Subcategory'" [nzFilter]="true" (ngModelChange)="designSubcategorySearchChange($event)"
                                            (nzSearch)="designSubcategorySearchChange($event)" (nzSearchChange)="designSubcategorySearchChange($event)"
                                            [nzNotFoundContent]="'Not found'" nzShowSearch>
                                            <nz-option *ngFor="let option of designSubcategorySearchOptions" [nzLabel]="option.name"
                                                [nzValue]="option.id">
                                            </nz-option>

                                        </nz-select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="row" style="height: 350px;margin-top: 10px;margin-left: 5px;">

                            <div class="col-md-3" *ngFor="let design of designs; let i = index" [ngClass]="{'highlight': selectedIndex === i}"
                                (click)="setRow(i, design.id)" style="
                                        border: 1px solid gray;
                                        padding: 5px 5px 5px 5px;
                                        height: 185px;
                                        border-radius: 6px;
                                        margin: 0px 10px 0px 0px;
                                        box-shadow: 2px 3px #d0cdcd;">
                                <div style="margin-bottom: 15px;">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <img class="img-responsive img-thumbnail" src="{{IMAGE_ENDPOINT + design.image}}"
                                                alt="{{design.name}}" style="height: 130px;width: 250px">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="row">
                                            <div class="text-center">
                                                <p class="h6">{{design.name}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div>
                        <label> পণ্যের শ্রেণী </label>
                    </div>
                
                    <nz-select
                    [(ngModel)]="tempEditObject.type_id" style="width: 90%;"
                    nzAllowClear (ngModelChange)="typeSearchChange($event)" [nzPlaceHolder]="'পণ্যের শ্রেণী নির্বাচন করুন'"
                    [nzFilter]="true" (nzSearch)="typeSearchChange($event)" (nzSearchChange)="typeSearchChange($event)"
                    [nzNotFoundContent]="'Not found'" nzShowSearch>
                        <nz-option *ngFor="let option of typeSearchOptions" [nzLabel]="option.name" [nzValue]="option.id">
                        </nz-option>

                    </nz-select>
                </div>
                <div class="row">
                    <div>
                        <label> Product category </label>
                    </div>
                    <nz-select
                    [(ngModel)]="tempEditObject.category_id" style="width: 90%;"
                    nzAllowClear (ngModelChange)="categoryChange($event)" [nzPlaceHolder]="'ধরন নির্বাচন করুন'"
                    [nzFilter]="true" (nzSearch)="categoryChange($event)" (nzSearchChange)="categoryChange($event)"
                    [nzNotFoundContent]="'Not found'" nzShowSearch>
                        <nz-option *ngFor="let option of categorySearchOptions" [nzLabel]="option.name" [nzValue]="option.id">
                        </nz-option>
                    </nz-select>
                </div>
                <div class="row">
                    <div>
                        <label> পণ্যের ঊপধরন </label>
                    </div>
                    <nz-select [(ngModel)]="tempEditObject.subcategory_id" nzAllowClear style="width: 90%;"
                        [nzPlaceHolder]="'পণ্যের ঊপধরন নির্বাচন করুন'" [nzFilter]="true" (ngModelChange)="subcategorySearchChange($event)"
                        (nzSearch)="subcategorySearchChange($event)" (nzSearchChange)="subcategorySearchChange($event)"
                        [nzNotFoundContent]="'Not found'" nzShowSearch>
                        <nz-option *ngFor="let option of subcategorySearchOptions" [nzLabel]="option.name" [nzValue]="option.id">
                        </nz-option>

                    </nz-select>
                </div>
                <div class="row">
                    <div>
                        <label> পণ্যের অংশ </label>
                    </div>
                    <nz-select [(ngModel)]="tempEditObject.part_id" nzAllowClear style="width: 90%;"  (ngModelChange)="partSearchChange($event)"
                        [nzPlaceHolder]="'পণ্যের অংশ নির্বাচন করুন'" [nzFilter]="true" (nzSearch)="partSearchChange($event)"
                        (nzSearchChange)="partSearchChange($event)" [nzNotFoundContent]="'Not found'"
                        nzShowSearch>
                        <nz-option *ngFor="let option of partSearchOptions" [nzLabel]="option.name" [nzValue]="option.id">
                        </nz-option>

                    </nz-select>
                </div>
                <div class="row">
                    <div>
                        <label> Price </label></div>
                    <nz-input [nzType]="'number'" [(ngModel)]="tempEditObject.price" style="width: 90%;"
                        [nzPlaceHolder]="'Price লিপিবদ্ধ করুন'" [(ngModel)]="tempEditObject.price"></nz-input>
                </div>
                <div class="row">
                    <div>
                        <label> মন্তব্য </label>
                    </div>
                    <nz-input [nzType]="'text'" style="width: 90%;" [(ngModel)]="tempEditObject.comment"
                        [nzPlaceHolder]="'মন্তব্য লিপিবদ্ধ করুন'" [(ngModel)]="tempEditObject.comment"></nz-input>
                </div>
            </div>
        </div>
    </ng-template>
</nz-modal>
