<nz-card nzTitle="Transaction Edit" [nzExtra]="extra">
    <ng-template #extra>
        <button routerLink="/dashboard/payment" nz-button [nzType]="'primary'"
                [nzSize]="'large'">
            <i class="anticon anticon-file-text"></i><span>List</span>
        </button>
    </ng-template>
    <ng-container>
        <form nz-form [formGroup]="validateForm" id="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">

            <!--Order start-->
            <div nz-row>
                <div nz-col [nzSpan]="7">
                    <label> Order </label>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-select
                            formControlName="order_id"
                            [(ngModel)]="order_id"
                            nzAllowClear
                            [nzPlaceHolder]="'Select Order'"
                            (ngModelChange)="orderChange($event)"
                            [nzNotFoundContent]="'Not found'"
                            nzShowSearch>
                        <nz-option
                                *ngFor="let option of orderSearchOptions"
                                [nzLabel]="option.id.toString()"
                                [nzValue]="option.id">
                        </nz-option>
                    </nz-select>


                    <div
                            *ngIf="getFormControl('order_id').dirty&&getFormControl('order_id').hasError('required')">
                        required!
                    </div>
                </div>
            </div>
            <!--order end-->

            <!--Suborder start-->
            <div nz-row
                 *ngIf="validateForm.controls.order_id.value">
                <div nz-col [nzSpan]="7">
                    <label> Vendor Order </label>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-select
                            formControlName="suborder_id"
                            [(ngModel)]="suborder_id"
                            nzAllowClear
                            [nzPlaceHolder]="'Select Suborder'"
                            [nzNotFoundContent]="'Not found'"
                            nzShowSearch>
                        <nz-option
                                *ngFor="let option of suborderSearchOptions"
                                [nzLabel]="option.id"
                                [nzValue]="option.id">
                        </nz-option>
                    </nz-select>
                    <div
                            *ngIf="getFormControl('suborder_id').dirty&&getFormControl('suborder_id').hasError('required')">
                        required!
                    </div>
                </div>
            </div>
            <!--suborder end-->

            <!--Customer start-->
            <div nz-row
                 *ngIf="validateForm.controls.order_id.value">
                <div nz-col [nzSpan]="7">
                    <label> Customer </label>
                </div>
                <div nz-col [nzSpan]="12">
                    <input nz-input formControlName="user_id"
                           nzReadonly
                           [nzSize]="'large'" [ngModel]="customer?.username">

                </div>
            </div>
            <!--Customer end-->

            <!--Receiver start-->
            <div nz-row>
                <div nz-col [nzSpan]="7">
                    <label> Vendor </label>
                </div>
                <div nz-col [nzSpan]="12">

                    <input nz-input formControlName="receiver_id"
                           nzReadonly
                           [nzSize]="'large'" [ngModel]="currentUser?.username">

                </div>
            </div>
            <!--Receiver end-->

            <!--payment type start-->
            <div nz-row>
                <div nz-col [nzSpan]="7">
                    <label> Payment type </label>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-select formControlName="payment_type" nzPlaceHolder="Select payment type">
                        <nz-option
                                *ngFor="let option of paymentTypeOptions"
                                [nzLabel]="option.label"
                                [nzValue]="option.value"
                                [nzDisabled]="option.disabled">
                        </nz-option>
                    </nz-select>
                    <div
                            *ngIf="getFormControl('payment_type').dirty&&getFormControl('payment_type').hasError('required')">
                        required!
                    </div>
                </div>
            </div>
            <!--payment type end-->

            <!--payment amount start-->
            <div nz-row>
                <div nz-col [nzSpan]="7">
                    <label> Payment Amount </label>
                </div>
                <div nz-col [nzSpan]="12">
                    <input nz-input formControlName="payment_amount"
                           [placeholder]="'Enter payment amount'"
                           [nzSize]="'large'">

                    <div
                            *ngIf="getFormControl('payment_amount').dirty&&getFormControl('payment_amount').hasError('required')">
                        required!
                    </div>
                </div>
            </div>
            <!--payment amount end-->

            <!--Date picker start-->
            <div nz-row>
                <div nz-col [nzSpan]="7">
                    <label> Date </label>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-date-picker formControlName="payment_date" [ngModel]="data?.payment_date"
                                    [nzPlaceHolder]="'Enter Date'"></nz-date-picker>

                    <div
                            *ngIf="getFormControl('payment_date').dirty&&getFormControl('payment_date').hasError('required')">
                        Please insert date here!
                    </div>
                </div>
            </div>
            <!--date picker end-->

            <!--status start -->
            <div nz-row>
                <div nz-col [nzSpan]="7">
                    <label> Status </label>
                </div>
                <div nz-col [nzSpan]="12">

                    <nz-select formControlName="status" nzPlaceHolder="Select Status">
                        <nz-option
                                *ngFor="let option of statusOptions"
                                [nzLabel]="option.label"
                                [nzValue]="option.value"
                                [nzDisabled]="option.disabled">
                        </nz-option>
                    </nz-select>

                    <div
                            *ngIf="getFormControl('status').dirty&&getFormControl('status').hasError('required')">
                        required!
                    </div>
                </div>
            </div>
            <!--status end-->

            <div nz-row style="margin-top: 10px">
                <div nz-col [nzOffset]="7" [nzSpan]="12">
                    <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!validateForm.valid">Save
                    </button>&nbsp;
                    <button nz-button [nzSize]="'large'" (click)="resetForm($event)"> Reset</button>
                </div>
            </div>

        </form>
    </ng-container>
</nz-card>


