<nz-modal [nzFooter]="null" [nzVisible]="isEditModalVisible" [nzTitle]="'Edit Banner'" [nzContent]="editmodalContent"
          (nzOnCancel)="handleModalCancel($event)" (nzOnOk)="handleModalOk($event)" [nzMaskClosable]="false">
    <ng-template #editmodalContent>
        <div class="spinning">
            <nz-spin [nzSpinning]="_isSpinning">
                <form nz-form [formGroup]="editValidateForm" id="editValidateForm"
                      (ngSubmit)="submitEditForm($event,editValidateForm.value)">
                    <div nz-row *ngIf="sectionoptionsData">
                        <div nz-col [nzSpan]="7">
                            <label>Section</label>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <nz-select formControlName="section" [nzPlaceHolder]="" [(ngModel)]="selectedSection"
                                       (ngModelChange)="sectionChange($event)">
                                <nz-option *ngFor="let option of sectionoptionsData" [nzLabel]="option.section"
                                           [nzValue]="option.section"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row *ngIf="subsectionOptions">
                        <div nz-col [nzSpan]="7">
                            <label>SubSection</label>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <nz-select [(ngModel)]="selectedSubSection" formControlName="sub_section"
                                       [nzPlaceHolder]=" 'input search text'">
                                <nz-option *ngFor="let option of subsectionOptions" [nzLabel]="option"
                                           [nzValue]="option"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div nz-row>
                        <!--title start-->
                        <div nz-col [nzSpan]="7">
                            <label>Title</label>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <input nz-input formControlName="title" [placeholder]="'insert title'" [nzSize]="'large'">

                            <div *ngIf="getEditFormControl('title').dirty && getEditFormControl('title').hasError('required')">
                                Please input title !
                            </div>
                            <div *ngIf="getEditFormControl('title').dirty && getEditFormControl('title').hasError('duplicated')">
                                Name already exists!
                            </div>
                            <div *ngIf="getEditFormControl('title').dirty && getEditFormControl('title').pending">
                                Validating...
                            </div>
                        </div>
                    </div>
                    <!--Title -->
                    <div nz-row>
                        <div nz-col [nzSpan]="7">
                            <label>Image</label>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <image-upload [uploadedFiles]="editUploadedImages" [max]="1" (removed)="onRemoved($event)"
                                          (uploadStateChanged)="onUploadStateChanged($event)"
                                          [beforeUpload]="onBeforeUpload"></image-upload>
                            <div *ngIf="!ImageFile">
                                Please upload an image here!
                            </div>
                        </div>
                    </div>
                    <!--image-->
                    <div nz-row>
                        <div nz-col [nzSpan]="7">
                            <label>Description</label>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <ckeditor formControlName="description" [config]="ckConfig" [readonly]="false "
                                      debounce="500 ">

                            </ckeditor>
                            <div *ngIf="getEditFormControl('description').dirty&&getEditFormControl('description').hasError('required')">
                                Please input description !
                            </div>
                        </div>
                    </div>
                    <!--description-->
                    <div nz-row>
                        <div nz-col [nzOffset]="7" [nzSpan]="12">
                            <button nz-button [nzType]="'primary'" [nzSize]="'large'"
                                    [disabled]="!editValidateForm.valid">
                                Submit
                            </button>
                            <button nz-button [nzSize]="'large'" (click)="resetForm($event)">Reset</button>
                        </div>
                    </div>
                </form>
            </nz-spin>
        </div>
    </ng-template>
</nz-modal>


<div class="row" *ngIf="cmsFeatureData && cmsFeatureData.length > 0">
    <div class="col-md-6" *ngFor="let feature of cmsFeatureData; let i = index" [attr.data-index]="feature.id">
        <nz-card [nzExtra]="extraTitle" [nzTitle]="'Title: ' + feature.data_value[0].title"
                 style="max-height: 260px; margin-bottom: 5px;">
            <ng-template #extraTitle>
                <div class="pull-right">
                    <button nz-button [nzType]="'primary'" (click)="showEditModal(feature, i)">
                        <span>
                            <i class="anticon anticon-edit"></i>
                        </span>
                    </button>
                    <nz-popconfirm [nzTitle]="'Are you sure you want to delete?'" [nzOkText]="'Delete'"
                                   [nzCancelText]="'Cancel'" (nzOnConfirm)="deleteConfirm(i,feature.id)">
                        <a nz-popconfirm>
                            <button nz-button [nzType]="'danger'" [nzSize]="'default'">
                                <i class="anticon anticon-delete "></i>
                            </button>
                        </a>
                    </nz-popconfirm>
                </div>
            </ng-template>
            <div class="col-md-6">
                <div> Description:
                    <div [innerHTML]="feature.data_value[0].description"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <img class="img img-responsive"
                         alt="{{feature.data_value[0].image}}" src="{{ IMAGE_ENDPOINT + feature.data_value[0].image}}"
                    />
                </div>
            </div>
        </nz-card>
    </div>
</div>
