<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-12">
        <button class="btn btn-info pull-right" (click)="showCreateModal()">Add New</button>
    </div>
</div>
<div class="row" *ngIf="cmsCarouselData && cmsCarouselData.length > 0">
    <div class="col-md-6" *ngFor="let carousel of cmsCarouselData; let i = index" [attr.data-index]="i">
        <nz-card style="max-height: 260px; margin-bottom: 5px;" [nzTitle]="carousel.title" [nzExtra]="extraTemplate">
            <ng-template #extraTemplate>
                <button nz-button [nzType]="'primary'" (click)="showEditModal(i)" style="margin-right: 10px;">
                    <span>
                        <i nz-icon type="edit" theme="outline"></i>
                    </span>
                </button>
                <nz-popconfirm [nzTitle]="'Are you sure want to delete？'" [nzOkText]="'ok'"
                               [nzCancelText]="'cancel'" (nzOnConfirm)="deleteCarousel(i)">
                    <a nz-popconfirm>
                        <button nz-button [nzType]="'danger'" [nzSize]="'default'">
                            <i nz-icon type="delete" theme="outline"></i>
                        </button>
                    </a>
                </nz-popconfirm>
            </ng-template>
            <div class="row">
                <div class="col-md-6">
                    <div> Short Text 1: {{carousel.description.short1}}</div>
                    <div> Short Text 2: {{carousel.description.short2}}</div>
                    <div> Short Text 3: {{carousel.description.short3}}</div>
                </div>
                <div class="col-md-6">
                    <img class="img img-responsive " alt="{{carousel.title}}"
                         src="{{ IMAGE_ENDPOINT + carousel.image}}"/>
                </div>
            </div>
        </nz-card>
    </div>
</div>
<nz-modal [nzFooter]="null"
          [nzVisible]="isAddModalVisible"
          [nzTitle]="'Create Carousel Modal'"
          nzWidth="960"
          [nzContent]="modalContent"
          (nzOnCancel)="handleModalCancel($event)"
          (nzOnOk)="handleModalOk($event)">
    <ng-template #modalContent>
        <nz-spin [nzSpinning]="_isSpinning">
            <form nz-form [formGroup]="validateForm" id="validateForm"
                  (ngSubmit)="submitForm($event,validateForm.value)">
                <div nz-row>
                    <div nz-col [nzSpan]="7">
                        <label>Title</label>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <input nz-input formControlName="title" [placeholder]="'Insert title'" [nzSize]="'large'">
                        <div *ngIf="getFormControl('title').dirty&&getFormControl('title').hasError('required')">
                            Please input title !
                        </div>
                        <div *ngIf="getFormControl('title').dirty&&getFormControl('title').hasError('duplicated')">
                            Name already exists!
                        </div>
                        <div *ngIf="getFormControl('title').dirty&&getFormControl('title').pending">
                            Validating...
                        </div>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col [nzSpan]="7">
                        <label>Short text 1</label>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <input nz-input formControlName="short1" [placeholder]="'Insert Short text 1'"
                               [nzSize]="'large'">

                        <div *ngIf="getEditFormControl('short1').dirty&&getEditFormControl('short1').hasError('required')">
                            Please input Short text 1 !
                        </div>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col [nzSpan]="7">
                        <label>Short text 2</label>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <input nz-input formControlName="short2" [placeholder]="'Insert Short text 2'"
                               [nzSize]="'large'">

                        <div *ngIf="getEditFormControl('short2').dirty&&getEditFormControl('short2').hasError('required')">
                            Please input Short text 2 !
                        </div>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col [nzSpan]="7">
                        <label>Short text 3</label>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <input nz-input formControlName="short3" [placeholder]="'Insert Short text 3'"
                               [nzSize]="'large'">

                        <div *ngIf="getEditFormControl('short3').dirty&&getEditFormControl('short3').hasError('required')">
                            Please input Short text 3!
                        </div>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col [nzSpan]="7">
                        <label>Link Text</label>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <input nz-input formControlName="linktext" [placeholder]="'Insert Link Text'"
                               [nzSize]="'large'">

                        <div *ngIf="getEditFormControl('linktext').dirty&&getEditFormControl('linktext').hasError('required')">
                            Please input Link Text !
                        </div>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col [nzSpan]="7">
                        <label>Link</label>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <input nz-input formControlName="link" [placeholder]="'Insert Product Link'"
                               [nzSize]="'large'">

                        <div *ngIf="getEditFormControl('link').dirty&&getEditFormControl('link').hasError('required')">
                            Please Link !
                        </div>
                    </div>
                </div>
                <div nz-row style="margin-bottom: 20px;">
                    <div nz-col [nzSpan]="7">
                        <label>Image</label>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <image-upload #desktopImageUploadCreate [max]="1"
                                      (removed)="onRemoved($event)"
                                      [maxFileSize]="524288"
                                      [extensions]="['jpeg','png', 'jpg', 'webp']"
                                      [beforeUpload]="onBeforeUpload"></image-upload>
                        <div *ngIf="!ImageFile">
                            Please Upload an Image Here!
                        </div>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col [nzOffset]="7" [nzSpan]="12">
                        <button nz-button [nzType]="'primary'" [nzSize]="'large'"
                                [disabled]="!validateForm.valid || !ImageFile || submitting"
                                style="margin-right: 5px;">
                            Submit
                        </button>
                        <button nz-button [nzSize]="'large'" (click)="resetForm($event)" style="margin-right: 5px;">
                            Reset
                        </button>
                        <button nz-button [nzSize]="'large'" (click)="handleModalCancel($event)">Cancel</button>
                    </div>
                </div>
            </form>
        </nz-spin>
    </ng-template>
</nz-modal>
<nz-modal [nzFooter]="null" nzWidth="960"
          [nzVisible]="isEditModalVisible"
          [nzTitle]="'Edit Carousel Modal'"
          [nzContent]="editmodalContent"
          (nzOnCancel)="handleModalCancel($event)"
          (nzOnOk)="handleModalOk($event)">
    <ng-template #editmodalContent>
        <nz-spin [nzSpinning]="_isSpinning">
            <form nz-form [formGroup]="editValidateForm" id="editValidateForm"
                  (ngSubmit)="submitEditForm($event,editValidateForm.value)">
                <div nz-row>
                    <div nz-col [nzSpan]="7">
                        <label>Title</label>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <input nz-input formControlName="title" [placeholder]="'Insert title'" [nzSize]="'large'">

                        <div *ngIf="getEditFormControl('title').dirty && getEditFormControl('title').hasError('required')">
                            Please input title !
                        </div>
                        <div *ngIf="getEditFormControl('title').dirty && getEditFormControl('title').hasError('duplicated')">
                            Name already exists!
                        </div>
                        <div *ngIf="getEditFormControl('title').dirty && getEditFormControl('title').pending">
                            Validating...
                        </div>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col [nzSpan]="7">
                        <label>Short text 1</label>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <input nz-input formControlName="short1" [placeholder]="'Insert Short text 1'"
                               [nzSize]="'large'">

                        <div *ngIf="getEditFormControl('short1').dirty && getEditFormControl('short1').hasError('required')">
                            Please input Short text 1 !
                        </div>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col [nzSpan]="7">
                        <label>Short text 2</label>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <input nz-input formControlName="short2" [placeholder]="'Insert Short text 2'"
                               [nzSize]="'large'">

                        <div *ngIf="getEditFormControl('short2').dirty && getEditFormControl('short2').hasError('required')">
                            Please input Short text 2 !
                        </div>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col [nzSpan]="7">
                        <label>Short text 3</label>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <input nz-input formControlName="short3" [placeholder]="'Insert Short text 3'"
                               [nzSize]="'large'">

                        <div *ngIf="getEditFormControl('short3').dirty && getEditFormControl('short3').hasError('required')">
                            Please input Short text 3 !
                        </div>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col [nzSpan]="7">
                        <label>Link Text</label>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <input nz-input formControlName="linktext" [placeholder]="'Insert Link Text'"
                               [nzSize]="'large'">

                        <div *ngIf="getEditFormControl('linktext').dirty && getEditFormControl('linktext').hasError('required')">
                            Please input Link Text !
                        </div>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col [nzSpan]="7">
                        <label>Product Link</label>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <input nz-input formControlName="link" [placeholder]="'Insert Product Link'"
                               [nzSize]="'large'">
                        <div *ngIf="getEditFormControl('link').dirty && getEditFormControl('link').hasError('required')">
                            Please input Link !
                        </div>
                    </div>
                </div>
                <div nz-row style="margin-bottom: 20px;">
                    <div nz-col [nzSpan]="7">
                        <label>Image</label>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <image-upload
                            #desktopImageUploadEdit
                            [uploadedFiles]="editImage && editImage.length ? editImage: ''"
                            [max]="1"
                            (removed)="onRemoved($event)"
                            [maxFileSize]="524288"
                            [extensions]="['jpeg','png', 'jpg', 'webp']"
                            [beforeUpload]="onBeforeUpload"
                        ></image-upload>
                        <div *ngIf="!ImageFile">
                            Please upload an image here!
                        </div>
                    </div>
                </div>
                <div nz-row style="margin-bottom: 20px;">
                    <div nz-col [nzSpan]="7">
                        <label>Image for Mobile</label>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <image-upload
                            #mobileImageUploadEdit
                            [uploadedFiles]="editImageMobile && editImageMobile.length ? editImageMobile: ''"
                            [max]="1"
                            (removed)="onRemovedMobile($event)"
                            [extensions]="['jpeg','png', 'jpg', 'webp']"
                            [beforeUpload]="onBeforeUploadMobile"
                            [maxFileSize]="524288"
                            (uploadFinished)="onUploadFinishedMobile($event)"
                        ></image-upload>
                        <div *ngIf="!ImageForMobileFile">
                            Please upload an image here!
                        </div>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col [nzOffset]="7" [nzSpan]="12">
                        <button nz-button [nzType]="'primary'" [nzSize]="'large'" style="margin-right: 5px;"
                                [disabled]="!editValidateForm.valid || (!ImageFile && !editImage)">
                            Submit
                        </button>
                        <button nz-button [nzSize]="'large'" (click)="resetForm($event)" style="margin-right: 5px;">
                            Reset
                        </button>
                        <button nz-button [nzSize]="'large'" (click)="handleModalCancel($event)">Cancel</button>
                    </div>
                </div>
            </form>
        </nz-spin>
    </ng-template>
</nz-modal>
