<home-banner *ngIf="cmsData" [carouselBannerData]="cmsData['HOME_CAROUSEL']"></home-banner>
<app-flash-deals [dataProductList]="featureProducts$"></app-flash-deals>
<app-section-offers></app-section-offers>
<home-product-special></home-product-special>
<app-section-feedback></app-section-feedback>
<app-section-brand></app-section-brand>
<app-section-recommend></app-section-recommend>
<app-special-look></app-special-look>
<app-business-oportunities *ngIf="cmsData" [serviceFooterData]="cmsData['LAYOUT_HEADER']"></app-business-oportunities>
<app-section-service></app-section-service>
