<section>
    <nz-card class="card-height">
        <ng-template #title>
            কারিগরের List
        </ng-template>
        <ng-template #extra>
            <button *ngIf="'craftsman-create'|accessControl" routerLink="/dashboard/craftsman/create" nz-button
                    [nzSize]="'large'">
                <i class="anticon anticon-download"><span> Add New </span></i>
            </button>
        </ng-template>
        <ng-template #body>
            <nz-spin [nzSpinning]="_isSpinning">
                <nz-table #nzTable
                          nzShowSizeChanger
                          [nzFrontPagination]="false"
                          [nzData]="data"
                          [nzLoading]="loading"
                          [nzTotal]="total"
                          [(nzPageIndex)]="page"
                          [(nzPageSize)]="limit"
                          (nzPageIndexChange)="getPageData()"
                >
                    <thead [nzSingleSort]="true" (nzSortChange)="sort($event) ">
                    <tr>
                        <th>
                            <span> Picture </span>
                        </th>
                        <th>
                            <span> UserName </span>
                        </th>
                        <th>
                            <span> Email </span>
                        </th>
                        <th nzShowSort nzSortKey="name">
                            <span>Name</span>
                        </th>

                        <th>
                            <span> Phone Number </span>
                        </th>
                        <th>
                            <span> Location </span>
                        </th>
                        <th>

                        </th>
                    </tr>
                    </thead>
                    <thead>
                    <!--search bar.....................-->
                    <tr>
                        <th>

                        </th>
                        <th>


                        </th>
                        <th>
                            <input nz-input placeholder="Email Search" [(ngModel)]="emailSearchValue"
                                   (ngModelChange)="page=1; getPageData()">
                        </th>
                        <th>
                            <input nz-input placeholder="Name Search" [(ngModel)]="nameSearchValue"
                                   (ngModelChange)="page=1; getPageData()">

                        </th>
                        <th>
                            <input nz-input placeholder="Phone Number Search" [(ngModel)]="phoneSearchValue"
                                   (ngModelChange)="page=1; getPageData()">
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of nzTable.data">
                        <td>
                            <nz-avatar [nzShape]="'square'" [nzSrc]="IMAGE_ENDPOINT + data.avatar" [nzSize]="'large'"
                                       [nzIcon]="'user'"></nz-avatar>
                        </td>
                        <td>{{data.username}}
                        </td>
                        <td>
                            <nz-tag>{{data.email}}</nz-tag>
                        </td>
                        <td>
                            <nz-tag>{{data.first_name}} {{data.last_name}}</nz-tag>
                        </td>

                        <td>
                            {{data.phone}}
                        </td>
                        <td>
                            {{data.upazila_id?.name}}, {{data.zila_id?.name}}, {{data.division_id?.name}}
                        </td>
                        <td>
                            <nz-button-group>

                                <button *ngIf="'craftsman-read'|accessControl"
                                        [routerLink]="['/dashboard/craftsman/details/', data.id]"
                                        nz-button [nzSize]="'default'">
                                    <i class="anticon anticon-info-circle"> </i>
                                </button>
                                <button *ngIf="'craftsman-edit'|accessControl"
                                        [routerLink]="['/dashboard/craftsman/edit', data.id]"
                                        nz-button [nzSize]="'default'">
                                    <i class="anticon anticon-edit"> </i>
                                </button>
                            </nz-button-group>

                            <ng-container *ngIf="'craftsman-delete'|accessControl">
                                <nz-popconfirm [nzTitle]="'Are you sure you want to delete?'" [nzOkText]="'Delete'"
                                               [nzCancelText]="'Cancel'" (nzOnConfirm)="deleteConfirm(data.id)">
                                    <a nz-popconfirm>
                                        <button nz-button [nzSize]="'default'">
                                            <i class="anticon anticon-delete"> </i>
                                        </button>
                                    </a>
                                </nz-popconfirm>
                            </ng-container>
                        </td>
                    </tr>
                    </tbody>
                </nz-table>
            </nz-spin>
            <div class="row">
                <div class="col-md-offset-5" style="margin-top: 10px">
                    <!--                    <span class="col-md-6">
                                            <nz-pagination placeholder="'পৃষ্ঠা'" (nzPageIndexClickChange)="changePage($event,limit)" (nzPageSizeChange)="changePage(1,$event)"
                                                nzShowTotal [nzPageIndex]="page" [nzTotal]="total" nzShowSizeChanger [nzPageSize]="limit">
                                            </nz-pagination>
                                        </span>-->
                    <div class="pull-right col-md-6">
                        <button nz-button (click)="resetAllFilter()">Clear filter</button>
                    </div>
                </div>
            </div>
        </ng-template>
    </nz-card>
</section>
