.header-logo img {
    width: 100px;
    margin-bottom: 60px;
}

.header-text h4 {
    color: orangered;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.invoice-inner-left p {
    font-size: 16px;
    text-transform: capitalize;
}

.invoice-inner-right p {
    font-size: 14px;
    text-transform: capitalize;
}

.amount-text p {
    font-size: 14px;
    text-transform: capitalize;
    line-height: 24px;
}

.amount-text h5 {
    font-size: 20px;
    text-transform: capitalize;
    line-height: 24px;

}

.amount-text span {
    font-size: 14px;
    text-transform: capitalize;
    line-height: 24px;
}

.bill-info-left h5 {
     font-size: 18px;
     text-transform: capitalize;
     line-height: 24px;
 }

.bill-info-left p {
    font-size: 14px;
    text-transform: capitalize;
    line-height: 24px;
}

.bill-info-right h5 {
    font-size: 18px;
    text-transform: capitalize;
    line-height: 24px;
}
.bill-info-right p {
    font-size: 14px;
    text-transform: capitalize;
    line-height: 24px;
}

.shopping-info-left h5{
    font-size: 18px;
    text-transform: capitalize;
    line-height: 24px;
}
.shopping-info-left p {
    font-size: 14px;
    text-transform: capitalize;
    line-height: 24px;
}
.shopping-info-right h5{
    font-size: 18px;
    text-transform: capitalize;
    line-height: 24px;
}
.shopping-info-right p {
    font-size: 14px;
    text-transform: capitalize;
    line-height: 24px;
}
.footer{
    font-size: 14px;
    text-transform: capitalize;
    margin-left: 35px;
}
.item-table tbody tr td {
    text-align: center;
}
.item-table tbody tr th.price-type,
.item-table tbody tr td.qty-type,
.item-table tbody tr td.price-type {
    text-align: right;
}
