<section>
    <nz-card [hidden]="!showList" class="card-height"
             [nzTitle]="status == 1 ? ' Fixed Product List' : (status == 2) ? 'Variable Product List' : 'Fully Customized Product List'"
             [nzExtra]="extraTemplate">
        <ng-template #extraTemplate>
            <button *ngIf="'product-create'|accessControl" routerLink="/dashboard/product/create"
                    [queryParams]="{status: status}" nz-button
            >
                <i class="anticon anticon-download"></i>
                <span> Add New </span>
            </button>
            <button routerLink="/dashboard/product/bulk-upload"
                    [queryParams]="{status: status}" nz-button style="margin-left: 10px;"
            >
                <i class="anticon anticon-upload"></i>
                <span> Bulk Upload Products </span>
            </button>&nbsp;
            <button nz-button (click)="resetAllFilter()">Clear filter</button>
        </ng-template>

        <nz-table #nzTable
                  [nzShowPagination]="true"
                  [nzFrontPagination]="false"
                  [nzData]="data"
                  [nzLoading]="_isSpinning"
                  [nzTotal]="total"
                  [nzPageIndex]="page"
                  [nzPageSize]="limit"
                  (nzPageIndexChange)="getProductData($event, 'page')"
                  (nzPageSizeChange)="getProductData($event, 'size')"
                  nzShowSizeChanger
                  [nzScroll]="{ x:'1900px',y: '800px'  }"
        >
            <thead (nzSortChange)="sort($event)" nzSingleSort>
            <tr>
                <th nzShowSort nzSortKey="updatedAt" style="text-align: center">
                    <span>Last Updated</span>
                </th>
                <th nzShowSort nzSortKey="code" style="text-align: center">
                    <span>Code</span>
                </th>
                <th nzShowSort nzSortKey="name" style="text-align: center">
                    <span> Name </span>
                </th>
                <th nzShowSort nzSortKey="price" style="text-align: center">
                    <span> Price </span>
                </th>
                <th nzShowSort nzSortKey="quantity" style="text-align: center">
                    <span> Quantity </span>
                </th>
                <th style="text-align: center">
                    <span> Approved ? </span>
                </th>
                <th style="text-align: center">
                    <span> Type </span>
                </th>
                <th style="text-align: center">
                    <span> Category </span>
                </th>
                <th style="text-align: center">
                    <span> S-category </span>
                </th>
                <th style="text-align: center">
                    <span> Brand </span>
                </th>
                <th style="text-align: center">
                    <span> Image </span>
                </th>
                <th style="text-align: center">
                    <span> Action </span>
                </th>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th>
                    <input nz-input style="width: 250px;" placeholder="Code"
                           [(ngModel)]="codeSearchValue"
                           (ngModelChange)="onSearchChange($event, 'codeSearchValue')">
                </th>
                <th>
                    <input nz-input style="width: 300px;" placeholder="Name"
                           [(ngModel)]="nameSearchValue"
                           (ngModelChange)="onSearchChange($event, 'nameSearchValue')">
                </th>
                <th>
                    <input nz-input style="width: 100px;" placeholder="Price"
                           [(ngModel)]="priceSearchValue"
                           (ngModelChange)="onSearchChange($event, 'priceSearchValue')">
                </th>
                <th>
                    <input nz-input style="width: 100px;" placeholder="Quantity"
                           [(ngModel)]="qtySearchValue"
                           (ngModelChange)="onSearchChange($event, 'qtySearchValue')">
                </th>
                <th>
                    <nz-select style="width: 100px;" nzPlaceHolder="Select Approval Status"
                               ngModel="approval_status" (ngModelChange)="approvalStatusChange($event)">
                        <nz-option nzValue="1" nzLabel="Pending"></nz-option>
                        <nz-option nzValue="2" nzLabel="Approved"></nz-option>
                        <nz-option nzValue="99" nzLabel="Rejected"></nz-option>
                    </nz-select>
                </th>
                <th>
                    <nz-select style="width: 100px;" nzAllowClear [(ngModel)]="typeId"
                               (ngModelChange)="typeIdChange($event)"
                               nzPlaceHolder="Select Product Type"
                               [nzNotFoundContent]="'Not found'"
                               nzShowSearch>
                        <nz-option *ngFor="let option of TypeSearchOptions" [nzLabel]="option.name"
                                   [nzValue]="option.id">
                        </nz-option>
                    </nz-select>
                </th>

                <th>
                    <nz-select style="width: 100px;" nzAllowClear [(ngModel)]="categoryId"
                               (ngModelChange)="categoryIdChange($event)"
                               nzPlaceHolder="Select Product category"
                               [nzNotFoundContent]="'Not found'"
                               nzShowSearch>
                        <nz-option *ngFor="let option of categorySearchOptions" [nzLabel]="option.name"
                                   [nzValue]="option.id">
                        </nz-option>
                    </nz-select>

                </th>
                <th>
                    <nz-select style="width: 100px;" nzAllowClear [(ngModel)]="subcategoryId"
                               (ngModelChange)="subcategoryIdChange($event)"
                               nzPlaceHolder="Select Product Subcategory"
                               [nzNotFoundContent]="'Not found'" nzShowSearch>
                        <nz-option *ngFor="let option of subcategorySearchOptions" [nzLabel]="option.name"
                                   [nzValue]="option.id">
                        </nz-option>
                    </nz-select>
                </th>
                <th>
                    <nz-select style="width: 100px;" nzAllowClear [(ngModel)]="brandId"
                               (ngModelChange)="brandIdChange($event)"
                               nzPlaceHolder="Select Brand"
                               [nzNotFoundContent]="'Not found'"
                               nzShowSearch>
                        <nz-option *ngFor="let option of brandSearchOptions" [nzLabel]="option.name"
                                   [nzValue]="option.id">
                        </nz-option>
                    </nz-select>
                </th>
                <th nzWidth="100px">&nbsp;</th>
                <th nzWidth="200px">&nbsp;</th>
            </tr>
            </thead>

            <tbody>

            <tr *ngFor="let data of nzTable.data">

                <td style="width: 136px">
                    {{data.updatedAt|date:'dd/MM/yyyy hh:mm a'}}
                </td>
                <td style="text-align: center; width: 295px">
                    <a [routerLink]="['/dashboard/product/details/', data.id]">{{data.code}}</a>
                </td>
                <td style="text-align: center; width: 347px">
                    <a [routerLink]="['/dashboard/product/details/', data.id]">{{data.name}}</a>
                </td>
                <td style="text-align: center; width: 137px">
                    <nz-tag *ngIf="data.promotion == 0">{{data.price}}</nz-tag>
                    <nz-tag *ngIf="data.promotion == 1">
                        <del style="color: red">{{data.price}}</del>
                        {{data.promo_price}}</nz-tag>
                </td>
                <td style="text-align: center; width: 137.5px">
                    <nz-tag [nzColor]="data.quantity < data.alert_quantity? '#f50':''">
                        {{data.quantity}}
                    </nz-tag>
                </td>
                <td style="text-align: center; width: 139px">
                    <nz-tag>{{data.approval_status == 2 ? 'Yes' : data.approval_status == 1 ? 'No' : 'Rejected'  }}</nz-tag>
                </td>
                <td style="text-align: center; width: 138px">
                    <span>{{data.type_name}}</span>
                </td>
                <td style="text-align: center; width: 138px">
                    <span>{{data.category_name}}</span>
                </td>
                <td style="text-align: center; width: 139px">
                    <span> {{data.subcategory_name}}</span>
                </td>
                <td style="text-align: center; width: 139px">
                    <span>{{data.brand_name}}</span>
                </td>
                <td style="text-align: center; width: 75px">
                    <ng-container *ngIf="data.image; else noImage">
                        <nz-avatar [routerLink]="['/dashboard/product/details/', data.id]" [nzShape]="'square'"
                                   [nzSrc]="IMAGE_THUMB_ENDPOINT + data.image" [nzSize]="'large'"
                                   [nzIcon]="'user'"></nz-avatar>
                    </ng-container>
                    <ng-template #noImage>
                        <nz-tag>No Image</nz-tag>
                    </ng-template>
                </td>
                <td style="text-align: center">
                    <nz-button-group>
                        <button *ngIf="'product-read'|accessControl"
                                [routerLink]="['/dashboard/product/details/', data.id]"
                                [queryParams]="{status: status}"
                                nz-button [nzSize]="'default'">
                            <i class="anticon anticon-info-circle"></i>
                        </button>
                        <button *ngIf="'product-edit'|accessControl"
                                [routerLink]="['/dashboard/product/edit', data.id]"
                                [queryParams]="{status: status}"
                                nz-button [nzSize]="'default'">
                            <i class="anticon anticon-edit"></i>
                        </button>
                        <ng-container *ngIf="data.approval_status == 1 || data.approval_status == 99">
                            <ng-container *ngIf="'product-pending-approvals'|accessControl">
                                <nz-popconfirm [nzTitle]="'Are you sure you want to approve?'"
                                               [nzOkText]="'Approve'"
                                               [nzCancelText]="'Cancel'"
                                               (nzOnConfirm)="approveConfirm(i,data.id)">
                                    <a nz-popconfirm [attr.title]="'Approve This Product: '+ data.id">
                                        <button nz-button [nzSize]="'default'">
                                            <i class="anticon anticon-check-circle"></i>
                                        </button>
                                    </a>
                                </nz-popconfirm>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="data.approval_status == 2">
                            <ng-container *ngIf="'product-pending-approvals'|accessControl">
                                <nz-popconfirm [nzTitle]="'Are you sure you want to reject?'"
                                               [nzOkText]="'Reject'"
                                               [nzCancelText]="'Cancel'"
                                               (nzOnConfirm)="rejectConfirm(i,data.id)">
                                    <a nz-popconfirm [attr.title]="'Reject This Product: ' + data.id">
                                        <button nz-button [nzSize]="'default'">
                                            <i class="anticon anticon-close-circle"></i>
                                        </button>
                                    </a>
                                </nz-popconfirm>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="'product-delete'|accessControl">
                            <nz-popconfirm [nzTitle]="'Are you sure you want to delete?'"
                                           [nzOkText]="'Delete'"
                                           [nzCancelText]="'Cancel'"
                                           (nzOnConfirm)="deleteConfirm(i,data.id)">
                                <a nz-popconfirm>
                                    <button nz-button [nzSize]="'default'">
                                        <i class="anticon anticon-delete "></i>
                                    </button>
                                </a>
                            </nz-popconfirm>
                        </ng-container>
                        <nz-dropdown nzTrigger="click" *ngIf="'product-discount'|accessControl"
                                     nzPlacement="topRight">
                            <button nz-button nz-dropdown>
                                <!-- <span> আরও </span> -->
                                <i class="anticon anticon-down"></i>
                            </button>
                            <ul nz-menu>
                                <li nz-menu-item *ngIf="status==2 || status==3">

                                    <button style="width: 100%" nz-button
                                            (click)="showVariantModal(data)">
                                        <span> Add Attribute </span>
                                    </button>
                                </li>
                                <li nz-menu-item>
                                    <button nz-button style="width: 100%"
                                            (click)="showPromotionModal(data)">
                                        <span> Add Discount </span>
                                    </button>
                                </li>
                            </ul>
                        </nz-dropdown>
                    </nz-button-group>
                </td>
            </tr>
            </tbody>
        </nz-table>

    </nz-card>

    <ng-container *ngIf="showAddPart">
        <app-add-product-design *ngIf="currentProductForAddPart" [currentProductForAddPart]="currentProductForAddPart"
                                (closeEvent)="receiveCloseEvent($event)"></app-add-product-design>
    </ng-container>

</section>

<!--variant modal-->
<nz-modal [nzFooter]="null" nzWidth="70%" [nzVisible]="isVariantVisible"
          [nzTitle]="'Product Variant Page:'+ currentProduct?.name" [nzContent]="modalVariantContent"
          (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
    <ng-template #modalVariantContent>

        <nz-table #nzTableVariant [nzBordered]="true" [nzData]="currentProduct_variants" [nzShowPagination]="false">
            <thead>
            <tr>
                <th>
                    <span> Attribute Name </span>
                </th>
                <th>
                    <span> Attribute's Variant Name </span>
                </th>
                <th>
                    <span> Product Variant's Level </span>
                </th>
                <th>
                    <span> Additional Price </span>
                </th>
                <th>
                    <span> Action </span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let datum of nzTableVariant.data;let i=index;">

                <td>{{datum.variant_id?.name}}</td>
                <td>{{datum.warehouses_variant_id?.name}}</td>
                <td>{{datum.name}}</td>
                <td>{{datum.quantity}}</td>

                <td>
                    <nz-popconfirm [nzTitle]="'Are you sure you want to delete?'" [nzOkText]="'Delete'"
                                   [nzCancelText]="'Cancel'" (nzOnConfirm)="deleteProductVariantConfirm(i,datum.id)">
                        <a nz-popconfirm>
                            <button nz-button [nzSize]="'default'">
                                <i class="anticon anticon-delete "> Remove </i>
                            </button>
                        </a>
                    </nz-popconfirm>
                </td>
            </tr>
            </tbody>
        </nz-table>

        <button nz-button [nzSize]="'large'" (click)="addNew=!addNew;">
            <span *ngIf="!addNew"> Add Product Variant </span>
            <span *ngIf="addNew">Cancel</span>
        </button>

        <form *ngIf="addNew" nz-form [nzLayout]="'inline'" [formGroup]="validateForm"
              (ngSubmit)="submitFormAddVariantForm($event,validateForm.value)">
            <div>
                <div>
                    <nz-select style="width: 200px;" formControlName="variant_id" [(ngModel)]="selectedVariant_id"
                               nzAllowClear (ngModelChange)="variantOptionChange($event)"
                               nzPlaceHolder="Select Attribute"
                               [nzNotFoundContent]="'Not found'" nzShowSearch>
                        <nz-option *ngFor="let option of variantOptions" [nzLabel]="option.name" [nzValue]="option">
                        </nz-option>
                    </nz-select>
                    <div
                            *ngIf="validateForm.controls.variant_id.dirty&&validateForm.controls.variant_id.hasError('required')">
                        Please select attribute!
                    </div>
                </div>
            </div>
            <div *ngIf="selectedVariant_id">
                <div>
                    <!--{{selectedVariant_id | json}}-->
                    <nz-select style="width: 200px;" formControlName="warehouses_variant_id" nzAllowClear
                               [(ngModel)]="selectedWarehousesVariantOption"
                               nzPlaceHolder="Select Attribute\'s Variant"
                               [nzNotFoundContent]="'Not found'"
                               nzShowSearch>
                        <nz-option *ngFor="let option of warehouseVariantOptions" [nzLabel]="option.name"
                                   [nzValue]="option.id">
                        </nz-option>
                    </nz-select>
                    <div
                            *ngIf="validateForm.controls.warehouses_variant_id.dirty&&validateForm.controls.warehouses_variant_id.hasError('required')">
                        Please select Attribute\'s Variant!
                    </div>
                </div>
            </div>

            <!--Name-->
            <div>
                <div>
                    <input nz-input formControlName="name" placeholder="Enter variant label"
                           [nzSize]="'large'">
                    <ng-template #prefix>
                        <i class="anticon anticon-unlock"></i>
                    </ng-template>

                    <div
                            *ngIf="validateForm.controls.name.dirty&&validateForm.controls.name.hasError('required')">
                        Product variant label is required!
                    </div>
                </div>
            </div>

            <!--Quantity-->
            <div *ngIf="selectedVariant_id?.type==1">
                <div>
                    <input nz-input formControlName="quantity" placeholder="Additional price"
                           [nzSize]="'large'">
                    <ng-template #prefix>
                        <i class="anticon anticon-unlock"></i>
                    </ng-template>

                    <div
                            *ngIf="validateForm.controls.quantity.dirty&&validateForm.controls.quantity.hasError('required')">
                        Please insert product variant additional price!
                    </div>
                </div>
            </div>
            <div>
                <!--Add Button-->
                <div>
                    <button nz-button class="login-form-button" [nzSize]="'large'"
                            [disabled]="!validateForm.valid">
                        Add Product Variant
                    </button>
                </div>
            </div>
        </form>
    </ng-template>
</nz-modal>

<!--promotion modal-->
<nz-modal [nzFooter]="null" nzWidth="70%" [nzVisible]="isPromotionVisible"
          [nzTitle]="'Product Promotion Page :'+ currentProduct?.name"
          [nzContent]="modalPromotionContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
    <ng-template #modalPromotionContent>

        <nz-table #nzTablePromotion [nzBordered]="true" [nzData]="currentProduct" [nzShowPagination]="false">
            <thead>
            <tr>
                <th>
                    <span>Promotion (Yes/No)</span>
                </th>
                <th>
                    <span>Promotional Price</span>
                </th>
                <th>
                    <span>Start Date</span>
                </th>
                <th>
                    <span>End Date</span>
                </th>
                <th>
                    <span>Sale Unit</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="currentProduct">

                <td *ngIf="currentProduct.promotion==0">No</td>
                <td *ngIf="currentProduct.promotion==1">Yes</td>
                <td>{{currentProduct.promo_price}}</td>
                <td>{{(currentProduct.start_date|date)}}</td>
                <td>{{(currentProduct.end_date|date)}}</td>
                <td>{{currentProduct.sale_unit}}</td>
            </tr>
            </tbody>
        </nz-table>

        <button nz-button [nzSize]="'large'" *ngIf="currentProduct.promotion != 1"
                (click)="addNew=!addNew;">
            <span *ngIf="!addNew">Add Product Discount</span>
            <span *ngIf="addNew">Cancel</span>
        </button>
        <button nz-button [nzSize]="'large'" *ngIf="currentProduct.promotion == 1"
                (click)="addNew=!addNew;">
            <span *ngIf="!addNew">Update Product Discount</span>
            <span *ngIf="addNew">Cancel</span>
        </button>

        <form *ngIf="addNew" nz-form [nzLayout]="'inline'" [formGroup]="validatePromotionForm"
              (ngSubmit)="submitAddPromotionForm($event,validatePromotionForm.value)">

            <!--Promotion-->
            <div>
                <div>
                    <nz-switch formControlName="promotion" nzUnCheckedChildren="No" nzCheckedChildren="Yes">
                    </nz-switch>
                    <div
                            *ngIf="validatePromotionForm.controls.promotion.dirty&&validatePromotionForm.controls.promotion.hasError('required')">
                        Please select promotion Status!
                    </div>
                </div>
            </div>

            <!--Promotion Price-->
            <div>
                <div>
                    <input nz-input formControlName="promo_price" placeholder="insert price"
                           [nzSize]="'large'">
                    <ng-template #prefix>
                        <i class="anticon anticon-unlock"></i>
                    </ng-template>

                    <div
                            *ngIf="validatePromotionForm.controls.promo_price.dirty&&validatePromotionForm.controls.promo_price.hasError('required')">
                        Please insert promotional price!
                    </div>
                </div>
            </div>

            <!--Start Date-->
            <div>
                <div>
                    <nz-date-picker formControlName="start_date" [nzPlaceHolder]="'Select start date'"></nz-date-picker>
                    <div
                            *ngIf="validatePromotionForm.controls.start_date.dirty&&validatePromotionForm.controls.start_date.hasError('required')">
                        Please select your promotion Start date!
                    </div>
                </div>
            </div>

            <!--End Date-->
            <div>
                <div>
                    <nz-date-picker formControlName="end_date" [nzPlaceHolder]="'Select end date'"></nz-date-picker>
                    <div
                            *ngIf="validatePromotionForm.controls.end_date.dirty&&validatePromotionForm.controls.end_date.hasError('required')">
                        Please select your promotion Start date!
                    </div>
                </div>
            </div>

            <!--Sale Unit-->
            <div>
                <div>
                    <input nz-input formControlName="sale_unit" placeholder="Insert quantity"
                           [nzSize]="'large'">
                    <ng-template #prefix>
                        <i class="anticon anticon-unlock"></i>
                    </ng-template>

                    <div
                            *ngIf="validatePromotionForm.controls.sale_unit.dirty&&validatePromotionForm.controls.sale_unit.hasError('required')">
                        Please select your saleable Quantity!!
                    </div>
                </div>
            </div>

            <!--Add Button-->
            <div>
                <div>
                    <button nz-button class="login-form-button" [nzSize]="'large'"
                            [disabled]="!validatePromotionForm.valid">Save
                    </button>
                </div>
            </div>
        </form>

    </ng-template>
</nz-modal>

