<section>
    <nz-card [hidden]="!showList" class="card-height">
        <ng-template #title>
            {{status == 1 ? ' Fixed' : (status == 2) ? 'Variable' : 'Fully Customize'}} Product List
        </ng-template>
        <ng-template #extra>
            <button *ngIf="'product-create'|accessControl" routerLink="/dashboard/product/create"
                    [queryParams]="{status: status}" nz-button [nzType]="'primary'"
                    [nzSize]="'large'">
                <i class="anticon anticon-download"></i>
                <span> Add New </span>
            </button>
            <button routerLink="/dashboard/product/bulk-upload"
                    [queryParams]="{status: status}" nz-button [nzType]="'primary'" style="margin-left: 10px;"
                    [nzSize]="'large'">
                <i class="anticon anticon-upload"></i>
                <span> Bulk Upload Products </span>
            </button>
        </ng-template>
        <ng-template #body>
            <nz-spin [nzSpinning]="_isSpinning">
                <div class="table-operations"></div>
                <nz-table class="product-grid" [nzTotal]="total" [nzIsPagination]="false" #nzTable [nzDataSource]="data"
                          [nzPageSize]="limit"
                          [nzSize]="'default'" [nzShowTitle]="true">
                    <thead>
                    <tr>
                        <th>
                            <span> Picture </span>
                        </th>
                        <th>
                            <span>Code</span>
                            <nz-table-sort [(nzValue)]="sortValue.code"
                                           (nzValueChange)="sort('code', $event)"></nz-table-sort>
                        </th>
                        <th>
                            <span> Name </span>
                            <nz-table-sort [(nzValue)]="sortValue.name"
                                           (nzValueChange)="sort('name', $event)"></nz-table-sort>
                        </th>
                        <th>
                            <span> Price </span>
                            <nz-table-sort [(nzValue)]="sortValue.price"
                                           (nzValueChange)="sort('price', $event)"></nz-table-sort>
                        </th>
                        <th>
                            <span> Approved ? </span>
                        </th>
                        <th>
                            <span> Product Type </span>
                        </th>
                        <th>
                            <span> Brand </span>
                        </th>
                        <th>
                            <span> Category </span>
                        </th>
                        <th>
                            <span> S-category </span>
                        </th>
                        <th>
                            <span> Quantity </span>
                            <nz-table-sort [(nzValue)]="sortValue.quantity"
                                           (nzValueChange)="sort('quantity', $event)"></nz-table-sort>
                        </th>
                        <th>
                            <span>Last Updated</span>
                            <nz-table-sort [(nzValue)]="sortValue.updatedAt"
                                           (nzValueChange)="sort('updatedAt', $event)"></nz-table-sort>
                        </th>
                        <th>
                            <span> Action </span>
                        </th>
                    </tr>
                    </thead>
                    <thead>
                    <!--search bar.....................-->
                    <tr>
                        <th>

                        </th>
                        <th>
                            <input nz-input style="width: 150px;" [placeholder]="'Code'"
                                   [(ngModel)]="codeSearchValue"
                                   (ngModelChange)="page=1;getProductData()">
                        </th>

                        <th>
                            <input nz-input style="width: 150px;" [placeholder]="'Name'"
                                   [(ngModel)]="nameSearchValue"
                                   (ngModelChange)="page=1;getProductData()">
                        </th>

                        <th>
                            <input nz-input style="width: 150px;" [placeholder]="'Price'"
                                   [(ngModel)]="priceSearchValue"
                                   (ngModelChange)="page=1;getProductData()">
                        </th>
                        <th>
                            <nz-select style="width: 100px;" [nzPlaceHolder]="'Select Approval Status'"
                                       ngModel="approval_status" (ngModelChange)="approvalStatusChange($event)">
                                <nz-option nzValue="1" nzLabel="Pending"></nz-option>
                                <nz-option nzValue="2" nzLabel="Approved"></nz-option>
                                <nz-option nzValue="99" nzLabel="Rejected"></nz-option>
                            </nz-select>
                        </th>
                        <th>
                            <nz-select style="width: 100px;" nzAllowClear nzShowSearch [(ngModel)]="typeId"
                                       (ngModelChange)="typeIdChange($event)"
                                       [nzPlaceHolder]="'Select Product Type'"
                                       [nzNotFoundContent]="'Not found'"
                            >
                                <nz-option *ngFor="let option of TypeSearchOptions" [nzLabel]="option.name"
                                           [nzValue]="option.id">
                                </nz-option>
                            </nz-select>
                        </th>
                        <th>

                            <nz-select style="width: 100px;" nzAllowClear nzShowSearch [(ngModel)]="brandId"
                                       (ngModelChange)="brandIdChange($event)"
                                       [nzPlaceHolder]="'Select Brand'"
                                       [nzNotFoundContent]="'Not found'"
                            >
                                <nz-option *ngFor="let option of brandSearchOptions" [nzLabel]="option.name"
                                           [nzValue]="option.id">
                                </nz-option>
                            </nz-select>
                        </th>
                        <th>
                            <nz-select style="width: 100px;" nzAllowClear [(ngModel)]="categoryId"
                                       (ngModelChange)="categoryIdChange($event)"
                                       [nzPlaceHolder]="'Select Product category'"
                                       [nzNotFoundContent]="'Not found'"
                                       nzShowSearch>
                                <nz-option *ngFor="let option of categorySearchOptions" [nzLabel]="option.name"
                                           [nzValue]="option.id">
                                </nz-option>
                            </nz-select>

                        </th>
                        <th>
                            <nz-select style="width: 100px;" nzAllowClear [(ngModel)]="subcategoryId"
                                       (ngModelChange)="subcategoryIdChange($event)"
                                       [nzPlaceHolder]="'Select Product Subcategory'"
                                       [nzNotFoundContent]="'Not found'" nzShowSearch>
                                <nz-option *ngFor="let option of subcategorySearchOptions" [nzLabel]="option.name"
                                           [nzValue]="option.id">
                                </nz-option>
                            </nz-select>
                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    <ng-template ngFor let-datum let-i="index" [ngForOf]="nzTable.data">
                        <tr>

                            <td>
                                <nz-avatar [routerLink]="['/dashboard/product/details/', datum.id]" [nzShape]="'square'"
                                           [nzSrc]="IMAGE_ENDPOINT+datum.image" [nzSize]="'large'"
                                           [nzIcon]="'user'"></nz-avatar>
                            </td>
                            <td>
                                <nz-tag [routerLink]="['/dashboard/product/details/', datum.id]">{{datum.code}}</nz-tag>
                            </td>
                            <td>
                                <nz-tag [routerLink]="['/dashboard/product/details/', datum.id]">{{datum.name}}</nz-tag>
                            </td>
                            <td>
                                <nz-tag *ngIf="datum.promotion == 0">{{datum.price}}</nz-tag>
                                <nz-tag *ngIf="datum.promotion == 1">
                                    <del style="color: red">{{datum.price}}</del>
                                    {{datum.promo_price}}</nz-tag>
                            </td>

                            <td>
                                <nz-tag>{{datum.approval_status == 2 ? 'Yes' : datum.approval_status == 1 ? 'No' : 'Rejected'  }}</nz-tag>
                            </td>
                            <td>
                                <nz-tag>{{datum.type_name}}</nz-tag>
                            </td>
                            <td>
                                <nz-tag>{{datum.brand_name}}</nz-tag>
                            </td>
                            <td>
                                <nz-tag>{{datum.category_name}}</nz-tag>
                            </td>
                            <td>
                                {{datum.subcategory_name}}
                            </td>
                            <td>
                                <nz-tag [nzColor]="datum.quantity < datum.alert_quantity? '#f50':''">
                                    {{datum.quantity}}
                                </nz-tag>
                            </td>
                            <td>
                                <nz-tag>{{formattedDate(datum.updatedAt)}}</nz-tag>
                            </td>
                            <td>
                                <nz-button-group>
                                    <button *ngIf="'product-read'|accessControl"
                                            [routerLink]="['/dashboard/product/details/', datum.id]"
                                            [queryParams]="{status: status}"
                                            nz-button [nzType]="'info'" [nzSize]="'default'">
                                        <i class="anticon anticon-info-circle"></i>
                                    </button>
                                    <button *ngIf="'product-edit'|accessControl"
                                            [routerLink]="['/dashboard/product/edit', datum.id]"
                                            [queryParams]="{status: status}"
                                            nz-button [nzType]="'primary'" [nzSize]="'default'">
                                        <i class="anticon anticon-edit"></i>
                                    </button>
                                    <ng-container *ngIf="datum.approval_status == 1 || datum.approval_status == 99">
                                        <ng-container *ngIf="'product-pending-approvals'|accessControl">
                                            <nz-popconfirm [nzTitle]="'Are you sure you want to approve?'"
                                                           [nzOkText]="'Approve'"
                                                           [nzCancelText]="'Cancel'"
                                                           (nzOnConfirm)="approveConfirm(i,datum.id)">
                                                <a nz-popconfirm [attr.title]="'Approve This Product: '+ datum.id">
                                                    <button nz-button [nzType]="'default'" [nzSize]="'default'">
                                                        <i class="anticon anticon-check-circle"></i>
                                                    </button>
                                                </a>
                                            </nz-popconfirm>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="datum.approval_status == 2">
                                        <ng-container *ngIf="'product-pending-approvals'|accessControl">
                                            <nz-popconfirm [nzTitle]="'Are you sure you want to reject?'"
                                                           [nzOkText]="'Reject'"
                                                           [nzCancelText]="'Cancel'"
                                                           (nzOnConfirm)="rejectConfirm(i,datum.id)">
                                                <a nz-popconfirm [attr.title]="'Reject This Product: ' + datum.id">
                                                    <button nz-button [nzType]="'danger'" [nzSize]="'default'">
                                                        <i class="anticon anticon-close-circle"></i>
                                                    </button>
                                                </a>
                                            </nz-popconfirm>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="'product-delete'|accessControl">
                                        <nz-popconfirm [nzTitle]="'Are you sure you want to delete?'"
                                                       [nzOkText]="'Delete'"
                                                       [nzCancelText]="'Cancel'"
                                                       (nzOnConfirm)="deleteConfirm(i,datum.id)">
                                            <a nz-popconfirm>
                                                <button nz-button [nzType]="'danger'" [nzSize]="'default'">
                                                    <i class="anticon anticon-delete "></i>
                                                </button>
                                            </a>
                                        </nz-popconfirm>
                                    </ng-container>
                                    <nz-dropdown nzTrigger="click" *ngIf="'product-discount'|accessControl"
                                                 nzPlacement="topRight">
                                        <button nz-button nz-dropdown>
                                            <!-- <span> আরও </span> -->
                                            <i class="anticon anticon-down"></i>
                                        </button>
                                        <ul nz-menu>
                                            <li nz-menu-item *ngIf="status==2 || status==3">

                                                <button style="width: 100%" nz-button [nzType]="'primary'"
                                                        (click)="showVariantModal(datum)">
                                                    <span> Add Attribute </span>
                                                </button>
                                            </li>
                                            <li nz-menu-item>
                                                <button nz-button style="width: 100%" [nzType]="'primary'"
                                                        (click)="showPromotionModal(datum)">
                                                    <span> Add Discount </span>
                                                </button>
                                            </li>
                                        </ul>
                                    </nz-dropdown>
                                </nz-button-group>
                            </td>
                        </tr>
                    </ng-template>
                    </tbody>
                </nz-table>
            </nz-spin>
            <div class="row">
                <div class="col-md-offset-5" style="margin-top: 10px">
                    <span class="col-md-6">
                        <nz-pagination (nzPageIndexClickChange)="changePage($event,limit)"
                                       (nzPageSizeChange)="changePage(1,$event)"
                                       [nzPageIndex]="page"
                                       [nzTotal]="total"
                                       [nzPageSize]="limit" nzShowSizeChanger>
                        </nz-pagination>
                    </span>
                    <span class="pull-right col-md-6">
                        <button nz-button (click)="resetAllFilter()">Clear filter</button>
                    </span>
                </div>
            </div>
        </ng-template>
    </nz-card>

    <ng-container *ngIf="showAddPart">
        <app-add-product-design *ngIf="currentProductForAddPart" [currentProductForAddPart]="currentProductForAddPart"
                                (closeEvent)="receiveCloseEvent($event)"></app-add-product-design>
    </ng-container>

</section>

<!--variant modal-->
<nz-modal [nzFooter]="null" nzWidth="70%" [nzVisible]="isVariantVisible"
          [nzTitle]="'Product Variant Page:'+ currentProduct?.name" [nzContent]="modalVariantContent"
          (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
    <ng-template #modalVariantContent>

        <nz-table #nzTable [nzBordered]="true" [nzDataSource]="currentProduct_variants" [nzIsPagination]="false">
            <thead>
            <tr>
                <th>
                    <span> Attribute Name </span>
                </th>
                <th>
                    <span> Attribute's Variant Name </span>
                </th>
                <th>
                    <span> Product Variant's Level </span>
                </th>
                <th>
                    <span> Additional Price </span>
                </th>
                <th>
                    <span> Action </span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of nzTable.data;let i=index;">

                <td>{{data.variant_id?.name}}</td>
                <td>{{data.warehouses_variant_id?.name}}</td>
                <td>{{data.name}}</td>
                <td>{{data.quantity}}</td>

                <td>

                    <nz-popconfirm [nzTitle]="'Are you sure you want to delete?'" [nzOkText]="'Delete'"
                                   [nzCancelText]="'Cancel'" (nzOnConfirm)="deleteProductVariantConfirm(i,data.id)">


                        <a nz-popconfirm>
                            <button nz-button [nzType]="'danger'" [nzSize]="'default'">
                                <i class="anticon anticon-delete "> Remove </i>
                            </button>
                        </a>
                    </nz-popconfirm>
                </td>
            </tr>
            </tbody>
        </nz-table>

        <button nz-button [nzType]="'info'" [nzSize]="'large'" (click)="addNew=!addNew;">
            <span *ngIf="!addNew"> Add Product Variant </span>
            <span *ngIf="addNew">Cancel</span>
        </button>

        <form *ngIf="addNew" nz-form [nzLayout]="'inline'" [formGroup]="validateForm"
              (ngSubmit)="submitFormAddVariantForm($event,validateForm.value)">
            <div>
                <div>
                    <nz-select style="width: 200px;" formControlName="variant_id" [(ngModel)]="selectedVariant_id"
                               nzAllowClear (ngModelChange)="variantOptionChange($event)"
                               [nzPlaceHolder]="'Select Attribute'"
                               [nzNotFoundContent]="'Not found'" nzShowSearch>
                        <nz-option *ngFor="let option of variantOptions" [nzLabel]="option.name" [nzValue]="option">
                        </nz-option>
                    </nz-select>
                    <div
                            *ngIf="validateForm.controls.variant_id.dirty&&validateForm.controls.variant_id.hasError('required')">
                        Please select attribute!
                    </div>
                </div>
            </div>
            <div *ngIf="selectedVariant_id">
                <div>
                    <!--{{selectedVariant_id | json}}-->
                    <nz-select style="width: 200px;" formControlName="warehouses_variant_id" nzAllowClear
                               [(ngModel)]="selectedWarehousesVariantOption"
                               [nzPlaceHolder]="'Select Attribute\'s Variant'"
                               [nzNotFoundContent]="'Not found'"
                               nzShowSearch>
                        <nz-option *ngFor="let option of warehouseVariantOptions" [nzLabel]="option.name"
                                   [nzValue]="option.id">
                        </nz-option>
                    </nz-select>
                    <div
                            *ngIf="validateForm.controls.warehouses_variant_id.dirty&&validateForm.controls.warehouses_variant_id.hasError('required')">
                        Please select Attribute\'s Variant!
                    </div>
                </div>
            </div>

            <!--Name-->
            <div>
                <div>
                    <input nz-input formControlName="name" [placeholder]="'Enter variant label'"
                           [nzSize]="'large'">
                    <ng-template #prefix>
                        <i class="anticon anticon-unlock"></i>
                    </ng-template>

                    <div
                            *ngIf="validateForm.controls.name.dirty&&validateForm.controls.name.hasError('required')">
                        Product variant label is required!
                    </div>
                </div>
            </div>

            <!--Quantity-->
            <div *ngIf="selectedVariant_id?.type==1">
                <div>
                    <input nz-input formControlName="quantity" [placeholder]="'Additional price'"
                           [nzSize]="'large'">
                    <ng-template #prefix>
                        <i class="anticon anticon-unlock"></i>
                    </ng-template>

                    <div
                            *ngIf="validateForm.controls.quantity.dirty&&validateForm.controls.quantity.hasError('required')">
                        Please insert product variant additional price!
                    </div>
                </div>
            </div>
            <div>

                <!--Add Button-->
                <div>
                    <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'"
                            [disabled]="!validateForm.valid">
                        Add Product Variant
                    </button>
                </div>
            </div>
        </form>
    </ng-template>
</nz-modal>

<!--promotion modal-->
<nz-modal [nzFooter]="null" nzWidth="70%" [nzVisible]="isPromotionVisible"
          [nzTitle]="'Product Promotion Page :'+ currentProduct?.name"
          [nzContent]="modalPromotionContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
    <ng-template #modalPromotionContent>

        <nz-table #nzTable [nzBordered]="true" [nzDataSource]="currentProduct" [nzIsPagination]="false">
            <thead>
            <tr>
                <th>
                    <span>Promotion (Yes/No)</span>
                </th>
                <th>
                    <span>Promotional Price</span>
                </th>
                <th>
                    <span>Start Date</span>
                </th>
                <th>
                    <span>End Date</span>
                </th>
                <th>
                    <span>Sale Unit</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="currentProduct">

                <td *ngIf="currentProduct.promotion==0">No</td>
                <td *ngIf="currentProduct.promotion==1">Yes</td>
                <td>{{currentProduct.promo_price}}</td>
                <td>{{(currentProduct.start_date|date)}}</td>
                <td>{{(currentProduct.end_date|date)}}</td>
                <td>{{currentProduct.sale_unit}}</td>
            </tr>
            </tbody>
        </nz-table>

        <button nz-button [nzType]="'info'" [nzSize]="'large'" *ngIf="currentProduct.promotion != 1"
                (click)="addNew=!addNew;">
            <span *ngIf="!addNew">Add Product Discount</span>
            <span *ngIf="addNew">Cancel</span>
        </button>
        <button nz-button [nzType]="'info'" [nzSize]="'large'" *ngIf="currentProduct.promotion == 1"
                (click)="addNew=!addNew;">
            <span *ngIf="!addNew">Update Product Discount</span>
            <span *ngIf="addNew">Cancel</span>
        </button>

        <form *ngIf="addNew" nz-form [nzLayout]="'inline'" [formGroup]="validatePromotionForm"
              (ngSubmit)="submitAddPromotionForm($event,validatePromotionForm.value)">

            <!--Promotion-->
            <div>
                <div>
                    <nz-switch formControlName="promotion">
                        <span checked>Yes</span>
                        <span unchecked>No</span>
                    </nz-switch>
                    <div
                            *ngIf="validatePromotionForm.controls.promotion.dirty&&validatePromotionForm.controls.promotion.hasError('required')">
                        Please select promotion Status!
                    </div>
                </div>
            </div>

            <!--Promotion Price-->
            <div>
                <div>
                    <input nz-input formControlName="promo_price" [placeholder]="'insert price'"
                           [nzSize]="'large'">
                    <ng-template #prefix>
                        <i class="anticon anticon-unlock"></i>
                    </ng-template>

                    <div
                            *ngIf="validatePromotionForm.controls.promo_price.dirty&&validatePromotionForm.controls.promo_price.hasError('required')">
                        Please insert promotional price!
                    </div>
                </div>
            </div>

            <!--Start Date-->
            <div>
                <div>
                    <nz-datepicker formControlName="start_date" [nzPlaceHolder]="'Select start date'"></nz-datepicker>
                    <div
                            *ngIf="validatePromotionForm.controls.start_date.dirty&&validatePromotionForm.controls.start_date.hasError('required')">
                        Please select your promotion Start date!
                    </div>
                </div>
            </div>

            <!--End Date-->
            <div>
                <div>
                    <nz-datepicker formControlName="end_date" [nzPlaceHolder]="'Select end date'"></nz-datepicker>
                    <div
                            *ngIf="validatePromotionForm.controls.end_date.dirty&&validatePromotionForm.controls.end_date.hasError('required')">
                        Please select your promotion Start date!
                    </div>
                </div>
            </div>

            <!--Sale Unit-->
            <div>
                <div>
                    <input nz-input formControlName="sale_unit" [placeholder]="'Insert quantity'"
                           [nzSize]="'large'">
                    <ng-template #prefix>
                        <i class="anticon anticon-unlock"></i>
                    </ng-template>

                    <div
                            *ngIf="validatePromotionForm.controls.sale_unit.dirty&&validatePromotionForm.controls.sale_unit.hasError('required')">
                        Please select your saleable Quantity!!
                    </div>
                </div>
            </div>

            <!--Add Button-->
            <div>
                <div>
                    <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'"
                            [disabled]="!validatePromotionForm.valid">Save
                    </button>
                </div>
            </div>
        </form>

    </ng-template>
</nz-modal>

