<div>
    <nz-tabset>
        <nz-tab>
            <ng-template #nzTabHeading>
                <i [ngClass]="'anticon anticon-select'"></i>Header
            </ng-template>
            <span>
                <app-cms-header></app-cms-header>
            </span>
        </nz-tab>
        <nz-tab>
            <ng-template #nzTabHeading>
                <i [ngClass]="'anticon anticon-copyright'"></i>Footer feature
            </ng-template>
            <span><!--footer....................-->
                    <app-cms-feature-footer></app-cms-feature-footer>
            </span>
        </nz-tab>
        <nz-tab>
            <ng-template #nzTabHeading>
                <i [ngClass]="'anticon anticon-copyright'"></i>Footer
            </ng-template>
            <span><!--footer....................-->
                <app-cms-footer></app-cms-footer>
            </span>
        </nz-tab>
        <nz-tab>
            <ng-template #nzTabHeading>
                <i [ngClass]="'anticon anticon-apple'"></i>Logo
            </ng-template>
            <span>
                <app-cms-logo></app-cms-logo>
            </span>
        </nz-tab>
    </nz-tabset>
</div>


