.form-card{
  display: block;
  width: 100%;
  margin: 15px auto;
}

.example-container {
  display: flex;
  flex-direction: column;
}

input{
  min-height: 0px !important;
  padding: 0px !important;
}

@media screen and (max-width: 425px) {
  .form-card{
    width: 100%;
  }
  .btn-registration{
    width: 100% !important;
  }

  .btn-mobile-submit{
    width: 80% !important;
  }
  .mobile-number-content{
    margin-top: 20px;
  }
}
