<section>
    <nz-card class="card-height" nzTitle="Courier Price List" [nzExtra]="extra">
        <ng-template #extra>
            <button (click)="showModal()" *ngIf="'courier-price-create'|accessControl" [nzSize]="'large'" nz-button>
                <i class="anticon anticon-download"></i>
                <span> Add Courier Price </span>
            </button>
        </ng-template>
        <ng-container>
            <nz-spin [nzSpinning]="_isSpinning">
                <div class="table-operations">
                </div>
                <nz-table #nzTable [nzData]="data" [nzPageSize]="limit" [nzShowPagination]="false" [nzSize]="'middle'"
                          [nzTotal]="total" nzShowQuickJumper>
                    <thead>
                    <tr>
                        <th>
                            <span> Courier</span>
                        </th>
                        <th>
                            <span> Weight </span>
                        </th>
                        <th>
                            <span>Price</span>
                        </th>
                        <th>
                            <span>Details</span>
                        </th>
                        <th>
                            <span>Actions</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody >
                    <ng-template [ngForOf]="nzTable.data" let-data let-i="index" ngFor>
                        <tr >

                            <td>
                                {{data.id}}  /
                                {{data.courier_id?.name}}
                            </td>
                            <td>
                                {{data.weight}}
                            </td>
                            <td>
                                <nz-tag>{{data.price}}</nz-tag>
                            </td>
                            <td>
                                <nz-tag>{{data.remarks}}</nz-tag>
                            </td>
                            <td>
                                <nz-button-group>
                                    <button (click)="showEditModal(data.id)" *ngIf="'courier-price-edit'|accessControl"
                                            [nzSize]="'default'" nz-button>
                                        <i class="anticon anticon-edit"></i>
                                    </button>
                                    <ng-container *ngIf="'courier-price-delete'|accessControl">
                                        <nz-popconfirm (nzOnConfirm)="deleteConfirm(i, data.id)"
                                                       [nzCancelText]="'Cancel'"
                                                       [nzOkText]="'Delete'"
                                                       [nzTitle]="'Are you sure you want to delete?'">
                                            <a nz-popconfirm>
                                                <button [nzSize]="'default'" nz-button>
                                                    <i class="anticon anticon-delete "></i>
                                                </button>
                                            </a>
                                        </nz-popconfirm>
                                    </ng-container>
                                </nz-button-group>
                            </td>
                        </tr>
                    </ng-template>
                    </tbody>
                </nz-table>
            </nz-spin>
            <div class="row">
                <div class="col-md-offset-5" style="margin-top: 10px">
                    <span class="col-md-6" nz-table-title>
                        <nz-pagination (nzPageIndexClickChange)="changePage($event,limit)"
                                       (nzPageSizeChange)="changePage(1,$event)"
                                       [nzPageIndex]="page" [nzPageSize]="limit" [nzTotal]="total" nzShowSizeChanger
                                       nzShowTotal>
                        </nz-pagination>
                    </span>
                    <span class="pull-right col-md-6" nz-table-title>
                        <button (click)="resetAllFilter()" nz-button>Clear filter</button>
                    </span>
                </div>
            </div>
        </ng-container>
    </nz-card>
</section>

<nz-modal (nzOnCancel)="handleCancel($event)" [nzContent]="modalContent" [nzFooter]="null" [nzTitle]="modalTitle"
          [nzVisible]="isVisible">
    <ng-template #modalTitle>
        Add Courier Price
    </ng-template>
    <ng-template #modalContent>
        <div class="row">
            <form (ngSubmit)="submitForm($event,validateForm.value)" [formGroup]="validateForm" id="validateForm"
                  nz-form>
                <div class="col-md-12">
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label>
                                Courier
                            </label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <nz-select formControlName="courier_id" nzMaxMultipleCount="3"
                                       nzPlaceHolder="Select courier"
                                       style="width: 100%">
                                <nz-option *ngFor="let courier of listOfCourier" [nzLabel]="courier.name"
                                           [nzValue]="courier.id"></nz-option>
                            </nz-select>
                            <div *ngIf="getFormControl('courier_id').dirty&&getFormControl('courier_id').hasError('required')"
                            >
                                Please select !
                            </div>
                        </div>
                    </div>
                    <!--courier-->
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label> Weight </label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <input [nzSize]="'large'" formControlName="name" nz-input placeholder="Enter Weight">
                            <div *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('required')"
                            >
                                Please enter weight!
                            </div>
                            <div *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('duplicated')"
                            >
                                The weight is already inserted.
                            </div>
                            <div *ngIf="getFormControl('name').dirty&&getFormControl('name').pending">
                                Verifying ...
                            </div>
                        </div>
                    </div>
                    <!-- name -->
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label> Price </label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <input [nzSize]="'large'" formControlName="price" nz-input placeholder="Please enter Price">
                            <div *ngIf="getFormControl('price').dirty&&getFormControl('price').hasError('required')"
                            >
                                Please enter Price!
                            </div>
                        </div>
                    </div>
                    <!-- price -->
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label> Details </label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <textarea [nzSize]="'large'" formControlName="remarks" nz-input
                                      placeholder="Write the details">
                                                </textarea>
                            <div *ngIf="getFormControl('remarks').dirty&&getFormControl('remarks').hasError('required')"
                            >
                                required!
                            </div>
                        </div>
                    </div>
                    <!-- remarks -->
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <nz-button-group>
                                <button (click)="handleCancel($event)" [nzSize]="'large'" nz-button type="button">
                                    Cancel
                                </button>
                                <button [nzLoading]="isConfirmLoading" [nzSize]="'large'" nz-button>
                                    Save
                                </button>
                            </nz-button-group>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>
</nz-modal>

<nz-modal (nzOnCancel)="handleEditCancel($event)" [nzContent]="modalContentEdit" [nzFooter]="null"
          [nzTitle]="modalTitleEdit"
          [nzVisible]="isEditVisible">
    <ng-template #modalTitleEdit>
        Courier Price Edit
    </ng-template>
    <ng-template #modalContentEdit>
        <div class="row">
            <form (ngSubmit)="submitEditForm($event,validateEditForm.value)" [formGroup]="validateEditForm"
                  id="validateEditForm"
                  nz-form>
                <div class="col-md-12">
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label>
                                Courier
                            </label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <nz-select formControlName="editCourier_id" nzPlaceHolder="Select courier"
                                       style="width: 100%">
                                <nz-option *ngFor="let courier of listOfCourier" [nzLabel]="courier.name"
                                           [nzValue]="courier.id"></nz-option>
                            </nz-select>
                            <div *ngIf="getEditFormControl('editCourier_id').dirty&&getEditFormControl('editCourier_id').hasError('required')"
                            >
                                Please select !
                            </div>
                        </div>
                    </div>
                    <!--courier-->
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label> Weight </label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <input [ngModel]="editName" [nzSize]="'large'" formControlName="editName"
                                   nz-input placeholder="ওজন লিপিবদ্ধ করুন">
                            <div *ngIf="getEditFormControl('editName').dirty&&getEditFormControl('editName').hasError('required')"
                            >
                                Please enter weight!
                            </div>
                            <div *ngIf="getEditFormControl('editName').dirty&&getEditFormControl('editName').hasError('duplicated')"
                            >
                                The weight is already inserted.
                            </div>
                            <div *ngIf="getEditFormControl('editName').dirty&&getEditFormControl('editName').pending"
                            >
                                Verifying ...
                            </div>
                        </div>
                    </div>
                    <!-- name -->
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label> Price </label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <input [ngModel]="editPrice" [nzSize]="'large'" formControlName="editPrice"
                                   nz-input placeholder="Please enter Price">
                            <div *ngIf="getEditFormControl('editPrice').dirty&&getEditFormControl('editPrice').hasError('required')"
                            >
                                Please enter Price!
                            </div>
                        </div>
                    </div>
                    <!-- price -->
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                            <label> Details </label>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <textarea [ngModel]="editRemarks" [nzSize]="'large'" formControlName="editRemarks" nz-input
                                      placeholder="Write the Details">
                            </textarea>
                            <!-- <div  *ngIf="getEditFormControl('editRemarks').dirty&&getEditFormControl('editRemarks').hasError('required')">
                                required!
                            </div> -->
                        </div>
                    </div>
                    <!-- remarks -->
                    <div nz-row>
                        <div [nzSpan]="4" nz-col>
                        </div>
                        <div [nzSpan]="12" nz-col>
                            <nz-button-group>
                                <button (click)="handleEditCancel($event)" [nzSize]="'large'" nz-button type="button">
                                    Cancel
                                </button>
                                <button [nzLoading]="isConfirmLoading" [nzSize]="'large'" nz-button>
                                    Save
                                </button>
                            </nz-button-group>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </ng-template>
</nz-modal>
