<div class="container">
    <div class="letter">
        <section class="triangle-blue">
            <div class="box-blue">
            </div>
            <div class="triangle"></div>
        </section>
        <div class="clearfix"></div>
        <section class="letter-container">
            <div class="content-left pull-left">
                <div class="wrapper">
                    <div class="content title">
                        <span>Receipt for</span>
                        <span>Dribbble</span>
                    </div>
                    <div class="content amount">
                    <span><i class="fa fa-credit-card" aria-hidden="true"></i>

                     Amount:</span>
                        <span>$20
                    00 USD</span>
                    </div>
                    <div class="content date">
                    <span><i class="fa fa-calendar" aria-hidden="true"></i>
                    Date:</span>
                        <span>Nov 5</span>
                    </div>
                    <div class="content issuer">
                    <span><i class="fa fa-star-o" aria-hidden="true"></i>
                     Issuer:</span>
                        <span>Dribbble</span>
                    </div>
                    <div class="confirmation">
                    <span><i class="fa fa-wpforms" aria-hidden="true"></i>

                        Confirmation Nr:</span>
                        <span>OYX123580219G</span>
                    </div>
                </div>
            </div>
            <div class="content-right pull-right">
                <div class="wrapper">
                    <header class="ligne">
                        <div class="logo pull-left">
                            <img src="http://www.achat-skis-discount.com/Files/52873/Img/20/paypal-logo.png"
                                 alt="PayPal Logo">
                        </div>
                        <div class="time pull-right">
                            <span>Oct 18, &nbsp; 2015 &nbsp; 08:30:57 &nbsp; <small>PDT</small></span>
                        </div>
                    </header>
                    <section class="body">
                        <h3>Dribbble Pro Account (1year)</h3>
                        <small>Total: &nbsp; $20.00 USD</small>
                        <p>
                            Hello Ennio,
                            <br/>
                            You sent a payment of <span>$20.00USD</span>
                            <br/>
                            to Dribbble. (<a href="#">paypal@dribbble.com</a>)
                        </p>
                        <small>
                            It may take a few moments for this
                            <br/>
                            transaction to appear in your account.
                        </small>
                    </section>
                    <footer>
                        <a href="#">paypal@dribbble.com</a>
                        <span>Invoice ID: &nbsp; 108165</span>
                    </footer>
                </div>
            </div>
        </section>
    </div>
</div>