<section id="flashdeal" *ngIf="productList && productList.length > 0" style="padding-bottom: 20px;">
    <div class="container-fluid">
        <nav class="woocommerce-breadcrumb breadcrumbs">
            <a routerLink="/" routerLinkActive="active">Home</a>
            <a routerLink="/featured-product" routerLinkActive="active">Featured Product</a>
        </nav>
        <div class="category-head cate-flash justify-content-between d-flex mt-3">
            <div class="titel d-flex">
                <h4>Featured Products</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-6 mb-4" *ngFor="let product of productList">
                <app-product-item-flash-deals [dataProduct]="product"></app-product-item-flash-deals>
            </div>
        </div>
    </div>
</section>
