<div class="main-container no-sidebar">
    <div class="container-fluid">
        <nav class="woocommerce-breadcrumb breadcrumbs">
            <a routerLink="/" routerLinkActive="active">Home</a>
            <a routerLink="/cms" routerLinkActive="active" *ngIf="offerpage">Offer</a>
            <a routerLink="/cms/none" routerLinkActive="active" *ngIf="cmspage">CMS</a>
        </nav>
        <div class="row" *ngIf="offerpage && homeOfferData.length > 0">
            <ng-template ngFor let-data [ngForOf]="homeOfferData">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-4 offerpage-container"
                     *ngIf="data.data_value && data.data_value.length > 0 && ((data.data_value[0].alloffers && data.data_value[0].alloffers?.length > 0) || (data.data_value[0].allproducts && data.data_value[0].allproducts?.length > 0))">
                    <div class="offer-details"
                         *ngIf='data.data_value && data.data_value[0].alloffers && data.data_value[0].alloffers?.length > 0'>
                        <div class="offer-img">
                            <!--<div class="row">
                                <div class="col-md-8 col-8 pr-0">
                                    <div class="offer-mainimg mr-1">
                                        <img class="offer-mainimg"
                                             src="{{IMAGE_ENDPOINT + data.data_value[0].alloffers[0]?.image + IMAGE_EXT}}" alt="">
                                    </div>
                                </div>
                                <div class="col-md-4 col-4 pr-0">
                                    <div class="row">
                                        <div class="col-md-12 pl-0 mb-1">
                                            <img class="offerimg2"
                                                 src="{{IMAGE_ENDPOINT + data.data_value[0].alloffers[1]?.image + IMAGE_EXT}}"
                                                 alt="">
                                        </div>
                                        <div class="col-md-12 pl-0 mb-1">
                                            <img class="offerimg2"
                                                 src="{{IMAGE_ENDPOINT + data.data_value[0].alloffers[2]?.image + IMAGE_EXT}}"
                                                 alt="">
                                        </div>
                                        <div class="col-md-12 pl-0 mb-1">
                                            <img class="offerimg2"
                                                 src="{{IMAGE_ENDPOINT + data.data_value[0].alloffers[3]?.image + IMAGE_EXT}}"
                                                 alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <a routerLink="/cms/cms-details/{{data.id}}">
                                <img src="{{IMAGE_LIST_ENDPOINT + data.data_value[0].image + IMAGE_EXT}}"
                                     alt="offered product image">
                            </a>
                        </div>
                        <div class="offer-contant">
                            <h6>{{data.data_value[0]?.title}}</h6>
                            <p [innerHTML]='data.data_value[0].description'></p>
                            <a routerLink="/cms/cms-details/{{data.id}}">View Offer details<i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="offer-details"
                         *ngIf='data.data_value && data.data_value[0].allproducts && data.data_value[0].allproducts?.length > 0'>
                        <div class="offer-img">
                            <!--<div class="row">
                                <div class="col-md-8 col-8 pr-0">
                                    <div class="mr-1">
                                        <img class="offer-mainimg"
                                             src="{{IMAGE_ENDPOINT + data.data_value[0].allproducts[0]?.image + IMAGE_EXT}}" alt="">
                                    </div>
                                </div>
                                <div class="col-md-4 col-4 pr-0">
                                    <div class="row">
                                        <div class="col-md-12 pl-0 mb-1">
                                            <img class="offerimg2"
                                                 src="{{IMAGE_ENDPOINT + data.data_value[0].allproducts[1]?.image + IMAGE_EXT}}"
                                                 alt="">
                                        </div>
                                        <div class="col-md-12 pl-0 mb-1">
                                            <img class="offerimg2"
                                                 src="{{IMAGE_ENDPOINT + data.data_value[0].allproducts[2]?.image + IMAGE_EXT}}"
                                                 alt="">
                                        </div>
                                        <div class="col-md-12 pl-0 mb-1">
                                            <img class="offerimg2"
                                                 src="{{IMAGE_ENDPOINT + data.data_value[0].allproducts[3]?.image + IMAGE_EXT}}"
                                                 alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <a routerLink="/cms/cms-details/{{data.id}}">
                                <img src="{{IMAGE_LIST_ENDPOINT + data.data_value[0].image + IMAGE_EXT}}"
                                     alt="offered product image">
                            </a>
                        </div>
                        <div class="offer-contant">
                            <h6>{{data.data_value[0].title}}</h6>
                            <p [innerHTML]='data.data_value[0].description'></p>
                            <a routerLink="/cms/cms-details/{{data.id}}">View Offer details<i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
        <div class="row" *ngIf="cmspage">
            <div class="col-sm-12 main-content">
                <div class="blog-masonry kt-masonry">
                    <div class="masonry-grid" (window:scroll)="onScroll($event)"
                         *ngIf="all_cms_post && all_cms_post.length > 0">
                        <div class="col-sm-4 post-item grid"
                             *ngFor="let cms of (all_cms_post| paginate: { itemsPerPage: 9, currentPage: p }) ; let i=index">
                            <div *ngIf=" i <= end">
                                <a routerLink="/cms/cms-details/{{cms.id}}">

                                    <div class="post-thumb">
                                        <img class="img-reponsive" src="{{  IMAGE_ENDPOINT + cms.data_value[0].image + IMAGE_EXT}}"
                                             alt="{{cms.data_value[0].title}}">
                                    </div>

                                    <div class="post-info">
                                        <h3 class="post-title h4">{{cms.data_value[0].title}} </h3>
                                        <div class="post-meta h6">
                                            <span class="author "
                                                  *ngIf="cms?.user_id"> By {{cms.user_id?.first_name}}</span>
                                            <span class="date">{{ cms.createdAt | date }}  </span>
                                        </div>
                                        <div class="short-desc">{{cms.data_value[0]?.description}}
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
            <div class="row text-center">
                <pagination-controls (pageChange)="p = $event" previousLabel="Previous" nextLabel="Next">
                </pagination-controls>
            </div>
        </div>

    </div>
</div>
