<section>
    <nz-card class="card-height">
        <ng-template #title>
            নকশার List
        </ng-template>
        <ng-template #extra>
            <button *ngIf="'design-create'|accessControl"
                    routerLink="/dashboard/design/create" nz-button [nzType]="'primary'"
                    [nzSize]="'large'">
                <i class="anticon anticon-download"></i><span> Add New </span>
            </button>
        </ng-template>
        <ng-template #body>
            <nz-spin [nzSpinning]="_isSpinning">
                <nz-table #nzTable [nzData]="data" [nzPageSize]="10"
                          [nzTotal]="total"
                          [nzFrontPagination]="false"

                          [nzSize]="'default'">
                    <thead  >
                    <tr>
                        <th   >
                            <span> Picture </span>
                        </th>
                        <th   >
                            <span>Name</span>

                            <nz-table-sort [(nzValue)]="sortValue.name"
                                           (nzValueChange)="sort('name',$event)">
                            </nz-table-sort>
                        </th>

                    </tr>
                    </thead>

                    <thead  ><!--search bar.....................-->
                    <tr>
                        <th   >

                        </th>
                        <th   >


                        </th>
                    </tr>
                    </thead>
                    <tbody   >
                    <ng-template ngFor let-data [ngForOf]="nzTable.data">
                        <tr   >
                            <td   >
                                <nz-avatar [nzShape]="'square'"
                                           [nzSrc]="IMAGE_ENDPOINT+data.image" [nzSize]="'large'"
                                           [nzIcon]="'user'"></nz-avatar>
                            </td>
                            <td   >
                                <nz-tag>{{data.name}}</nz-tag>
                            </td>
                            <td>
                                <button *ngIf="'design-read'|accessControl"
                                        [routerLink]="['/dashboard/design/details/', data.id]" nz-button
                                        [nzType]="'info'"
                                        [nzSize]="'default'">
                                    <i class="anticon anticon-info-circle"></i>
                                </button>
                                <button  *ngIf="'design-edit'|accessControl"
                                         [routerLink]="['/dashboard/design/edit', data.id]" nz-button
                                        [nzType]="'primary'"
                                        [nzSize]="'default'">
                                    <i class="anticon anticon-edit"></i>
                                </button>
                                <ng-container *ngIf="'design-delete'|accessControl">
                                <nz-popconfirm
                                        [nzTitle]="'Are you sure you want to delete?'"
                                               [nzOkText]="'Delete'"
                                               [nzCancelText]="'Cancel'"
                                               (nzOnConfirm)="deleteConfirm(data.id)">
                                    <a nz-popconfirm>
                                        <button nz-button [nzType]="'danger'" [nzSize]="'default'">
                                            <i class="anticon anticon-delete "></i>
                                        </button>
                                    </a>
                                </nz-popconfirm>
                                </ng-container>
                            </td>
                        </tr>
                    </ng-template>
                    </tbody>
                </nz-table>
            </nz-spin>
            <div class="row">
                    <div class="col-md-offset-5" style="margin-top: 10px">
                        <span    class="col-md-6">
                            <nz-pagination (nzPageIndexClickChange)="changePage($event,limit)"
                                            (nzPageSizeChange)="changePage(1,$event)"
                                               [nzPageIndex]="page" [nzTotal]="total" nzShowSizeChanger
                                            [nzPageSize]="limit">
                            </nz-pagination>
                        </span>
                        <span    class="pull-right col-md-6">
                                <button nz-button (click)="resetAllFilter()">Clear filter</button>
                            </span>
                    </div>
                    </div>
        </ng-template>
    </nz-card>
</section>
