<nz-card nzTitle="Brand Deatils" [nzExtra]="extra">
    <ng-template #extra>
        <button *ngIf="data && 'brand-edit'|accessControl" [routerLink]="['/dashboard/brand/edit', data.id]" nz-button
                [nzSize]="'large'">
            <i class="anticon anticon-edit"></i><span>Edit</span>
        </button>

        <button *ngIf="'brand-read'|accessControl" routerLink="/dashboard/brand" nz-button
                [nzSize]="'large'">
            <i class="anticon anticon-file-text"></i><span> List </span>
        </button>
    </ng-template>
    <div class="row" *ngIf="data">
        <div class="col-md-4">
            <div class="profile-img">
                <img class="img img-responsive" style="margin: auto;" alt="logo.jpg"
                     src="{{  IMAGE_ENDPOINT + data.image}}"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h2>
                    {{data.name}}
                </h2>
                <br>
                <hr>
                <div class="row about">
                    <div class="col-md-8 h4">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Code</label>
                            </div>
                            <div class="col-md-6" *ngIf="data.code && data.code!=='undefined'; else notShow">
                                <p>{{data.code}}</p>
                            </div>
                            <ng-template #notShow>
                                <div class="col-md-6">
                                    <p>
                                        N/A
                                    </p>
                                </div>
                            </ng-template>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</nz-card>
