<section>
    <div class="row" style="display: flex; justify-content: center;">
        <nz-card class="card-height" style="width: 50%;">
            <ng-template #title>
                {{status == 1 ? ' Fixed' : (status == 2) ? 'Variable' : 'Fully Customize'}} Product Bulk Upload
            </ng-template>
            <ng-template #body>
                <div class="form-group">
                    <button type="button" id="download_bulk_excel" (click)="downloadExcel()">
                        <span>Download Product Upload Excel File</span>
                    </button>
                </div>
                <div class="form-group">
                    <label for="upload_bulk_import">Upload Product Upload Excel File</label>
                    <input  #uploadFileInputField type="file" id="upload_bulk_import" (change)="onFileChange($event)"/>
                </div>
                <div nz-form-item nz-row>

                    <div style="display: flex; justify-content: center; ">
                        <button style="margin-right: 10px;" nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="saveImportedProducts(1)">
                            Save & Approve
                        </button>
                        <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="saveImportedProducts(0)">
                            Save
                        </button>
                    </div>
                </div>
            </ng-template>
        </nz-card>

    </div>
</section>
