<nz-card [nzTitle]="title" [nzExtra]="extra">
    <ng-template #title>
        Product Edit
        <span *ngIf="currentUser.group_id=== 'admin'">(Shop: {{warehouse_name}})</span>
    </ng-template>
    <ng-template #extra>
        <button routerLink="/dashboard/product" [queryParams]="{status: queryStatus}" nz-button [nzType]="'primary'"
                [nzSize]="'large'">
            <i class="anticon anticon-file-text"></i>
            <span> List </span>
        </button>
    </ng-template>

    <ng-container>
        <form *ngIf="data" nz-form [formGroup]="validateForm" id="validateForm"
              (ngSubmit)="submitForm($event,validateForm.value)">
            <div class="row">
                <div class="col-md-6">
                    <div nz-row>
                        <!--name start-->

                        <div nz-col [nzSpan]="7">
                            <label> Name </label>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <input nz-input formControlName="name" [placeholder]="'Enter Name'"
                                   [nzSize]="'large'">

                            <div
                                    *ngIf="getFormControl('name').dirty && getFormControl('name').hasError('required')">
                                Name is required!
                            </div>
                            <div
                                    *ngIf="getFormControl('name').dirty && getFormControl('name').hasError('taken')">
                                Name already exists!
                            </div>
                            <div *ngIf="getFormControl('name').dirty && getFormControl('name').pending">
                                Verifying ...
                            </div>
                        </div>
                    </div>
                    <!--name -->

                </div>
                <div class="col-md-6">
                    <div nz-row>
                        <div nz-col [nzSpan]="7">
                            <label> Code </label>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <input nz-input formControlName="code" [placeholder]="'Enter Code'"
                                   [nzSize]="'large'">
                            <div
                                    *ngIf="getFormControl('code').dirty && getFormControl('code').hasError('required')">
                                <span class="validation-error"> Name is required!</span>
                            </div>
                            <div
                                    *ngIf="getFormControl('code').dirty && getFormControl('code').hasError('taken')">
                                <span class="validation-error"> Name already exists!</span>
                            </div>
                            <div *ngIf="getFormControl('code').dirty && getFormControl('code').pending">
                                Verifying ...
                            </div>
                        </div>
                    </div>
                    <!--code-->
                </div>
                <!-- cost -->
                <div class="col-md-6">
                    <div nz-row>
                        <div nz-col [nzSpan]="7">
                            <label> Price </label>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <input nz-input formControlName="price" [placeholder]="'Enter Price'"
                                   [nzSize]="'large'">
                            <div
                                    *ngIf="getFormControl('price').dirty&&getFormControl('price').hasError('required')">
                                required!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div nz-row>
                        <div nz-col [nzSpan]="7">
                            <label> Vendor Price </label>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <input nz-input formControlName="vendor_price"
                                   [placeholder]="'Enter Vendor Price'" [nzSize]="'large'">
                            <div
                                    *ngIf="getFormControl('vendor_price').dirty&&getFormControl('vendor_price').hasError('required')">
                                required!
                            </div>
                        </div>
                    </div>
                </div>
                <!--price-->
                <div class="col-md-6">
                    <div nz-row>
                        <div nz-col [nzSpan]="7">
                            <label>Min Order Quantity</label>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <input nz-input formControlName="min_unit"
                                   [placeholder]="'Enter Min Order Quantity'" [nzSize]="'large'">
                            <div
                                    *ngIf="getFormControl('min_unit').dirty&&getFormControl('min_unit').hasError('required')">
                                required!
                            </div>
                        </div>
                    </div>
                    <!--min_unit-->
                </div>
                <div class="col-md-6">
                    <div nz-row>
                        <div nz-col [nzSpan]="7">
                            <label> Quantity </label>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <input nz-input formControlName="quantity" [placeholder]="'Enter Quantity'"
                                   [nzSize]="'large'">

                            <div
                                    *ngIf="getFormControl('quantity').dirty&&getFormControl('quantity').hasError('required')">
                                required!
                            </div>
                        </div>
                    </div>
                    <!--quantity-->

                </div>

                <div class="col-md-6">
                    <div nz-row>
                        <div nz-col [nzSpan]="7">
                            <label>Alert Quantity</label>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <input nz-input formControlName="alert_quantity"
                                   [placeholder]="'Enter Alert Quantity'" [nzSize]="'large'">

                            <div
                                    *ngIf="getFormControl('alert_quantity').dirty&&getFormControl('alert_quantity').hasError('required')">
                                required!
                            </div>
                        </div>
                    </div>
                    <!--alert_quantity-->

                </div>
                <div class="col-md-6">
                    <div nz-row>
                        <div nz-col [nzSpan]="7">
                            <label>Product Category</label>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <nz-select formControlName="type_id" nzAllowClear (ngModelChange)="onTypeChange($event)"
                                       [ngModel]="type_id" [nzPlaceHolder]="'Select Product Category'"
                                       [nzNotFoundContent]="'Not found'" nzShowSearch>
                                <nz-option *ngFor="let option of typeSearchOptions" [nzLabel]="option.name"
                                           [nzValue]="option.id">
                                </nz-option>
                            </nz-select>
                            <div
                                    *ngIf="getFormControl('type_id').dirty&&getFormControl('type_id').hasError('required')">
                                required!
                            </div>
                        </div>
                    </div>
                    <!--type_id-->

                </div>
                <div class="col-md-6">
                    <div nz-row>
                        <div nz-col [nzSpan]="7">
                            <label>Product Brand</label>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <nz-select [ngModel]="brand_id" formControlName="brand_id" nzAllowClear
                                       [nzPlaceHolder]="'Select Product Brand'"
                                       [nzNotFoundContent]="'Not found'" nzShowSearch>
                                <nz-option *ngFor="let option of brandSearchOptions" [nzLabel]="option.name"
                                           [nzValue]="option.id">
                                </nz-option>
                            </nz-select>
                            <div
                                    *ngIf="getFormControl('brand_id').dirty&&getFormControl('brand_id').hasError('required')">
                                required!
                            </div>
                        </div>
                    </div>
                    <!--brand_id-->

                </div>
                <div class="col-md-6" *ngIf="currentUser.group_id=== 'admin'">
                    <div nz-row class="form-row">
                        <div nz-col [nzSpan]="7">
                            <label>Frontend Position</label>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <input nz-input type="number" formControlName="frontend_position"
                                   [placeholder]="'Enter Frontend Position'">
                        </div>
                    </div>
                    <!--frontend_position-->
                </div>
                <div class="col-md-6" *ngIf="currentUser.group_id=== 'admin'">
                    <div nz-row class="form-row">
                        <div nz-col [nzSpan]="12">
                            <label nz-checkbox formControlName="disable_cash_on_delivery">Disable Cash On Delivery</label>
                        </div>
                    </div>
                    <!--pay online only-->
                </div>
                <div class="col-md-6" *ngIf="currentUser.group_id=== 'admin'">
                    <div nz-row class="form-row">
                        <div nz-col [nzSpan]="12">
                            <label nz-checkbox formControlName="offline_payment">Offline Payment</label>
                        </div>
                    </div>
                    <!--pay online only-->
                </div>
                <div class="col-md-6" *ngIf="currentUser.group_id=== 'admin'">
                    <div nz-row class="form-row">
                        <div nz-col [nzSpan]="12">
                            <label nz-checkbox formControlName="free_shipping" [(ngModel)]="free_shipping">Free Shipping</label>
                        </div>
                    </div>
                    <!--free shipping-->
                </div>
                <div class="col-md-6" *ngIf="currentUser.group_id=== 'admin'">
                    <div nz-row class="form-row">
                        <div nz-col [nzSpan]="12">
                            <label nz-checkbox formControlName="partially_payable" [(ngModel)]="partially_payable">Partially payable</label>
                        </div>
                    </div>
                    <!--Partially payable-->
                </div>
                <div *ngIf="!free_shipping">
                    <div class="col-md-6" *ngIf="currentUser.group_id=== 'admin'">
                        <div nz-row class="form-row">
                            <div nz-col [nzSpan]="7">
                                <label>Charge inside Dhaka</label>
                            </div>
                            <div nz-col [nzSpan]="12">
                                <input nz-input type="number" formControlName="dhaka_charge"
                                       [placeholder]="'Enter charge inside Dhaka'">
                            </div>
                        </div>
                        <!--frontend_position-->
                    </div>
                    <div class="col-md-6" *ngIf="currentUser.group_id=== 'admin'">
                        <div nz-row class="form-row">
                            <div nz-col [nzSpan]="7">
                                <label>Charge outside Dhaka</label>
                            </div>
                            <div nz-col [nzSpan]="12">
                                <input nz-input type="number" formControlName="outside_dhaka_charge"
                                       [placeholder]="'Enter charge outside Dhaka'">
                            </div>
                        </div>
                        <!--frontend_position-->
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div nz-row>
                        <div nz-col [nzSpan]="7">
                            <label> Product S-category </label>
                        </div>
                        <div nz-col [nzSpan]="12">

                            <nz-select [ngModel]="category_id" formControlName="category_id" nzAllowClear
                                       (ngModelChange)="categoryChange($event)"
                                       [nzPlaceHolder]="'Select Product s-category'"
                                       [nzNotFoundContent]="'Not found'" nzShowSearch>
                                <nz-option *ngFor="let option of categorySearchOptions" [nzLabel]="option.name"
                                           [nzValue]="option.id">
                                </nz-option>
                            </nz-select>


                            <div
                                    *ngIf="getFormControl('category_id').dirty&&getFormControl('category_id').hasError('required')">
                                required!
                            </div>
                        </div>
                    </div>
                    <!--category_id-->
                </div>
                <div class="col-md-6">
                    <div nz-row *ngIf="subcategorySearchOptions.length>0">
                        <div nz-col [nzSpan]="7">
                            <label> Product subcategory </label>
                        </div>
                        <div nz-col [nzSpan]="12">

                            <nz-select formControlName="subcategory_id" nzAllowClear
                                       [ngModel]="subcategory_id"
                                       [nzPlaceHolder]="'Select Product ss-category'"
                                       [nzNotFoundContent]="'Not found'" nzShowSearch>
                                <nz-option *ngFor="let option of subcategorySearchOptions" [nzLabel]="option.name"
                                           [nzValue]="option.id">
                                </nz-option>
                            </nz-select>
                            <div
                                    *ngIf="getFormControl('subcategory_id').dirty&&getFormControl('subcategory_id').hasError('required')">
                                required!
                            </div>
                        </div>
                    </div>
                    <!--subcategory_id-->
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div nz-row>
                        <div nz-col [nzSpan]="7">
                            <label>Tag</label>
                        </div>
                        <div nz-col [nzSpan]="12">

                            <nz-select style="width: 100%" formControlName="tag" [(ngModel)]="tag"
                                       [nzMode]="'tags'">
                                <nz-option *ngFor="let option of tagOptions" [nzLabel]="option" [nzValue]="option"
                                           [nzDisabled]="option.disabled">
                                </nz-option>
                            </nz-select>

                            <div
                                    *ngIf="getFormControl('tag').dirty&&getFormControl('tag').hasError('required')">
                                required!
                            </div>
                        </div>
                    </div>
                    <!--tag-->
                </div>
                <div class="col-md-6">
                    <div nz-row>
                        <div nz-col [nzSpan]="7">
                            <label> Weight </label>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <input nz-input formControlName="weight" [placeholder]="'Select Weight'"
                                   [nzSize]="'large'">

                            <div
                                    *ngIf="getFormControl('weight').dirty&&getFormControl('weight').hasError('required')">
                                required!
                            </div>
                        </div>
                    </div>
                    <!--weight-->

                </div>

                <div class="col-md-6">
                    <div nz-row>
                        <div nz-col [nzSpan]="7">
                            <label> Discount Price </label>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <input nz-input formControlName="promo_price" [placeholder]="'Enter discount'"
                                   [nzSize]="'large'">

                            <div
                                    *ngIf="getFormControl('promo_price').dirty&&getFormControl('promo_price').hasError('required')">
                                required!
                            </div>
                        </div>
                    </div>
                    <!--discount price-->

                </div>

                <div class="col-md-6">
                    <div nz-row>
                        <div nz-col [nzSpan]="7">
                            <label>Product Status</label>
                        </div>
                        <div nz-col [nzSpan]="12">

                            <nz-select formControlName="status" nzPlaceHolder="Select Product">
                                <nz-option *ngFor="let option of statusOptions" [nzLabel]=" option.label"
                                           [nzValue]="option.value" [nzDisabled]="option.disabled">
                                </nz-option>
                            </nz-select>

                            <div
                                    *ngIf="getFormControl('status').dirty && getFormControl('status').hasError('required')">
                                required!
                            </div>
                        </div>
                    </div>
                    <!--status-->

                </div>
                <div class="col-md-6">
                    <div nz-row>
                        <div nz-col [nzSpan]="7">
                            <label>Product Featured?</label>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <nz-switch formControlName="featured" nzUnCheckedChildren="No" nzCheckedChildren="Yes">
                            </nz-switch>
                            <div
                                    *ngIf="getFormControl('featured').dirty&&getFormControl('featured').hasError('required')">
                                required!
                            </div>
                        </div>
                    </div>
                    <!--featured-->
                </div>
                <div class="col-md-6">
                    <div nz-row>
                        <div nz-col [nzSpan]="7">
                            <label>Is Coupon Product?</label>
                        </div>
                        <div nz-col [nzSpan]="2">
                            <nz-switch formControlName="is_coupon_product"
                                       (ngModelChange)="onChangeCouponProduct($event)" nzUnCheckedChildren="No"
                                       nzCheckedChildren="Yes">
                            </nz-switch>
                        </div>
                        <div *ngIf="isCouponProductEnabled" nz-col [nzSpan]="3">
                            <button type="button" (click)=" this.couponProductModalVisible = true"
                                    class="btn btn-default">
                                View Coupon Product Banner Images
                            </button>
                        </div>

                    </div>
                    <!--Coupon Product-->
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div nz-row>
                            <div nz-col [nzSpan]="7">
                                <label>Front Image</label>
                            </div>
                            <div nz-col [nzSpan]="12">
                                <image-upload #Image [max]="1" buttonCaption="Select picture"
                                              dropBoxMessage="Drop Picture here"
                                              clearButtonCaption="remove" (removed)="onRemovedFront($event)"
                                              [uploadedFiles]="ImageFrontEdit" [beforeUpload]="onBeforeUploadFront">
                                </image-upload>
                                <div
                                        *ngIf="getFormControl('frontimage').dirty && getFormControl('frontimage').hasError('required')">
                                    required!
                                </div>
                            </div>
                        </div>
                        <!--image-->
                    </div>
                    <div class="col-md-6">
                        <div nz-row>
                            <div nz-col [nzSpan]="3">
                                <label>Picture</label>
                            </div>
                            <div nz-col [nzSpan]="16">

                                <image-upload #Image [max]="3"
                                              (removed)="onRemoved($event)"
                                              buttonCaption="Select picture"
                                              dropBoxMessage="Drop Picture here"
                                              clearButtonCaption="remove it?"
                                              [uploadedFiles]="ImageFileEdit"
                                              [beforeUpload]="onBeforeUpload">
                                </image-upload>

                                <div
                                        *ngIf="getFormControl('image').dirty && getFormControl('image').hasError('required')">
                                    required!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div nz-row>
                        <div nz-col [nzSpan]="3">
                            <label> Product Description </label>
                        </div>
                        <div nz-col [nzSpan]="16">
                            <ckeditor [(ngModel)]="product_details" formControlName="product_details"
                                      [config]="ckConfig" [readonly]="false" debounce="500">
                            </ckeditor>

                            <div
                                    *ngIf="getFormControl('product_details').dirty && getFormControl('product_details').hasError('required')">
                                required!
                            </div>
                        </div>
                    </div>
                    <!--product_details-->
                </div>
            </div>&nbsp;
            <div nz-row>
                <div nz-col [nzOffset]="7" [nzSpan]="12">
                    <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="isSubmit==false">Save
                    </button>&nbsp;
                    <button nz-button [nzSize]="'large'" (click)="resetForm($event)"> Reset</button>
                </div>
            </div>
        </form>

    </ng-container>
</nz-card>
<nz-modal nzWidth="70%"
          [nzFooter]="null"
          [nzVisible]="couponProductModalVisible"
          [nzTitle]="'Coupon Product Banner Images'"
          [nzContent]="couponBannerImages"
          (nzOnCancel)="handleCancelModal($event)"
          (nzOnOk)="handleOkModal($event)">

    <ng-template #couponBannerImages>
        <form nz-form [nzLayout]="'inline'" [formGroup]="validateFormCouponBanner"
              (ngSubmit)="submitFormCouponBanner($event, validateFormCouponBanner.value)">
            <div nz-row>
                <div nz-col [nzSpan]="7">
                    <label>Coupon Banner Images</label>
                </div>
                <div nz-col [nzSpan]="12">
                    <image-upload
                            [max]="5"
                            buttonCaption="Select picture for banner"
                            dropBoxMessage="Drop Picture here"
                            clearButtonCaption="remove"
                            (removed)="onRemovedBanners($event)"
                            [uploadedFiles]="ImageBannerFilesShow"
                            [beforeUpload]="onBeforeBannerUpload"
                            [extensions]="['jpeg','png', 'jpg']"
                            [preview]="true"
                    >
                    </image-upload>
                </div>
            </div>
            <div nz-row>
                <div nz-col [nzOffset]="7" [nzSpan]="12">
                    <button nz-button [nzType]="'primary'" [nzSize]="'large'">Save</button>
                </div>
            </div>
        </form>
    </ng-template>
</nz-modal>
