<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">

    <div class="row">
        <div class="col-md-6">
            <div nz-form-item nz-row>
                <!--name start-->

                <div nz-form-label nz-col [nzSpan]="7">
                    <label> Name </label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                    <nz-input formControlName="name" [nzType]="'text'" [nzPlaceHolder]="'Enter Name'" [nzSize]="'large'">
                    </nz-input>
                    <div nz-form-explain *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('required')">
                        Name is required!
                    </div>
                    <div nz-form-explain *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('duplicated')">
                        Name already exists!
                    </div>
                    <div nz-form-explain *ngIf="getFormControl('name').dirty&&getFormControl('name').pending">
                        Verifying ...
                    </div>
                </div>
            </div>
            <!--name -->

        </div>
        <div class="col-md-6">
            <div nz-form-item nz-row>
                <div nz-col [nzSpan]="7" nz-form-label>
                    <label> Code </label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                    <nz-input formControlName="code" [nzType]="'text'" [nzPlaceHolder]="'Enter Code'" [nzSize]="'large'">
                    </nz-input>
                </div>
            </div>
            <!--code-->
        </div>
        <div class="col-md-6">
            <div nz-form-item nz-row>
                <div nz-col [nzSpan]="7" nz-form-label>
                    <label> Price </label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                    <nz-input formControlName="price" [nzType]="'number'" [nzPlaceHolder]="'Enter Price'" [nzSize]="'large'">
                    </nz-input>

                    <div nz-form-explain *ngIf="getFormControl('price').dirty&&getFormControl('price').hasError('required')">
                        required!
                    </div>
                </div>
            </div>
        </div>
        <!--price-->
        <div class="col-md-6">
            <div nz-form-item nz-row>
                <div nz-col [nzSpan]="7" nz-form-label>
                    <label>Min Order Quantity</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>

                    <nz-input formControlName="min_unit" [nzType]="'number'" [nzPlaceHolder]="'Enter Min Order Quantity'" [nzSize]="'large'">
                    </nz-input>
                    <div nz-form-explain *ngIf="getFormControl('min_unit').dirty&&getFormControl('min_unit').hasError('required')">
                        required!
                    </div>
                </div>
            </div>
            <!--min_unit-->

        </div>
        <div class="col-md-6">
            <div nz-form-item nz-row>
                <div nz-col [nzSpan]="7" nz-form-label>
                    <label> Quantity </label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                    <nz-input formControlName="quantity" [nzType]="'number'" [nzPlaceHolder]="'Enter Quantity'" [nzSize]="'large'">
                    </nz-input>
                    <div nz-form-explain *ngIf="getFormControl('quantity').dirty&&getFormControl('quantity').hasError('required')">
                        required!
                    </div>
                </div>
            </div>
            <!--quantity-->

        </div>
        <div class="col-md-6">
            <div nz-form-item nz-row>
                <div nz-col [nzSpan]="7" nz-form-label>
                    <label>Alert Quantity</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                    <nz-input formControlName="alert_quantity" [nzType]="'number'" [nzPlaceHolder]="'Enter Alert Quantity'" [nzSize]="'large'">
                    </nz-input>
                    <div nz-form-explain *ngIf="getFormControl('alert_quantity').dirty&&getFormControl('alert_quantity').hasError('required')">
                        required!
                    </div>
                </div>
            </div>
            <!--alert_quantity-->
        </div>
        <div class="col-md-6">
            <div nz-form-item nz-row>
                <div nz-col [nzSpan]="7" nz-form-label>
                    <label>Product Category </label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                    <nz-select formControlName="type_id" (ngModelChange)="onTypeChange($event)" nzAllowClear [nzPlaceHolder]="'Select Product Category'" [nzFilter]="true" (nzSearch)="typeSearchChange($event)"
                               (nzSearchChange)="typeSearchChange($event)" [nzNotFoundContent]="'Not found'" nzShowSearch>
                        <nz-option *ngFor="let option of typeSearchOptions" [nzLabel]="option.name" [nzValue]="option.id">
                        </nz-option>
                    </nz-select>
                    <div nz-form-explain *ngIf="getFormControl('type_id').dirty&&getFormControl('type_id').hasError('required')">
                        required!
                    </div>
                </div>
            </div>
            <!--type_id-->

        </div>
        <div class="col-md-6">
            <div nz-form-item nz-row>
                <div nz-col [nzSpan]="7" nz-form-label>
                    <label>Product Brand</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                    <nz-select formControlName="brand_id" nzAllowClear [nzPlaceHolder]="'Select Product Brand'" [nzFilter]="true"  [nzNotFoundContent]="'Not found'" nzShowSearch>
                        <nz-option *ngFor="let option of brandSearchOptions" [nzLabel]="option.name" [nzValue]="option.id">
                        </nz-option>
                    </nz-select>
                    <div nz-form-explain *ngIf="getFormControl('brand_id').dirty&&getFormControl('brand_id').hasError('required')">
                        required!
                    </div>
                </div>
            </div>
            <!--brand_id-->

        </div>
    </div>

    <div class="row">
        <div class="col-md-6" *ngIf="categorySearchOptions.length>0">
            <div nz-form-item nz-row>
                <div nz-col [nzSpan]="7" nz-form-label>
                    <label> Product s-category </label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                    <nz-select formControlName="category_id" nzAllowClear (ngModelChange)="categoryChange($event)" [nzPlaceHolder]="'Select Product S-Category'"
                               [nzFilter]="true" (nzSearch)="categorySearchChange($event)" (nzSearchChange)="categorySearchChange($event)"
                               [nzNotFoundContent]="'Not found'" nzShowSearch>
                        <nz-option *ngFor="let option of categorySearchOptions" [nzLabel]="option.name" [nzValue]="option.id">
                        </nz-option>
                    </nz-select>
                    <div nz-form-explain *ngIf="getFormControl('category_id').dirty&&getFormControl('category_id').hasError('required')">
                        required!
                    </div>
                </div>
            </div>
            <!--category_id-->
        </div>
        <div class="col-md-6">
            <div nz-form-item nz-row *ngIf="subcategorySearchOptions.length>0">
                <div nz-col [nzSpan]="7" nz-form-label>
                    <label> Product ss-category </label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>

                    <nz-select formControlName="subcategory_id" nzAllowClear [nzPlaceHolder]="'Select Product SS-Category'" [nzFilter]="true" (nzSearch)="subcategorySearchChange($event)"
                        (nzSearchChange)="subcategorySearchChange($event)" [nzNotFoundContent]="'Not found'" nzShowSearch>
                        <nz-option *ngFor="let option of subcategorySearchOptions" [nzLabel]="option.name" [nzValue]="option.id">
                        </nz-option>
                    </nz-select>
                    <div nz-form-explain *ngIf="getFormControl('subcategory_id').dirty&&getFormControl('subcategory_id').hasError('required')">
                        required!
                    </div>
                </div>
            </div>
            <!--subcategory_id-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div nz-form-item nz-row>
                <div nz-col [nzSpan]="7" nz-form-label>
                    <label>Tag</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                    <nz-select style="width: 100%" formControlName="tag" [nzPlaceHolder]="'Insert tag'" [(ngModel)]="tag" [nzSize]="'large'" [nzMode]="'tags'">
                        <nz-option *ngFor="let option of tagOptions" [nzLabel]="option.label" [nzValue]="option.label" [nzDisabled]="option.disabled">
                        </nz-option>
                    </nz-select>

                    <div nz-form-explain *ngIf="getFormControl('tag').dirty&&getFormControl('tag').hasError('required')">
                        required!
                    </div>
                </div>
            </div>
            <!--tag-->


        </div>
        <div class="col-md-6">
            <div nz-form-item nz-row>
                <div nz-col [nzSpan]="7" nz-form-label>
                    <label> Weight </label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                    <nz-input formControlName="weight" [nzType]="'number'" [nzPlaceHolder]="'Enter Weight'" [nzSize]="'large'">
                    </nz-input>
                    <div nz-form-explain *ngIf="getFormControl('weight').dirty&&getFormControl('weight').hasError('required')">
                        required!
                    </div>
                </div>
            </div>
            <!--weight-->

        </div>
        <div class="col-md-6">
            <div nz-form-item nz-row>
                <div nz-col [nzSpan]="7" nz-form-label>
                    <label>Featured Product?</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                    <nz-switch formControlName="featured">
                        <span checked>Yes</span>
                        <span unchecked>No</span>
                    </nz-switch>
                    <div nz-form-explain *ngIf="getFormControl('featured').dirty&&getFormControl('featured').hasError('required')">
                        required!
                    </div>
                </div>
            </div>
            <!--featured-->
        </div>
        <div class="col-md-12"> 
            <div class="col-md-6">
                <div nz-form-item nz-row>
                    <div nz-col [nzSpan]="7" nz-form-label>
                        <label>Front Image</label>
                    </div>
                    <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback> 
                        <image-upload #Image [max]="1" buttonCaption="Select picture"
                        dropBoxMessage="Drop Picture here"
                        clearButtonCaption="remove" (removed)="onRemovedFront($event)" [uploadedFiles]="ImageFrontFile" [beforeUpload]="onBeforeUploadFront">
                        </image-upload>
                        <div nz-form-explain *ngIf="getFormControl('image').dirty&&getFormControl('image').hasError('required')">
                            required!
                        </div>
                    </div>
                </div>
                <!--image-->
            </div>
            <div class="col-md-6">
                <div nz-form-item nz-row>
                    <div nz-col [nzSpan]="7" nz-form-label>
                        <label>Picture</label>
                    </div>
                    <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                        <!-- {{ImageFile | json}} -->
                        <image-upload #Image [max]="5" buttonCaption="Select picture"
                        dropBoxMessage="Drop Picture here"
                        clearButtonCaption="remove" (removed)="onRemoved($event)" [uploadedFiles]="ImageFile" [beforeUpload]="onBeforeUpload">
                        </image-upload>
                        <div nz-form-explain *ngIf="getFormControl('image').dirty&&getFormControl('image').hasError('required')">
                            required!
                        </div>
                    </div>
                </div>
                <!--image-->
            </div>
            <!--Image-->
        </div>
        <!--Image-->
        <div class="col-md-12">
            <div nz-form-item nz-row>
                <div nz-col [nzSpan]="3" nz-form-label>
                    <label> Product Description</label>
                </div>
                <div nz-col [nzSpan]="16" nz-form-control nzHasFeedback>

                    <ckeditor formControlName="product_details" [config]="ckConfig" [readonly]="false" debounce="500">
                    </ckeditor>
                    <div nz-form-explain *ngIf="getFormControl('product_details').dirty&&getFormControl('product_details').hasError('required')">
                        required!
                    </div>
                </div>
            </div>
            <!--product_details-->
        </div>
    </div>

    <div nz-form-item nz-row>
        <div nz-col [nzOffset]="7" [nzSpan]="12" nz-form-control>
            <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!validateForm.valid || isSubmit==false">Save
            </button>
            <button nz-button [nzSize]="'large'" (click)="resetForm($event)"> Reset</button>
        </div>
    </div>
</form>
