<section>
  <nz-card class="card-height" nzTitle="Generate Missing Orders">

    <ng-template *ngIf="!foundTransaction">
      <form nz-form [formGroup]="validateForm" id="validateForm"  (ngSubmit)="submitForm($event,validateForm.value)">
        <div    nz-row><!--username start-->
          <div    nz-col [nzSpan]="7">
            <label> Username </label>
          </div>
          <div nz-col [nzSpan]="12">
            <input nz-input  formControlName="username"  [placeholder]="'Enter username of customer'"
                   [nzSize]="'large'">

            <div
                    *ngIf="getFormControl('username').dirty&&getFormControl('username').hasError('required')">
              Username is required!
            </div>
          </div>
        </div><!--username -->

        <div    nz-row><!--ssl_transaction_id start-->
          <div    nz-col [nzSpan]="7">
            <label> SSL transaction Id </label>
          </div>
          <div nz-col [nzSpan]="12"      >
            <input nz-input  formControlName="ssl_transaction_id"  [placeholder]="'Enter SSL transaction ID'"
                   [nzSize]="'large'">

            <div
                    *ngIf="getFormControl('ssl_transaction_id').dirty&&getFormControl('ssl_transaction_id').hasError('required')">
              SSL transaction ID is required!
            </div>
          </div>
        </div><!--ssl_transaction_id -->

        <div    nz-row>
          <div nz-col [nzOffset]="7" [nzSpan]="12"   >
            <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!validateForm.valid || submitting">Save
            </button>
            <button nz-button [nzSize]="'large'" (click)="resetForm($event)"> Reset </button>
          </div>
        </div>
      </form>
    </ng-template>

    <ng-template *ngIf="foundTransaction">
      <form nz-form [formGroup]="validateOrderForm" id="validateOrderForm" (ngSubmit)="submitForm($event,validateOrderForm.value)">

        <div    nz-row><!--Shipping address start-->
          <div    nz-col [nzSpan]="7">
            <label> Select Shipping address </label>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-select  nzPlaceHolder="Select Shipping address" [(ngModel)]="shippingAddress" nzAllowClear>
              <nz-option *ngFor="let address of allShippingAddress" [nzLabel]="address.label" [nzValue]="address.value">
              </nz-option>
            </nz-select>
          </div>
        </div><!--Shipping address  -->

        <div    nz-row><!--Products start-->
          <div    nz-col [nzSpan]="7">
            <label> Add products to cart </label>
          </div>
          <div nz-col [nzSpan]="12"      >
            <nz-select nzMode="tags"  nzPlaceHolder="Enter product name" [(ngModel)]="productName" nzAllowClear>
              <nz-option *ngFor="let option of productList" [nzLabel]="option.label" [nzValue]="option.value">
              </nz-option>
            </nz-select>
          </div>
        </div><!--Product -->


        <div *ngIf="selectedProducts.length > 0">
          <nz-table #nzTable
                    [nzData]="selectedProducts"
                    [nzLoading]="_isSpinning"
          >
            <thead>
              <tr>
                <th>
                  <span> Name </span>
                </th>
                <th>
                  <span> Quantity </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of selectedProducts">
                <td>
                  {{product.name}}
                </td>
                <td>
                  <input nz-input type="number" [placeholder]="'Enter quantity for this product'" (change)="updateQuantity($event, product.id)"
                         [nzSize]="'large'">
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>


        <div    nz-row>
          <div nz-col [nzOffset]="7" [nzSpan]="12"   >
            <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!validateOrderForm.valid || submittingOrderForm">Save
            </button>
            <button nz-button [nzSize]="'large'" (click)="resetForm($event)"> Reset </button>
          </div>
        </div>
      </form>


    </ng-template>
  </nz-card>
</section>
