<section>
    <nz-card class="card-height">
        <ng-template #title>
            Product category list
        </ng-template>
        <ng-template #extra>
            <button *ngIf="'productcategory-create'|accessControl" routerLink="/dashboard/category/product/create"
                nz-button [nzType]="'primary'" [nzSize]="'large'">
                <i class="anticon anticon-download"></i>
                <span> Add New </span>
            </button>
        </ng-template>
        <ng-template #body>
            <nz-spin [nzSpinning]="_isSpinning">
                <nz-table #nzTable [nzDataSource]="data" [nzPageSize]="10" [nzTotal]="total" [nzIsPagination]="false"
                    [nzSize]="'default'" [nzShowTitle]="true">

                    <thead  >
                        <tr>
                            <th    nzExpand></th>
                            <th   >
                                <span> Picture </span>
                            </th>
                            <th   >
                                <span> Name </span>
                                <nz-table-sort [(nzValue)]="sortValue.name" (nzValueChange)="sort('name',$event)">
                                </nz-table-sort>
                            </th>
                            <th   >
                                <span> Code </span>
                            </th>
                            <th   >
                                <span>Slug</span>
                            </th>
                            <th   >
                                <span> Action </span>
                            </th>
                        </tr>
                    </thead>

                    <thead  >
                        <!--search bar.....................-->
                        <tr>
                            <th   >

                            </th>
                            <th   >

                            </th>
                            <th   >
                                  <input nz-input  [placeholder]="'Name Search'" [(ngModel)]="nameSearchValue" (ngModelChange)="page=1;getPageData()">

                            </th>
                            <th   >

                            </th>
                            <th   >

                            </th>
                            <th   >
                            </th>
                        </tr>
                    </thead>

                    <tbody   >
                        <ng-template ngFor let-data [ngForOf]="nzTable.data">
                            <tr    class="parent-tr">
                                <td    nzExpand>

                                    {{data.subCategories.length}}
                                    <nz-row-expand-icon [(nzExpand)]="data.expand"></nz-row-expand-icon>
                                </td>
                                <td   >
                                    <nz-avatar [nzShape]="'square'" [nzSrc]="IMAGE_ENDPOINT +data.image" [nzSize]="'large'"
                                        [nzIcon]="'user'"></nz-avatar>
                                </td>
                                <td   >{{data.name}}</td>
                                <td   >{{data.code}}</td>
                                <td   >
                                    <nz-tag>{{data.slug}}</nz-tag>
                                </td>
                                <td>
                                    <button *ngIf="'productcategory-read'|accessControl" [routerLink]="['/dashboard/category/product/details/', data.id]"
                                        nz-button [nzType]="'info'" [nzSize]="'default'">
                                        <i class="anticon anticon-info-circle"></i>
                                    </button>
                                    <button *ngIf="'productcategory-edit'|accessControl" [routerLink]="['/dashboard/category/product/edit', data.id]"
                                        nz-button [nzType]="'primary'" [nzSize]="'default'">
                                        <i class="anticon anticon-edit"></i>
                                    </button>
                                    <ng-container *ngIf="'productcategory-delete'|accessControl">
                                        <nz-popconfirm [nzTitle]="'Are you sure you want to delete?'" [nzOkText]="'Delete'"
                                            [nzCancelText]="'Cancel'" (nzOnConfirm)="deleteConfirm(data.id)">
                                            <a nz-popconfirm>
                                                <button nz-button [nzType]="'danger'" [nzSize]="'default'">
                                                    <i class="anticon anticon-delete"></i>
                                                </button>
                                            </a>
                                        </nz-popconfirm>
                                    </ng-container>
                                </td>
                            </tr>
                            <ng-container *ngIf="data.expand">
                                <!-- 1st subcategory-->
                                <ng-container *ngFor="let sub of data.subCategories">
                                    <ng-container [ngTemplateOutlet]="firstSubCategoryTemplate"
                                                  [ngTemplateOutletContext]="{ $implicit: sub }">
                                    </ng-container>

                                    <!--2nd subcategory-->
                                    <ng-container *ngIf="sub.expand"
                                                  [ngTemplateOutlet]="secondSubCategoryTemplate"
                                                  [ngTemplateOutletContext]="{ $implicit: sub }">
                                    </ng-container>
                                </ng-container>

                                <tr    *ngIf="!data.subCategories.length">
                                    <td   ></td>
                                    <td    colspan="4">
                                        no subcategories....
                                    </td>

                                </tr>
                            </ng-container>

                        </ng-template>
                    </tbody>
                </nz-table>
            </nz-spin>
            <div class="row">
                <div class="col-md-offset-5" style="margin-top: 10px">
                    <span    class="col-md-6">
                        <nz-pagination (nzPageIndexClickChange)="changePage($event,limit)" (nzPageSizeChange)="changePage(1,$event)"
                               [nzPageIndex]="page" [nzTotal]="total" nzShowSizeChanger [nzPageSize]="limit">
                        </nz-pagination>
                    </span>
                    <span    class="pull-right col-md-6">
                            <button nz-button (click)="resetAllFilter()">Clear filter</button>
                        </span>
                </div>
            </div>
        </ng-template>
    </nz-card>
</section>


<ng-template #firstSubCategoryTemplate let-sub>
    <tr   >
        <td    nzExpand>
            {{sub?.subCategories?.length}}
            <nz-row-expand-icon style="background: red" (nzExpandChange)="getSubCategory($event, sub)"
                                [(nzExpand)]="sub.expand"></nz-row-expand-icon>
        </td>

        <td   >
            <nz-avatar [nzShape]="'square'" [nzSrc]="IMAGE_ENDPOINT +sub.image" [nzSize]="'large'"
                       [nzIcon]="'user'"></nz-avatar>
        </td>
        <td   >{{sub.name}}</td>
        <td    *ngIf="sub.code && sub.code!=='undefined'; else notShow; else notShow">
            <nz-tag>{{sub.code}}</nz-tag>
        </td>
        <ng-template #notShow>
            <td   >
                <nz-tag>N/A</nz-tag>
            </td>
        </ng-template>
        <td   >
            <nz-tag>{{sub.slug}}</nz-tag>
        </td>
        <td>
            <button *ngIf="'productcategory-read'|accessControl"
                    [routerLink]="['/dashboard/category/product/details/', sub.id]"
                    nz-button [nzType]="'info'" [nzSize]="'default'">
                <i class="anticon anticon-info-circle"></i>
            </button>
            <button *ngIf="'productcategory-edit'|accessControl"
                    [routerLink]="['/dashboard/category/product/edit', sub.id]"
                    nz-button [nzType]="'primary'" [nzSize]="'default'">
                <i class="anticon anticon-edit"></i>
            </button>
            <ng-container *ngIf="'productcategory-delete'|accessControl">
                <nz-popconfirm [nzTitle]="'Are you sure you want to delete?'" [nzOkText]="'Delete'"
                               [nzCancelText]="'Cancel'" (nzOnConfirm)="deleteConfirm(sub.id)">
                    <a nz-popconfirm>
                        <button nz-button [nzType]="'danger'" [nzSize]="'default'">
                            <i class="anticon anticon-delete"></i>
                        </button>
                    </a>
                </nz-popconfirm>
            </ng-container>
        </td>
    </tr>
</ng-template>


<ng-template #secondSubCategoryTemplate let-sub>
    <div *ngIf="sub.loading">
        Loading...
    </div>
    <tr    *ngFor="let sub of sub?.subCategories">
        <td   ></td>

        <td   >
            <nz-avatar [nzShape]="'square'" [nzSrc]="IMAGE_ENDPOINT +sub.image"
                       [nzSize]="'large'"
                       [nzIcon]="'user'"></nz-avatar>
        </td>
        <td   >{{sub.name}}</td>
        <td
            *ngIf="sub.code && sub.code!=='undefined'; else notShow; else notShow">
            <nz-tag>{{sub.code}}</nz-tag>
        </td>
        <ng-template #notShow>
            <td   >
                <nz-tag>N/A</nz-tag>
            </td>
        </ng-template>
        <td   >
            <nz-tag>{{sub.slug}}</nz-tag>
        </td>
        <td>
            <button *ngIf="'productcategory-read'|accessControl"
                    [routerLink]="['/dashboard/category/product/details/', sub.id]"
                    nz-button [nzType]="'info'" [nzSize]="'default'">
                <i class="anticon anticon-info-circle"></i>
            </button>
            <button *ngIf="'productcategory-edit'|accessControl"
                    [routerLink]="['/dashboard/category/product/edit', sub.id]"
                    nz-button [nzType]="'primary'" [nzSize]="'default'">
                <i class="anticon anticon-edit"></i>
            </button>
            <ng-container *ngIf="'productcategory-delete'|accessControl">
                <nz-popconfirm [nzTitle]="'Are you sure you want to delete?'"
                               [nzOkText]="'Delete'"
                               [nzCancelText]="'Cancel'"
                               (nzOnConfirm)="deleteConfirm(sub.id)">
                    <a nz-popconfirm>
                        <button nz-button [nzType]="'danger'" [nzSize]="'default'">
                            <i class="anticon anticon-delete"></i>
                        </button>
                    </a>
                </nz-popconfirm>
            </ng-container>
        </td>
    </tr>
    <tr    *ngIf="!sub.loading && sub.subCategories.length == 0">
        <td   ></td>
        <td    colspan="4">
            No Sub Categories data found!
        </td>
    </tr>
</ng-template>
