<section>
    <nz-card class="card-height" nzTitle="Product category list" [nzExtra]="extraTemplate">
        <ng-template #extraTemplate>
            <button *ngIf="'productcategory-create'|accessControl" routerLink="/dashboard/category/product/create"
                    nz-button [nzSize]="'large'">
                <i class="anticon anticon-download"><span> Add New </span></i>
            </button>
        </ng-template>
        <nz-table #nzTable
                  nzShowQuickJumper
                  nzShowSizeChanger
                  nzShowQuickJumper
                  [nzFrontPagination]="false"
                  [nzData]="data"
                  [nzLoading]="_isSpinning"
                  [nzTotal]="total"
                  [(nzPageIndex)]="page"
                  [(nzPageSize)]="limit"
                  (nzPageIndexChange)="getPageData()"
        >

            <thead (nzSortChange)="sort($event)" nzSingleSort>
            <tr>
                <th>
                    <span> Picture </span>
                </th>
                <th nzShowSort nzSortKey="id"><span>ID</span></th>
                <th nzShowSort nzSortKey="child_count"><span>Child Count</span></th>
                <th>
                    <span> Parent Category </span>
                </th>
                <th nzShowSort nzSortKey="name">
                    <span> Name </span>
                </th>
                <th nzShowSort nzSortKey="code">
                    <span> Code </span>
                </th>
                <th>
                    <span>Slug</span>
                </th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <th></th>
                <th> <input nz-input placeholder="ID" [(ngModel)]="idSearchValue"
                            (ngModelChange)="page=1; getPageData(); "></th>
                <th></th>
                <th></th>
                <th>
                    <input nz-input placeholder="Name" [(ngModel)]="nameSearchValue"
                           (ngModelChange)="page=1; getPageData(); ">
                </th>
                <th>
                    <input nz-input placeholder="Code" [(ngModel)]="codeSearchValue"
                           (ngModelChange)="page=1; getPageData(); ">
                </th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let data of nzTable.data;let i =  index ">
                <td>
                    <ng-container *ngIf="data.image; else noAvatar">
                        <nz-avatar [nzShape]="'square'" [nzSrc]="IMAGE_THUMB_ENDPOINT + data.image" [nzSize]="'large'"
                                   [nzIcon]="'user'">
                        </nz-avatar>
                    </ng-container>
                    <ng-template #noAvatar>
                       <nz-tag>No Image</nz-tag>
                    </ng-template>
                </td>
                <td>
                    {{data.id}}
                </td>
                <td>
                    {{data.total_sub_categories}}
                </td>
                <td>
                    {{data.parent_name}}
                </td>
                <td>{{data.name}}</td>
                <td>
                    <ng-container *ngIf="data.code && data.code != 0 && data.code!=='undefined'"><nz-tag>{{data.code}}</nz-tag></ng-container>
                </td>
                <td>
                    <nz-tag>{{data.slug}}</nz-tag>
                </td>
                <td>
                    <nz-button-group>
                        <button *ngIf="'productcategory-read'|accessControl"
                                [routerLink]="['/dashboard/category/product/details/', data.id]"
                                nz-button [nzSize]="'default'">
                            <i class="anticon anticon-info-circle"></i>
                        </button>
                        <button *ngIf="'productcategory-edit'|accessControl"
                                [routerLink]="['/dashboard/category/product/edit', data.id]"
                                nz-button [nzSize]="'default'">
                            <i class="anticon anticon-edit"></i>
                        </button>
                    </nz-button-group>
                    <ng-container *ngIf="'productcategory-delete'|accessControl">
                        <nz-popconfirm [nzTitle]="'Are you sure you want to delete?'" [nzOkText]="'Delete'"
                                       [nzCancelText]="'Cancel'" (nzOnConfirm)="deleteConfirm(data.id)">
                            <a nz-popconfirm>
                                <button nz-button [nzSize]="'default'">
                                    <i class="anticon anticon-delete"></i>
                                </button>
                            </a>
                        </nz-popconfirm>
                    </ng-container>
                </td>
            </tr>
            </tbody>
        </nz-table>
    </nz-card>
</section>
