.product-discount-badge {
  position: absolute;
  left: 30px;
  top:63px;
  background: #FF0000;
  border-radius: 30px 30px 30px 30px;
  color: white;
  width: 50px;
  height: 50px;
  display: inline-block;
  padding-top: 13px;
  padding-left: 10px;
  font-size: 12px;
  z-index: 100;
}

.banner {
  position: absolute;
  top: 49px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 92.3%;
  padding: 20px;
  height: 12px;
}


#timer {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #999;
  letter-spacing: -1px;
}
#timer span {
  font-size: 60px;
  color: #333;
  margin: 0 3px 0 15px;
}
#timer span:first-child {
  margin-left: 0;
}


