<div class="main-container right-sidebar">
    <div class="container-fluid">
        <!--breadcrumbs-->
        <nav class="woocommerce-breadcrumb breadcrumbs">
            <a routerLink="/" routerLinkActive="active">Home / </a>
            <a routerLink="/cms" routerLinkActive="active">Offer / </a>
            <a>Anonder Jhor</a>
        </nav>

        <!--banner section-->
        <div class="row">
            <div class="col-sm-6 col-md-12 main-content">
                <div class="blog-single">
                    <div class="post-item">
                        <div class="banner-image" style="overflow: hidden;">
                            <div class="post-thumb" *ngIf="anonderJhor && anonderJhor.status === 1; else expired" [style.background-image]="'url('+ IMAGE_ENDPOINT + anonderJhor.banner_image + ')'" style="width: 100%; height: 248px">
                                <div class="col-md-12 text-center">
                                    <p>this is the tesxt</p>
                                </div>
                            </div>
                            <ng-template #expired>
                                <img width="100%" src="../../../../assets/images/expired.png"
                                     alt="Anonder Jhor">
                            </ng-template>
                            <p style=" color: black; position: absolute">starts at: </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row" *ngIf="anonderJhorOffers && anonderJhorOffers.length > 0" style="margin-top: 30px">
                <ng-template ngFor let-data [ngForOf]="anonderJhorOffers">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-4 offerpage-container" *ngIf="data">
                        <div class="offer-details">
                            <div class="offer-img">
                                <a routerLink="/offers/anonder-jhor-detail/{{data.id}}">
                                    <img src="{{IMAGE_ENDPOINT + data.image}}"
                                         alt="offered product image">
                                </a>
                            </div>
                            <div class="offer-contant">
                                <a routerLink="/offers/anonder-jhor-detail/{{data.id}}">View Offer details<i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>

    </div>
</div>
