<nz-card nzTitle="Edit Product category" [nzExtra]="extra">
    <ng-template #extra>
        <button *ngIf="'productcategory-read'|accessControl" routerLink="/dashboard/category/product" nz-button
                [nzSize]="'large'">
            <i class="anticon anticon-file-text"></i>
            <span> List </span>
        </button>
    </ng-template>
    <ng-container>
        <nz-spin [nzSpinning]="isLoading">
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
                <div class="col-md-3">
                    <div nz-row>
                        <div nz-col [nzSpan]="16">
                            <image-upload [max]="1" (removed)="onRemoved($event)" buttonCaption="Select Image for Desktop"
                                          dropBoxMessage="Drop image here"
                                          clearButtonCaption="remove it?" [uploadedFiles]="oldImages"
                                          [beforeUpload]="onBeforeUpload">
                            </image-upload>
                            <div
                                    *ngIf="getFormControl('image').dirty && getFormControl('image').hasError('required')">
                                Please upload an image here!
                            </div>
                        </div>
                        <div nz-col [nzSpan]="16">
                            <image-upload [max]="1" (removed)="onRemovedMobile($event)" buttonCaption="Select Image For Mobile"
                                          dropBoxMessage="Drop image here"
                                          clearButtonCaption="remove it?" [uploadedFiles]="existingMobileImage"
                                          [beforeUpload]="onBeforeUploadMobile">
                            </image-upload>
                            <div
                                    *ngIf="getFormControl('banner_image').dirty && getFormControl('banner_image').hasError('required')">
                                Please upload a banner image here!
                            </div>
                        </div>
                        <div nz-col [nzSpan]="16">
                            <image-upload [max]="1" (removed)="onRemovedBanner($event)" buttonCaption="Select Banner Image"
                                          dropBoxMessage="Drop image here"
                                          clearButtonCaption="remove it?" [uploadedFiles]="existingBannerImage"
                                          [beforeUpload]="onBeforeUploadBanner">
                            </image-upload>
                            <div
                                    *ngIf="getFormControl('banner_image').dirty && getFormControl('banner_image').hasError('required')">
                                Please upload a banner image here!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div nz-row>
                        <div nz-col [nzSpan]="2">
                            <label> Name </label>
                        </div>
                        <div nz-col [nzSpan]="16">
                            <input nz-input formControlName="name" placeholder="Enter Name" [nzSize]="'large'">
                            <div
                                    *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('required')">
                                Name is required!
                            </div>
                            <div
                                    *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('duplicated')">
                                Name already exists!
                            </div>
                            <div *ngIf="getFormControl('name').dirty&&getFormControl('name').pending">
                                Verifying ...
                            </div>
                        </div>
                    </div>
                    <!--Name-->

                    <div nz-row>
                        <div nz-col [nzSpan]="2">
                            <label> Code </label>
                        </div>
                        <div nz-col [nzSpan]="16">
                            <input nz-input formControlName="code" placeholder="Enter Code" [nzSize]="'large'">
                            <div
                                    *ngIf="getFormControl('code').dirty&&getFormControl('code').hasError('required')">
                                Please enter category code !
                            </div>
                        </div>
                    </div>

                    <!--Show in Nav-->
                    <div nz-row style="margin-top: 15px">
                        <div nz-col [nzOffset]="2" [nzSpan]="16">
                            <input formControlName="showInNav" type="checkbox" [checked]="showInNav"
                                   (change)="changeShowInNav()">
                            Show in Nav
                        </div>
                    </div>
                    <!--parent_id-->

                    <div nz-row *ngIf='data != null && data.parent_id==0'>
                        <div nz-col [nzSpan]="2">
                            <label> Add Offer </label>
                        </div>
                        <div nz-col [nzSpan]="16">
                            <nz-select [ngModel]="data?.id" formControlName="offer_id" nzAllowClear
                                       nzPlaceHolder="Select Product category"
                                       [nzNotFoundContent]="'Not found'" nzShowSearch>
                                <div *ngFor="let option of offers">
                                    <nz-option [nzLabel]="option.data_value[0].title" [nzValue]="option.id">
                                    </nz-option>
                                </div>

                            </nz-select>
                            <div
                                    *ngIf="getFormControl('offer_id').dirty&&getFormControl('offer_id').hasError('required')">
                                required!
                            </div>
                        </div>
                    </div>
                    <!--parent_id-->
                    <div nz-row>
                        <div nz-col [nzOffset]="2" [nzSpan]="16">
                            <button nz-button [nzSize]="'large'" [disabled]="!validateForm.valid">
                                Save
                            </button>
                            <button nz-button [nzSize]="'large'" (click)="resetForm($event)"> Reset</button>
                        </div>
                    </div>
                </div>

            </form>
        </nz-spin>
    </ng-container>
</nz-card>
