.login-pop {
    background: #00a388;
}

.bg-theme {
    background: #00a388;
}

.pop-left img {
    margin: 0 auto;
    padding: 30px 0;
}
span.required {
    color: red;
    font-size: 20px;
    line-height: 15px;
    display: inline-block;
    position: relative;
    top: 7px;
}
.pop-left h2 {
    color: #ffffff;
    margin: 50px 0;
    text-align: center;
}
.cross-icon i {
    margin-left: 95%;
    font-size: 20px;
    position: absolute;
    margin-top: 1%;
}

.modal-content {
    overflow: hidden;
    margin-top: 50px !important;
}

.modal-dialog {
    margin: 0 auto !important;
}

.close {
    position: absolute;
    right: 0;
    z-index: 999;
    margin: 8px;
}

.login-title {
    padding: 0;
}

.login .login-title .icon {
    text-align: right;
    padding: 0 0 21% 0;
    font-size: 16px;
    color: #000000;
    margin-top: 3%;
}

.has-statusf .help-block {
    margin: 0;
    color: #000000;
    margin-left: 5px;
    margin-bottom: 10%;
    padding-top: 10px;
}

.has-statusf .form-control {
    border-color: transparent;
}

.has-statusf input {
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    position: relative;
}

label {
    color: #000000;
}

.login-help p {
    color: #000000;
}

input[type=text],
input[type=email] {
    width: 350px;
    padding: 5px 10px;
}

.has-statusf {
    position: relative;
    width: min-content;
}

.has-statusf::after {
    font-family: 'FontAwesome';
    position: absolute;
    z-index: 9;
    top: 16%;
    right: 3%;
    font-size: 18px;
}

.has-statusf.has-success input {
    border: 2px green solid;
}

.has-statusf.has-error input {
    border: 2px red solid;
}

.has-statusf.has-success::after {
    color: green;
    content: "\f05d";
}

.has-statusf.has-error::after {
    color: red;
    content: "\f057";
}

.remember_me {
    margin-top: 8%;
}

.submit button {
    padding: 8px 40px;
    margin-bottom: 5%;
    background: transparent;
    border: 2px solid #000000;
    border-radius: 5px;
    color: #00a388;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
}

.submit button:hover {
    background: #00a388;
    color: #ffffff;
    border: 2px solid transparent;
    font-size: 15px;
    font-weight: 700;
}

.form-background {
    background: #ffffff;
}

.form-horizontal {
    margin-top: 50px;
}
.loginModalTagline p{
    text-align: center;
}
.btn{
    text-align:  center;
}

.pop-left img {
    margin: 0 auto;
    padding: 30px;
}

.pop-left h2 {
    color: #ffffff;
    margin: 50px 0;
    text-align: center;
}
.cross-icon i {
    margin-left: 95%;
    font-size: 20px;
    position: absolute;
    margin-top: 1%;
}

.modal-dialog {
    margin: 10% auto;
}

.close {
    position: absolute;
    right: 0;
    z-index: 999;
    margin: 8px;
}

.login-title {
    padding: 0;
}

.login .login-title .icon {
    text-align: right;
    padding: 0 0 21% 0;
    font-size: 16px;
    color: #000000;
    margin-top: 3%;
}

.input[type='checkbox'] {
    margin-right: 5px;
}

.remember_me {

}

.btn-login,
.btn-signup {
    margin: 10px 0;
    background: #f04723;
    color: #ffffff;
    border: #ffffff 2px solid;
    width: 100%;

    &:hover {
        background: #ffffff;
        color: #f04723;
        border: #f04723 2px solid;
    }
}

.btn-form-switch {
    margin: 10px 0;
    color: #ffffff;
    border: #ffffff 2px solid;
    width: 100%;
    &:hover {
        background: #ffffff;
        color: #00a388;
        border: #00a388 2px solid;
    }
}
.btn-form-switch2 {
    margin: 10px 0;
    color: #ffffff;
    border: #ffffff 2px solid;
    width: 100%;
    &:hover {
        background: #ffffff;
        color: #00a388;
        border: #00a388 2px solid;
    }
}
.signupbtn button[disabled].btn-flat {
    background-color: #F1F1F1;
    color: gray
}
.form-background {
    background: #ffffff;
}

.validation-feedback {
    display: none;
    color: #f04723;
}

.feedback-icon-success {
    position: absolute;
    top: 10px;
    right: 25px;
    color: green;
    display: none;
}

.feedback-icon-error {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #f04723;
    display: none;
}

.has-error {
    .validation-feedback {
        display: block;
    }
    .feedback-icon-error {
        display: block;
    }
}
.has-success {
    .feedback-icon-success {
        display: block;
    }
}
.mat-datepicker-content .mat-calendar {
    z-index: 12999999;
}

.resendButton {
    padding: 10px 60px;
    background: #FF0000;
    border-radius: 0;
    color: #ffffff;
    font-size: 12px;
    margin-right: 30px;
    height: 40px;
}
