<div class="main-container right-sidebar" *ngIf="anonderJhorOffer && anonderJhorOfferProducts">
    <div class="container-fluid">
        <nav class="woocommerce-breadcrumb breadcrumbs" style="margin-bottom: 20px">
            <a routerLink="/" routerLinkActive="active">Home / </a>
            <a routerLink="/cms" routerLinkActive="active">Offer / </a>
            <a *ngIf="anonderJhorOffer.sub_sub_category_id; else noSubSub">
                {{anonderJhorOffer.sub_sub_category_id.name}}
            </a>
            <ng-template #noSubSub>
                {{anonderJhorOffer.category_id.name}}
            </ng-template>
        </nav>

        <div class="des-nav justify-content-between">
            <ul class="nav nav-pills mb-5">
                <li class="list1 sort-by">Sort by:</li>
                <li class="list1 sort-by">
                    <a class="" [ngClass]="{'active': changeStatusN === true}" (click)="showNewest()">Newest</a>
                </li>
                <li class="list1 sort-by">
                    <a class="" [ngClass]="{'active': changeStatusPr === true}" (click)="showPrice()">Prices</a>
                </li>
            </ul>
        </div>

        <div class="row" *ngIf='anonderJhorOfferProducts && anonderJhorOfferProducts.length > 0'>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-4 offer_container"
                 *ngFor="let product of (anonderJhorOfferProducts | paginate: { itemsPerPage: 12, currentPage: page }) ; let i=index">
                <app-product-item [dataProduct]="product"></app-product-item>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-4 text-center"
             style="font-style: normal;font-weight: normal;font-size: 20px;line-height: 138.2%;"
             *ngIf="anonderJhorOfferProducts && anonderJhorOfferProducts.length <= 0">
            <img class="img-fluid" src="../../../../assets/images/No_Product_Found.png"
                 alt="No Product is available.">
        </div>
    </div>
    <div *ngIf="anonderJhorOfferProducts && anonderJhorOfferProducts.length > 12"
         style="margin-top: 20px; text-align: center">
        <pagination-controls (pageChange)="page = $event" previousLabel="" nextLabel=""></pagination-controls>
    </div>
</div>
