<div class="main-container no-sidebar">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 main-content">
        <nav class="woocommerce-breadcrumb breadcrumbs">
          <a routerLink="/" routerLinkActive="active">হোম</a>
          <a >সেকশন</a>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="main-container no-sidebar">
  <div class="container">
    <div class="row">
      <div class="form-authentication">
        <div class="form-register">
        </div>
        <div class="form-login">
          <h3 class="title">পণ্যের জন্য অনুরোধ করতে</h3>
          <p>( উদ্যোগতাদের জন্য )</p>
          <p>
            <input type="text" placeholder="পণ্যের নাম">
          </p>
          <p>
            <input type="text" placeholder="পরিমান">
          </p>
          <button class="button primary">অনুরোধ করুন</button>
        </div>
      </div>
    </div>
  </div>
</div>
